schema/xsd/axf-inherited.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Autogenerated file.  Do not edit.
  Generated using 'focheck' version 0.0.7
  Created: 2015-04-14
  
  Copyright 2015 Antenna House, Inc.
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.antennahouse.com/names/XSL/Extensions" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:axf="http://www.antennahouse.com/names/XSL/Extensions">
  <xs:include schemaLocation="fo-inherited.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/XSL/Format" schemaLocation="fo.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!-- FOs -->
  <!--
    
    Properties
    
  -->
  <xs:attributeGroup name="axf_abbreviation-character-count">
    <xs:attribute name="abbreviation-character-count" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_alt-glyph">
    <xs:attribute name="alt-glyph" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_assumed-page-number">
    <xs:attribute name="assumed-page-number" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_avoid-widow-words">
    <xs:attribute name="avoid-widow-words" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_base-uri">
    <xs:attribute name="base-uri" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_diagonal-border-color">
    <xs:attribute name="diagonal-border-color" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_diagonal-border-width">
    <xs:attribute name="diagonal-border-width" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_hanging-punctuation">
    <xs:attribute name="hanging-punctuation" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_hyphenate-hyphenated-word">
    <xs:attribute name="hyphenate-hyphenated-word" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_hyphenation-minimum-character-count">
    <xs:attribute name="hyphenation-minimum-character-count" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_hyphenation-zone">
    <xs:attribute name="hyphenation-zone" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_japanese-glyph">
    <xs:attribute name="japanese-glyph" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="jp78"/>
          <xs:enumeration value="jp83"/>
          <xs:enumeration value="jp90"/>
          <xs:enumeration value="jp04"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_justify-nbsp">
    <xs:attribute name="justify-nbsp" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_kansuji-grouping-letter">
    <xs:attribute name="kansuji-grouping-letter" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_kansuji-letter">
    <xs:attribute name="kansuji-letter" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_kansuji-style">
    <xs:attribute name="kansuji-style" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="simple"/>
          <xs:enumeration value="grouping"/>
          <xs:enumeration value="readable"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_kerning-mode">
    <xs:attribute name="kerning-mode" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="pair"/>
          <xs:enumeration value="auto"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_layer-name">
    <xs:attribute name="layer-name" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_leader-expansion">
    <xs:attribute name="leader-expansion" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="force"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_letter-spacing-side">
    <xs:attribute name="letter-spacing-side" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="both"/>
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ligature-mode">
    <xs:attribute name="ligature-mode" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-break">
    <xs:attribute name="line-break" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="strict"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark">
    <xs:attribute name="line-continued-mark" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark-background-color">
    <xs:attribute name="line-continued-mark-background-color" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark-color">
    <xs:attribute name="line-continued-mark-color" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark-font-family">
    <xs:attribute name="line-continued-mark-font-family" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark-font-size">
    <xs:attribute name="line-continued-mark-font-size" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark-font-style">
    <xs:attribute name="line-continued-mark-font-style" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="italic"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark-font-weight">
    <xs:attribute name="line-continued-mark-font-weight" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="bold"/>
          <xs:enumeration value="bolder"/>
          <xs:enumeration value="lighter"/>
          <xs:enumeration value="100"/>
          <xs:enumeration value="200"/>
          <xs:enumeration value="300"/>
          <xs:enumeration value="400"/>
          <xs:enumeration value="500"/>
          <xs:enumeration value="600"/>
          <xs:enumeration value="700"/>
          <xs:enumeration value="800"/>
          <xs:enumeration value="900"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark-offset">
    <xs:attribute name="line-continued-mark-offset" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number">
    <xs:attribute name="line-number" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="show"/>
          <xs:enumeration value="hide"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-background-color">
    <xs:attribute name="line-number-background-color" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-color">
    <xs:attribute name="line-number-color" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-display-align">
    <xs:attribute name="line-number-display-align" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="before"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="after"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-font-family">
    <xs:attribute name="line-number-font-family" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-font-size">
    <xs:attribute name="line-number-font-size" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-font-style">
    <xs:attribute name="line-number-font-style" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="italic"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-font-weight">
    <xs:attribute name="line-number-font-weight" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="bold"/>
          <xs:enumeration value="bolder"/>
          <xs:enumeration value="lighter"/>
          <xs:enumeration value="100"/>
          <xs:enumeration value="200"/>
          <xs:enumeration value="300"/>
          <xs:enumeration value="400"/>
          <xs:enumeration value="500"/>
          <xs:enumeration value="600"/>
          <xs:enumeration value="700"/>
          <xs:enumeration value="800"/>
          <xs:enumeration value="900"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-offset">
    <xs:attribute name="line-number-offset" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-position">
    <xs:attribute name="line-number-position" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
          <xs:enumeration value="alternate"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-text-align">
    <xs:attribute name="line-number-text-align" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="start"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-text-decoration">
    <xs:attribute name="line-number-text-decoration" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-text-width">
    <xs:attribute name="line-number-text-width" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_normalize">
    <xs:attribute name="normalize" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="nfc"/>
          <xs:enumeration value="nfkc"/>
          <xs:enumeration value="nfd"/>
          <xs:enumeration value="nfkd"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_normalize-exclude">
    <xs:attribute name="normalize-exclude" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="full-composition-exclusion"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_number-transform">
    <xs:attribute name="number-transform" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-align">
    <xs:attribute name="overflow-align" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="center"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-condense">
    <xs:attribute name="overflow-condense" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="letter-spacing"/>
          <xs:enumeration value="font-stretch"/>
          <xs:enumeration value="font-size"/>
          <xs:enumeration value="line-height"/>
          <xs:enumeration value="auto"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-condense-limit-font-size">
    <xs:attribute name="overflow-condense-limit-font-size" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-condense-limit-font-stretch">
    <xs:attribute name="overflow-condense-limit-font-stretch" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-limit">
    <xs:attribute name="overflow-limit" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-limit-block">
    <xs:attribute name="overflow-limit-block" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-limit-inline">
    <xs:attribute name="overflow-limit-inline" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-replace">
    <xs:attribute name="overflow-replace" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overprint">
    <xs:attribute name="overprint" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_punctuation-spacing">
    <xs:attribute name="punctuation-spacing" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_punctuation-trim">
    <xs:attribute name="punctuation-trim" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_repeat-footnote-in-table-footer">
    <xs:attribute name="repeat-footnote-in-table-footer" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_repeat-footnote-in-table-header">
    <xs:attribute name="repeat-footnote-in-table-header" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_reverse-diagonal-border-color">
    <xs:attribute name="reverse-diagonal-border-color" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_reverse-diagonal-border-style">
    <xs:attribute name="reverse-diagonal-border-style" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_reverse-diagonal-border-width">
    <xs:attribute name="reverse-diagonal-border-width" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_revision-bar-color">
    <xs:attribute name="revision-bar-color" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_revision-bar-offset">
    <xs:attribute name="revision-bar-offset" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_revision-bar-position">
    <xs:attribute name="revision-bar-position" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
          <xs:enumeration value="alternate"/>
          <xs:enumeration value="both"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_revision-bar-style">
    <xs:attribute name="revision-bar-style" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_revision-bar-width">
    <xs:attribute name="revision-bar-width" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_soft-hyphen-treatment">
    <xs:attribute name="soft-hyphen-treatment" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="preserve"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_suppress-duplicate-footnote">
    <xs:attribute name="suppress-duplicate-footnote" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_suppress-duplicate-page-number">
    <xs:attribute name="suppress-duplicate-page-number" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-align-first">
    <xs:attribute name="text-align-first" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="relative"/>
          <xs:enumeration value="start"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="justify"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-align-string">
    <xs:attribute name="text-align-string" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="start"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-autospace">
    <xs:attribute name="text-autospace" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-autospace-width">
    <xs:attribute name="text-autospace-width" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-combine-horizontal">
    <xs:attribute name="text-combine-horizontal" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-font-color">
    <xs:attribute name="text-emphasis-font-color" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-font-family">
    <xs:attribute name="text-emphasis-font-family" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-font-size">
    <xs:attribute name="text-emphasis-font-size" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-font-stretch">
    <xs:attribute name="text-emphasis-font-stretch" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-font-style">
    <xs:attribute name="text-emphasis-font-style" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="italic"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-font-weight">
    <xs:attribute name="text-emphasis-font-weight" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="bold"/>
          <xs:enumeration value="bolder"/>
          <xs:enumeration value="lighter"/>
          <xs:enumeration value="100"/>
          <xs:enumeration value="200"/>
          <xs:enumeration value="300"/>
          <xs:enumeration value="400"/>
          <xs:enumeration value="500"/>
          <xs:enumeration value="600"/>
          <xs:enumeration value="700"/>
          <xs:enumeration value="800"/>
          <xs:enumeration value="900"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-offset">
    <xs:attribute name="text-emphasis-offset" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-position">
    <xs:attribute name="text-emphasis-position" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="before"/>
          <xs:enumeration value="after"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-skip">
    <xs:attribute name="text-emphasis-skip" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-style">
    <xs:attribute name="text-emphasis-style" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-justify-trim">
    <xs:attribute name="text-justify-trim" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-kashida-space">
    <xs:attribute name="text-kashida-space" form="qualified"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-orientation">
    <xs:attribute name="text-orientation" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="upright"/>
          <xs:enumeration value="sideways-right"/>
          <xs:enumeration value="sideways"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_vertical-underline-side">
    <xs:attribute name="vertical-underline-side" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="depend-on-language"/>
          <xs:enumeration value="auto"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_word-break">
    <xs:attribute name="word-break" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="break-all"/>
          <xs:enumeration value="keep-all"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_word-wrap">
    <xs:attribute name="word-wrap" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="break-word"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
</xs:schema>
