schema/xsd/axf-inherited.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Autogenerated file.  Do not edit.
  Generated using 'focheck' version 7.4.4
  
  Copyright 2024 Antenna House, Inc.
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!--
  Antenna House Formatter extension properties that are inherited.
  
  These properties are defined in:
   - https://www.antenna.co.jp/AHF/help/en/ahf-ext.html
   - https://www.antenna.co.jp/AHF/help/en/ahf-float.html
   - https://www.antenna.co.jp/AHF/help/en/ahf-ruby.html
   - https://www.antenna.co.jp/AHF/help/en/ahf-spread.html
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.antennahouse.com/names/XSL/Extensions" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:axf="http://www.antennahouse.com/names/XSL/Extensions" xmlns:axs="http://www.antennahouse.com/names/XSL/Settings" xmlns:axh="http://www.antennahouse.com/names/XSL/Hyphenations">
  <xs:include schemaLocation="fo-inherited.xsd"/>
  <xs:import namespace="http://www.antennahouse.com/names/XSL/Hyphenations" schemaLocation="axh.xsd"/>
  <xs:import namespace="http://www.antennahouse.com/names/XSL/Settings" schemaLocation="axs.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/XSL/Format" schemaLocation="fo.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!-- FOs -->
  <!--
    
    Properties
    
  -->
  <xs:attributeGroup name="axf_abbreviation-character-count">
    <xs:attribute name="abbreviation-character-count" form="qualified">
      <xs:annotation>
        <xs:documentation>Minimum number of characters considered to be an abbreviation</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_adjust-last-line-spacing">
    <xs:attribute name="adjust-last-line-spacing" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to adjust word spacing on last line: true | false</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_alt-glyph">
    <xs:attribute name="alt-glyph" form="qualified">
      <xs:annotation>
        <xs:documentation>Alternative glyph of a character: &lt;number&gt; | &lt;string&gt; &lt;number&gt;?</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_analyze">
    <xs:attribute name="analyze" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to perform analyzer checks on the current FO and its descendants: true | false | auto</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="auto"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_analyze-end-blank-page">
    <xs:attribute name="analyze-end-blank-page" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to perform end-blank-page analyzer checks on the current FO and its descendants: auto | none | &lt;integer&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_analyze-hyphen">
    <xs:attribute name="analyze-hyphen" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to perform hyphen analyzer checks on the current FO and its descendants: auto | none | &lt;integer&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_analyze-line-end-repeat">
    <xs:attribute name="analyze-line-end-repeat" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to perform line-end-repeat analyzer checks on the current FO and its descendants: auto | none | [&lt;integer&gt; &lt;integer&gt;?]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_analyze-line-start-repeat">
    <xs:attribute name="analyze-line-start-repeat" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to perform line-start-repeat analyzer checks on the current FO and its descendants: auto | none | [&lt;integer&gt; &lt;integer&gt;?]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_analyze-page-widow">
    <xs:attribute name="analyze-page-widow" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to perform page widow analyzer checks on the current FO and its descendants: auto | none | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_analyze-paragraph-widow">
    <xs:attribute name="analyze-paragraph-widow" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to perform paragraph widow analyzer checks on the current FO and its descendants: auto | none | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_analyze-river">
    <xs:attribute name="analyze-river" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to perform river analyzer checks on the current FO and its descendants: auto | none | [&lt;length&gt; &lt;length&gt;?]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_analyze-unbalanced-spread">
    <xs:attribute name="analyze-unbalanced-spread" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to perform unbalanced-spread analyzer checks on the current FO and its descendants: auto | none | &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_analyze-white-space">
    <xs:attribute name="analyze-white-space" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to perform white-space analyzer checks on the current FO and its descendants: auto | none | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_assumed-page-number">
    <xs:attribute name="assumed-page-number" form="qualified">
      <xs:annotation>
        <xs:documentation>Assumed page number</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_avoid-widow-words">
    <xs:attribute name="avoid-widow-words" form="qualified">
      <xs:annotation>
        <xs:documentation>Spacing behavior between words or characters so that the last line of the paragraph does not have only one word left (one character for CJK): false | true | [&lt;length&gt; || &lt;percentage&gt;]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_avoid-widow-words-cjk-punctuation">
    <xs:attribute name="avoid-widow-words-cjk-punctuation" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to include the last punctuation mark and count them in one character when axf:avoid-widow-word="true": auto | true | false | &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_balanced-text-align">
    <xs:attribute name="balanced-text-align" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to balance entire block including the last line: true | false | auto</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="auto"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_base-uri">
    <xs:attribute name="base-uri" form="qualified">
      <xs:annotation>
        <xs:documentation>Location which becomes the base of relative URI</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_border-connection-form">
    <xs:attribute name="border-connection-form" form="qualified">
      <xs:annotation>
        <xs:documentation>Shape of border connections</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="precedence"/>
          <xs:enumeration value="wedge"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_border-double-thickness">
    <xs:attribute name="border-double-thickness" form="qualified">
      <xs:annotation>
        <xs:documentation>Line thickness of border-style="double"</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_border-wave-form">
    <xs:attribute name="border-wave-form" form="qualified">
      <xs:annotation>
        <xs:documentation>Wave form for border-style="wave"</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_condensed-text-align-last">
    <xs:attribute name="condensed-text-align-last" form="qualified">
      <xs:annotation>
        <xs:documentation>whether to set text-align-last="justify" automatically after condensing the overflow: false | true | justify | auto</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="false"/>
          <xs:enumeration value="true"/>
          <xs:enumeration value="justify"/>
          <xs:enumeration value="auto"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_diagonal-border-color">
    <xs:attribute name="diagonal-border-color" form="qualified">
      <xs:annotation>
        <xs:documentation>Color of the diagonal border</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_diagonal-border-width">
    <xs:attribute name="diagonal-border-width" form="qualified">
      <xs:annotation>
        <xs:documentation>Width of the diagonal border</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_display-alttext">
    <xs:attribute name="display-alttext" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to display the alternate text of a missing image: true | false | auto</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="auto"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_double-hyphen-translineation">
    <xs:attribute name="double-hyphen-translineation" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to also place a hyphen at the start of the line when breaking lines at a hyphen: auto | true | false</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="auto"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_flush-zone">
    <xs:attribute name="flush-zone" form="qualified">
      <xs:annotation>
        <xs:documentation>Threshold for justifying last line: none | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_font-feature-settings">
    <xs:attribute name="font-feature-settings" form="qualified">
      <xs:annotation>
        <xs:documentation>OpenType font features: normal | &lt;feature-tag-value&gt;#</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_hanging-punctuation">
    <xs:attribute name="hanging-punctuation" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to hang punctuations at the start of the line or end of the line: none | [ start || first || [ force-end | allow-end ] || last ]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_hyphenate-caps-word">
    <xs:attribute name="hyphenate-caps-word" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to hyphenate words consisting only of uppercase letters: true | false</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="false-all"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_hyphenate-hyphenated-word">
    <xs:attribute name="hyphenate-hyphenated-word" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to hyphenate an already hyphenated word</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_hyphenation-minimum-character-count">
    <xs:attribute name="hyphenation-minimum-character-count" form="qualified">
      <xs:annotation>
        <xs:documentation>Minimum number of the character to hyphenate</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_hyphenation-zone">
    <xs:attribute name="hyphenation-zone" form="qualified">
      <xs:annotation>
        <xs:documentation>Range where a hyphenation is available: none | &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_image-orientation">
    <xs:attribute name="image-orientation" form="qualified">
      <xs:annotation>
        <xs:documentation>Orientation of an image: from-image | none | [ 0 | 90 | 180 | 270 ] flip?</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_initial-letters-color">
    <xs:attribute name="initial-letters-color" form="qualified">
      <xs:annotation>
        <xs:documentation>Color of a dropped initial: &lt;color&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_initial-letters-end-indent">
    <xs:attribute name="initial-letters-end-indent" form="qualified">
      <xs:annotation>
        <xs:documentation>Space on the end side of a dropped initial: &lt;length&gt;+</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_initial-letters-first-line-head-height">
    <xs:attribute name="initial-letters-first-line-head-height" form="qualified">
      <xs:annotation>
        <xs:documentation>Alignment of the top of an initial letter: cap-height | x-height | auto</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="cap-height"/>
          <xs:enumeration value="x-height"/>
          <xs:enumeration value="auto"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_initial-letters-leading-punctuation">
    <xs:attribute name="initial-letters-leading-punctuation" form="qualified">
      <xs:annotation>
        <xs:documentation>Size of the leading punctuation of a dropped initial: normal | hide | [&lt;length&gt; || &lt;color&gt;]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_initial-letters-leading-punctuation-position">
    <xs:attribute name="initial-letters-leading-punctuation-position" form="qualified">
      <xs:annotation>
        <xs:documentation>Position of the leading punctuation of a dropped initial in the inline progression direction: normal | [[hang | intrude] &amp;&amp; &lt;length&gt;?]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_initial-letters-leading-punctuation-shift">
    <xs:attribute name="initial-letters-leading-punctuation-shift" form="qualified">
      <xs:annotation>
        <xs:documentation>Position of the leading punctuation of a dropped initial in the block progression direction: normal | [[baseline | before | middle | after] || &lt;length&gt;]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_initial-letters-start-intrusion">
    <xs:attribute name="initial-letters-start-intrusion" form="qualified">
      <xs:annotation>
        <xs:documentation>Alignment of a float on the start side of a dropped initial: none | first-line</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="first-line"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_initial-letters-text-align">
    <xs:attribute name="initial-letters-text-align" form="qualified">
      <xs:annotation>
        <xs:documentation>Alignment of a dropped initial: start | center | end | left | right</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="start"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_initial-letters-width">
    <xs:attribute name="initial-letters-width" form="qualified">
      <xs:annotation>
        <xs:documentation>Width of a dropped initial: auto | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_inline-overflow-align">
    <xs:attribute name="inline-overflow-align" form="qualified">
      <xs:annotation>
        <xs:documentation>Adjustments when the blocks in &lt;fo:inline-container&gt; overflow: normal | start | end | left | right</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_intrude-into-punctuation">
    <xs:attribute name="intrude-into-punctuation" form="qualified">
      <xs:annotation>
        <xs:documentation>Intrusion of inline element into punctuation: none | [start || end]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_japanese-glyph">
    <xs:attribute name="japanese-glyph" form="qualified">
      <xs:annotation>
        <xs:documentation>Glyph of Japanese Kanji</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="jp78"/>
          <xs:enumeration value="jp83"/>
          <xs:enumeration value="jp90"/>
          <xs:enumeration value="jp04"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_justify-nbsp">
    <xs:attribute name="justify-nbsp" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to justify NON-BREAKING SPACE</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_kansuji-grouping-letter">
    <xs:attribute name="kansuji-grouping-letter" form="qualified">
      <xs:annotation>
        <xs:documentation>Grouping character used for Japanese numerals</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_kansuji-letter">
    <xs:attribute name="kansuji-letter" form="qualified">
      <xs:annotation>
        <xs:documentation>Character used for Japanese numerals: kanji | latin | &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_kansuji-style">
    <xs:attribute name="kansuji-style" form="qualified">
      <xs:annotation>
        <xs:documentation>Style used for Japanese numerals</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="simple"/>
          <xs:enumeration value="grouping"/>
          <xs:enumeration value="readable"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_kerning-mode">
    <xs:attribute name="kerning-mode" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to perform kerning</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="pair"/>
          <xs:enumeration value="auto"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_layer">
    <xs:attribute name="layer" form="qualified">
      <xs:annotation>
        <xs:documentation>Layer to which the area is arranged.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_leader-expansion">
    <xs:attribute name="leader-expansion" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to forcibly expand a leader</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="force"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_letter-spacing-side">
    <xs:attribute name="letter-spacing-side" form="qualified">
      <xs:annotation>
        <xs:documentation>Which side of the character the space by letter-spacing is distributed</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="both"/>
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ligature-mode">
    <xs:attribute name="ligature-mode" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to perform the ligature processing: none | [ latin || kana || jamo ] | all | auto</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-break">
    <xs:attribute name="line-break" form="qualified">
      <xs:annotation>
        <xs:documentation>Line-breaking method: auto | [[normal | strict | loose | anywhere] || [line | bpil]]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark">
    <xs:attribute name="line-continued-mark" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to show line continued marks: &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark-background-color">
    <xs:attribute name="line-continued-mark-background-color" form="qualified">
      <xs:annotation>
        <xs:documentation>Background color of line continued marks</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark-color">
    <xs:attribute name="line-continued-mark-color" form="qualified">
      <xs:annotation>
        <xs:documentation>Color of line continued marks</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark-font-family">
    <xs:attribute name="line-continued-mark-font-family" form="qualified">
      <xs:annotation>
        <xs:documentation>Font family of line continued marks</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark-font-size">
    <xs:attribute name="line-continued-mark-font-size" form="qualified">
      <xs:annotation>
        <xs:documentation>Font size of line continued marks</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark-font-style">
    <xs:attribute name="line-continued-mark-font-style" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to make the font style italic</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="italic"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark-font-weight">
    <xs:attribute name="line-continued-mark-font-weight" form="qualified">
      <xs:annotation>
        <xs:documentation>Font weight of line numbers</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="bold"/>
          <xs:enumeration value="bolder"/>
          <xs:enumeration value="lighter"/>
          <xs:enumeration value="100"/>
          <xs:enumeration value="200"/>
          <xs:enumeration value="300"/>
          <xs:enumeration value="400"/>
          <xs:enumeration value="500"/>
          <xs:enumeration value="600"/>
          <xs:enumeration value="700"/>
          <xs:enumeration value="800"/>
          <xs:enumeration value="900"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark-offset">
    <xs:attribute name="line-continued-mark-offset" form="qualified">
      <xs:annotation>
        <xs:documentation>Offset of line continued marks: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number">
    <xs:attribute name="line-number" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to show line numbers</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="show"/>
          <xs:enumeration value="hide"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-background-color">
    <xs:attribute name="line-number-background-color" form="qualified">
      <xs:annotation>
        <xs:documentation>Background color of line numbers: &lt;color&gt; | transparent</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-color">
    <xs:attribute name="line-number-color" form="qualified">
      <xs:annotation>
        <xs:documentation>Color of line numbers</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-display-align">
    <xs:attribute name="line-number-display-align" form="qualified">
      <xs:annotation>
        <xs:documentation>Alignment, in the block-progression-direction, of line numbers in the line area</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="before"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="after"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-except-continued-line">
    <xs:attribute name="line-number-except-continued-line" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to add line numbers except for continued lines: true | false</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-font-family">
    <xs:attribute name="line-number-font-family" form="qualified">
      <xs:annotation>
        <xs:documentation>Font family of line numbers</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-font-size">
    <xs:attribute name="line-number-font-size" form="qualified">
      <xs:annotation>
        <xs:documentation>Font size of line numbers</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-font-style">
    <xs:attribute name="line-number-font-style" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to make the font style italic</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="italic"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-font-weight">
    <xs:attribute name="line-number-font-weight" form="qualified">
      <xs:annotation>
        <xs:documentation>Font weight of line numbers</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="bold"/>
          <xs:enumeration value="bolder"/>
          <xs:enumeration value="lighter"/>
          <xs:enumeration value="100"/>
          <xs:enumeration value="200"/>
          <xs:enumeration value="300"/>
          <xs:enumeration value="400"/>
          <xs:enumeration value="500"/>
          <xs:enumeration value="600"/>
          <xs:enumeration value="700"/>
          <xs:enumeration value="800"/>
          <xs:enumeration value="900"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-format">
    <xs:attribute name="line-number-format" form="qualified">
      <xs:annotation>
        <xs:documentation>format of line numbers: &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-initial">
    <xs:attribute name="line-number-initial" form="qualified">
      <xs:annotation>
        <xs:documentation>Line number of the first line: auto | &lt;number&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-interval">
    <xs:attribute name="line-number-interval" form="qualified">
      <xs:annotation>
        <xs:documentation>Interval of line numbers: &lt;snumber&gt; | auto</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-offset">
    <xs:attribute name="line-number-offset" form="qualified">
      <xs:annotation>
        <xs:documentation>Offset of line numbers: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-orientation">
    <xs:attribute name="line-number-orientation" form="qualified">
      <xs:annotation>
        <xs:documentation>Rotates line numbers: 0 | 90 | 180 | 270 | -90 | -180 | -270</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="0"/>
          <xs:enumeration value="90"/>
          <xs:enumeration value="180"/>
          <xs:enumeration value="270"/>
          <xs:enumeration value="-90"/>
          <xs:enumeration value="-180"/>
          <xs:enumeration value="-270"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-position">
    <xs:attribute name="line-number-position" form="qualified">
      <xs:annotation>
        <xs:documentation>Position of line numbers: start | end | inside | outside | alternate</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
          <xs:enumeration value="alternate"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-prefix">
    <xs:attribute name="line-number-prefix" form="qualified">
      <xs:annotation>
        <xs:documentation>Prefix of line number: &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-reset">
    <xs:attribute name="line-number-reset" form="qualified">
      <xs:annotation>
        <xs:documentation>When to reset line numbers: auto | none | page | column | force</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="page"/>
          <xs:enumeration value="column"/>
          <xs:enumeration value="force"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-start">
    <xs:attribute name="line-number-start" form="qualified">
      <xs:annotation>
        <xs:documentation>Starting line number: &lt;snumber&gt; | auto</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-text-align">
    <xs:attribute name="line-number-text-align" form="qualified">
      <xs:annotation>
        <xs:documentation>Alignment of line numbers in the line area: auto | start | center | end | inside | outside | left | right</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="start"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-text-decoration">
    <xs:attribute name="line-number-text-decoration" form="qualified">
      <xs:annotation>
        <xs:documentation>Text decoration of line numbers</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-width">
    <xs:attribute name="line-number-width" form="qualified">
      <xs:annotation>
        <xs:documentation>Width of line numbers: auto | &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_list-style-type">
    <xs:attribute name="list-style-type" form="qualified">
      <xs:annotation>
        <xs:documentation>List style: &lt;glyph&gt; | &lt;algorithmic&gt; | &lt;numeric&gt; | &lt;alphabetic&gt; | &lt;symbolic&gt; | &lt;non-repeating&gt; | normal | none</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_normalize">
    <xs:attribute name="normalize" form="qualified">
      <xs:annotation>
        <xs:documentation>Unicode normalization to perform on text: auto | none | nfc | nfkc | nfd | nfkd</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="nfc"/>
          <xs:enumeration value="nfkc"/>
          <xs:enumeration value="nfd"/>
          <xs:enumeration value="nfkd"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_normalize-exclude">
    <xs:attribute name="normalize-exclude" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether Composition Exclusions are excluded or not when the normalization (axf:normalize) is specified: full-composition-exclusion | none</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="full-composition-exclusion"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_number-transform">
    <xs:attribute name="number-transform" form="qualified">
      <xs:annotation>
        <xs:documentation>Converts the number sequence in the character string: none | kansuji | kansuji-if-vertical | &lt;list-style-type&gt; | &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-align">
    <xs:attribute name="overflow-align" form="qualified">
      <xs:annotation>
        <xs:documentation>Alignment of the overflowed block: normal | start | end | center</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="center"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-condense">
    <xs:attribute name="overflow-condense" form="qualified">
      <xs:annotation>
        <xs:documentation>How to condense the overflowed text within the region: [ font-size | font-stretch | line-height | letter-spacing ]+ | auto | none</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-condense-limit-font-size">
    <xs:attribute name="overflow-condense-limit-font-size" form="qualified">
      <xs:annotation>
        <xs:documentation>Minimum font size when axf:overflow-condense="font-size" is specified: &lt;length&gt; [ visible | hidden | scroll | error-if-overflow | repeat ]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-condense-limit-font-stretch">
    <xs:attribute name="overflow-condense-limit-font-stretch" form="qualified">
      <xs:annotation>
        <xs:documentation>Minimum value when axf:overflow-condense="font-stretch" is specified: [ &lt;number&gt; | &lt;percentage&gt; ] [ visible | hidden | scroll | error-if-overflow | repeat ]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-condense-limit-letter-spacing">
    <xs:attribute name="overflow-condense-limit-letter-spacing" form="qualified">
      <xs:annotation>
        <xs:documentation>Minimum value when axf:overflow-condense="letter-spacing" is specified: none | [ &lt;length&gt; [ visible | hidden | error-if-overflow | repeat ]? ]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-condense-limit-line-height">
    <xs:attribute name="overflow-condense-limit-line-height" form="qualified">
      <xs:annotation>
        <xs:documentation>Minimum value when axf:overflow-condense="line-height" is specified: none | [ &lt;number&gt; [ visible | hidden | error-if-overflow | repeat ]? ]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-limit">
    <xs:attribute name="overflow-limit" form="qualified">
      <xs:annotation>
        <xs:documentation>Overflow limit value: &lt;length&gt;1 2</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-limit-block">
    <xs:attribute name="overflow-limit-block" form="qualified">
      <xs:annotation>
        <xs:documentation>Block overflow limit value</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-limit-inline">
    <xs:attribute name="overflow-limit-inline" form="qualified">
      <xs:annotation>
        <xs:documentation>Inline overflow limit value</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-replace">
    <xs:attribute name="overflow-replace" form="qualified">
      <xs:annotation>
        <xs:documentation>Alternative character string for the specified overflow text</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overprint">
    <xs:attribute name="overprint" form="qualified">
      <xs:annotation>
        <xs:documentation>Overprint setting</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_punctuation-spacing">
    <xs:attribute name="punctuation-spacing" form="qualified">
      <xs:annotation>
        <xs:documentation>Space to trim  between a full width punctuation and a full width character in Japanese</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_punctuation-trim">
    <xs:attribute name="punctuation-trim" form="qualified">
      <xs:annotation>
        <xs:documentation>How to treat full width punctuations in Japanese</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_repeat-footnote-in-table-footer">
    <xs:attribute name="repeat-footnote-in-table-footer" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to repeat the fo:footnote in the fo:table-footer that is repeated by table-omit-footer-at-break="false"</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_repeat-footnote-in-table-header">
    <xs:attribute name="repeat-footnote-in-table-header" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to repeat the fo:footnote in the fo:table-header that is repeated by table-omit-header-at-break="false": true | false</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_reverse-diagonal-border-color">
    <xs:attribute name="reverse-diagonal-border-color" form="qualified">
      <xs:annotation>
        <xs:documentation>Color of the reverse diagonal border</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_reverse-diagonal-border-width">
    <xs:attribute name="reverse-diagonal-border-width" form="qualified">
      <xs:annotation>
        <xs:documentation>Width of the reverse diagonal border</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_revision-bar-color">
    <xs:attribute name="revision-bar-color" form="qualified">
      <xs:annotation>
        <xs:documentation>Color of the revision bar: &lt;color&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_revision-bar-offset">
    <xs:attribute name="revision-bar-offset" form="qualified">
      <xs:annotation>
        <xs:documentation>Offset of the revision bar: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_revision-bar-position">
    <xs:attribute name="revision-bar-position" form="qualified">
      <xs:annotation>
        <xs:documentation>Position of the revision bar: start | end | inside | outside | alternate | both</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
          <xs:enumeration value="alternate"/>
          <xs:enumeration value="both"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_revision-bar-style">
    <xs:attribute name="revision-bar-style" form="qualified">
      <xs:annotation>
        <xs:documentation>Style of the revision bar: &lt;border-style&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_revision-bar-width">
    <xs:attribute name="revision-bar-width" form="qualified">
      <xs:annotation>
        <xs:documentation>Width of the revision bar: &lt;border-width&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-align">
    <xs:attribute name="ruby-align" form="qualified">
      <xs:annotation>
        <xs:documentation>Alignment of the ruby: auto | [[distribute-space | distribute-letter] || [center | start | end | start-if-vertical]]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-color">
    <xs:attribute name="ruby-color" form="qualified">
      <xs:annotation>
        <xs:documentation>Color of ruby text: &lt;color&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-condense">
    <xs:attribute name="ruby-condense" form="qualified">
      <xs:annotation>
        <xs:documentation>Font condense when the ruby text is longer than its base: none | &lt;percentage&gt; | &lt;number&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-font-family">
    <xs:attribute name="ruby-font-family" form="qualified">
      <xs:annotation>
        <xs:documentation>Font family of ruby text: [ &lt;family-name&gt; | &lt;generic-family&gt; ]#</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-font-size">
    <xs:attribute name="ruby-font-size" form="qualified">
      <xs:annotation>
        <xs:documentation>Font size of ruby text: &lt;number&gt; | &lt;absolute-size&gt; | &lt;relative-size&gt; | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-font-stretch">
    <xs:attribute name="ruby-font-stretch" form="qualified">
      <xs:annotation>
        <xs:documentation>Font stretch of ruby text: normal | wider | narrower | ultra-condensed | extra-condensed | condensed | semi-condensed | semi-expanded | expanded | extra-expanded | ultra-expanded | &lt;percentage&gt; | &lt;number&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-font-style">
    <xs:attribute name="ruby-font-style" form="qualified">
      <xs:annotation>
        <xs:documentation>Font style of ruby text: normal | italic</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="italic"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-font-weight">
    <xs:attribute name="ruby-font-weight" form="qualified">
      <xs:annotation>
        <xs:documentation>Font weight of ruby text: normal | bold | bolder | lighter | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="bold"/>
          <xs:enumeration value="bolder"/>
          <xs:enumeration value="lighter"/>
          <xs:enumeration value="100"/>
          <xs:enumeration value="200"/>
          <xs:enumeration value="300"/>
          <xs:enumeration value="400"/>
          <xs:enumeration value="500"/>
          <xs:enumeration value="600"/>
          <xs:enumeration value="700"/>
          <xs:enumeration value="800"/>
          <xs:enumeration value="900"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-limit-overhang">
    <xs:attribute name="ruby-limit-overhang" form="qualified">
      <xs:annotation>
        <xs:documentation>Limit of the amount that ruby overhangs the adjacent base character when ruby is longer than its own base character: &lt;number&gt; | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-limit-space">
    <xs:attribute name="ruby-limit-space" form="qualified">
      <xs:annotation>
        <xs:documentation>Limit of the amount of spaces leading and following the ruby text when the ruby text is shorter than its base characters: &lt;number&gt; | &lt;length&gt; | &lt;percentage&gt; | none</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-minimum-font-size">
    <xs:attribute name="ruby-minimum-font-size" form="qualified">
      <xs:annotation>
        <xs:documentation>Minimum font size of ruby text: none | &lt;absolute-size&gt; | &lt;relative-size&gt; | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-offset">
    <xs:attribute name="ruby-offset" form="qualified">
      <xs:annotation>
        <xs:documentation>Spacing between the ruby text and its base characters: &lt;number&gt; | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-overhang">
    <xs:attribute name="ruby-overhang" form="qualified">
      <xs:annotation>
        <xs:documentation>How ruby overhangs an adjacent base character: none | auto | [start || end || except-kanji || except-katakana || except-start-open-parenthesis || except-end-close-parenthesis]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-position">
    <xs:attribute name="ruby-position" form="qualified">
      <xs:annotation>
        <xs:documentation>Side of the base characters on which the ruby text appears: before | after</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="before"/>
          <xs:enumeration value="after"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-small-kana">
    <xs:attribute name="ruby-small-kana" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to allow using small kana for ruby text: auto | convert</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="convert"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_soft-hyphen-treatment">
    <xs:attribute name="soft-hyphen-treatment" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to print SOFT HYPHEN (U+00AD)</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="preserve"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_suppress-duplicate-footnote">
    <xs:attribute name="suppress-duplicate-footnote" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to delete footnotes duplicated in the same page: true | false</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_suppress-duplicate-marker-contents">
    <xs:attribute name="suppress-duplicate-marker-contents" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to delete markers duplicated in the same page: true | false</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_suppress-duplicate-page-number">
    <xs:attribute name="suppress-duplicate-page-number" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to delete duplicated page numbers: true | false</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_tab-overlap-treatment">
    <xs:attribute name="tab-overlap-treatment" form="qualified">
      <xs:annotation>
        <xs:documentation>Behavior when tab alignment makes letters overlap: auto | ignore-tab | next-tab</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="ignore-tab"/>
          <xs:enumeration value="next-tab"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_tab-stops">
    <xs:attribute name="tab-stops" form="qualified">
      <xs:annotation>
        <xs:documentation>Tab stop positions</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_tab-treatment">
    <xs:attribute name="tab-treatment" form="qualified">
      <xs:annotation>
        <xs:documentation>Treatment for literal tab characters</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_table-auto-layout-limit">
    <xs:attribute name="table-auto-layout-limit" form="qualified">
      <xs:annotation>
        <xs:documentation>Number of table-rows to read ahead: auto | &lt;number&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_table-row-orphans">
    <xs:attribute name="table-row-orphans" form="qualified">
      <xs:annotation>
        <xs:documentation>Number of table-rows that must remain at the bottom of the page (column): &lt;integer&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_table-row-widows">
    <xs:attribute name="table-row-widows" form="qualified">
      <xs:annotation>
        <xs:documentation>Number of table-rows that must remain at the top of the page (column): &lt;integer&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-align-first">
    <xs:attribute name="text-align-first" form="qualified">
      <xs:annotation>
        <xs:documentation>Text alignment of the first line</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="relative"/>
          <xs:enumeration value="start"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="justify"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-align-string">
    <xs:attribute name="text-align-string" form="qualified">
      <xs:annotation>
        <xs:documentation>Text alignment when text-align="&lt;string&gt;": start | center | end | inside | outside | left | right | from-table-column()</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="start"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="from-table-column()"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-autospace">
    <xs:attribute name="text-autospace" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to add space surrounding ideographic glyphs: none | [ ideograph-numeric || ideograph-alpha || ideograph-parenthesis ] | auto</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-autospace-width">
    <xs:attribute name="text-autospace-width" form="qualified">
      <xs:annotation>
        <xs:documentation>Width for axf:text-autospace</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-combine-horizontal">
    <xs:attribute name="text-combine-horizontal" form="qualified">
      <xs:annotation>
        <xs:documentation>Sets horizontal-in-vertical composition in vertical writing mode automatically: none | all | [ digits &lt;integer&gt; || alpha &lt;integer&gt; || alphanumeric &lt;integer&gt; ]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-font-color">
    <xs:attribute name="text-emphasis-font-color" form="qualified">
      <xs:annotation>
        <xs:documentation>Color of emphasis marks</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-font-family">
    <xs:attribute name="text-emphasis-font-family" form="qualified">
      <xs:annotation>
        <xs:documentation>Font family of emphasis marks</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-font-size">
    <xs:attribute name="text-emphasis-font-size" form="qualified">
      <xs:annotation>
        <xs:documentation>Font size of emphasis marks</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-font-stretch">
    <xs:attribute name="text-emphasis-font-stretch" form="qualified">
      <xs:annotation>
        <xs:documentation>Font stretching of emphasis marks</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-font-style">
    <xs:attribute name="text-emphasis-font-style" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether emphasis marks are made Italic</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="italic"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-font-weight">
    <xs:attribute name="text-emphasis-font-weight" form="qualified">
      <xs:annotation>
        <xs:documentation>Font weight of emphasis marks</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="bold"/>
          <xs:enumeration value="bolder"/>
          <xs:enumeration value="lighter"/>
          <xs:enumeration value="100"/>
          <xs:enumeration value="200"/>
          <xs:enumeration value="300"/>
          <xs:enumeration value="400"/>
          <xs:enumeration value="500"/>
          <xs:enumeration value="600"/>
          <xs:enumeration value="700"/>
          <xs:enumeration value="800"/>
          <xs:enumeration value="900"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-offset">
    <xs:attribute name="text-emphasis-offset" form="qualified">
      <xs:annotation>
        <xs:documentation>Space between emphasis marks and the base characters</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-position">
    <xs:attribute name="text-emphasis-position" form="qualified">
      <xs:annotation>
        <xs:documentation>Which side of base characters emphasis marks are put</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="before"/>
          <xs:enumeration value="after"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-skip">
    <xs:attribute name="text-emphasis-skip" form="qualified">
      <xs:annotation>
        <xs:documentation>Characters to which emphasis marks are not applied: none | [ spaces || punctuation || symbols || narrow ]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-style">
    <xs:attribute name="text-emphasis-style" form="qualified">
      <xs:annotation>
        <xs:documentation>Style of emphasis marks: none | [ [ filled | open ] || [ dot | circle | double-circle | triangle | sesame ] ] | &lt;string&gt; </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-indent-if-first-on-page">
    <xs:attribute name="text-indent-if-first-on-page" form="qualified">
      <xs:annotation>
        <xs:documentation>text-indent of a block at the top of a page or column: &lt;length&gt; | &lt;percentage&gt; | auto</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-justify">
    <xs:attribute name="text-justify" form="qualified">
      <xs:annotation>
        <xs:documentation>How to justify text: auto | inter-word | inter-character</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="inter-word"/>
          <xs:enumeration value="inter-character"/>
          <xs:enumeration value="distribute"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-justify-trim">
    <xs:attribute name="text-justify-trim" form="qualified">
      <xs:annotation>
        <xs:documentation>The way to trim spaces between characters in justified text</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-kashida-space">
    <xs:attribute name="text-kashida-space" form="qualified">
      <xs:annotation>
        <xs:documentation>Percentage of Kashida in Arabic justification: &lt;percentage&gt; | auto</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-orientation">
    <xs:attribute name="text-orientation" form="qualified">
      <xs:annotation>
        <xs:documentation>Orientation of text in vertical writing mode</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="upright"/>
          <xs:enumeration value="sideways-right"/>
          <xs:enumeration value="sideways"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-stroke">
    <xs:attribute name="text-stroke" form="qualified">
      <xs:annotation>
        <xs:documentation>Stroke of the character: &lt;length&gt; &lt;color&gt;? | &lt;color&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-stroke-color">
    <xs:attribute name="text-stroke-color" form="qualified">
      <xs:annotation>
        <xs:documentation>Stroke color: &lt;color&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-stroke-width">
    <xs:attribute name="text-stroke-width" form="qualified">
      <xs:annotation>
        <xs:documentation>Stroke width: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_url-break">
    <xs:attribute name="url-break" form="qualified">
      <xs:annotation>
        <xs:documentation>How to perform line breaking in a URL: normal | chicago</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="chicago"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_vertical-underline-side">
    <xs:attribute name="vertical-underline-side" form="qualified">
      <xs:annotation>
        <xs:documentation>Which side of the text to put underline in vertical writing-mode</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="depend-on-language"/>
          <xs:enumeration value="auto"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_word-break">
    <xs:attribute name="word-break" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to enable line breaking even inside a word: normal | break-all | keep-all | keep-non-spaces</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="break-all"/>
          <xs:enumeration value="keep-all"/>
          <xs:enumeration value="keep-non-spaces"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_word-wrap">
    <xs:attribute name="word-wrap" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to forcibly break a word when line break cannot be performed: normal | break-word</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="break-word"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
</xs:schema>
