schema/xsd/axf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Schema for Antenna House extension elements and non-inherited
  extension attributes.
  
  Copyright 2015-2019 Antenna House, Inc.
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.antennahouse.com/names/XSL/Extensions" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:axf="http://www.antennahouse.com/names/XSL/Extensions" xmlns:axs="http://www.antennahouse.com/names/XSL/Settings" xmlns:axh="http://www.antennahouse.com/names/XSL/Hyphenations">
  <xs:include schemaLocation="axf-inherited.xsd"/>
  <xs:import namespace="http://www.antennahouse.com/names/XSL/Hyphenations" schemaLocation="axh.xsd"/>
  <xs:import namespace="http://www.antennahouse.com/names/XSL/Settings" schemaLocation="ahfsettings.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/XSL/Format" schemaLocation="fo.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!--
    
    Overrides to patterns in 'axf-inherited.rnc' (and patterns in
    modules that it includes).
    
  -->
  <!-- https://www.antennahouse.com/product/ahf65/ahf-ext.html#fo.change-bar-begin -->
  <xs:complexType name="fo_change-bar-begin.model">
    <xs:sequence>
      <xs:element minOccurs="0" ref="fo:float"/>
    </xs:sequence>
  </xs:complexType>
  <!--
    Nested fo:page-sequence
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#fo.page-sequence
  -->
  <xs:complexType name="fo_flow.model">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="fo:marker"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="fo:block.fo.list"/>
          <xs:group ref="fo:neutral.fo.list.block"/>
          <xs:element ref="fo:page-sequence"/>
        </xs:choice>
        <xs:element ref="fo:point.fo.list"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fo_layout-master-set.model">
    <xs:choice maxOccurs="unbounded">
      <xs:element ref="axf:spread-page-master"/>
      <xs:element ref="fo:simple-page-master"/>
      <xs:element ref="fo:page-sequence-master"/>
      <xs:element ref="fo:flow-map"/>
    </xs:choice>
  </xs:complexType>
  <!-- https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.document-info -->
  <xs:complexType name="fo_root.model">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="axf:document-info"/>
      <xs:element ref="fo:layout-master-set"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="axf:document-info"/>
      <xs:element minOccurs="0" ref="fo:declarations"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="axf:document-info"/>
      <xs:element minOccurs="0" ref="fo:bookmark-tree"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="axf:document-info"/>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="fo:page-sequence"/>
        <xs:element ref="fo:page-sequence-wrapper"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <!-- AH Formatter allows fo:region-* in any order. -->
  <xs:complexType name="fo_simple-page-master.model">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="fo:region-body"/>
      <xs:element ref="fo:region-before"/>
      <xs:element ref="fo:region-after"/>
      <xs:element ref="fo:region-start"/>
      <xs:element ref="fo:region-end"/>
    </xs:choice>
  </xs:complexType>
  <!--
    AH Formatter uses axf:custom-property and axf:document-info within
    fo:declarations.
  -->
  <xs:complexType name="fo_declarations.model">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="axf:custom-property"/>
      <xs:element ref="axf:document-info"/>
      <xs:element ref="axf:hyphenation-info"/>
      <xs:element ref="axf:formatter-config"/>
      <xs:element ref="axf:output-volume-info"/>
    </xs:choice>
  </xs:complexType>
  <!-- AH Formatter allows empty fo:static-content. -->
  <xs:complexType name="fo_static-content.model">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:choice>
        <xs:element ref="fo:block.fo.list"/>
        <xs:group ref="fo:neutral.fo.list"/>
      </xs:choice>
      <xs:element ref="fo:point.fo.list"/>
    </xs:choice>
  </xs:complexType>
  <!-- AH Formatter allows fo:block-container to omit block FOs. -->
  <xs:complexType name="fo_block-container.model">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="fo:marker"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="fo:block.fo.list"/>
          <xs:group ref="fo:neutral.fo.list"/>
        </xs:choice>
        <xs:element ref="fo:point.fo.list"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <!-- AH Formatter allows fo:inline-container to omit block FOs. -->
  <xs:complexType name="fo_inline-container.model">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="fo:marker"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="fo:block.fo.list"/>
          <xs:group ref="fo:neutral.fo.list"/>
        </xs:choice>
        <xs:element ref="fo:point.fo.list"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <!-- AH Formatter allows empty fo:list-item. -->
  <xs:complexType name="fo_list-item.model">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="fo:marker"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="fo:list-item-label"/>
          <xs:element ref="fo:list-item-body"/>
        </xs:choice>
        <xs:element ref="fo:point.fo.list"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <!-- AH Formatter allows fo:list-item-label omit block FOs. -->
  <xs:complexType name="fo_list-item-label.model">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="fo:marker"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="fo:block.fo.list"/>
          <xs:group ref="fo:neutral.fo.list"/>
        </xs:choice>
        <xs:element ref="fo:point.fo.list"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <!--
    AH Formatter allows fo:table-cell to omit block FOs.
    axf:table-cell-repeated-marker used when cell repeats.
  -->
  <xs:complexType name="fo_table-cell.model">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="fo:marker"/>
      <xs:element minOccurs="0" ref="axf:table-cell-repeated-marker"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="fo:block.fo.list"/>
          <xs:group ref="fo:neutral.fo.list"/>
        </xs:choice>
        <xs:element ref="fo:point.fo.list"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <!--
    For fo:instream-foreign-object
    Exclude axf:* elements and attributes from counting as 'non-xsl'.
  -->
  <xs:group name="non-xsl">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="non-xsl">
    <xs:anyAttribute processContents="skip"/>
  </xs:attributeGroup>
  <!--
    
    End of overrides to patterns in 'axf-inherited.rnc'.
    
  -->
  <!--
    
    Antenna House extension elements
    
  -->
  <!--
    <axf:custom-property/>
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.custom-property
  -->
  <xs:element name="custom-property">
    <xs:annotation>
      <xs:documentation>Custom PDF property Effective with PDF 1.4 or later. Invalid with PDF/A</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="name" use="required">
        <xs:annotation>
          <xs:documentation>Name of the custom property.  Should not be empty.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="value" use="required">
        <xs:annotation>
          <xs:documentation>Value of the custom property.  Should not be empty.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <!--
    <axf:document-info/>
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.document-info
  -->
  <xs:element name="document-info">
    <xs:annotation>
      <xs:documentation>Document information such as an author and title that can be embedded in the PDF</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="name" use="required">
        <xs:annotation>
          <xs:documentation>Name of the document information</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="document-title"/>
            <xs:enumeration value="title"/>
            <xs:enumeration value="subject"/>
            <xs:enumeration value="author"/>
            <xs:enumeration value="author-title"/>
            <xs:enumeration value="description-writer"/>
            <xs:enumeration value="keywords"/>
            <xs:enumeration value="copyright-status"/>
            <xs:enumeration value="copyright-notice"/>
            <xs:enumeration value="copyright-info-url"/>
            <xs:enumeration value="xmp"/>
            <xs:enumeration value="pagemode"/>
            <xs:enumeration value="pagelayout"/>
            <xs:enumeration value="hidetoolbar"/>
            <xs:enumeration value="hidemenubar"/>
            <xs:enumeration value="hidewindowui"/>
            <xs:enumeration value="fitwindow"/>
            <xs:enumeration value="centerwindow"/>
            <xs:enumeration value="displaydoctitle"/>
            <xs:enumeration value="openaction"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" use="required">
        <xs:annotation>
          <xs:documentation>Value of the document information.  Some information has constraints on the allowed values.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <!--
    <axf:footnote-number/>
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.footnote-number
  -->
  <xs:element name="footnote-number" substitutionGroup="fo:inline.fo.list">
    <xs:annotation>
      <xs:documentation>Generates a footnote number</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="fo:id"/>
    </xs:complexType>
  </xs:element>
  <!--
    <axf:footnote-number-citation/>
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.footnote-number-citation
  -->
  <xs:element name="footnote-number-citation" substitutionGroup="fo:inline.fo.list">
    <xs:annotation>
      <xs:documentation>Cites a footnote number</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="ref-id" use="required"/>
    </xs:complexType>
  </xs:element>
  <!--
    <axf:form>
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.form
  -->
  <xs:element name="form" substitutionGroup="fo:block.fo.list">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="axf:axf_form.model">
          <xs:attributeGroup ref="axf:axf_form.attlist"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="axf_form.attlist">
    <xs:attributeGroup ref="axf:axf_field-submit-coordinates"/>
    <xs:attributeGroup ref="axf:axf_field-submit-method"/>
    <xs:attributeGroup ref="fo:external-destination"/>
  </xs:attributeGroup>
  <xs:complexType name="axf_form.model">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="fo:block.fo.list"/>
    </xs:sequence>
  </xs:complexType>
  <!--
    <axf:form-field>
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.form-field
  -->
  <xs:element name="form-field" substitutionGroup="fo:inline.fo.list">
    <xs:annotation>
      <xs:documentation>Generates a form field</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="axf:form-field-option"/>
        <xs:element ref="axf:form-field-event"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <!--
    <axf:form-field-event>
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.form-field-event
  -->
  <xs:element name="form-field-event" type="xs:string">
    <xs:annotation>
      <xs:documentation>Defines the form action corresponding to an event</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!--
    <axf:form-field-option>
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.form-field-option
  -->
  <xs:element name="form-field-option" type="xs:string">
    <xs:annotation>
      <xs:documentation>Specifies the component elements of the list box, combo box</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!--
    <axf:formatter-config>
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.formatter-config
  -->
  <xs:element name="formatter-config">
    <xs:annotation>
      <xs:documentation>Additional option setting information</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="axs:formatter-config.model">
          <xs:attributeGroup ref="axf:axf_formatter-config.attlist"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!--
    axf_formatter-config.model =
      axs_pdf-settings?
  -->
  <xs:attributeGroup name="axf_formatter-config.attlist">
    <xs:attribute name="src">
      <xs:annotation>
        <xs:documentation>External Option Setting File</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    <axf:hyphenation-info>
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.hyphenation-info
  -->
  <xs:element name="hyphenation-info">
    <xs:annotation>
      <xs:documentation>Additional hyphenation information</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="axh:exceptions"/>
      </xs:sequence>
      <xs:attributeGroup ref="axf:axf_hyphenation-info.attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="axf_hyphenation-info.attlist">
    <xs:attribute name="language"/>
    <xs:attribute name="src"/>
  </xs:attributeGroup>
  <!--
    <axf:output-volume-info>
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.output-volume-info
  -->
  <xs:element name="output-volume-info">
    <xs:annotation>
      <xs:documentation>Output volume specification</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="axf:axf_output-volume-info.attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="axf_output-volume-info.attlist">
    <xs:attribute name="initial-volume-number" type="xs:positiveInteger">
      <xs:annotation>
        <xs:documentation>Initial volume number: &lt;positive-integer&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="format">
      <xs:annotation>
        <xs:documentation>Format specification: &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="bookmark-include">
      <xs:annotation>
        <xs:documentation>How to include bookmarks in multiple separate volumes: first | all | separate</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="first"/>
          <xs:enumeration value="all"/>
          <xs:enumeration value="separate"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    <axf:ruby>
    https://www.antennahouse.com/product/ahf65/ahf-ruby.html#axf.ruby
  -->
  <xs:element name="ruby" substitutionGroup="fo:inline.fo.list">
    <xs:annotation>
      <xs:documentation>The ruby structure</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="axf:ruby-base"/>
        <xs:element ref="axf:ruby-text"/>
      </xs:sequence>
      <xs:attributeGroup ref="axf:axf.ruby.attlist"/>
    </xs:complexType>
  </xs:element>
  <!--
    <axf:ruby-base>
    https://www.antennahouse.com/product/ahf65/ahf-ruby.html#axf.ruby-base
  -->
  <xs:element name="ruby-base">
    <xs:annotation>
      <xs:documentation>Base character of ruby</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" ref="axf:ruby"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--
    <axf:ruby-text>
    https://www.antennahouse.com/product/ahf65/ahf-ruby.html#axf.ruby-text
  -->
  <xs:element name="ruby-text" type="xs:string">
    <xs:annotation>
      <xs:documentation>Ruby</xs:documentation>
    </xs:annotation>
  </xs:element>
  <!--
    <axf:spread-page-master>
    https://www.antennahouse.com/product/ahf65/ahf-spread.html#axf.spread-page-master
  -->
  <xs:element name="spread-page-master">
    <xs:annotation>
      <xs:documentation>A two-page spread</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="axf:spread-region"/>
      </xs:sequence>
      <xs:attributeGroup ref="axf:axf_background-color"/>
      <xs:attributeGroup ref="axf:axf_background-content-height"/>
      <xs:attributeGroup ref="axf:axf_background-content-type"/>
      <xs:attributeGroup ref="axf:axf_background-content-width"/>
      <xs:attributeGroup ref="axf:axf_background-image"/>
      <xs:attributeGroup ref="axf:axf_background-position-horizontal"/>
      <xs:attributeGroup ref="axf:axf_background-position-vertical"/>
      <xs:attributeGroup ref="axf:axf_background-repeat"/>
      <xs:attributeGroup ref="axf:axf_background-scaling"/>
      <xs:attributeGroup ref="axf:axf_bleed"/>
      <xs:attributeGroup ref="fo:common-margin-properties-block"/>
      <xs:attribute name="left-page-master-reference" use="required" type="xs:NCName">
        <xs:annotation>
          <xs:documentation>Master name of the page master for the left page of a two-page spread.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attributeGroup ref="fo:master-name"/>
      <xs:attributeGroup ref="fo:reference-orientation"/>
      <xs:attribute name="right-page-master-reference" use="required" type="xs:NCName">
        <xs:annotation>
          <xs:documentation>Master name of the page master for the right page of a two-page spread.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attributeGroup ref="fo:writing-mode"/>
      <xs:attributeGroup ref="fo:background-attachment"/>
      <xs:attributeGroup ref="fo:background-image"/>
      <xs:attributeGroup ref="fo:background-position-horizontal"/>
      <xs:attributeGroup ref="fo:background-position-vertical"/>
      <xs:attributeGroup ref="fo:background-repeat"/>
    </xs:complexType>
  </xs:element>
  <!--
    <axf:spread-region>
    https://www.antennahouse.com/product/ahf65/ahf-spread.html#axf.spread-region
  -->
  <xs:element name="spread-region">
    <xs:annotation>
      <xs:documentation>Region in a two-page spread.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="fo:common-absolute-position-properties"/>
      <xs:attributeGroup ref="fo:common-border-padding-and-background-properties"/>
      <xs:attributeGroup ref="fo:common-margin-properties-block"/>
      <xs:attributeGroup ref="fo:height"/>
      <xs:attributeGroup ref="fo:region-name"/>
      <xs:attributeGroup ref="fo:reference-orientation"/>
      <xs:attributeGroup ref="fo:overflow"/>
      <xs:attributeGroup ref="fo:width"/>
      <xs:attributeGroup ref="fo:writing-mode"/>
    </xs:complexType>
  </xs:element>
  <!--
    <axf:tab>
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.tab
  -->
  <xs:element name="tab" substitutionGroup="fo:inline.fo.list">
    <xs:annotation>
      <xs:documentation>Places a white space up to a tab stop position</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="axf:axf_tab-align"/>
    </xs:complexType>
  </xs:element>
  <!--
    <axf:table-cell-repeated-marker>
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.table-cell-repeated-marker
  -->
  <xs:element name="table-cell-repeated-marker">
    <xs:annotation>
      <xs:documentation>Contents used when axf:repeat-cell-content-at-break="true"</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="fo:inline.fo.list"/>
        <xs:element ref="fo:block.fo.list"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <!--
    
    Antenna House extensions to patterns in included modules.
    
  -->
  <!--
    
    Extensions to FO models
    
  -->
  <!--
    
    Extensions to FO attlists
    
  -->
  <!-- FOs that are not descendants of fo:flow -->
  <!-- FOs in flow listed in alphabetic order -->
  <!--
    
    Extensions to property groups
    
  -->
  <!--
    
    Antenna House extension properties
    
  -->
  <!--
    List of annotation-related properties common to block-level and
    inline-level formatting objects
  -->
  <xs:attributeGroup name="axf.annotation.attlist">
    <xs:attributeGroup ref="axf:axf_annotation-author"/>
    <xs:attributeGroup ref="axf:axf_annotation-border-color"/>
    <xs:attributeGroup ref="axf:axf_annotation-border-style"/>
    <xs:attributeGroup ref="axf:axf_annotation-border-width"/>
    <xs:attributeGroup ref="axf:axf_annotation-color"/>
    <xs:attributeGroup ref="axf:axf_annotation-contents"/>
    <xs:attributeGroup ref="axf:axf_annotation-file-attachment"/>
    <xs:attributeGroup ref="axf:axf_annotation-flags"/>
    <xs:attributeGroup ref="axf:axf_annotation-font-family"/>
    <xs:attributeGroup ref="axf:axf_annotation-font-size"/>
    <xs:attributeGroup ref="axf:axf_annotation-font-style"/>
    <xs:attributeGroup ref="axf:axf_annotation-font-weight"/>
    <xs:attributeGroup ref="axf:axf_annotation-height"/>
    <xs:attributeGroup ref="axf:axf_annotation-icon-name"/>
    <xs:attributeGroup ref="axf:axf_annotation-open"/>
    <xs:attributeGroup ref="axf:axf_annotation-position-horizontal"/>
    <xs:attributeGroup ref="axf:axf_annotation-position-vertical"/>
    <xs:attributeGroup ref="axf:axf_annotation-text-align"/>
    <xs:attributeGroup ref="axf:axf_annotation-text-color"/>
    <xs:attributeGroup ref="axf:axf_annotation-title"/>
    <xs:attributeGroup ref="axf:axf_annotation-type"/>
    <xs:attributeGroup ref="axf:axf_annotation-width"/>
  </xs:attributeGroup>
  <!--
    List of baseline-grid-related extension properties
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#line-grid
  -->
  <xs:attributeGroup name="axf-baseline-grid-properties">
    <xs:attributeGroup ref="axf:axf_baseline-grid"/>
    <xs:attributeGroup ref="axf:axf_baseline-block-snap"/>
  </xs:attributeGroup>
  <!--
    List of outline-related extension properties
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#bookmark-and-link
  -->
  <xs:attributeGroup name="axf-outline-properties">
    <xs:attributeGroup ref="axf:axf_outline-expand"/>
    <xs:attributeGroup ref="axf:axf_outline-group"/>
    <xs:attributeGroup ref="axf:axf_outline-level"/>
    <xs:attributeGroup ref="axf:axf_outline-title"/>
    <xs:attributeGroup ref="axf:axf_outline-color"/>
    <xs:attributeGroup ref="axf:axf_outline-font-style"/>
    <xs:attributeGroup ref="axf:axf_outline-font-weight"/>
  </xs:attributeGroup>
  <!--
    List of extension properties to control page and column numbers.
    See https://www.antennahouse.com/product/ahf65/ahf-ext.html#page-number
  -->
  <xs:attributeGroup name="axf.page-number.attlist">
    <xs:attributeGroup ref="axf:axf_column-number-format"/>
    <xs:attributeGroup ref="axf:axf_number-type"/>
    <xs:attributeGroup ref="axf:axf_physical-page-number"/>
    <xs:attributeGroup ref="axf:axf_origin-id"/>
    <xs:attributeGroup ref="axf:axf_reverse-page-number"/>
    <xs:attributeGroup ref="axf:axf_suppress-folio-prefix"/>
    <xs:attributeGroup ref="axf:axf_suppress-folio-suffix"/>
  </xs:attributeGroup>
  <!--
    List of text decoration extension properties
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#text-decoration
  -->
  <xs:attributeGroup name="axf.text-decoration.attlist">
    <xs:attributeGroup ref="axf:axf_text-line-color"/>
    <xs:attributeGroup ref="axf:axf_text-line-style"/>
    <xs:attributeGroup ref="axf:axf_text-line-width"/>
    <xs:attributeGroup ref="axf:axf_text-underline-position"/>
  </xs:attributeGroup>
  <!--
    List of extension properties common to all block-level formatting
    objects
  -->
  <xs:attributeGroup name="axf.block.attlist">
    <xs:attributeGroup ref="axf:axf-baseline-grid-properties"/>
    <xs:attributeGroup ref="axf:axf-outline-properties"/>
    <xs:attributeGroup ref="axf:axf_text-overflow"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf.ruby.attlist">
    <xs:attributeGroup ref="axf:axf_ruby-align"/>
    <xs:attributeGroup ref="axf:axf_ruby-position"/>
    <xs:attributeGroup ref="axf:axf_ruby-offset"/>
    <xs:attributeGroup ref="axf:axf_ruby-overhang"/>
    <xs:attributeGroup ref="axf:axf_ruby-limit-overhang"/>
    <xs:attributeGroup ref="axf:axf_ruby-limit-space"/>
    <xs:attributeGroup ref="axf:axf_ruby-small-kana"/>
    <xs:attributeGroup ref="axf:axf_ruby-font-family"/>
    <xs:attributeGroup ref="axf:axf_ruby-font-size"/>
    <xs:attributeGroup ref="axf:axf_ruby-minimum-font-size"/>
    <xs:attributeGroup ref="axf:axf_ruby-font-style"/>
    <xs:attributeGroup ref="axf:axf_ruby-font-weight"/>
    <xs:attributeGroup ref="axf:axf_ruby-font-stretch"/>
    <xs:attributeGroup ref="axf:axf_ruby-condense"/>
    <xs:attributeGroup ref="axf:axf_ruby-color"/>
  </xs:attributeGroup>
  <!--
    @axf:background-color
    @axf:background-image
    @axf:background-position-horizontal
    @axf:background-position-vertical
    @axf:background-repeat
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#IDAAOLV
  -->
  <xs:attributeGroup name="axf_background-color">
    <xs:attribute name="background-color" form="qualified">
      <xs:annotation>
        <xs:documentation>&lt;color&gt; | transparent</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_background-image">
    <xs:attribute name="background-image" form="qualified">
      <xs:annotation>
        <xs:documentation>&lt;uri-specification&gt; | none</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_background-position-horizontal">
    <xs:attribute name="background-position-horizontal" form="qualified">
      <xs:annotation>
        <xs:documentation>&lt;percentage&gt; | &lt;length&gt; | left | center | right</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_background-position-vertical">
    <xs:attribute name="background-position-vertical" form="qualified">
      <xs:annotation>
        <xs:documentation>&lt;percentage&gt; | &lt;length&gt; | top | center | bottom</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_background-repeat">
    <xs:attribute name="background-repeat" form="qualified">
      <xs:annotation>
        <xs:documentation>repeat | repeat-x | repeat-y | no-repeat | paginate</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:action-type
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.action-type
  -->
  <xs:attributeGroup name="axf_action-type">
    <xs:attribute name="action-type" form="qualified">
      <xs:annotation>
        <xs:documentation>Specifies the action of external link or form action</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="gotor"/>
          <xs:enumeration value="launch"/>
          <xs:enumeration value="uri"/>
          <xs:enumeration value="reset"/>
          <xs:enumeration value="submit"/>
          <xs:enumeration value="auto"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:alt-text
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.alttext
  -->
  <xs:attributeGroup name="axf_alttext">
    <xs:attribute name="alttext" form="qualified">
      <xs:annotation>
        <xs:documentation>alternate text of the image</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:annotation-author
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-author
  -->
  <xs:attributeGroup name="axf_annotation-author">
    <xs:attribute name="annotation-author" form="qualified">
      <xs:annotation>
        <xs:documentation>Author of the annotation: &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:annotation-border-color
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-border-color
  -->
  <xs:attributeGroup name="axf_annotation-border-color">
    <xs:attribute name="annotation-border-color" form="qualified">
      <xs:annotation>
        <xs:documentation>Border color of the free text annotation: &lt;color&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:annotation-border-style
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-border-style
  -->
  <xs:attributeGroup name="axf_annotation-border-style">
    <xs:attribute name="annotation-border-style" form="qualified">
      <xs:annotation>
        <xs:documentation>Border style of the free text annotation: solid | dotted | dashed | dot-dash | dot-dot-dash</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="solid"/>
          <xs:enumeration value="dotted"/>
          <xs:enumeration value="dashed"/>
          <xs:enumeration value="dot-dash"/>
          <xs:enumeration value="dot-dot-dash"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:annotation-border-width
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-border-width
  -->
  <xs:attributeGroup name="axf_annotation-border-width">
    <xs:attribute name="annotation-border-width" form="qualified">
      <xs:annotation>
        <xs:documentation>Border width of the free text annotation: &lt;border-width&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:annotation-color
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-color
  -->
  <xs:attributeGroup name="axf_annotation-color">
    <xs:attribute name="annotation-color" form="qualified">
      <xs:annotation>
        <xs:documentation>Color used for the background of the annotation: &lt;color&gt; | none</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:annotation-contents
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-contents
  -->
  <xs:attributeGroup name="axf_annotation-contents">
    <xs:attribute name="annotation-contents" form="qualified">
      <xs:annotation>
        <xs:documentation>Content of the annotation: &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:annotation-file-attachment
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-file-attachment
  -->
  <xs:attributeGroup name="axf_annotation-file-attachment">
    <xs:attribute name="annotation-file-attachment" form="qualified" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>File with which file attachment annotation is related: &lt;uri-specification&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:annotation-flags
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-flags
  -->
  <xs:attributeGroup name="axf_annotation-flags">
    <xs:attribute name="annotation-flags" form="qualified">
      <xs:annotation>
        <xs:documentation>Characteristics of the annotation: Invisible | Hidden | Print | NoZoom | NoRotate | NoView | ReadOnly | Locked | ToggleNoView | LockedContents</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="Invisible"/>
          <xs:enumeration value="Hidden"/>
          <xs:enumeration value="Print"/>
          <xs:enumeration value="NoZoom"/>
          <xs:enumeration value="NoRotate"/>
          <xs:enumeration value="NoView"/>
          <xs:enumeration value="ReadOnly"/>
          <xs:enumeration value="Locked"/>
          <xs:enumeration value="ToggleNoView"/>
          <xs:enumeration value="LockedContents"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:annotation-font-family
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-font-family
  -->
  <xs:attributeGroup name="axf_annotation-font-family">
    <xs:attribute name="annotation-font-family" form="qualified">
      <xs:annotation>
        <xs:documentation>Font family of the free text annotation: &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:annotation-font-size
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-font-size
  -->
  <xs:attributeGroup name="axf_annotation-font-size">
    <xs:attribute name="annotation-font-size" form="qualified">
      <xs:annotation>
        <xs:documentation>Font size of the free text annotation: &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:annotation-font-style
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-font-style
  -->
  <xs:attributeGroup name="axf_annotation-font-style">
    <xs:attribute name="annotation-font-style" form="qualified">
      <xs:annotation>
        <xs:documentation>Font style of the free text annotation: &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:annotation-font-weight
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-font-weight
  -->
  <xs:attributeGroup name="axf_annotation-font-weight">
    <xs:attribute name="annotation-font-weight" form="qualified">
      <xs:annotation>
        <xs:documentation>Font weight of the free text annotation: &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:annotation-height
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-height
  -->
  <xs:attributeGroup name="axf_annotation-height">
    <xs:attribute name="annotation-height" form="qualified">
      <xs:annotation>
        <xs:documentation>Height of the annotation: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:annotation-icon-name
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-icon-name
  -->
  <xs:attributeGroup name="axf_annotation-icon-name">
    <xs:attribute name="annotation-icon-name" form="qualified">
      <xs:annotation>
        <xs:documentation>Name of the icon used for displaying the annotation: &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:annotation-open
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-open
  -->
  <xs:attributeGroup name="axf_annotation-open">
    <xs:attribute name="annotation-open" form="qualified">
      <xs:annotation>
        <xs:documentation>Initial state of the annotation: true | false</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:annotation-position-horizontal
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-position-horizontal
  -->
  <xs:attributeGroup name="axf_annotation-position-horizontal">
    <xs:attribute name="annotation-position-horizontal" form="qualified">
      <xs:annotation>
        <xs:documentation>Horizontal position of the annotation: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:annotation-position-vertical
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-position-vertical
  -->
  <xs:attributeGroup name="axf_annotation-position-vertical">
    <xs:attribute name="annotation-position-vertical" form="qualified">
      <xs:annotation>
        <xs:documentation>Vertical position of the annotation: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:annotation-text-align
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-text-align
  -->
  <xs:attributeGroup name="axf_annotation-text-align">
    <xs:attribute name="annotation-text-align" form="qualified">
      <xs:annotation>
        <xs:documentation>Alignment of the free text annotation: &lt;string&gt;</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:annotation-text-color
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-text-color
  -->
  <xs:attributeGroup name="axf_annotation-text-color">
    <xs:attribute name="annotation-text-color" form="qualified">
      <xs:annotation>
        <xs:documentation>Color of the free text annotation: &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:annotation-title
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-title
  -->
  <xs:attributeGroup name="axf_annotation-title">
    <xs:attribute name="annotation-title" form="qualified">
      <xs:annotation>
        <xs:documentation>Title of the annotation: &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:annotation-type
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-type
  -->
  <xs:attributeGroup name="axf_annotation-type">
    <xs:attribute name="annotation-type" form="qualified">
      <xs:annotation>
        <xs:documentation>Type of the annotation: Empty string | Text | FreeText | Stamp | FileAttachment</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="Text"/>
              <xs:enumeration value="FreeText"/>
              <xs:enumeration value="Stamp"/>
              <xs:enumeration value="FileAttachment"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:length value="0"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:annotation-width
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-width
  -->
  <xs:attributeGroup name="axf_annotation-width">
    <xs:attribute name="annotation-width" form="qualified">
      <xs:annotation>
        <xs:documentation>Width of the annotation: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:background-content-height
    @axf:background-content-type
    @axf:background-content-width
    @axf:background-scaling
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.background-content
  -->
  <xs:attributeGroup name="axf_background-content-height">
    <xs:attribute name="background-content-height" form="qualified">
      <xs:annotation>
        <xs:documentation>auto | scale-to-fit | scale-down-to-fit | scale-up-to-fit | &lt;length&gt; | &lt;percentage&gt; | inherit</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_background-content-type">
    <xs:attribute name="background-content-type" form="qualified">
      <xs:annotation>
        <xs:documentation>&lt;string&gt; | auto</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_background-content-width">
    <xs:attribute name="background-content-width" form="qualified">
      <xs:annotation>
        <xs:documentation>auto | scale-to-fit | scale-down-to-fit | scale-up-to-fit | &lt;length&gt; | &lt;percentage&gt; | inherit</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_background-scaling">
    <xs:attribute name="background-scaling" form="qualified">
      <xs:annotation>
        <xs:documentation>uniform | non-uniform | inherit</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="uniform"/>
          <xs:enumeration value="non-uniform"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:background-image-resolution
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.background-image-resolution
  -->
  <xs:attributeGroup name="axf_background-image-resolution">
    <xs:attribute name="background-image-resolution" form="qualified">
      <xs:annotation>
        <xs:documentation>Resolution of a background image: [ normal | [ from-image || &lt;dpi&gt; ] ]#</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:baseline-block-snap
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.baseline-block-snap
  -->
  <xs:attributeGroup name="axf_baseline-block-snap">
    <xs:attribute name="baseline-block-snap" form="qualified">
      <xs:annotation>
        <xs:documentation>How to align blocks on the baseline grid: none | [auto | before | after | center] || [border-box | margin-box]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:baseline-grid
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.baseline-grid
  -->
  <xs:attributeGroup name="axf_baseline-grid">
    <xs:attribute name="baseline-grid" form="qualified">
      <xs:annotation>
        <xs:documentation>Sets or clears the baseline grid: normal | none | root | new</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="root"/>
          <xs:enumeration value="new"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:border-radius
    @axf:border-top-left-radius
    @axf:border-top-right-radius
    @axf:border-bottom-left-radius
    @axf:border-bottom-right-radius
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.border-radius
  -->
  <xs:attributeGroup name="axf_border-radius">
    <xs:attribute name="border-radius" form="qualified">
      <xs:annotation>
        <xs:documentation>Radii of the rounded corners: [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_border-top-left-radius">
    <xs:attribute name="border-top-left-radius" form="qualified">
      <xs:annotation>
        <xs:documentation>Radii of the top-left corner: [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_border-top-right-radius">
    <xs:attribute name="border-top-right-radius" form="qualified">
      <xs:annotation>
        <xs:documentation>Radii of the top-right corner: [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_border-bottom-left-radius">
    <xs:attribute name="border-bottom-left-radius" form="qualified">
      <xs:annotation>
        <xs:documentation>Radii of the bottom-left corner: [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_border-bottom-right-radius">
    <xs:attribute name="border-bottom-right-radius" form="qualified">
      <xs:annotation>
        <xs:documentation>Radii of the bottom-right corner: [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:bleed
    @axf:bleed-top
    @axf:bleed-bottom
    @axf:bleed-left
    @axf:bleed-right
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.bleed
  -->
  <xs:attributeGroup name="axf_bleed">
    <xs:attribute name="bleed" form="qualified">
      <xs:annotation>
        <xs:documentation>Wdth of the bleed region: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_bleed-top">
    <xs:attribute name="bleed-top" form="qualified">
      <xs:annotation>
        <xs:documentation>Wdth of the top bleed region: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_bleed-bottom">
    <xs:attribute name="bleed-bottom" form="qualified">
      <xs:annotation>
        <xs:documentation>Wdth of the bottom bleed region: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_bleed-left">
    <xs:attribute name="bleed-left" form="qualified">
      <xs:annotation>
        <xs:documentation>Wdth of the left bleed region: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_bleed-right">
    <xs:attribute name="bleed-right" form="qualified">
      <xs:annotation>
        <xs:documentation>Wdth of the right bleed region: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:column-count
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-count
  -->
  <xs:attributeGroup name="axf_column-count">
    <xs:attribute name="column-count" form="qualified">
      <xs:annotation>
        <xs:documentation>The number of columns: &lt;number&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:column-fill
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-fill
  -->
  <xs:attributeGroup name="axf_column-fill">
    <xs:attribute name="column-fill" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to balance the column height: auto | balance</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="balance"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:column-gap
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-gap
  -->
  <xs:attributeGroup name="axf_column-gap">
    <xs:attribute name="column-gap" form="qualified">
      <xs:annotation>
        <xs:documentation>The gap between columns: &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:column-rule-align
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-rule-align
  -->
  <xs:attributeGroup name="axf_column-rule-align">
    <xs:attribute name="column-rule-align" form="qualified">
      <xs:annotation>
        <xs:documentation>Alignment of the column rule: before | center | after</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="before"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="after"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:column-rule-color
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-rule-color
  -->
  <xs:attributeGroup name="axf_column-rule-color">
    <xs:attribute name="column-rule-color" form="qualified">
      <xs:annotation>
        <xs:documentation>Color of the column rule: &lt;color&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:column-rule-display
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-rule-display
  -->
  <xs:attributeGroup name="axf_column-rule-display">
    <xs:attribute name="column-rule-display" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to also display a rule where a column could exist: gap | end | all</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="gap"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="all"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:column-rule-length
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-rule-length
  -->
  <xs:attributeGroup name="axf_column-rule-length">
    <xs:attribute name="column-rule-length" form="qualified">
      <xs:annotation>
        <xs:documentation>Length of the column rule: &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:column-rule-style
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-rule-style
  -->
  <xs:attributeGroup name="axf_column-rule-style">
    <xs:attribute name="column-rule-style" form="qualified">
      <xs:annotation>
        <xs:documentation>Style of the column rule: &lt;border-style&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:column-rule-width
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-rule-width
  -->
  <xs:attributeGroup name="axf_column-rule-width">
    <xs:attribute name="column-rule-width" form="qualified">
      <xs:annotation>
        <xs:documentation>Width of the column rule: &lt;border-width&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:crop-area-visibility
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.crop-area-visibility
  -->
  <xs:attributeGroup name="axf_crop-area-visibility">
    <xs:attribute name="crop-area-visibility" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to display the area beyond the finished page size</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="hidden"/>
          <xs:enumeration value="visible"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:crop-offset
    @axf:crop-offset-top
    @axf:crop-offset-bottom
    @axf:crop-offset-left
    @axf:crop-offset-right
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.crop-offset
  -->
  <xs:attributeGroup name="axf_crop-offset">
    <xs:attribute name="crop-offset" form="qualified">
      <xs:annotation>
        <xs:documentation>Distance from the physical edges to the trim size of the output medium: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_crop-offset-top">
    <xs:attribute name="crop-offset-top" form="qualified">
      <xs:annotation>
        <xs:documentation>Distance from the physical top edge to the trim size of the output medium: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_crop-offset-bottom">
    <xs:attribute name="crop-offset-bottom" form="qualified">
      <xs:annotation>
        <xs:documentation>Distance from the physical bottom edge to the trim size of the output medium: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_crop-offset-left">
    <xs:attribute name="crop-offset-left" form="qualified">
      <xs:annotation>
        <xs:documentation>Distance from the physical left edge to the trim size of the output medium: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_crop-offset-right">
    <xs:attribute name="crop-offset-right" form="qualified">
      <xs:annotation>
        <xs:documentation>Distance from the physical right edge to the trim size of the output medium: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:column-number-format
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-number-format
  -->
  <xs:attributeGroup name="axf_column-number-format">
    <xs:attribute name="column-number-format" form="qualified">
      <xs:annotation>
        <xs:documentation>Format of column number: &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:destination-type
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.destination-type
  -->
  <xs:attributeGroup name="axf_destination-type">
    <xs:attribute name="destination-type" form="qualified">
      <xs:annotation>
        <xs:documentation>The way a link opens in a link destination</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:diagonal-border-style
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.diagonal-border-style
  -->
  <xs:attributeGroup name="axf_diagonal-border-style">
    <xs:attribute name="diagonal-border-style" form="qualified">
      <xs:annotation>
        <xs:documentation>Style of the reverse diagonal border: &lt;border-style&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:field-submit-coordinates
    @field-submit-coordinates
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.field-submit-coordinates
  -->
  <xs:attributeGroup name="axf_field-submit-coordinates">
    <xs:attribute name="field-submit-coordinates" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to send out the coordinates of the mouse when submitting a form field: false | true</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="false"/>
          <xs:enumeration value="true"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="field-submit-coordinates">
      <xs:annotation>
        <xs:documentation>Whether to send out the coordinates of the mouse when submitting a form field: false | true</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="false"/>
          <xs:enumeration value="true"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:field-submit-method
    @field-submit-method
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.field-submit-method
  -->
  <xs:attributeGroup name="axf_field-submit-method">
    <xs:attribute name="field-submit-method" form="qualified">
      <xs:annotation>
        <xs:documentation>The way to send the information when submitting a form field: get | post</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="get"/>
          <xs:enumeration value="post"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="field-submit-method">
      <xs:annotation>
        <xs:documentation>The way to send the information when submitting a form field: get | post</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="get"/>
          <xs:enumeration value="post"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html
  -->
  <xs:attributeGroup name="axf_float">
    <xs:attribute name="float" form="qualified">
      <xs:annotation>
        <xs:documentation>Shorthand for float-related extension properties</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-x
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-x
  -->
  <xs:attributeGroup name="axf_float-x">
    <xs:attribute name="float-x" form="qualified">
      <xs:annotation>
        <xs:documentation>Horizontal (or vertical if writing-mode is vertical) float alignment: none | start | end | left | right | top | bottom | center | inside | outside | alternate</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="top"/>
          <xs:enumeration value="bottom"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
          <xs:enumeration value="alternate"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-y
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-y
  -->
  <xs:attributeGroup name="axf_float-y">
    <xs:attribute name="float-y" form="qualified">
      <xs:annotation>
        <xs:documentation>Vertical (or horizontal if writing-mode is vertical) float alignment:    none | before | after | top | bottom | left | right | center | inside | outside</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="before"/>
          <xs:enumeration value="after"/>
          <xs:enumeration value="top"/>
          <xs:enumeration value="bottom"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-reference
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-reference
  -->
  <xs:attributeGroup name="axf_float-reference">
    <xs:attribute name="float-reference" form="qualified">
      <xs:annotation>
        <xs:documentation>Reference area where the float is placed: auto | normal | page | column | multicol</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="normal"/>
          <xs:enumeration value="page"/>
          <xs:enumeration value="column"/>
          <xs:enumeration value="multicol"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-move
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-move
  -->
  <xs:attributeGroup name="axf_float-move">
    <xs:attribute name="float-move" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether the float moves to the next page (or column): auto | next | auto-next | auto-move | keep | keep-float</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="next"/>
          <xs:enumeration value="auto-next"/>
          <xs:enumeration value="auto-move"/>
          <xs:enumeration value="keep"/>
          <xs:enumeration value="keep-float"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-wrap
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-wrap
  -->
  <xs:attributeGroup name="axf_float-wrap">
    <xs:attribute name="float-wrap" form="qualified">
      <xs:annotation>
        <xs:documentation>Text wrapping: auto | wrap | skip</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="wrap"/>
          <xs:enumeration value="skip"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-min-wrap-x
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-min-wrap-x
  -->
  <xs:attributeGroup name="axf_float-min-wrap-x">
    <xs:attribute name="float-min-wrap-x" form="qualified">
      <xs:annotation>
        <xs:documentation>Minimum width for the text wrapping around the float: normal | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-min-wrap-y
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-min-wrap-y
  -->
  <xs:attributeGroup name="axf_float-min-wrap-y">
    <xs:attribute name="float-min-wrap-y" form="qualified">
      <xs:annotation>
        <xs:documentation>Minimum extent for the text placed before and after the float: normal | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-centering-x
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-centering-x
  -->
  <xs:attributeGroup name="axf_float-centering-x">
    <xs:attribute name="float-centering-x" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether the float is centered when the width for the text wrapping around the float is insufficient: none | auto | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-centering-y
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-centering-y
  -->
  <xs:attributeGroup name="axf_float-centering-y">
    <xs:attribute name="float-centering-y" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether the float is centered when the extent for the text placed before and after the float is insufficient: none | auto | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-margin-x
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-margin-x
  -->
  <xs:attributeGroup name="axf_float-margin-x">
    <xs:attribute name="float-margin-x" form="qualified">
      <xs:annotation>
        <xs:documentation>Space between the float and the text wrapping around the float (in x-axis): [ &lt;length&gt; | &lt;percentage&gt; ] [ &lt;length&gt; | &lt;percentage&gt; ]?</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-margin-y
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-margin-y
  -->
  <xs:attributeGroup name="axf_float-margin-y">
    <xs:attribute name="float-margin-y" form="qualified">
      <xs:annotation>
        <xs:documentation>Space between the float and the text wrapping around the float (in y-axis): [ &lt;length&gt; | &lt;percentage&gt; ] [ &lt;length&gt; | &lt;percentage&gt; ]?</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-float-margin-x
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-float-margin-x
  -->
  <xs:attributeGroup name="axf_float-float-margin-x">
    <xs:attribute name="float-float-margin-x" form="qualified">
      <xs:annotation>
        <xs:documentation>Space between the float and another neighboring float (in x-axis): auto | [[ &lt;length&gt; | &lt;percentage&gt; ] [ &lt;length&gt; | &lt;percentage&gt; ]?]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-float-margin-y
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-float-margin-y
  -->
  <xs:attributeGroup name="axf_float-float-margin-y">
    <xs:attribute name="float-float-margin-y" form="qualified">
      <xs:annotation>
        <xs:documentation>Space between the float and another neighboring float (in y-axis): auto | [[ &lt;length&gt; | &lt;percentage&gt; ] [ &lt;length&gt; | &lt;percentage&gt; ]?]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-offset-x
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-offset-x
  -->
  <xs:attributeGroup name="axf_float-offset-x">
    <xs:attribute name="float-offset-x" form="qualified">
      <xs:annotation>
        <xs:documentation>Offset placement for the float (in x-axis): &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-offset-y
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-offset-y
  -->
  <xs:attributeGroup name="axf_float-offset-y">
    <xs:attribute name="float-offset-y" form="qualified">
      <xs:annotation>
        <xs:documentation>Offset placement for the float (in y-axis): &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:footnote-align
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.footnote-align
  -->
  <xs:attributeGroup name="axf_footnote-align">
    <xs:attribute name="footnote-align" form="qualified">
      <xs:annotation>
        <xs:documentation>Specifies the alignment of the footnotes.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="before"/>
          <xs:enumeration value="after"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:footnote-stacking
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.footnote-stacking
  -->
  <xs:attributeGroup name="axf_footnote-stacking">
    <xs:attribute name="footnote-stacking" form="qualified">
      <xs:annotation>
        <xs:documentation>Method to layout the footnote.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="block"/>
          <xs:enumeration value="inline"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:footnote-position
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.footnote-position
  -->
  <xs:attributeGroup name="axf_footnote-position">
    <xs:attribute name="footnote-position" form="qualified">
      <xs:annotation>
        <xs:documentation>Location to layout the footnote.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="page"/>
          <xs:enumeration value="odd-page"/>
          <xs:enumeration value="even-page"/>
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
          <xs:enumeration value="column"/>
          <xs:enumeration value="start-column"/>
          <xs:enumeration value="end-column"/>
          <xs:enumeration value="inside-column"/>
          <xs:enumeration value="outside-column"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:footnote-keep
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.footnote-keep
  -->
  <xs:attributeGroup name="axf_footnote-keep">
    <xs:attribute name="footnote-keep" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to arrange a footnote and an anchor in the same page</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="always"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:footnote-max-height
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.footnote-max-height
  -->
  <xs:attributeGroup name="axf_footnote-max-height">
    <xs:attribute name="footnote-max-height" form="qualified">
      <xs:annotation>
        <xs:documentation>Maximum height of footnote: auto | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:headers
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.headers
  -->
  <xs:attributeGroup name="axf_headers">
    <xs:attribute name="headers" form="qualified" type="xs:IDREFS">
      <xs:annotation>
        <xs:documentation>Table header cells associated with this cell: &lt;idrefs&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:indent-here
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.indent-here
  -->
  <xs:attributeGroup name="axf_indent-here">
    <xs:attribute name="indent-here" form="qualified">
      <xs:annotation>
        <xs:documentation>Aligns the indent position to the region position when a line break occurs: none | &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:layer-settings
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.layer-settings
  -->
  <xs:attributeGroup name="axf_layer-settings">
    <xs:attribute name="layer-settings" form="qualified">
      <xs:annotation>
        <xs:documentation>Layer definitions: none | &lt;layer-setting&gt;#</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:number-type
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.number-type
  -->
  <xs:attributeGroup name="axf_number-type">
    <xs:attribute name="number-type" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to output the page number, column number, or both: page | column | page-and-column</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="page"/>
          <xs:enumeration value="column"/>
          <xs:enumeration value="page-and-column"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:outline-expand
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.outline-expand
  -->
  <xs:attributeGroup name="axf_outline-expand">
    <xs:attribute name="outline-expand" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to display the lower hierarchy of bookmark items or not: true | false</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:origin-id
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.origin-id
  -->
  <xs:attributeGroup name="axf_origin-id">
    <xs:attribute name="origin-id" form="qualified" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation>Origin of the page number: &lt;idref&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:outline-group
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.outline-group
  -->
  <xs:attributeGroup name="axf_outline-group">
    <xs:attribute name="outline-group" form="qualified">
      <xs:annotation>
        <xs:documentation>Name of the output group: &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:outline-level
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.outline-level
  -->
  <xs:attributeGroup name="axf_outline-level">
    <xs:attribute name="outline-level" form="qualified">
      <xs:annotation>
        <xs:documentation>The hierarchy level of bookmark items: &lt;number&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:outline-title
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.outline-title
  -->
  <xs:attributeGroup name="axf_outline-title">
    <xs:attribute name="outline-title" form="qualified">
      <xs:annotation>
        <xs:documentation>String which appears as a title of bookmark: &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:outline-color
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.outline-color
  -->
  <xs:attributeGroup name="axf_outline-color">
    <xs:attribute name="outline-color" form="qualified">
      <xs:annotation>
        <xs:documentation>Color which appears as a title of bookmark</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:outline-font-style
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf_outline-font-style
  -->
  <xs:attributeGroup name="axf_outline-font-style">
    <xs:attribute name="outline-font-style" form="qualified">
      <xs:annotation>
        <xs:documentation>Font style which appears as a title of bookmark: normal | italic</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="italic"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:outline-font-weight
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf:outline-font-weight
  -->
  <xs:attributeGroup name="axf_outline-font-weight">
    <xs:attribute name="outline-font-weight" form="qualified">
      <xs:annotation>
        <xs:documentation>Font weight which appears as a title of bookmark: normal | bold</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="bold"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:output-volume-break
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.output-volume-break
  -->
  <xs:attributeGroup name="axf_output-volume-break">
    <xs:attribute name="output-volume-break" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether this fo:page-sequence starts a new volume: true | false</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:output-volume-filename
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.output-volume-filename
  -->
  <xs:attributeGroup name="axf_output-volume-filename">
    <xs:attribute name="output-volume-filename" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether this fo:page-sequence starts a new volume</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:page-number-prefix
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.page-number-prefix
  -->
  <xs:attributeGroup name="axf_page-number-prefix">
    <xs:attribute name="page-number-prefix" form="qualified">
      <xs:annotation>
        <xs:documentation>Sets the prefix of page number. CAUTION: A similar function is provided in XSL1.1. Please use fo:folio-prefix.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:pdftag
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.pdftag
  -->
  <xs:attributeGroup name="axf_pdftag">
    <xs:attribute name="pdftag" form="qualified">
      <xs:annotation>
        <xs:documentation>Tag name of Tagged PDF</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:physical-page-number
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.physical-page-number
  -->
  <xs:attributeGroup name="axf_physical-page-number">
    <xs:attribute name="physical-page-number" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to generate physical page number: true | false</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:printer-marks
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-marks
  -->
  <xs:attributeGroup name="axf_printer-marks">
    <xs:attribute name="printer-marks" form="qualified">
      <xs:annotation>
        <xs:documentation>Printing marks, such as a crop mark</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:printer-bin-selection
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-bin-selection
  -->
  <xs:attributeGroup name="axf_printer-bin-selection">
    <xs:attribute name="printer-bin-selection" form="qualified">
      <xs:annotation>
        <xs:documentation>Selects the printer tray: &lt;string&gt; | &lt;integer&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:printer-duplex
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-duplex
  -->
  <xs:attributeGroup name="axf_printer-duplex">
    <xs:attribute name="printer-duplex" form="qualified">
      <xs:annotation>
        <xs:documentation>Selects printing in duplex mode: &lt;integer&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:printer-marks-line-color
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-marks-line-color
  -->
  <xs:attributeGroup name="axf_printer-marks-line-color">
    <xs:attribute name="printer-marks-line-color" form="qualified">
      <xs:annotation>
        <xs:documentation>Line color of printer marks: &lt;line&gt; | auto</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:printer-marks-line-length
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-marks-line-length
  -->
  <xs:attributeGroup name="axf_printer-marks-line-length">
    <xs:attribute name="printer-marks-line-length" form="qualified">
      <xs:annotation>
        <xs:documentation>Line length of printer marks: &lt;length&gt; | auto</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:printer-marks-line-width
    Line width of printer marks: <length> | auto
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-marks-line-width
  -->
  <xs:attributeGroup name="axf_printer-marks-line-width">
    <xs:attribute name="printer-marks-line-width" form="qualified">
      <xs:annotation>
        <xs:documentation>Line width of printer marks</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:printer-marks-zero-margin
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-marks-zero-margin
  -->
  <xs:attributeGroup name="axf_printer-marks-zero-margin">
    <xs:attribute name="printer-marks-zero-margin" form="qualified">
      <xs:annotation>
        <xs:documentation>Margin between the page and the printer marks when bleed is 0: &lt;length&gt; | auto</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:printer-marks-spine-width
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-marks-spine-width
  -->
  <xs:attributeGroup name="axf_printer-marks-spine-width">
    <xs:attribute name="printer-marks-spine-width" form="qualified">
      <xs:annotation>
        <xs:documentation>Spine width of the facing page: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:repeat-cell-content-at-break
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.repeat-cell-content-at-break
  -->
  <xs:attributeGroup name="axf_repeat-cell-content-at-break">
    <xs:attribute name="repeat-cell-content-at-break" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to copy the contents of a cell when a cell breaks: true | false</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:reverse-diagonal-border-style
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.reverse-diagonal-border-style
  -->
  <xs:attributeGroup name="axf_reverse-diagonal-border-style">
    <xs:attribute name="reverse-diagonal-border-style" form="qualified">
      <xs:annotation>
        <xs:documentation>Style of the reverse diagonal border: &lt;border-style&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:reverse-page-number
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.reverse-page-number
  -->
  <xs:attributeGroup name="axf_reverse-page-number">
    <xs:attribute name="reverse-page-number" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to generate pages in reverse order: true | false</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:scope
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.scope
  -->
  <xs:attributeGroup name="axf_scope">
    <xs:attribute name="scope" form="qualified">
      <xs:annotation>
        <xs:documentation>Range of cells with which this table header cell is associated: auto | row | col | rowgroup | colgroup | both</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="row"/>
          <xs:enumeration value="col"/>
          <xs:enumeration value="rowgroup"/>
          <xs:enumeration value="colgroup"/>
          <xs:enumeration value="both"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:suppress-folio-prefix
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.suppress-folio-prefix
  -->
  <xs:attributeGroup name="axf_suppress-folio-prefix">
    <xs:attribute name="suppress-folio-prefix" form="qualified">
      <xs:annotation>
        <xs:documentation>Suppresses rendering of the page number prefix: true | false</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:suppress-folio-suffix
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.suppress-folio-suffix
  -->
  <xs:attributeGroup name="axf_suppress-folio-suffix">
    <xs:attribute name="suppress-folio-suffix" form="qualified">
      <xs:annotation>
        <xs:documentation>Suppresses rendering of the page number suffix: true | false</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:suppress-if-first-on-page
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.suppress-if-first-on-page
  -->
  <xs:attributeGroup name="axf_suppress-if-first-on-page">
    <xs:attribute name="suppress-if-first-on-page" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to suppress the block at the beginning of a page: true | false</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:tab-align
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.tab-align
  -->
  <xs:attributeGroup name="axf_tab-align">
    <xs:attribute name="tab-align" form="qualified">
      <xs:annotation>
        <xs:documentation>Tab alignment at the tab stop position</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:table-summary
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.table-summary
  -->
  <xs:attributeGroup name="axf_table-summary">
    <xs:attribute name="table-summary" form="qualified">
      <xs:annotation>
        <xs:documentation>Summary describing the table.  Included in Tagged PDF output.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:text-line-color
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.text-line-color
  -->
  <xs:attributeGroup name="axf_text-line-color">
    <xs:attribute name="text-line-color" form="qualified">
      <xs:annotation>
        <xs:documentation>Color of underline, strike-through, and overline: auto | &lt;color&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:text-line-style
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.text-line-style
  -->
  <xs:attributeGroup name="axf_text-line-style">
    <xs:attribute name="text-line-style" form="qualified">
      <xs:annotation>
        <xs:documentation>Style of underline, strike-through, and overline: &lt;border-style&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:text-line-width
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.text-line-width
  -->
  <xs:attributeGroup name="axf_text-line-width">
    <xs:attribute name="text-line-width" form="qualified">
      <xs:annotation>
        <xs:documentation>Width of underline, strike-through, and overline: auto | &lt;border-width&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:text-underline-position
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.text-underline-position
  -->
  <xs:attributeGroup name="axf_text-underline-position">
    <xs:attribute name="text-underline-position" form="qualified">
      <xs:annotation>
        <xs:documentation>Position of underline: auto | [ [ before-edge | alphabetic | after-edge ] || [ &lt;percentage&gt; | &lt;length&gt; ] ]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:text-overflow
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.text-overflow
  -->
  <xs:attributeGroup name="axf_text-overflow">
    <xs:attribute name="text-overflow" form="qualified">
      <xs:annotation>
        <xs:documentation>What to display when text overflows in the inline progression direction: clip | ellipsis | &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @xml:id
    
    https://www.w3.org/TR/xml-id/
  -->
  <xs:attributeGroup name="xml_id">
    <xs:attribute ref="xml:id"/>
  </xs:attributeGroup>
</xs:schema>
