schema/xsd/axf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Antenna House extension elements and non-inherited extension
  attributes.
  
  Copyright 2015 Antenna House, Inc.
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.antennahouse.com/names/XSL/Extensions" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:axf="http://www.antennahouse.com/names/XSL/Extensions">
  <xs:include schemaLocation="axf-inherited.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/XSL/Format" schemaLocation="fo.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!--
    
    Overrides to patterns in 'fo-inherited.rnc' (and patterns in
    modules that it includes).
    
  -->
  <!-- http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#fo.change-bar-begin -->
  <xs:complexType name="fo_change-bar-begin.model">
    <xs:sequence>
      <xs:element minOccurs="0" ref="fo:float"/>
    </xs:sequence>
  </xs:complexType>
  <!-- http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.document-info -->
  <xs:complexType name="fo_root.model">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="axf:document-info"/>
      <xs:element ref="fo:layout-master-set"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="axf:document-info"/>
      <xs:element minOccurs="0" ref="fo:declarations"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="axf:document-info"/>
      <xs:element minOccurs="0" ref="fo:bookmark-tree"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="axf:document-info"/>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="fo:page-sequence"/>
        <xs:element ref="fo:page-sequence-wrapper"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <!-- AH Formatter allows fo:region-* in any order. -->
  <xs:complexType name="fo_simple-page-master.model">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="fo:region-body"/>
      <xs:element ref="fo:region-before"/>
      <xs:element ref="fo:region-after"/>
      <xs:element ref="fo:region-start"/>
      <xs:element ref="fo:region-end"/>
    </xs:choice>
  </xs:complexType>
  <!-- AH Formatter allows empty fo:static-content. -->
  <xs:complexType name="fo_static-content.model">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:choice>
        <xs:element ref="fo:block.fo.list"/>
        <xs:group ref="fo:neutral.fo.list"/>
      </xs:choice>
      <xs:element ref="fo:point.fo.list"/>
    </xs:choice>
  </xs:complexType>
  <!-- AH Formatter allows fo:block-container to omit block FOs. -->
  <xs:complexType name="fo_block-container.model">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="fo:marker"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="fo:block.fo.list"/>
          <xs:group ref="fo:neutral.fo.list"/>
        </xs:choice>
        <xs:element ref="fo:point.fo.list"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <!-- AH Formatter allows fo:inline-container to omit block FOs. -->
  <xs:complexType name="fo_inline-container.model">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="fo:marker"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="fo:block.fo.list"/>
          <xs:group ref="fo:neutral.fo.list"/>
        </xs:choice>
        <xs:element ref="fo:point.fo.list"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <!-- AH Formatter allows empty fo:list-item. -->
  <xs:complexType name="fo_list-item.model">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="fo:marker"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="fo:list-item-label"/>
          <xs:element ref="fo:list-item-body"/>
        </xs:choice>
        <xs:element ref="fo:point.fo.list"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <!-- AH Formatter allows fo:list-item-label omit block FOs. -->
  <xs:complexType name="fo_list-item-label.model">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="fo:marker"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="fo:block.fo.list"/>
          <xs:group ref="fo:neutral.fo.list"/>
        </xs:choice>
        <xs:element ref="fo:point.fo.list"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <!--
    AH Formatter allows fo:table-cell to omit block FOs.
    axf:table-cell-repeated-marker used when cell repeats.
  -->
  <xs:complexType name="fo_table-cell.model">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="fo:marker"/>
      <xs:element minOccurs="0" ref="axf:table-cell-repeated-marker"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="fo:block.fo.list"/>
          <xs:group ref="fo:neutral.fo.list"/>
        </xs:choice>
        <xs:element ref="fo:point.fo.list"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <!--
    For fo:instream-foreign-object
    Exclude axf:* elements and attributes from counting as 'non-xsl'.
  -->
  <xs:group name="non-xsl">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="non-xsl">
    <xs:anyAttribute processContents="skip"/>
  </xs:attributeGroup>
  <!--
    
    End of overrides to patterns in 'axf-inherited.rnc'.
    
  -->
  <!--
    
    Antenna House extension elements
    
  -->
  <!--
    <axf:document-info/>
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.document-info
  -->
  <xs:element name="document-info">
    <xs:annotation>
      <xs:documentation>Document information such as an author and title that can be embedded in the PDF</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="name" use="required">
        <xs:annotation>
          <xs:documentation>Name of the document information</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="document-title"/>
            <xs:enumeration value="title"/>
            <xs:enumeration value="subject"/>
            <xs:enumeration value="author"/>
            <xs:enumeration value="author-title"/>
            <xs:enumeration value="description-writer"/>
            <xs:enumeration value="keywords"/>
            <xs:enumeration value="copyright-status"/>
            <xs:enumeration value="copyright-notice"/>
            <xs:enumeration value="copyright-info-url"/>
            <xs:enumeration value="xmp"/>
            <xs:enumeration value="pagemode"/>
            <xs:enumeration value="pagelayout"/>
            <xs:enumeration value="hidetoolbar"/>
            <xs:enumeration value="hidemenubar"/>
            <xs:enumeration value="hidewindowui"/>
            <xs:enumeration value="fitwindow"/>
            <xs:enumeration value="centerwindow"/>
            <xs:enumeration value="displaydoctitle"/>
            <xs:enumeration value="openaction"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" use="required">
        <xs:annotation>
          <xs:documentation>Value of the document information.  Some information has constraints on the allowed values.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <!--
    <axf:footnote-number/>
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.footnote-number
  -->
  <xs:element name="footnote-number" substitutionGroup="fo:inline.fo.list">
    <xs:annotation>
      <xs:documentation>Generates a footnote number</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="fo:id"/>
    </xs:complexType>
  </xs:element>
  <!--
    <axf:footnote-number-citation/>
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.footnote-number-citation
  -->
  <xs:element name="footnote-number-citation" substitutionGroup="fo:inline.fo.list">
    <xs:annotation>
      <xs:documentation>Cites a footnote number</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="ref-id" use="required"/>
    </xs:complexType>
  </xs:element>
  <!--
    <axf:table-cell-repeated-marker>
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.table-cell-repeated-marker
  -->
  <xs:element name="table-cell-repeated-marker">
    <xs:annotation>
      <xs:documentation>Contents used when axf:repeat-cell-content-at-break="true"</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="fo:inline.fo.list"/>
        <xs:element ref="fo:block.fo.list"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <!--
    
    Antenna House extensions to patterns in included modules.
    
  -->
  <!--
    
    Extensions to FO models
    
  -->
  <!--
    
    Extensions to FO attlists
    
  -->
  <!--
    
    Extensions to property groups
    
  -->
  <!--
    
    Antenna House extension properties
    
  -->
  <!--
    List of extension properties common to all block-level formatting
    objects
  -->
  <xs:attributeGroup name="axf.block.attlist">
    <xs:attributeGroup ref="axf:axf_outline-expand"/>
    <xs:attributeGroup ref="axf:axf_outline-group"/>
    <xs:attributeGroup ref="axf:axf_outline-level"/>
    <xs:attributeGroup ref="axf:axf_outline-title"/>
    <xs:attributeGroup ref="axf:axf_outline-color"/>
    <xs:attributeGroup ref="axf:axf_outline-font-style"/>
    <xs:attributeGroup ref="axf:axf_outline-font-weight"/>
  </xs:attributeGroup>
  <!--
    @axf:background-color
    @axf:background-image
    @axf:background-position-horizontal
    @axf:background-position-vertical
    @axf:background-repeat
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#IDAAOLV
  -->
  <xs:attributeGroup name="axf_background-color">
    <xs:attribute name="background-color" form="qualified">
      <xs:annotation>
        <xs:documentation>&lt;color&gt; | transparent</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_background-image">
    <xs:attribute name="background-image" form="qualified">
      <xs:annotation>
        <xs:documentation>&lt;uri-specification&gt; | none</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_background-position-horizontal">
    <xs:attribute name="background-position-horizontal" form="qualified">
      <xs:annotation>
        <xs:documentation>&lt;percentage&gt; | &lt;length&gt; | left | center | right</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_background-position-vertical">
    <xs:attribute name="background-position-vertical" form="qualified">
      <xs:annotation>
        <xs:documentation>&lt;percentage&gt; | &lt;length&gt; | top | center | bottom</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_background-repeat">
    <xs:attribute name="background-repeat" form="qualified">
      <xs:annotation>
        <xs:documentation>repeat | repeat-x | repeat-y | no-repeat | paginate</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:action-type
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.action-type
  -->
  <xs:attributeGroup name="axf_action-type">
    <xs:attribute name="action-type" form="qualified">
      <xs:annotation>
        <xs:documentation>Specifies the action of external link or form action</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="gotor"/>
          <xs:enumeration value="launch"/>
          <xs:enumeration value="uri"/>
          <xs:enumeration value="reset"/>
          <xs:enumeration value="submit"/>
          <xs:enumeration value="auto"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:alt-text
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.alttext
  -->
  <xs:attributeGroup name="axf_alttext">
    <xs:attribute name="alttext" form="qualified">
      <xs:annotation>
        <xs:documentation>alternate text of the image</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:background-content-height
    @axf:background-content-type
    @axf:background-content-width
    @axf:background-scaling
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.background-content
  -->
  <xs:attributeGroup name="axf_background-content-height">
    <xs:attribute name="background-content-height" form="qualified">
      <xs:annotation>
        <xs:documentation>auto | scale-to-fit | scale-down-to-fit | scale-up-to-fit | &lt;length&gt; | &lt;percentage&gt; | inherit</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_background-content-type">
    <xs:attribute name="background-content-type" form="qualified">
      <xs:annotation>
        <xs:documentation>&lt;string&gt; | auto</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_background-content-width">
    <xs:attribute name="background-content-width" form="qualified">
      <xs:annotation>
        <xs:documentation>auto | scale-to-fit | scale-down-to-fit | scale-up-to-fit | &lt;length&gt; | &lt;percentage&gt; | inherit</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_background-scaling">
    <xs:attribute name="background-scaling" form="qualified">
      <xs:annotation>
        <xs:documentation>uniform | non-uniform | inherit</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="uniform"/>
          <xs:enumeration value="non-uniform"/>
          <xs:enumeration value="inherit"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:border-radius
    @axf:border-top-left-radius
    @axf:border-top-right-radius
    @axf:border-bottom-left-radius
    @axf:border-bottom-right-radius
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.border-radius
  -->
  <xs:attributeGroup name="axf_border-radius">
    <xs:attribute name="border-radius" form="qualified">
      <xs:annotation>
        <xs:documentation>Radii of the rounded corners: [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_border-top-left-radius">
    <xs:attribute name="border-top-left-radius" form="qualified">
      <xs:annotation>
        <xs:documentation>Radii of the top-left corner: [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_border-top-right-radius">
    <xs:attribute name="border-top-right-radius" form="qualified">
      <xs:annotation>
        <xs:documentation>Radii of the top-right corner: [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_border-bottom-left-radius">
    <xs:attribute name="border-bottom-left-radius" form="qualified">
      <xs:annotation>
        <xs:documentation>Radii of the bottom-left corner: [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_border-bottom-right-radius">
    <xs:attribute name="border-bottom-right-radius" form="qualified">
      <xs:annotation>
        <xs:documentation>Radii of the bottom-right corner: [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:bleed
    @axf:bleed-top
    @axf:bleed-bottom
    @axf:bleed-left
    @axf:bleed-right
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.bleed
  -->
  <xs:attributeGroup name="axf_bleed">
    <xs:attribute name="bleed" form="qualified">
      <xs:annotation>
        <xs:documentation>Wdth of the bleed region: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_bleed-top">
    <xs:attribute name="bleed-top" form="qualified">
      <xs:annotation>
        <xs:documentation>Wdth of the top bleed region: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_bleed-bottom">
    <xs:attribute name="bleed-bottom" form="qualified">
      <xs:annotation>
        <xs:documentation>Wdth of the bottom bleed region: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_bleed-left">
    <xs:attribute name="bleed-left" form="qualified">
      <xs:annotation>
        <xs:documentation>Wdth of the left bleed region: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_bleed-right">
    <xs:attribute name="bleed-right" form="qualified">
      <xs:annotation>
        <xs:documentation>Wdth of the right bleed region: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:column-count
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.column-count
  -->
  <xs:attributeGroup name="axf_column-count">
    <xs:attribute name="column-count" form="qualified">
      <xs:annotation>
        <xs:documentation>The number of columns: &lt;number&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:column-gap
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.column-gap
  -->
  <xs:attributeGroup name="axf_column-gap">
    <xs:attribute name="column-gap" form="qualified">
      <xs:annotation>
        <xs:documentation>The gap between columns: &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:crop-area-visibility
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.crop-area-visibility
  -->
  <xs:attributeGroup name="axf_crop-area-visibility">
    <xs:attribute name="crop-area-visibility" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to display the area beyond the finished page size</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="hidden"/>
          <xs:enumeration value="visible"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:crop-offset
    @axf:crop-offset-top
    @axf:crop-offset-bottom
    @axf:crop-offset-left
    @axf:crop-offset-right
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.crop-offset
  -->
  <xs:attributeGroup name="axf_crop-offset">
    <xs:attribute name="crop-offset" form="qualified">
      <xs:annotation>
        <xs:documentation>Distance from the physical edges to the trim size of the output medium: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_crop-offset-top">
    <xs:attribute name="crop-offset-top" form="qualified">
      <xs:annotation>
        <xs:documentation>Distance from the physical top edge to the trim size of the output medium: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_crop-offset-bottom">
    <xs:attribute name="crop-offset-bottom" form="qualified">
      <xs:annotation>
        <xs:documentation>Distance from the physical bottom edge to the trim size of the output medium: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_crop-offset-left">
    <xs:attribute name="crop-offset-left" form="qualified">
      <xs:annotation>
        <xs:documentation>Distance from the physical left edge to the trim size of the output medium: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_crop-offset-right">
    <xs:attribute name="crop-offset-right" form="qualified">
      <xs:annotation>
        <xs:documentation>Distance from the physical right edge to the trim size of the output medium: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:destination-type
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.destination-type
  -->
  <xs:attributeGroup name="axf_destination-type">
    <xs:attribute name="destination-type" form="qualified">
      <xs:annotation>
        <xs:documentation>The way a link opens in a link destination</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-float.html
  -->
  <xs:attributeGroup name="axf_float">
    <xs:attribute name="float" form="qualified">
      <xs:annotation>
        <xs:documentation>Shorthand for float-related extension properties</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="before"/>
          <xs:enumeration value="after"/>
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="top"/>
          <xs:enumeration value="bottom"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
          <xs:enumeration value="wrap"/>
          <xs:enumeration value="skip"/>
          <xs:enumeration value="auto"/>
          <xs:enumeration value="normal"/>
          <xs:enumeration value="page"/>
          <xs:enumeration value="column"/>
          <xs:enumeration value="multicol"/>
          <xs:enumeration value="next"/>
          <xs:enumeration value="auto-next"/>
          <xs:enumeration value="auto-move"/>
          <xs:enumeration value="keep"/>
          <xs:enumeration value="keep-float"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-x
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-x
  -->
  <xs:attributeGroup name="axf_float-x">
    <xs:attribute name="float-x" form="qualified">
      <xs:annotation>
        <xs:documentation>Horizontal (or vertical if writing-mode is vertical) float alignment: none | start | end | left | right | top | bottom | center | inside | outside</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="top"/>
          <xs:enumeration value="bottom"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-y
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-y
  -->
  <xs:attributeGroup name="axf_float-y">
    <xs:attribute name="float-y" form="qualified">
      <xs:annotation>
        <xs:documentation>Vertical (or horizontal if writing-mode is vertical) float alignment:    none | before | after | top | bottom | left | right | center | inside | outside</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="before"/>
          <xs:enumeration value="after"/>
          <xs:enumeration value="top"/>
          <xs:enumeration value="bottom"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-reference
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-reference
  -->
  <xs:attributeGroup name="axf_float-reference">
    <xs:attribute name="float-reference" form="qualified">
      <xs:annotation>
        <xs:documentation>Reference area where the float is placed: auto | normal | page | column | multicol</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="normal"/>
          <xs:enumeration value="page"/>
          <xs:enumeration value="column"/>
          <xs:enumeration value="multicol"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-move
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-move
  -->
  <xs:attributeGroup name="axf_float-move">
    <xs:attribute name="float-move" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether the float moves to the next page (or column): auto | next | auto-next | auto-move | keep | keep-float</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="next"/>
          <xs:enumeration value="auto-next"/>
          <xs:enumeration value="auto-move"/>
          <xs:enumeration value="keep"/>
          <xs:enumeration value="keep-float"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-wrap
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-wrap
  -->
  <xs:attributeGroup name="axf_float-wrap">
    <xs:attribute name="float-wrap" form="qualified">
      <xs:annotation>
        <xs:documentation>Text wrapping: auto | wrap | skip</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="wrap"/>
          <xs:enumeration value="skip"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-min-wrap-x
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-min-wrap-x
  -->
  <xs:attributeGroup name="axf_float-min-wrap-x">
    <xs:attribute name="float-min-wrap-x" form="qualified">
      <xs:annotation>
        <xs:documentation>Minimum width for the text wrapping around the float: normal | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-min-wrap-y
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-min-wrap-y
  -->
  <xs:attributeGroup name="axf_float-min-wrap-y">
    <xs:attribute name="float-min-wrap-y" form="qualified">
      <xs:annotation>
        <xs:documentation>Minimum extent for the text placed before and after the float: normal | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-centering-x
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-centering-x
  -->
  <xs:attributeGroup name="axf_float-centering-x">
    <xs:attribute name="float-centering-x" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether the float is centered when the width for the text wrapping around the float is insufficient: none | auto | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-centering-y
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-centering-y
  -->
  <xs:attributeGroup name="axf_float-centering-y">
    <xs:attribute name="float-centering-y" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether the float is centered when the extent for the text placed before and after the float is insufficient: none | auto | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-margin-x
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-margin-x
  -->
  <xs:attributeGroup name="axf_float-margin-x">
    <xs:attribute name="float-margin-x" form="qualified">
      <xs:annotation>
        <xs:documentation>Space between the float and the text wrapping around the float (in x-axis): [ &lt;length&gt; | &lt;percentage&gt; ] [ &lt;length&gt; | &lt;percentage&gt; ]?</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-margin-y
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-margin-y
  -->
  <xs:attributeGroup name="axf_float-margin-y">
    <xs:attribute name="float-margin-y" form="qualified">
      <xs:annotation>
        <xs:documentation>Space between the float and the text wrapping around the float (in y-axis): [ &lt;length&gt; | &lt;percentage&gt; ] [ &lt;length&gt; | &lt;percentage&gt; ]?</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-float-margin-x
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-float-margin-x
  -->
  <xs:attributeGroup name="axf_float-float-margin-x">
    <xs:attribute name="float-float-margin-x" form="qualified">
      <xs:annotation>
        <xs:documentation>Space between the float and another neighboring float (in x-axis): auto | [[ &lt;length&gt; | &lt;percentage&gt; ] [ &lt;length&gt; | &lt;percentage&gt; ]?]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-float-margin-y
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-float-margin-y
  -->
  <xs:attributeGroup name="axf_float-float-margin-y">
    <xs:attribute name="float-float-margin-y" form="qualified">
      <xs:annotation>
        <xs:documentation>Space between the float and another neighboring float (in y-axis): auto | [[ &lt;length&gt; | &lt;percentage&gt; ] [ &lt;length&gt; | &lt;percentage&gt; ]?]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-offset-x
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-offset-x
  -->
  <xs:attributeGroup name="axf_float-offset-x">
    <xs:attribute name="float-offset-x" form="qualified">
      <xs:annotation>
        <xs:documentation>Offset placement for the float (in x-axis): &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:float-offset-y
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-offset-y
  -->
  <xs:attributeGroup name="axf_float-offset-y">
    <xs:attribute name="float-offset-y" form="qualified">
      <xs:annotation>
        <xs:documentation>Offset placement for the float (in y-axis): &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:footnote-align
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.footnote-align
  -->
  <xs:attributeGroup name="axf_footnote-align">
    <xs:attribute name="footnote-align" form="qualified">
      <xs:annotation>
        <xs:documentation>Specifies the alignment of the footnotes.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="before"/>
          <xs:enumeration value="after"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:footnote-stacking
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.footnote-stacking
  -->
  <xs:attributeGroup name="axf_footnote-stacking">
    <xs:attribute name="footnote-stacking" form="qualified">
      <xs:annotation>
        <xs:documentation>Method to layout the footnote.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="block"/>
          <xs:enumeration value="inline"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:footnote-position
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.footnote-position
  -->
  <xs:attributeGroup name="axf_footnote-position">
    <xs:attribute name="footnote-position" form="qualified">
      <xs:annotation>
        <xs:documentation>Location to layout the footnote.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="page"/>
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
          <xs:enumeration value="column"/>
          <xs:enumeration value="start-column"/>
          <xs:enumeration value="end-column"/>
          <xs:enumeration value="inside-column"/>
          <xs:enumeration value="outside-column"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:footnote-keep
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.footnote-keep
  -->
  <xs:attributeGroup name="axf_footnote-keep">
    <xs:attribute name="footnote-keep" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to arrange a footnote and an anchor in the same page</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="always"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:footnote-max-height
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.footnote-max-height
  -->
  <xs:attributeGroup name="axf_footnote-max-height">
    <xs:attribute name="footnote-max-height" form="qualified">
      <xs:annotation>
        <xs:documentation>Maximum height of footnote: auto | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:outline-expand
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.outline-expand
  -->
  <xs:attributeGroup name="axf_outline-expand">
    <xs:attribute name="outline-expand" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to display the lower hierarchy of bookmark items or not</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:outline-group
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.outline-group
  -->
  <xs:attributeGroup name="axf_outline-group">
    <xs:attribute name="outline-group" form="qualified">
      <xs:annotation>
        <xs:documentation>Name of the output group: &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:outline-level
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.outline-level
  -->
  <xs:attributeGroup name="axf_outline-level">
    <xs:attribute name="outline-level" form="qualified">
      <xs:annotation>
        <xs:documentation>The hierarchy level of bookmark items: &lt;number&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:outline-title
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.outline-title
  -->
  <xs:attributeGroup name="axf_outline-title">
    <xs:attribute name="outline-title" form="qualified">
      <xs:annotation>
        <xs:documentation>String which appears as a title of bookmark: &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:outline-color
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.outline-color
  -->
  <xs:attributeGroup name="axf_outline-color">
    <xs:attribute name="outline-color" form="qualified">
      <xs:annotation>
        <xs:documentation>Color which appears as a title of bookmark</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:outline-font-style
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf_outline-font-style
  -->
  <xs:attributeGroup name="axf_outline-font-style">
    <xs:attribute name="outline-font-style" form="qualified">
      <xs:annotation>
        <xs:documentation>Font style which appears as a title of bookmark</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="italic"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:outline-font-weight
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf:outline-font-weight
  -->
  <xs:attributeGroup name="axf_outline-font-weight">
    <xs:attribute name="outline-font-weight" form="qualified">
      <xs:annotation>
        <xs:documentation>Font weight which appears as a title of bookmark</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="bold"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:printer-marks
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.printer-marks
  -->
  <xs:attributeGroup name="axf_printer-marks">
    <xs:attribute name="printer-marks" form="qualified">
      <xs:annotation>
        <xs:documentation>Printing marks, such as a crop mark</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:printer-marks-line-color
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.printer-marks-line-color
  -->
  <xs:attributeGroup name="axf_printer-marks-line-color">
    <xs:attribute name="printer-marks-line-color" form="qualified">
      <xs:annotation>
        <xs:documentation>Line color of printer marks: &lt;line&gt; | auto</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:printer-marks-line-length
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.printer-marks-line-length
  -->
  <xs:attributeGroup name="axf_printer-marks-line-length">
    <xs:attribute name="printer-marks-line-length" form="qualified">
      <xs:annotation>
        <xs:documentation>Line length of printer marks: &lt;length&gt; | auto</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:printer-marks-line-width
    Line width of printer marks: <length> | auto
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.printer-marks-line-width
  -->
  <xs:attributeGroup name="axf_printer-marks-line-width">
    <xs:attribute name="printer-marks-line-width" form="qualified">
      <xs:annotation>
        <xs:documentation>Line width of printer marks</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:printer-marks-zero-margin
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.printer-marks-zero-margin
  -->
  <xs:attributeGroup name="axf_printer-marks-zero-margin">
    <xs:attribute name="printer-marks-zero-margin" form="qualified">
      <xs:annotation>
        <xs:documentation>Margin between the page and the printer marks when bleed is 0: &lt;length&gt; | auto</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:printer-marks-spine-width
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.printer-marks-spine-width
  -->
  <xs:attributeGroup name="axf_printer-marks-spine-width">
    <xs:attribute name="printer-marks-spine-width" form="qualified">
      <xs:annotation>
        <xs:documentation>Spine width of the facing page: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:repeat-cell-content-at-break
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.repeat-cell-content-at-break
  -->
  <xs:attributeGroup name="axf_repeat-cell-content-at-break">
    <xs:attribute name="repeat-cell-content-at-break" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to copy the contents of a cell when a cell breaks</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    @axf:table-summary
    
    http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.table-summary
  -->
  <xs:attributeGroup name="axf_table-summary">
    <xs:attribute name="table-summary" form="qualified">
      <xs:annotation>
        <xs:documentation>Summary describing the table.  Included in Tagged PDF output.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
</xs:schema>
