schema-ja/xsd/axf-inherited.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Autogenerated file.  Do not edit.
  Generated using 'focheck' version 0.7.10
  
  Copyright 2021 Antenna House, Inc.
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!--
  AH Formatter extension properties that are inherited.
  
  These properties are defined in:
   - https://www.antenna.co.jp/AHF/help/v70e/ahf-ext.html
   - https://www.antenna.co.jp/AHF/help/v70e/ahf-float.html
   - https://www.antenna.co.jp/AHF/help/v70e/ahf-ruby.html
   - https://www.antenna.co.jp/AHF/help/v70e/ahf-spread.html
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.antennahouse.com/names/XSL/Extensions" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:axf="http://www.antennahouse.com/names/XSL/Extensions" xmlns:axs="http://www.antennahouse.com/names/XSL/Settings" xmlns:axh="http://www.antennahouse.com/names/XSL/Hyphenations">
  <xs:include schemaLocation="fo-inherited.xsd"/>
  <xs:import namespace="http://www.antennahouse.com/names/XSL/Hyphenations" schemaLocation="axh.xsd"/>
  <xs:import namespace="http://www.antennahouse.com/names/XSL/Settings" schemaLocation="axs.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/XSL/Format" schemaLocation="fo.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!-- FOs -->
  <!--
    
    Properties
    
  -->
  <xs:attributeGroup name="axf_abbreviation-character-count">
    <xs:attribute name="abbreviation-character-count" form="qualified">
      <xs:annotation>
        <xs:documentation>略語とみなす最小文字数</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_alt-glyph">
    <xs:attribute name="alt-glyph" form="qualified">
      <xs:annotation>
        <xs:documentation>文字の代替字形： &lt;number&gt; | &lt;string&gt; &lt;number&gt;?</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_analyze">
    <xs:attribute name="analyze" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to perform analyzer checks on the current FO and its descendants: true | false | auto</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="auto"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_analyze-end-blank-page">
    <xs:attribute name="analyze-end-blank-page" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to perform end-blank-page analyzer checks on the current FO and its descendants: auto | none | &lt;integer&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_analyze-hyphen">
    <xs:attribute name="analyze-hyphen" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to perform hyphen analyzer checks on the current FO and its descendants: auto | none | &lt;integer&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_analyze-line-end-repeat">
    <xs:attribute name="analyze-line-end-repeat" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to perform line-end-repeat analyzer checks on the current FO and its descendants: auto | none | [&lt;integer&gt; &lt;integer&gt;?]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_analyze-line-start-repeat">
    <xs:attribute name="analyze-line-start-repeat" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to perform line-start-repeat analyzer checks on the current FO and its descendants: auto | none | [&lt;integer&gt; &lt;integer&gt;?]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_analyze-page-widow">
    <xs:attribute name="analyze-page-widow" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to perform page widow analyzer checks on the current FO and its descendants: auto | none | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_analyze-paragraph-widow">
    <xs:attribute name="analyze-paragraph-widow" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to perform paragraph widow analyzer checks on the current FO and its descendants: auto | none | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_analyze-river">
    <xs:attribute name="analyze-river" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to perform river analyzer checks on the current FO and its descendants: auto | none | [&lt;length&gt; &lt;length&gt;?]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_analyze-unbalanced-spread">
    <xs:attribute name="analyze-unbalanced-spread" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to perform unbalanced-spread analyzer checks on the current FO and its descendants: auto | none | &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_analyze-white-space">
    <xs:attribute name="analyze-white-space" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to perform white-space analyzer checks on the current FO and its descendants: auto | none | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_assumed-page-number">
    <xs:attribute name="assumed-page-number" form="qualified">
      <xs:annotation>
        <xs:documentation>ページ番号の予想値</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_avoid-widow-words">
    <xs:attribute name="avoid-widow-words" form="qualified">
      <xs:annotation>
        <xs:documentation>段落の最後の行が１語（CJKのときは１文字）だけにならないようにします: false | true | [&lt;length&gt; || &lt;percentage&gt;]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_avoid-widow-words-cjk-punctuation">
    <xs:attribute name="avoid-widow-words-cjk-punctuation" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to include the last punctuation mark and count them in one character when axf:avoid-widow-word="true": auto | true | false | &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_balanced-text-align">
    <xs:attribute name="balanced-text-align" form="qualified">
      <xs:annotation>
        <xs:documentation>最後の行も含めてブロック全体バランスさせるかどうか: true | false | auto</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="auto"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_base-uri">
    <xs:attribute name="base-uri" form="qualified">
      <xs:annotation>
        <xs:documentation>相対指定のURIのベースとなる位置</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_border-connection-form">
    <xs:attribute name="border-connection-form" form="qualified">
      <xs:annotation>
        <xs:documentation>ボーダーの接合部の形</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="precedence"/>
          <xs:enumeration value="wedge"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_border-double-thickness">
    <xs:attribute name="border-double-thickness" form="qualified">
      <xs:annotation>
        <xs:documentation>border-style="double"の線の太さ</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_border-wave-form">
    <xs:attribute name="border-wave-form" form="qualified">
      <xs:annotation>
        <xs:documentation>border-style="wave"の形状</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_condensed-text-align-last">
    <xs:attribute name="condensed-text-align-last" form="qualified">
      <xs:annotation>
        <xs:documentation>whether to set text-align-last="justify" automatically after condensing the overflow: false | true | justify | auto</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="false"/>
          <xs:enumeration value="true"/>
          <xs:enumeration value="justify"/>
          <xs:enumeration value="auto"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_diagonal-border-color">
    <xs:attribute name="diagonal-border-color" form="qualified">
      <xs:annotation>
        <xs:documentation>対角罫の色</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_diagonal-border-width">
    <xs:attribute name="diagonal-border-width" form="qualified">
      <xs:annotation>
        <xs:documentation>対角罫の幅</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_display-alttext">
    <xs:attribute name="display-alttext" form="qualified">
      <xs:annotation>
        <xs:documentation>欠落している画像の代替テキストを表示するかどうか: true | false | auto</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="auto"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_flush-zone">
    <xs:attribute name="flush-zone" form="qualified">
      <xs:annotation>
        <xs:documentation>最後の行の均等割り付けための閾値: none | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_hanging-punctuation">
    <xs:attribute name="hanging-punctuation" form="qualified">
      <xs:annotation>
        <xs:documentation>行頭での突き出し、行末でのぶら下げを行うかどうか： none | [ start || first || [ force-end | allow-end ] || last ]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_hyphenate-caps-word">
    <xs:attribute name="hyphenate-caps-word" form="qualified">
      <xs:annotation>
        <xs:documentation>大文字からなる語をハイフネーションするかどうか: true | false</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_hyphenate-hyphenated-word">
    <xs:attribute name="hyphenate-hyphenated-word" form="qualified">
      <xs:annotation>
        <xs:documentation>すでにハイフン付けされている語をハイフネーションするかどうか</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_hyphenation-minimum-character-count">
    <xs:attribute name="hyphenation-minimum-character-count" form="qualified">
      <xs:annotation>
        <xs:documentation>ハイフネーション処理をする語の最小文字数</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_hyphenation-zone">
    <xs:attribute name="hyphenation-zone" form="qualified">
      <xs:annotation>
        <xs:documentation>ハイフネーション可能な範囲： none | &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_initial-letters-color">
    <xs:attribute name="initial-letters-color" form="qualified">
      <xs:annotation>
        <xs:documentation>ドロップキャップの色: &lt;color&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_initial-letters-end-indent">
    <xs:attribute name="initial-letters-end-indent" form="qualified">
      <xs:annotation>
        <xs:documentation>ドロップキャップのend側のアキ: &lt;length&gt;+</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_initial-letters-first-line-head-height">
    <xs:attribute name="initial-letters-first-line-head-height" form="qualified">
      <xs:annotation>
        <xs:documentation>ドロップキャップの上部の配置: cap-height | x-height | auto</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="cap-height"/>
          <xs:enumeration value="x-height"/>
          <xs:enumeration value="auto"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_initial-letters-leading-punctuation">
    <xs:attribute name="initial-letters-leading-punctuation" form="qualified">
      <xs:annotation>
        <xs:documentation>ドロップキャップの先行する約物の大きさ: normal | hide | [&lt;length&gt; || &lt;color&gt;]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_initial-letters-leading-punctuation-position">
    <xs:attribute name="initial-letters-leading-punctuation-position" form="qualified">
      <xs:annotation>
        <xs:documentation>ドロップキャップの先行する約物の行進行方向の位置: normal | [[hang | intrude] &amp;&amp; &lt;length&gt;?]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_initial-letters-leading-punctuation-shift">
    <xs:attribute name="initial-letters-leading-punctuation-shift" form="qualified">
      <xs:annotation>
        <xs:documentation>ドロップキャップの先行する約物のブロック進行方向の位置: normal | [[baseline | before | middle | after] || &lt;length&gt;]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_initial-letters-text-align">
    <xs:attribute name="initial-letters-text-align" form="qualified">
      <xs:annotation>
        <xs:documentation>ドロップキャップの配置: start | center | end | left | right</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="start"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_initial-letters-width">
    <xs:attribute name="initial-letters-width" form="qualified">
      <xs:annotation>
        <xs:documentation>ドロップキャップの幅: auto | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_inline-overflow-align">
    <xs:attribute name="inline-overflow-align" form="qualified">
      <xs:annotation>
        <xs:documentation>Adjustments when the blocks in &lt;fo:inline-container&gt; overflow: normal | start | end | left | right</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_intrude-into-punctuation">
    <xs:attribute name="intrude-into-punctuation" form="qualified">
      <xs:annotation>
        <xs:documentation>Intrusion of inline element into punctuation: none | [start || end]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_japanese-glyph">
    <xs:attribute name="japanese-glyph" form="qualified">
      <xs:annotation>
        <xs:documentation>日本語の漢字の字形</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="jp78"/>
          <xs:enumeration value="jp83"/>
          <xs:enumeration value="jp90"/>
          <xs:enumeration value="jp04"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_justify-nbsp">
    <xs:attribute name="justify-nbsp" form="qualified">
      <xs:annotation>
        <xs:documentation>NON-BREAKING SPACE を均等割り付けの対象にするかどうか</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_kansuji-grouping-letter">
    <xs:attribute name="kansuji-grouping-letter" form="qualified">
      <xs:annotation>
        <xs:documentation>漢数字に使用する位取り文字</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_kansuji-letter">
    <xs:attribute name="kansuji-letter" form="qualified">
      <xs:annotation>
        <xs:documentation>漢数字に使用する文字： kanji | latin | &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_kansuji-style">
    <xs:attribute name="kansuji-style" form="qualified">
      <xs:annotation>
        <xs:documentation>漢数字の形式</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="simple"/>
          <xs:enumeration value="grouping"/>
          <xs:enumeration value="readable"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_kerning-mode">
    <xs:attribute name="kerning-mode" form="qualified">
      <xs:annotation>
        <xs:documentation>カーニング（詰め処理）を行うかどうか</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="pair"/>
          <xs:enumeration value="auto"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_layer">
    <xs:attribute name="layer" form="qualified">
      <xs:annotation>
        <xs:documentation>エリアをどのレイヤに配置するか</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_leader-expansion">
    <xs:attribute name="leader-expansion" form="qualified">
      <xs:annotation>
        <xs:documentation>リーダを強制的に広げるかどうか</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="force"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_letter-spacing-side">
    <xs:attribute name="letter-spacing-side" form="qualified">
      <xs:annotation>
        <xs:documentation>letter-spacingによるアキを文字のどちら側に付けるか</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="both"/>
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ligature-mode">
    <xs:attribute name="ligature-mode" form="qualified">
      <xs:annotation>
        <xs:documentation>リガチャ（合字処理）を行うかどうか: none | [ latin || kana || jamo ] | all | auto</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-break">
    <xs:attribute name="line-break" form="qualified">
      <xs:annotation>
        <xs:documentation>行分割の方法: auto | [[normal | strict | loose | anywhere] || [line | bpil]]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark">
    <xs:attribute name="line-continued-mark" form="qualified">
      <xs:annotation>
        <xs:documentation>行継続マークを表示するかどうか： &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark-background-color">
    <xs:attribute name="line-continued-mark-background-color" form="qualified">
      <xs:annotation>
        <xs:documentation>行継続マークの背景色</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark-color">
    <xs:attribute name="line-continued-mark-color" form="qualified">
      <xs:annotation>
        <xs:documentation>行継続マークの文字列の色</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark-font-family">
    <xs:attribute name="line-continued-mark-font-family" form="qualified">
      <xs:annotation>
        <xs:documentation>行継続マークのフォントファミリ</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark-font-size">
    <xs:attribute name="line-continued-mark-font-size" form="qualified">
      <xs:annotation>
        <xs:documentation>行継続マークのフォントサイズ</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark-font-style">
    <xs:attribute name="line-continued-mark-font-style" form="qualified">
      <xs:annotation>
        <xs:documentation>斜体にするかどうか</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="italic"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark-font-weight">
    <xs:attribute name="line-continued-mark-font-weight" form="qualified">
      <xs:annotation>
        <xs:documentation>行番号のフォントの太さ</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="bold"/>
          <xs:enumeration value="bolder"/>
          <xs:enumeration value="lighter"/>
          <xs:enumeration value="100"/>
          <xs:enumeration value="200"/>
          <xs:enumeration value="300"/>
          <xs:enumeration value="400"/>
          <xs:enumeration value="500"/>
          <xs:enumeration value="600"/>
          <xs:enumeration value="700"/>
          <xs:enumeration value="800"/>
          <xs:enumeration value="900"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-continued-mark-offset">
    <xs:attribute name="line-continued-mark-offset" form="qualified">
      <xs:annotation>
        <xs:documentation>行継続マークの表示オフセット： &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number">
    <xs:attribute name="line-number" form="qualified">
      <xs:annotation>
        <xs:documentation>行番号を表示するかどうか</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="show"/>
          <xs:enumeration value="hide"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-background-color">
    <xs:attribute name="line-number-background-color" form="qualified">
      <xs:annotation>
        <xs:documentation>行番号の背景色 : &lt;color&gt; | transparent</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-color">
    <xs:attribute name="line-number-color" form="qualified">
      <xs:annotation>
        <xs:documentation>行番号の文字列の色</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-display-align">
    <xs:attribute name="line-number-display-align" form="qualified">
      <xs:annotation>
        <xs:documentation>行番号のブロック進行方向の配置 </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="before"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="after"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-except-continued-line">
    <xs:attribute name="line-number-except-continued-line" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to add line numbers except for continued lines: true | false</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-font-family">
    <xs:attribute name="line-number-font-family" form="qualified">
      <xs:annotation>
        <xs:documentation>行番号のフォントファミリ</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-font-size">
    <xs:attribute name="line-number-font-size" form="qualified">
      <xs:annotation>
        <xs:documentation>行番号のフォントサイズ</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-font-style">
    <xs:attribute name="line-number-font-style" form="qualified">
      <xs:annotation>
        <xs:documentation>斜体にするかどうか</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="italic"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-font-weight">
    <xs:attribute name="line-number-font-weight" form="qualified">
      <xs:annotation>
        <xs:documentation>行番号のフォントの太さ</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="bold"/>
          <xs:enumeration value="bolder"/>
          <xs:enumeration value="lighter"/>
          <xs:enumeration value="100"/>
          <xs:enumeration value="200"/>
          <xs:enumeration value="300"/>
          <xs:enumeration value="400"/>
          <xs:enumeration value="500"/>
          <xs:enumeration value="600"/>
          <xs:enumeration value="700"/>
          <xs:enumeration value="800"/>
          <xs:enumeration value="900"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-format">
    <xs:attribute name="line-number-format" form="qualified">
      <xs:annotation>
        <xs:documentation>行番号のための書式: &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-initial">
    <xs:attribute name="line-number-initial" form="qualified">
      <xs:annotation>
        <xs:documentation>最初の行の行番号: auto | &lt;number&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-interval">
    <xs:attribute name="line-number-interval" form="qualified">
      <xs:annotation>
        <xs:documentation>出力する行番号の間隔: &lt;snumber&gt; | auto</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-offset">
    <xs:attribute name="line-number-offset" form="qualified">
      <xs:annotation>
        <xs:documentation>行番号の表示オフセット：&lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-orientation">
    <xs:attribute name="line-number-orientation" form="qualified">
      <xs:annotation>
        <xs:documentation>行番号を回転させます: 0 | 90 | 180 | 270 | -90 | -180 | -270</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="0"/>
          <xs:enumeration value="90"/>
          <xs:enumeration value="180"/>
          <xs:enumeration value="270"/>
          <xs:enumeration value="-90"/>
          <xs:enumeration value="-180"/>
          <xs:enumeration value="-270"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-position">
    <xs:attribute name="line-number-position" form="qualified">
      <xs:annotation>
        <xs:documentation>行番号の表示位置: start | end | inside | outside | alternate</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
          <xs:enumeration value="alternate"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-prefix">
    <xs:attribute name="line-number-prefix" form="qualified">
      <xs:annotation>
        <xs:documentation>行番号の前置文字列: &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-reset">
    <xs:attribute name="line-number-reset" form="qualified">
      <xs:annotation>
        <xs:documentation>行番号のリセットする場合: auto | none | page | column | force</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="page"/>
          <xs:enumeration value="column"/>
          <xs:enumeration value="force"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-start">
    <xs:attribute name="line-number-start" form="qualified">
      <xs:annotation>
        <xs:documentation>出力を開始する行番号: &lt;snumber&gt; | auto</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-text-align">
    <xs:attribute name="line-number-text-align" form="qualified">
      <xs:annotation>
        <xs:documentation>行番号の配置: auto | start | center | end | inside | outside | left | right</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="start"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-text-decoration">
    <xs:attribute name="line-number-text-decoration" form="qualified">
      <xs:annotation>
        <xs:documentation>行番号の文字列の修飾</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_line-number-width">
    <xs:attribute name="line-number-width" form="qualified">
      <xs:annotation>
        <xs:documentation>行番号の幅： auto | &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_list-style-type">
    <xs:attribute name="list-style-type" form="qualified">
      <xs:annotation>
        <xs:documentation>リストスタイル： &lt;glyph&gt; | &lt;algorithmic&gt; | &lt;numeric&gt; | &lt;alphabetic&gt; | &lt;symbolic&gt; | &lt;non-repeating&gt; | normal | none</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_normalize">
    <xs:attribute name="normalize" form="qualified">
      <xs:annotation>
        <xs:documentation>テキストに対してUnicode の正規化処 が行うようになる: auto | none | nfc | nfkc | nfd | nfkd</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="nfc"/>
          <xs:enumeration value="nfkc"/>
          <xs:enumeration value="nfd"/>
          <xs:enumeration value="nfkd"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_normalize-exclude">
    <xs:attribute name="normalize-exclude" form="qualified">
      <xs:annotation>
        <xs:documentation>文字列の正規化（axf:normalize）の時に、合成除外文字　Composition Exclusions　を除外するかどうか を指定します: full-composition-exclusion | none</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="full-composition-exclusion"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_number-transform">
    <xs:attribute name="number-transform" form="qualified">
      <xs:annotation>
        <xs:documentation>文字列中の数字列の変換をします： none | kansuji | kansuji-if-vertical | &lt;list-style-type&gt; | &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-align">
    <xs:attribute name="overflow-align" form="qualified">
      <xs:annotation>
        <xs:documentation>オーバーフローしたブロックの位置揃え: normal | start | end | center</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="center"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-condense">
    <xs:attribute name="overflow-condense" form="qualified">
      <xs:annotation>
        <xs:documentation>How to condense the overflowed text within the region: [ font-size | font-stretch | line-height | letter-spacing ]+ | auto | none</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-condense-limit-font-size">
    <xs:attribute name="overflow-condense-limit-font-size" form="qualified">
      <xs:annotation>
        <xs:documentation>axf:overflow-condense="font-size" の下限のフォントサイズを指定します
： &lt;length&gt; [ visible | hidden | scroll | error-if-overflow | repeat ]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-condense-limit-font-stretch">
    <xs:attribute name="overflow-condense-limit-font-stretch" form="qualified">
      <xs:annotation>
        <xs:documentation>axf:overflow-condense="font-stretch" の下限の値を指定します
： [ &lt;number&gt; | &lt;percentage&gt; ] [ visible | hidden | scroll | error-if-overflow | repeat ]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-condense-limit-letter-spacing">
    <xs:attribute name="overflow-condense-limit-letter-spacing" form="qualified">
      <xs:annotation>
        <xs:documentation>Minimum value when axf:overflow-condense="letter-spacing" is specified: none | [ &lt;length&gt; [ visible | hidden | error-if-overflow | repeat ]? ]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-condense-limit-line-height">
    <xs:attribute name="overflow-condense-limit-line-height" form="qualified">
      <xs:annotation>
        <xs:documentation>Minimum value when axf:overflow-condense="line-height" is specified: none | [ &lt;number&gt; [ visible | hidden | error-if-overflow | repeat ]? ]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-limit">
    <xs:attribute name="overflow-limit" form="qualified">
      <xs:annotation>
        <xs:documentation>オーバーフロー制限値： &lt;length&gt;1 2</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-limit-block">
    <xs:attribute name="overflow-limit-block" form="qualified">
      <xs:annotation>
        <xs:documentation>ブロック方向オーバーフロー制限値</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-limit-inline">
    <xs:attribute name="overflow-limit-inline" form="qualified">
      <xs:annotation>
        <xs:documentation>インライン方向オーバーフロー制限値</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overflow-replace">
    <xs:attribute name="overflow-replace" form="qualified">
      <xs:annotation>
        <xs:documentation>オーバーフローしたテキストに対する代替文字列</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_overprint">
    <xs:attribute name="overprint" form="qualified">
      <xs:annotation>
        <xs:documentation>オーバープリント指定</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_punctuation-spacing">
    <xs:attribute name="punctuation-spacing" form="qualified">
      <xs:annotation>
        <xs:documentation>日本語での全角約物と全角文字の間の詰め</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_punctuation-trim">
    <xs:attribute name="punctuation-trim" form="qualified">
      <xs:annotation>
        <xs:documentation>日本語で、全角約物の詰め処理をどのようにする</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_repeat-footnote-in-table-footer">
    <xs:attribute name="repeat-footnote-in-table-footer" form="qualified">
      <xs:annotation>
        <xs:documentation>table-omit-footer-at-break="false" によって繰り返された fo:table-footer 中の fo:footnote も繰り返すかどうか </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_repeat-footnote-in-table-header">
    <xs:attribute name="repeat-footnote-in-table-header" form="qualified">
      <xs:annotation>
        <xs:documentation>table-omit-header-at-break="false" によって繰り返された fo:table-header 中の fo:footnote も繰り返すかどうか： true | false</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_reverse-diagonal-border-color">
    <xs:attribute name="reverse-diagonal-border-color" form="qualified">
      <xs:annotation>
        <xs:documentation>逆対角罫の色</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_reverse-diagonal-border-width">
    <xs:attribute name="reverse-diagonal-border-width" form="qualified">
      <xs:annotation>
        <xs:documentation>逆対角罫の幅</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_revision-bar-color">
    <xs:attribute name="revision-bar-color" form="qualified">
      <xs:annotation>
        <xs:documentation>改訂バーの色： &lt;color&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_revision-bar-offset">
    <xs:attribute name="revision-bar-offset" form="qualified">
      <xs:annotation>
        <xs:documentation>改訂バーの表示オフセット: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_revision-bar-position">
    <xs:attribute name="revision-bar-position" form="qualified">
      <xs:annotation>
        <xs:documentation>改訂バーの表示位置： start | end | inside | outside | alternate | both</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="start"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
          <xs:enumeration value="alternate"/>
          <xs:enumeration value="both"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_revision-bar-style">
    <xs:attribute name="revision-bar-style" form="qualified">
      <xs:annotation>
        <xs:documentation>改訂バーのスタイル: &lt;border-style&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_revision-bar-width">
    <xs:attribute name="revision-bar-width" form="qualified">
      <xs:annotation>
        <xs:documentation>改訂バーの幅： &lt;border-width&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-align">
    <xs:attribute name="ruby-align" form="qualified">
      <xs:annotation>
        <xs:documentation>ルビの配置： auto | [[distribute-space | distribute-letter] || [center | start | end | start-if-vertical]]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-color">
    <xs:attribute name="ruby-color" form="qualified">
      <xs:annotation>
        <xs:documentation>ルビの色: &lt;color&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-condense">
    <xs:attribute name="ruby-condense" form="qualified">
      <xs:annotation>
        <xs:documentation>ルビが長いときのフォントの伸縮： none | &lt;percentage&gt; | &lt;number&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-font-family">
    <xs:attribute name="ruby-font-family" form="qualified">
      <xs:annotation>
        <xs:documentation>ルビのフォントファミリ： [ &lt;family-name&gt; | &lt;generic-family&gt; ]#</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-font-size">
    <xs:attribute name="ruby-font-size" form="qualified">
      <xs:annotation>
        <xs:documentation>ルビのフォントサイズ： &lt;number&gt; | &lt;absolute-size&gt; | &lt;relative-size&gt; | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-font-stretch">
    <xs:attribute name="ruby-font-stretch" form="qualified">
      <xs:annotation>
        <xs:documentation>ルビのフォントの伸縮： normal | wider | narrower | ultra-condensed | extra-condensed | condensed | semi-condensed | semi-expanded | expanded | extra-expanded | ultra-expanded | &lt;percentage&gt; | &lt;number&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-font-style">
    <xs:attribute name="ruby-font-style" form="qualified">
      <xs:annotation>
        <xs:documentation>ルビを斜体にする： normal | italic</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="italic"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-font-weight">
    <xs:attribute name="ruby-font-weight" form="qualified">
      <xs:annotation>
        <xs:documentation>ルビのフォントの太さ： normal | bold | bolder | lighter | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="bold"/>
          <xs:enumeration value="bolder"/>
          <xs:enumeration value="lighter"/>
          <xs:enumeration value="100"/>
          <xs:enumeration value="200"/>
          <xs:enumeration value="300"/>
          <xs:enumeration value="400"/>
          <xs:enumeration value="500"/>
          <xs:enumeration value="600"/>
          <xs:enumeration value="700"/>
          <xs:enumeration value="800"/>
          <xs:enumeration value="900"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-limit-overhang">
    <xs:attribute name="ruby-limit-overhang" form="qualified">
      <xs:annotation>
        <xs:documentation>ルビが親文字より長い場合の隣の親文字に掛ける量の限界： &lt;number&gt; | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-limit-space">
    <xs:attribute name="ruby-limit-space" form="qualified">
      <xs:annotation>
        <xs:documentation>ルビが親文字より短い場合の前後のアキ量の限界： &lt;number&gt; | &lt;length&gt; | &lt;percentage&gt; | none</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-minimum-font-size">
    <xs:attribute name="ruby-minimum-font-size" form="qualified">
      <xs:annotation>
        <xs:documentation>ルビの最小フォントサイズ： none | &lt;absolute-size&gt; | &lt;relative-size&gt; | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-offset">
    <xs:attribute name="ruby-offset" form="qualified">
      <xs:annotation>
        <xs:documentation>ルビと親文字の間隔：&lt;number&gt; | &lt;length&gt; | &lt;percentage&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-overhang">
    <xs:attribute name="ruby-overhang" form="qualified">
      <xs:annotation>
        <xs:documentation>ルビを隣の文字に掛ける方法： none | auto | [start || end || except-kanji || except-katakana || except-start-open-parenthesis || except-end-close-parenthesis]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-position">
    <xs:attribute name="ruby-position" form="qualified">
      <xs:annotation>
        <xs:documentation>ルビを親文字のどちら側に付ける：before | after</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="before"/>
          <xs:enumeration value="after"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_ruby-small-kana">
    <xs:attribute name="ruby-small-kana" form="qualified">
      <xs:annotation>
        <xs:documentation>ルビに小書きのかなを許すかどうか： auto | convert</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="convert"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_soft-hyphen-treatment">
    <xs:attribute name="soft-hyphen-treatment" form="qualified">
      <xs:annotation>
        <xs:documentation>SOFT HYPHEN (U+00AD)を印刷するかどうか</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="preserve"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_suppress-duplicate-footnote">
    <xs:attribute name="suppress-duplicate-footnote" form="qualified">
      <xs:annotation>
        <xs:documentation>同一ページ中の重複した脚注を削除するかどうか: true | false</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_suppress-duplicate-marker-contents">
    <xs:attribute name="suppress-duplicate-marker-contents" form="qualified">
      <xs:annotation>
        <xs:documentation>同一ページ中の重複したマーカを削除するかどうか: true | false</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_suppress-duplicate-page-number">
    <xs:attribute name="suppress-duplicate-page-number" form="qualified">
      <xs:annotation>
        <xs:documentation>重複ページ番号参照を削除するかどうか: true | false</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_tab-overlap-treatment">
    <xs:attribute name="tab-overlap-treatment" form="qualified">
      <xs:annotation>
        <xs:documentation>タブ揃えで文字が重なるときの扱い: auto | ignore-tab | next-tab</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="ignore-tab"/>
          <xs:enumeration value="next-tab"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_tab-stops">
    <xs:attribute name="tab-stops" form="qualified">
      <xs:annotation>
        <xs:documentation>タブ位置</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_tab-treatment">
    <xs:attribute name="tab-treatment" form="qualified">
      <xs:annotation>
        <xs:documentation>リテラルタブ文字の扱い</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_table-auto-layout-limit">
    <xs:attribute name="table-auto-layout-limit" form="qualified">
      <xs:annotation>
        <xs:documentation>Number of table-rows to read ahead: auto | &lt;number&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_table-row-orphans">
    <xs:attribute name="table-row-orphans" form="qualified">
      <xs:annotation>
        <xs:documentation>ページ（段）下部に残らなければならないtable-row数: &lt;integer&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_table-row-widows">
    <xs:attribute name="table-row-widows" form="qualified">
      <xs:annotation>
        <xs:documentation>ページ（段）上部に残らなければならないtable-row数: &lt;integer&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-align-first">
    <xs:attribute name="text-align-first" form="qualified">
      <xs:annotation>
        <xs:documentation>最初の行のテキストの配置</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="relative"/>
          <xs:enumeration value="start"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="justify"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-align-string">
    <xs:attribute name="text-align-string" form="qualified">
      <xs:annotation>
        <xs:documentation>Text alignment when text-align="&lt;string&gt;": start | center | end | inside | outside | left | right | from-table-column()</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="start"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="end"/>
          <xs:enumeration value="inside"/>
          <xs:enumeration value="outside"/>
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="from-table-column()"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-autospace">
    <xs:attribute name="text-autospace" form="qualified">
      <xs:annotation>
        <xs:documentation>和欧文間にアキを入れるかどうか： none | [ ideograph-numeric || ideograph-alpha || ideograph-parenthesis ] | auto</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-autospace-width">
    <xs:attribute name="text-autospace-width" form="qualified">
      <xs:annotation>
        <xs:documentation>和欧文間のアキ量</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-combine-horizontal">
    <xs:attribute name="text-combine-horizontal" form="qualified">
      <xs:annotation>
        <xs:documentation>縦書きでの自動縦中横を行います： none | all | [ digits &lt;integer&gt; || alpha &lt;integer&gt; || alphanumeric &lt;integer&gt; ]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-font-color">
    <xs:attribute name="text-emphasis-font-color" form="qualified">
      <xs:annotation>
        <xs:documentation>圏点の色</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-font-family">
    <xs:attribute name="text-emphasis-font-family" form="qualified">
      <xs:annotation>
        <xs:documentation>圏点のフォントファミリ</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-font-size">
    <xs:attribute name="text-emphasis-font-size" form="qualified">
      <xs:annotation>
        <xs:documentation>圏点のフォントサイズ</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-font-stretch">
    <xs:attribute name="text-emphasis-font-stretch" form="qualified">
      <xs:annotation>
        <xs:documentation>圏点のフォントの伸縮</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-font-style">
    <xs:attribute name="text-emphasis-font-style" form="qualified">
      <xs:annotation>
        <xs:documentation>圏点を斜体にするかどうか</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="italic"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-font-weight">
    <xs:attribute name="text-emphasis-font-weight" form="qualified">
      <xs:annotation>
        <xs:documentation>圏点のフォントの太さ</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="bold"/>
          <xs:enumeration value="bolder"/>
          <xs:enumeration value="lighter"/>
          <xs:enumeration value="100"/>
          <xs:enumeration value="200"/>
          <xs:enumeration value="300"/>
          <xs:enumeration value="400"/>
          <xs:enumeration value="500"/>
          <xs:enumeration value="600"/>
          <xs:enumeration value="700"/>
          <xs:enumeration value="800"/>
          <xs:enumeration value="900"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-offset">
    <xs:attribute name="text-emphasis-offset" form="qualified">
      <xs:annotation>
        <xs:documentation>圏点と親文字の間隔</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-position">
    <xs:attribute name="text-emphasis-position" form="qualified">
      <xs:annotation>
        <xs:documentation>圏点を親文字のどちら側に付けるか</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="before"/>
          <xs:enumeration value="after"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-skip">
    <xs:attribute name="text-emphasis-skip" form="qualified">
      <xs:annotation>
        <xs:documentation>圏点を付けない文字： none | [ spaces || punctuation || symbols || narrow ]</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-emphasis-style">
    <xs:attribute name="text-emphasis-style" form="qualified">
      <xs:annotation>
        <xs:documentation>圏点のスタイル： none | [ [ filled | open ] || [ dot | circle | double-circle | triangle | sesame ] ] | &lt;string&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-indent-if-first-on-page">
    <xs:attribute name="text-indent-if-first-on-page" form="qualified">
      <xs:annotation>
        <xs:documentation>ページ先頭または段先頭のブロックの text-indent: &lt;length&gt; | &lt;percentage&gt; | auto</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-justify">
    <xs:attribute name="text-justify" form="qualified">
      <xs:annotation>
        <xs:documentation>How to justify text: auto | inter-word | inter-character</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="inter-word"/>
          <xs:enumeration value="inter-character"/>
          <xs:enumeration value="distribute"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-justify-trim">
    <xs:attribute name="text-justify-trim" form="qualified">
      <xs:annotation>
        <xs:documentation>文字の間を詰めの対象として追い込みの処理方法</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-kashida-space">
    <xs:attribute name="text-kashida-space" form="qualified">
      <xs:annotation>
        <xs:documentation>アラビア語の均等割り付けで、Kashidaの割り合い： &lt;percentage&gt; | auto</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-orientation">
    <xs:attribute name="text-orientation" form="qualified">
      <xs:annotation>
        <xs:documentation>縦書きでの文字の向き</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="upright"/>
          <xs:enumeration value="sideways-right"/>
          <xs:enumeration value="sideways"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-stroke">
    <xs:attribute name="text-stroke" form="qualified">
      <xs:annotation>
        <xs:documentation>文字の輪郭: &lt;length&gt; &lt;color&gt;?| &lt;color&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-stroke-color">
    <xs:attribute name="text-stroke-color" form="qualified">
      <xs:annotation>
        <xs:documentation>輪郭の色: &lt;color&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_text-stroke-width">
    <xs:attribute name="text-stroke-width" form="qualified">
      <xs:annotation>
        <xs:documentation>輪郭の幅: &lt;length&gt;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_vertical-underline-side">
    <xs:attribute name="vertical-underline-side" form="qualified">
      <xs:annotation>
        <xs:documentation>縦書きでの下線（傍線）をどちら側に付けるか</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="depend-on-language"/>
          <xs:enumeration value="auto"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_word-break">
    <xs:attribute name="word-break" form="qualified">
      <xs:annotation>
        <xs:documentation>Whether to enable line breaking even inside a word: normal | break-all | keep-all | keep-non-spaces</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="break-all"/>
          <xs:enumeration value="keep-all"/>
          <xs:enumeration value="keep-non-spaces"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="axf_word-wrap">
    <xs:attribute name="word-wrap" form="qualified">
      <xs:annotation>
        <xs:documentation>行分割できないとき、無理やり分割するかどうか: normal | break-word</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="break-word"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
</xs:schema>
