schema-ja/rng/axf.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Schema for Antenna House extension elements and non-inherited
  extension attributes.
  
  Copyright 2015-2019 Antenna House, Inc.
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
--><grammar xmlns:axh="http://www.antennahouse.com/names/XSL/Hyphenations" ns="http://www.antennahouse.com/names/XSL/Extensions" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:axf="http://www.antennahouse.com/names/XSL/Extensions" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="axh.rng"/>
  <include href="axf-inherited.rng">
    <!--
      
      Overrides to patterns in 'axf-inherited.rnc' (and patterns in
      modules that it includes).
      
    -->
    <!-- https://www.antennahouse.com/product/ahf65/ahf-ext.html#fo.change-bar-begin -->
    <define name="fo_change-bar-begin.model">
      <optional>
        <ref name="fo_float"/>
      </optional>
    </define>
    <!--
      Nested fo:page-sequence
      https://www.antennahouse.com/product/ahf65/ahf-ext.html#fo.page-sequence
    -->
    <define name="fo_flow.model">
      <zeroOrMore>
        <ref name="fo_marker"/>
      </zeroOrMore>
      <interleave>
        <oneOrMore>
          <choice>
            <ref name="block.fo.list"/>
            <ref name="neutral.fo.list.block"/>
            <ref name="fo_page-sequence"/>
          </choice>
        </oneOrMore>
        <zeroOrMore>
          <ref name="point.fo.list"/>
        </zeroOrMore>
      </interleave>
    </define>
    <define name="fo_layout-master-set.model">
      <oneOrMore>
        <choice>
          <ref name="axf_spread-page-master"/>
          <ref name="fo_simple-page-master"/>
          <ref name="fo_page-sequence-master"/>
          <ref name="fo_flow-map"/>
        </choice>
      </oneOrMore>
    </define>
    <!-- https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.document-info -->
    <define name="fo_root.model">
      <zeroOrMore>
        <ref name="axf_document-info"/>
      </zeroOrMore>
      <ref name="fo_layout-master-set"/>
      <zeroOrMore>
        <ref name="axf_document-info"/>
      </zeroOrMore>
      <optional>
        <ref name="fo_declarations"/>
      </optional>
      <zeroOrMore>
        <ref name="axf_document-info"/>
      </zeroOrMore>
      <optional>
        <ref name="fo_bookmark-tree"/>
      </optional>
      <zeroOrMore>
        <ref name="axf_document-info"/>
      </zeroOrMore>
      <oneOrMore>
        <choice>
          <ref name="fo_page-sequence"/>
          <ref name="fo_page-sequence-wrapper"/>
        </choice>
      </oneOrMore>
    </define>
    <!-- AH Formatter allows fo:region-* in any order. -->
    <define name="fo_simple-page-master.model">
      <interleave>
        <oneOrMore>
          <ref name="fo_region-body"/>
        </oneOrMore>
        <optional>
          <ref name="fo_region-before"/>
        </optional>
        <optional>
          <ref name="fo_region-after"/>
        </optional>
        <optional>
          <ref name="fo_region-start"/>
        </optional>
        <optional>
          <ref name="fo_region-end"/>
        </optional>
      </interleave>
    </define>
    <!--
      AH Formatter uses axf:custom-property and axf:document-info within
      fo:declarations.
    -->
    <define name="fo_declarations.model" combine="choice">
      <zeroOrMore>
        <choice>
          <ref name="axf_custom-property"/>
          <ref name="axf_document-info"/>
          <ref name="axf_hyphenation-info"/>
        </choice>
      </zeroOrMore>
    </define>
    <!-- AH Formatter allows empty fo:static-content. -->
    <define name="fo_static-content.model">
      <interleave>
        <zeroOrMore>
          <choice>
            <ref name="block.fo.list"/>
            <ref name="neutral.fo.list"/>
          </choice>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="point.fo.list"/>
        </zeroOrMore>
      </interleave>
    </define>
    <!-- AH Formatter allows fo:block-container to omit block FOs. -->
    <define name="fo_block-container.model">
      <zeroOrMore>
        <ref name="fo_marker"/>
      </zeroOrMore>
      <interleave>
        <zeroOrMore>
          <choice>
            <ref name="block.fo.list"/>
            <ref name="neutral.fo.list"/>
          </choice>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="point.fo.list"/>
        </zeroOrMore>
      </interleave>
    </define>
    <!-- AH Formatter allows fo:inline-container to omit block FOs. -->
    <define name="fo_inline-container.model">
      <zeroOrMore>
        <ref name="fo_marker"/>
      </zeroOrMore>
      <interleave>
        <zeroOrMore>
          <choice>
            <ref name="block.fo.list"/>
            <ref name="neutral.fo.list"/>
          </choice>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="point.fo.list"/>
        </zeroOrMore>
      </interleave>
    </define>
    <!-- AH Formatter allows empty fo:list-item. -->
    <define name="fo_list-item.model">
      <zeroOrMore>
        <ref name="fo_marker"/>
      </zeroOrMore>
      <interleave>
        <optional>
          <ref name="fo_list-item-label"/>
          <ref name="fo_list-item-body"/>
        </optional>
        <zeroOrMore>
          <ref name="point.fo.list"/>
        </zeroOrMore>
      </interleave>
    </define>
    <!-- AH Formatter allows fo:list-item-label omit block FOs. -->
    <define name="fo_list-item-label.model">
      <zeroOrMore>
        <ref name="fo_marker"/>
      </zeroOrMore>
      <interleave>
        <zeroOrMore>
          <choice>
            <ref name="block.fo.list"/>
            <ref name="neutral.fo.list"/>
          </choice>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="point.fo.list"/>
        </zeroOrMore>
      </interleave>
    </define>
    <!--
      AH Formatter allows fo:table-cell to omit block FOs.
      axf:table-cell-repeated-marker used when cell repeats.
    -->
    <define name="fo_table-cell.model">
      <zeroOrMore>
        <ref name="fo_marker"/>
      </zeroOrMore>
      <optional>
        <ref name="axf_table-cell-repeated-marker"/>
      </optional>
      <interleave>
        <zeroOrMore>
          <choice>
            <ref name="block.fo.list"/>
            <ref name="neutral.fo.list"/>
          </choice>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="point.fo.list"/>
        </zeroOrMore>
      </interleave>
    </define>
    <!--
      For fo:instream-foreign-object
      Exclude axf:* elements and attributes from counting as 'non-xsl'.
    -->
    <define name="non-xsl">
      <zeroOrMore>
        <attribute>
          <anyName>
            <except>
              <nsName ns=""></nsName>
              <nsName></nsName>
              <nsName ns="http://www.w3.org/XML/1998/namespace"></nsName>
            </except>
          </anyName>
        </attribute>
      </zeroOrMore>
      <zeroOrMore>
        <element>
          <anyName>
            <except>
              <nsName ns=""></nsName>
              <nsName ns="http://www.w3.org/1999/XSL/Format"></nsName>
              <nsName></nsName>
            </except>
          </anyName>
          <zeroOrMore>
            <attribute>
              <anyName/>
            </attribute>
          </zeroOrMore>
          <ref name="anything"/>
        </element>
      </zeroOrMore>
    </define>
    <!--
      
      End of overrides to patterns in 'axf-inherited.rnc'.
      
    -->
  </include>
  <!--
    
    Antenna House extension elements
    
  -->
  <!--
    <axf:custom-property/>
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.custom-property
  -->
  <define name="axf_custom-property">
    <element name="axf:custom-property">
      <a:documentation>Custom PDF property Effective with PDF 1.4 or later. PDF/Aでは無効です。</a:documentation>
      <attribute name="name">
        <a:documentation>カスタムプロパティ名どちらも空ではいけません。</a:documentation>
      </attribute>
      <attribute name="value">
        <a:documentation>カスタムプロパティの値どちらも空ではいけません。</a:documentation>
      </attribute>
      <empty/>
    </element>
  </define>
  <!--
    <axf:document-info/>
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.document-info
  -->
  <define name="axf_document-info">
    <element name="axf:document-info">
      <a:documentation>PDFには、著者やタイトルなどの文書情報を埋め込んでおくことができます </a:documentation>
      <!--
        'name="title"' was used in V5.1 and still works but is
        undocumented in V6.2+.
      -->
      <attribute name="name">
        <a:documentation>文字情報の名</a:documentation>
        <choice>
          <value>document-title</value>
          <value>title</value>
          <value>subject</value>
          <value>author</value>
          <value>author-title</value>
          <value>description-writer</value>
          <value>keywords</value>
          <value>copyright-status</value>
          <value>copyright-notice</value>
          <value>copyright-info-url</value>
          <value>xmp</value>
          <value>pagemode</value>
          <value>pagelayout</value>
          <value>hidetoolbar</value>
          <value>hidemenubar</value>
          <value>hidewindowui</value>
          <value>fitwindow</value>
          <value>centerwindow</value>
          <value>displaydoctitle</value>
          <value>openaction</value>
        </choice>
      </attribute>
      <attribute name="value">
        <a:documentation>文字情報の値ある情は許容値の制約があります。</a:documentation>
      </attribute>
      <empty/>
    </element>
  </define>
  <!--
    <axf:footnote-number/>
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.footnote-number
  -->
  <define name="axf_footnote-number">
    <element name="axf:footnote-number">
      <a:documentation>脚注番号を生成します</a:documentation>
      <ref name="id"/>
      <empty/>
    </element>
  </define>
  <!--
    <axf:footnote-number-citation/>
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.footnote-number-citation
  -->
  <define name="axf_footnote-number-citation">
    <element name="axf:footnote-number-citation">
      <a:documentation>脚注番号を引用します</a:documentation>
      <attribute name="ref-id"/>
      <empty/>
    </element>
  </define>
  <!--
    <axf:form>
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.form
  -->
  <define name="axf_form">
    <element name="axf:form">
      <ref name="axf_form.attlist"/>
      <ref name="axf_form.model"/>
    </element>
  </define>
  <define name="axf_form.attlist">
    <optional>
      <ref name="axf_field-submit-coordinates"/>
    </optional>
    <optional>
      <ref name="axf_field-submit-method"/>
    </optional>
    <optional>
      <ref name="external-destination"/>
    </optional>
  </define>
  <define name="axf_form.model">
    <zeroOrMore>
      <ref name="block.fo.list"/>
    </zeroOrMore>
  </define>
  <!--
    <axf:form-field>
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.form-field
  -->
  <define name="axf_form-field">
    <element name="axf:form-field">
      <a:documentation>フォームフィールドを生成します。</a:documentation>
      <zeroOrMore>
        <choice>
          <ref name="axf_form-field-option"/>
          <ref name="axf_form-field-event"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <!--
    <axf:form-field-event>
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.form-field-event
  -->
  <define name="axf_form-field-event">
    <element name="axf:form-field-event">
      <a:documentation>イベントに対応したフォームアクションを定義します。</a:documentation>
      <text/>
    </element>
  </define>
  <!--
    <axf:form-field-option>
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.form-field-option
  -->
  <define name="axf_form-field-option">
    <element name="axf:form-field-option">
      <a:documentation>リストボックス、コンボボックスの構成要素を指定します。 </a:documentation>
      <text/>
    </element>
  </define>
  <!--
    <axf:hyphenation-info>
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.hyphenation-info
  -->
  <define name="axf_hyphenation-info">
    <element name="axf:hyphenation-info">
      <a:documentation>Additional hyphenation information</a:documentation>
      <ref name="axf_hyphenation-info.attlist"/>
      <optional>
        <ref name="axh_exceptions"/>
      </optional>
    </element>
  </define>
  <define name="axf_hyphenation-info.attlist">
    <optional>
      <attribute name="language"/>
    </optional>
    <optional>
      <attribute name="src"/>
    </optional>
  </define>
  <!--
    <axf:ruby>
    https://www.antennahouse.com/product/ahf65/ahf-ruby.html#axf.ruby
  -->
  <define name="axf_ruby">
    <element name="axf:ruby">
      <a:documentation>The ruby structure</a:documentation>
      <ref name="axf.ruby.attlist"/>
      <oneOrMore>
        <ref name="axf_ruby-base"/>
        <ref name="axf_ruby-text"/>
      </oneOrMore>
    </element>
  </define>
  <!--
    <axf:ruby-base>
    https://www.antennahouse.com/product/ahf65/ahf-ruby.html#axf.ruby-base
  -->
  <define name="axf_ruby-base">
    <element name="axf:ruby-base">
      <a:documentation>Base character of ruby</a:documentation>
      <choice>
        <text/>
        <ref name="axf_ruby"/>
      </choice>
    </element>
  </define>
  <!--
    <axf:ruby-text>
    https://www.antennahouse.com/product/ahf65/ahf-ruby.html#axf.ruby-text
  -->
  <define name="axf_ruby-text">
    <element name="axf:ruby-text">
      <a:documentation>Ruby</a:documentation>
      <text/>
    </element>
  </define>
  <!--
    <axf:spread-page-master>
    https://www.antennahouse.com/product/ahf65/ahf-spread.html#axf.spread-page-master
  -->
  <define name="axf_spread-page-master">
    <element name="axf:spread-page-master">
      <a:documentation>A two-page spread</a:documentation>
      <ref name="axf_background-color"/>
      <ref name="axf_background-content-height"/>
      <ref name="axf_background-content-type"/>
      <ref name="axf_background-content-width"/>
      <ref name="axf_background-image"/>
      <ref name="axf_background-position-horizontal"/>
      <ref name="axf_background-position-vertical"/>
      <ref name="axf_background-repeat"/>
      <ref name="axf_background-scaling"/>
      <ref name="axf_bleed"/>
      <ref name="common-margin-properties-block"/>
      <attribute name="left-page-master-reference">
        <a:documentation>見開きでの左ページのマスタ名</a:documentation>
        <data type="NCName"/>
      </attribute>
      <ref name="master-name"/>
      <ref name="reference-orientation"/>
      <attribute name="right-page-master-reference">
        <a:documentation>見開きでの右ページのマスタ</a:documentation>
        <data type="NCName"/>
      </attribute>
      <ref name="writing-mode"/>
      <ref name="background-attachment"/>
      <ref name="background-image"/>
      <ref name="background-position-horizontal"/>
      <ref name="background-position-vertical"/>
      <ref name="background-repeat"/>
      <oneOrMore>
        <ref name="axf_spread-region"/>
      </oneOrMore>
    </element>
  </define>
  <!--
    <axf:spread-region>
    https://www.antennahouse.com/product/ahf65/ahf-spread.html#axf.spread-region
  -->
  <define name="axf_spread-region">
    <element name="axf:spread-region">
      <a:documentation>見開きページの領域</a:documentation>
      <ref name="common-absolute-position-properties"/>
      <ref name="common-border-padding-and-background-properties"/>
      <ref name="common-margin-properties-block"/>
      <ref name="height"/>
      <ref name="region-name"/>
      <ref name="reference-orientation"/>
      <ref name="overflow"/>
      <ref name="width"/>
      <ref name="writing-mode"/>
      <empty/>
    </element>
  </define>
  <!--
    <axf:tab>
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.tab
  -->
  <define name="axf_tab">
    <element name="axf:tab">
      <a:documentation>タブ位置までスペースを空けます</a:documentation>
      <ref name="axf_tab-align"/>
      <empty/>
    </element>
  </define>
  <!--
    <axf:table-cell-repeated-marker>
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.table-cell-repeated-marker
  -->
  <define name="axf_table-cell-repeated-marker">
    <element name="axf:table-cell-repeated-marker">
      <a:documentation>内容がaxf:repeat-cell-content-at-break=&quot;true&quot;の場合に使われます</a:documentation>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="inline.fo.list"/>
          <ref name="block.fo.list"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <!--
    
    Antenna House extensions to patterns in included modules.
    
  -->
  <!--
    
    Extensions to FO models
    
  -->
  <define name="block.fo.list" combine="choice">
    <ref name="axf_form"/>
  </define>
  <define name="inline.fo.list" combine="choice">
    <choice>
      <ref name="axf_footnote-number"/>
      <ref name="axf_footnote-number-citation"/>
      <ref name="axf_form-field"/>
      <ref name="axf_ruby"/>
      <ref name="axf_tab"/>
    </choice>
  </define>
  <!--
    
    Extensions to FO attlists
    
  -->
  <!-- FOs that are not descendants of fo:flow -->
  <define name="fo_root.attlist" combine="interleave">
    <ref name="axf_layer-settings"/>
    <ref name="xml_id"/>
  </define>
  <define name="fo_page-sequence.attlist" combine="interleave">
    <ref name="axf_background-color"/>
    <ref name="axf_background-image"/>
    <ref name="axf_background-position-horizontal"/>
    <ref name="axf_background-position-vertical"/>
    <ref name="axf_background-repeat"/>
    <ref name="axf_output-volume-break"/>
    <ref name="axf_output-volume-filename"/>
    <ref name="axf_page-number-prefix"/>
    <ref name="axf_printer-bin-selection"/>
    <ref name="axf_printer-duplex"/>
    <ref name="background-color"/>
    <ref name="background-image"/>
    <ref name="background-position-horizontal"/>
    <ref name="background-position-vertical"/>
    <ref name="background-repeat"/>
    <ref name="xml_id"/>
  </define>
  <define name="fo_page-sequence-wrapper.attlist" combine="interleave">
    <ref name="xml_id"/>
  </define>
  <define name="fo_simple-page-master.attlist" combine="interleave">
    <ref name="axf_background-color"/>
    <ref name="axf_background-content-height"/>
    <ref name="axf_background-content-type"/>
    <ref name="axf_background-content-width"/>
    <ref name="axf_background-image"/>
    <ref name="axf_background-position-horizontal"/>
    <ref name="axf_background-position-vertical"/>
    <ref name="axf_background-repeat"/>
    <ref name="axf_background-scaling"/>
    <ref name="axf_bleed"/>
    <ref name="axf_bleed-top"/>
    <ref name="axf_bleed-bottom"/>
    <ref name="axf_bleed-left"/>
    <ref name="axf_bleed-right"/>
    <ref name="axf_crop-area-visibility"/>
    <ref name="axf_crop-offset"/>
    <ref name="axf_crop-offset-top"/>
    <ref name="axf_crop-offset-bottom"/>
    <ref name="axf_crop-offset-left"/>
    <ref name="axf_crop-offset-right"/>
    <ref name="axf_printer-marks"/>
    <ref name="axf_printer-marks-line-color"/>
    <ref name="axf_printer-marks-line-length"/>
    <ref name="axf_printer-marks-line-width"/>
    <ref name="axf_printer-marks-spine-width"/>
    <ref name="axf_printer-marks-zero-margin"/>
    <ref name="background-color"/>
    <ref name="background-image"/>
    <ref name="background-position-horizontal"/>
    <ref name="background-position-vertical"/>
    <ref name="background-repeat"/>
  </define>
  <define name="fo_region-body.attlist" combine="interleave">
    <ref name="axf_column-fill"/>
    <ref name="axf_column-rule-align"/>
    <ref name="axf_column-rule-color"/>
    <ref name="axf_column-rule-display"/>
    <ref name="axf_column-rule-length"/>
    <ref name="axf_column-rule-style"/>
    <ref name="axf_column-rule-width"/>
    <ref name="axf_footnote-align"/>
    <ref name="axf_footnote-keep"/>
    <ref name="axf_footnote-max-height"/>
    <ref name="axf_footnote-position"/>
    <ref name="axf_footnote-stacking"/>
  </define>
  <define name="fo_flow.attlist" combine="interleave">
    <ref name="axf_baseline-grid"/>
    <ref name="xml_id"/>
  </define>
  <define name="fo_static-content.attlist" combine="interleave">
    <ref name="axf_baseline-grid"/>
    <ref name="xml_id"/>
  </define>
  <!-- FOs in flow listed in alphabetic order -->
  <define name="fo_basic-link.attlist" combine="interleave">
    <ref name="axf_action-type"/>
    <ref name="axf_alttext"/>
    <ref name="text-decoration"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
    <ref name="axf.text-decoration.attlist"/>
  </define>
  <define name="fo_bidi-override.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
    <ref name="axf.text-decoration.attlist"/>
  </define>
  <define name="fo_block.attlist" combine="interleave">
    <ref name="axf_destination-type"/>
    <ref name="axf_suppress-if-first-on-page"/>
    <ref name="height"/>
    <ref name="max-height"/>
    <ref name="max-width"/>
    <ref name="min-height"/>
    <ref name="min-width"/>
    <ref name="text-decoration"/>
    <ref name="width"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
    <ref name="axf.block.attlist"/>
    <ref name="axf.text-decoration.attlist"/>
  </define>
  <define name="fo_block-container.attlist" combine="interleave">
    <ref name="axf_column-count"/>
    <ref name="axf_column-fill"/>
    <ref name="axf_column-gap"/>
    <ref name="axf_column-rule-align"/>
    <ref name="axf_column-rule-color"/>
    <ref name="axf_column-rule-display"/>
    <ref name="axf_column-rule-length"/>
    <ref name="axf_column-rule-style"/>
    <ref name="axf_column-rule-width"/>
    <ref name="axf_destination-type"/>
    <ref name="axf_suppress-if-first-on-page"/>
    <ref name="axf.block.attlist"/>
    <ref name="column-count"/>
    <ref name="column-gap"/>
    <ref name="role"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_character.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
    <ref name="axf.text-decoration.attlist"/>
  </define>
  <define name="fo_external-graphic.attlist" combine="interleave">
    <ref name="axf_alttext"/>
    <ref name="axf_background-image-resolution"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_float.attlist" combine="interleave">
    <ref name="axf_float"/>
    <ref name="axf_float-x"/>
    <ref name="axf_float-y"/>
    <ref name="axf_float-reference"/>
    <ref name="axf_float-move"/>
    <ref name="axf_float-wrap"/>
    <ref name="axf_float-min-wrap-x"/>
    <ref name="axf_float-min-wrap-y"/>
    <ref name="axf_float-centering-x"/>
    <ref name="axf_float-centering-y"/>
    <ref name="axf_float-margin-x"/>
    <ref name="axf_float-margin-y"/>
    <ref name="axf_float-float-margin-x"/>
    <ref name="axf_float-float-margin-y"/>
    <ref name="axf_float-offset-x"/>
    <ref name="axf_float-offset-y"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_footnote.attlist" combine="interleave">
    <ref name="space-before"/>
    <ref name="axf_footnote-align"/>
    <ref name="axf_footnote-stacking"/>
    <ref name="axf_footnote-position"/>
    <ref name="axf_footnote-keep"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_footnote-body.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_index-range-begin.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_inline.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
    <ref name="axf.text-decoration.attlist"/>
    <ref name="axf_indent-here"/>
  </define>
  <define name="fo_inline-container.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_instream-foreign-object.attlist" combine="interleave">
    <ref name="axf_alttext"/>
    <ref name="axf_background-image-resolution"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_leader.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
    <ref name="axf.text-decoration.attlist"/>
  </define>
  <define name="fo_list-block.attlist" combine="interleave">
    <ref name="axf.block.attlist"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_list-item.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
    <ref name="axf-outline-properties"/>
  </define>
  <define name="fo_list-item-body.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_list-item-label.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_multi-case.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_multi-property-set.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_multi-switch.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_multi-toggle.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_page-number.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
    <ref name="axf.page-number.attlist"/>
  </define>
  <define name="fo_page-number-citation.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
    <ref name="axf.page-number.attlist"/>
  </define>
  <define name="fo_page-number-citation-last.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
    <ref name="axf.page-number.attlist"/>
  </define>
  <define name="fo_scaling-value-citation.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
    <ref name="axf.text-decoration.attlist"/>
  </define>
  <define name="fo_table.attlist" combine="interleave">
    <ref name="axf_table-summary"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
    <ref name="axf.block.attlist"/>
  </define>
  <define name="fo_table-and-caption.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.block.attlist"/>
  </define>
  <define name="fo_table-caption.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_table-cell.attlist" combine="interleave">
    <ref name="axf_headers"/>
    <ref name="axf_repeat-cell-content-at-break"/>
    <ref name="axf_scope"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_table-column.attlist" combine="interleave">
    <ref name="id"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_table-body.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_table-footer.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_table-header.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_table-row.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_wrapper.attlist" combine="interleave">
    <ref name="text-decoration"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
    <ref name="axf.text-decoration.attlist"/>
  </define>
  <!--
    
    Extensions to property groups
    
  -->
  <define name="common-accessibility-properties" combine="interleave">
    <ref name="axf_pdftag"/>
  </define>
  <define name="common-border-padding-and-background-properties" combine="interleave">
    <ref name="axf_background-content-width"/>
    <ref name="axf_background-content-height"/>
    <ref name="axf_background-content-type"/>
    <ref name="axf_background-scaling"/>
    <ref name="axf_border-radius"/>
    <ref name="axf_border-top-left-radius"/>
    <ref name="axf_border-top-right-radius"/>
    <ref name="axf_border-bottom-left-radius"/>
    <ref name="axf_border-bottom-right-radius"/>
    <ref name="axf_diagonal-border-style"/>
    <ref name="axf_reverse-diagonal-border-style"/>
  </define>
  <!--
    
    Antenna House extension properties
    
  -->
  <!--
    List of annotation-related properties common to block-level and
    inline-level formatting objects
  -->
  <define name="axf.annotation.attlist">
    <ref name="axf_annotation-author"/>
    <ref name="axf_annotation-border-color"/>
    <ref name="axf_annotation-border-style"/>
    <ref name="axf_annotation-border-width"/>
    <ref name="axf_annotation-color"/>
    <ref name="axf_annotation-contents"/>
    <ref name="axf_annotation-file-attachment"/>
    <ref name="axf_annotation-flags"/>
    <ref name="axf_annotation-font-family"/>
    <ref name="axf_annotation-font-size"/>
    <ref name="axf_annotation-font-style"/>
    <ref name="axf_annotation-font-weight"/>
    <ref name="axf_annotation-height"/>
    <ref name="axf_annotation-icon-name"/>
    <ref name="axf_annotation-open"/>
    <ref name="axf_annotation-position-horizontal"/>
    <ref name="axf_annotation-position-vertical"/>
    <ref name="axf_annotation-text-align"/>
    <ref name="axf_annotation-text-color"/>
    <ref name="axf_annotation-title"/>
    <ref name="axf_annotation-type"/>
    <ref name="axf_annotation-width"/>
  </define>
  <!--
    List of baseline-grid-related extension properties
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#line-grid
  -->
  <define name="axf-baseline-grid-properties">
    <ref name="axf_baseline-grid"/>
    <ref name="axf_baseline-block-snap"/>
  </define>
  <!--
    List of outline-related extension properties
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#bookmark-and-link
  -->
  <define name="axf-outline-properties">
    <ref name="axf_outline-expand"/>
    <ref name="axf_outline-group"/>
    <ref name="axf_outline-level"/>
    <ref name="axf_outline-title"/>
    <ref name="axf_outline-color"/>
    <ref name="axf_outline-font-style"/>
    <ref name="axf_outline-font-weight"/>
  </define>
  <!--
    List of extension properties to control page and column numbers.
    See https://www.antennahouse.com/product/ahf65/ahf-ext.html#page-number
  -->
  <define name="axf.page-number.attlist">
    <!-- axf:assumed-page-number is inherited. -->
    <ref name="axf_column-number-format"/>
    <ref name="axf_number-type"/>
    <!-- axf:page-number-prefix only applies to fo:page-sequence -->
    <ref name="axf_physical-page-number"/>
    <ref name="axf_origin-id"/>
    <ref name="axf_reverse-page-number"/>
    <!-- axf:suppress-duplicate-page-number is deprecated. -->
    <ref name="axf_suppress-folio-prefix"/>
    <ref name="axf_suppress-folio-suffix"/>
  </define>
  <!--
    List of text decoration extension properties
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#text-decoration
  -->
  <define name="axf.text-decoration.attlist">
    <ref name="axf_text-line-color"/>
    <ref name="axf_text-line-style"/>
    <ref name="axf_text-line-width"/>
    <ref name="axf_text-underline-position"/>
  </define>
  <!--
    List of extension properties common to all block-level formatting
    objects
  -->
  <define name="axf.block.attlist">
    <ref name="axf-baseline-grid-properties"/>
    <ref name="axf-outline-properties"/>
    <ref name="axf_text-overflow"/>
  </define>
  <define name="axf.ruby.attlist">
    <ref name="axf_ruby-align"/>
    <ref name="axf_ruby-position"/>
    <ref name="axf_ruby-offset"/>
    <ref name="axf_ruby-overhang"/>
    <ref name="axf_ruby-limit-overhang"/>
    <ref name="axf_ruby-limit-space"/>
    <ref name="axf_ruby-small-kana"/>
    <ref name="axf_ruby-font-family"/>
    <ref name="axf_ruby-font-size"/>
    <ref name="axf_ruby-minimum-font-size"/>
    <ref name="axf_ruby-font-style"/>
    <ref name="axf_ruby-font-weight"/>
    <ref name="axf_ruby-font-stretch"/>
    <ref name="axf_ruby-condense"/>
    <ref name="axf_ruby-color"/>
  </define>
  <!--
    @axf:background-color
    @axf:background-image
    @axf:background-position-horizontal
    @axf:background-position-vertical
    @axf:background-repeat
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#IDAAOLV
  -->
  <define name="axf_background-color">
    <optional>
      <attribute name="axf:background-color">
        <a:documentation>&lt;color&gt; | transparent</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_background-image">
    <optional>
      <attribute name="axf:background-image">
        <a:documentation>&lt;uri-specification&gt; | none</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_background-position-horizontal">
    <optional>
      <attribute name="axf:background-position-horizontal">
        <a:documentation>&lt;percentage&gt; | &lt;length&gt; | left | center | right</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_background-position-vertical">
    <optional>
      <attribute name="axf:background-position-vertical">
        <a:documentation>&lt;percentage&gt; | &lt;length&gt; | top | center | bottom</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_background-repeat">
    <optional>
      <attribute name="axf:background-repeat">
        <a:documentation>repeat | repeat-x | repeat-y | no-repeat | paginate</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:action-type
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.action-type
  -->
  <define name="axf_action-type">
    <optional>
      <attribute name="axf:action-type">
        <a:documentation>外部リンクまたはフォームアクションの動作を指定します</a:documentation>
        <choice>
          <value>gotor</value>
          <value>launch</value>
          <value>uri</value>
          <value>reset</value>
          <value>submit</value>
          <value>auto</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:alt-text
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.alttext
  -->
  <define name="axf_alttext">
    <optional>
      <attribute name="axf:alttext">
        <a:documentation>画像の代替テキスト</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-author
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-author
  -->
  <define name="axf_annotation-author">
    <optional>
      <attribute name="axf:annotation-author">
        <a:documentation>注釈の作成者： &lt;string&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-border-color
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-border-color
  -->
  <define name="axf_annotation-border-color">
    <optional>
      <attribute name="axf:annotation-border-color">
        <a:documentation>Border color of the free text annotation: &lt;color&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-border-style
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-border-style
  -->
  <define name="axf_annotation-border-style">
    <optional>
      <attribute name="axf:annotation-border-style">
        <a:documentation>Border style of the free text annotation: solid | dotted | dashed | dot-dash | dot-dot-dash</a:documentation>
        <choice>
          <value>solid</value>
          <value>dotted</value>
          <value>dashed</value>
          <value>dot-dash</value>
          <value>dot-dot-dash</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-border-width
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-border-width
  -->
  <define name="axf_annotation-border-width">
    <optional>
      <attribute name="axf:annotation-border-width">
        <a:documentation>Border width of the free text annotation: &lt;border-width&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-color
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-color
  -->
  <define name="axf_annotation-color">
    <optional>
      <attribute name="axf:annotation-color">
        <a:documentation>注釈の背景などに利用される色： &lt;color&gt; | none</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-contents
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-contents
  -->
  <define name="axf_annotation-contents">
    <optional>
      <attribute name="axf:annotation-contents">
        <a:documentation>注釈の内容：&lt;string&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-file-attachment
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-file-attachment
  -->
  <define name="axf_annotation-file-attachment">
    <optional>
      <attribute name="axf:annotation-file-attachment">
        <a:documentation>ファイル添付注釈の関連付けられるファイル： &lt;uri-specification&gt;</a:documentation>
        <data type="anyURI"/>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-flags
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-flags
  -->
  <define name="axf_annotation-flags">
    <optional>
      <attribute name="axf:annotation-flags">
        <a:documentation>Characteristics of the annotation: Invisible | Hidden | Print | NoZoom | NoRotate | NoView | ReadOnly | Locked | ToggleNoView | LockedContents</a:documentation>
        <choice>
          <value>Invisible</value>
          <value>Hidden</value>
          <value>Print</value>
          <value>NoZoom</value>
          <value>NoRotate</value>
          <value>NoView</value>
          <value>ReadOnly</value>
          <value>Locked</value>
          <value>ToggleNoView</value>
          <value>LockedContents</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-font-family
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-font-family
  -->
  <define name="axf_annotation-font-family">
    <optional>
      <attribute name="axf:annotation-font-family">
        <a:documentation>Font family of the free text annotation: &lt;string&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-font-size
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-font-size
  -->
  <define name="axf_annotation-font-size">
    <optional>
      <attribute name="axf:annotation-font-size">
        <a:documentation>Font size of the free text annotation: &lt;string&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-font-style
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-font-style
  -->
  <define name="axf_annotation-font-style">
    <optional>
      <attribute name="axf:annotation-font-style">
        <a:documentation>Font style of the free text annotation: &lt;string&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-font-weight
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-font-weight
  -->
  <define name="axf_annotation-font-weight">
    <optional>
      <attribute name="axf:annotation-font-weight">
        <a:documentation>Font weight of the free text annotation: &lt;string&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-height
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-height
  -->
  <define name="axf_annotation-height">
    <optional>
      <attribute name="axf:annotation-height">
        <a:documentation>注釈の高さ： &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-icon-name
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-icon-name
  -->
  <define name="axf_annotation-icon-name">
    <optional>
      <attribute name="axf:annotation-icon-name">
        <a:documentation>注釈の表示に用いるアイコンの名前： &lt;string&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-open
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-open
  -->
  <define name="axf_annotation-open">
    <optional>
      <attribute name="axf:annotation-open">
        <a:documentation>注釈の最初の状態： true | false</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-position-horizontal
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-position-horizontal
  -->
  <define name="axf_annotation-position-horizontal">
    <optional>
      <attribute name="axf:annotation-position-horizontal">
        <a:documentation>注釈の水平位置： &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-position-vertical
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-position-vertical
  -->
  <define name="axf_annotation-position-vertical">
    <optional>
      <attribute name="axf:annotation-position-vertical">
        <a:documentation>注釈の垂直位置： &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-text-align
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-text-align
  -->
  <define name="axf_annotation-text-align">
    <optional>
      <attribute name="axf:annotation-text-align">
        <a:documentation>Alignment of the free text annotation: &lt;string&gt;</a:documentation>
        <choice>
          <value>left</value>
          <value>center</value>
          <value>right</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-text-color
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-text-color
  -->
  <define name="axf_annotation-text-color">
    <optional>
      <attribute name="axf:annotation-text-color">
        <a:documentation>Color of the free text annotation: &lt;string&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-title
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-title
  -->
  <define name="axf_annotation-title">
    <optional>
      <attribute name="axf:annotation-title">
        <a:documentation>注釈のタイトル： &lt;string&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-type
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-type
  -->
  <define name="axf_annotation-type">
    <optional>
      <attribute name="axf:annotation-type">
        <a:documentation>注釈の種類： Empty string | Text | FreeText | Stamp | FileAttachment</a:documentation>
        <optional>
          <choice>
            <value>Text</value>
            <value>FreeText</value>
            <value>Stamp</value>
            <value>FileAttachment</value>
          </choice>
        </optional>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-width
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-width
  -->
  <define name="axf_annotation-width">
    <optional>
      <attribute name="axf:annotation-width">
        <a:documentation>注釈の幅： &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:background-content-height
    @axf:background-content-type
    @axf:background-content-width
    @axf:background-scaling
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.background-content
  -->
  <define name="axf_background-content-height">
    <optional>
      <attribute name="axf:background-content-height">
        <a:documentation>auto | scale-to-fit | scale-down-to-fit | scale-up-to-fit | &lt;length&gt; | &lt;percentage&gt; | inherit</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_background-content-type">
    <optional>
      <attribute name="axf:background-content-type">
        <a:documentation>&lt;string&gt; | auto</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_background-content-width">
    <optional>
      <attribute name="axf:background-content-width">
        <a:documentation>auto | scale-to-fit | scale-down-to-fit | scale-up-to-fit | &lt;length&gt; | &lt;percentage&gt; | inherit</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_background-scaling">
    <optional>
      <attribute name="axf:background-scaling">
        <a:documentation>uniform | non-uniform | inherit</a:documentation>
        <choice>
          <value>uniform</value>
          <value>non-uniform</value>
          <value>inherit</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:background-image-resolution
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.background-image-resolution
  -->
  <define name="axf_background-image-resolution">
    <attribute name="axf:background-image-resolution">
      <a:documentation>Resolution of a background image: [ normal | [ from-image || &lt;dpi&gt; ] ]#</a:documentation>
    </attribute>
  </define>
  <!--
    @axf:baseline-block-snap
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.baseline-block-snap
  -->
  <define name="axf_baseline-block-snap">
    <optional>
      <attribute name="axf:baseline-block-snap">
        <a:documentation>ブロックを行グリッドにどのように揃えるか： none | [auto | before | after | center] || [border-box | margin-box]</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:baseline-grid
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.baseline-grid
  -->
  <define name="axf_baseline-grid">
    <optional>
      <attribute name="axf:baseline-grid">
        <a:documentation>行グリッドを設定または解除します： normal | none | root | new</a:documentation>
        <choice>
          <value>normal</value>
          <value>none</value>
          <value>root</value>
          <value>new</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:border-radius
    @axf:border-top-left-radius
    @axf:border-top-right-radius
    @axf:border-bottom-left-radius
    @axf:border-bottom-right-radius
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.border-radius
  -->
  <define name="axf_border-radius">
    <optional>
      <attribute name="axf:border-radius">
        <a:documentation>丸め罫の径： [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_border-top-left-radius">
    <optional>
      <attribute name="axf:border-top-left-radius">
        <a:documentation>丸め罫の左上の径： [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_border-top-right-radius">
    <optional>
      <attribute name="axf:border-top-right-radius">
        <a:documentation>丸め罫の右上の径： [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_border-bottom-left-radius">
    <optional>
      <attribute name="axf:border-bottom-left-radius">
        <a:documentation>丸め罫の左下の径： [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_border-bottom-right-radius">
    <optional>
      <attribute name="axf:border-bottom-right-radius">
        <a:documentation>丸め罫の右下の径： [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:bleed
    @axf:bleed-top
    @axf:bleed-bottom
    @axf:bleed-left
    @axf:bleed-right
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.bleed
  -->
  <define name="axf_bleed">
    <optional>
      <attribute name="axf:bleed">
        <a:documentation>塗り足しの領域の幅： &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_bleed-top">
    <optional>
      <attribute name="axf:bleed-top">
        <a:documentation>塗り足しの領域の上の幅: &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_bleed-bottom">
    <optional>
      <attribute name="axf:bleed-bottom">
        <a:documentation>塗り足しの領域の下の幅: &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_bleed-left">
    <optional>
      <attribute name="axf:bleed-left">
        <a:documentation>塗り足しの領域の左の幅: &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_bleed-right">
    <optional>
      <attribute name="axf:bleed-right">
        <a:documentation>塗り足しの領域の右の幅: &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:column-count
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-count
  -->
  <define name="axf_column-count">
    <optional>
      <attribute name="axf:column-count">
        <a:documentation>段数： &lt;number&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:column-fill
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-fill
  -->
  <define name="axf_column-fill">
    <optional>
      <attribute name="axf:column-fill">
        <a:documentation>段の高さをバランスさせるかどう： auto | balance</a:documentation>
        <choice>
          <value>auto</value>
          <value>balance</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:column-gap
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-gap
  -->
  <define name="axf_column-gap">
    <optional>
      <attribute name="axf:column-gap">
        <a:documentation>段と段の間： &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:column-rule-align
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-rule-align
  -->
  <define name="axf_column-rule-align">
    <optional>
      <attribute name="axf:column-rule-align">
        <a:documentation>段間罫の配置： before | center | after</a:documentation>
        <choice>
          <value>before</value>
          <value>center</value>
          <value>after</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:column-rule-color
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-rule-color
  -->
  <define name="axf_column-rule-color">
    <optional>
      <attribute name="axf:column-rule-color">
        <a:documentation>段間罫の色： &lt;color&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:column-rule-display
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-rule-display
  -->
  <define name="axf_column-rule-display">
    <optional>
      <attribute name="axf:column-rule-display">
        <a:documentation>段間が存在する可能性段間罫を表示するかどうか: gap | end | all</a:documentation>
        <choice>
          <value>gap</value>
          <value>end</value>
          <value>all</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:column-rule-length
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-rule-length
  -->
  <define name="axf_column-rule-length">
    <optional>
      <attribute name="axf:column-rule-length">
        <a:documentation>段間罫の長さ： &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:column-rule-style
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-rule-style
  -->
  <define name="axf_column-rule-style">
    <optional>
      <attribute name="axf:column-rule-style">
        <a:documentation>段間罫のスタイル： &lt;border-style&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:column-rule-width
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-rule-width
  -->
  <define name="axf_column-rule-width">
    <optional>
      <attribute name="axf:column-rule-width">
        <a:documentation>段間罫の幅： &lt;border-width&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:crop-area-visibility
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.crop-area-visibility
  -->
  <define name="axf_crop-area-visibility">
    <optional>
      <attribute name="axf:crop-area-visibility">
        <a:documentation>仕上がり寸法からはみ出した領域を表示するかどうか</a:documentation>
        <choice>
          <value>hidden</value>
          <value>visible</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:crop-offset
    @axf:crop-offset-top
    @axf:crop-offset-bottom
    @axf:crop-offset-left
    @axf:crop-offset-right
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.crop-offset
  -->
  <define name="axf_crop-offset">
    <optional>
      <attribute name="axf:crop-offset">
        <a:documentation>出力媒体の物理的な端から仕上がり寸法までの距： &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_crop-offset-top">
    <optional>
      <attribute name="axf:crop-offset-top">
        <a:documentation>出力媒体の物理的な上端から仕上がり寸法までの距： &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_crop-offset-bottom">
    <optional>
      <attribute name="axf:crop-offset-bottom">
        <a:documentation>出力媒体の物理的な下端から仕上がり寸法までの距： &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_crop-offset-left">
    <optional>
      <attribute name="axf:crop-offset-left">
        <a:documentation>出力媒体の物理的な左端から仕上がり寸法までの距： &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_crop-offset-right">
    <optional>
      <attribute name="axf:crop-offset-right">
        <a:documentation>出力媒体の物理的な右端から仕上がり寸法までの距： &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:column-number-format
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-number-format
  -->
  <define name="axf_column-number-format">
    <optional>
      <attribute name="axf:column-number-format">
        <a:documentation>段番号のための書式： &lt;string&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:destination-type
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.destination-type
  -->
  <define name="axf_destination-type">
    <optional>
      <attribute name="axf:destination-type">
        <a:documentation>リンクは、リンク先に開く方法</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:diagonal-border-style
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.diagonal-border-style
  -->
  <define name="axf_diagonal-border-style">
    <optional>
      <attribute name="axf:diagonal-border-style">
        <a:documentation>対角罫のスタイルを指定します: &lt;border-style&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:field-submit-coordinates
    @field-submit-coordinates
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.field-submit-coordinates
  -->
  <define name="axf_field-submit-coordinates">
    <choice>
      <attribute name="axf:field-submit-coordinates">
        <a:documentation>サブミット時にマウスの座標を送出するかどうか： false | true</a:documentation>
        <choice>
          <value>false</value>
          <value>true</value>
        </choice>
      </attribute>
      <attribute name="field-submit-coordinates">
        <a:documentation>サブミット時にマウスの座標を送出するかどうか： false | true</a:documentation>
        <choice>
          <value>false</value>
          <value>true</value>
        </choice>
      </attribute>
    </choice>
  </define>
  <!--
    @axf:field-submit-method
    @field-submit-method
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.field-submit-method
  -->
  <define name="axf_field-submit-method">
    <choice>
      <attribute name="axf:field-submit-method">
        <a:documentation>サブミット時の情報の送出方法： get | post</a:documentation>
        <choice>
          <value>get</value>
          <value>post</value>
        </choice>
      </attribute>
      <attribute name="field-submit-method">
        <a:documentation>サブミット時の情報の送出方法： get | post</a:documentation>
        <choice>
          <value>get</value>
          <value>post</value>
        </choice>
      </attribute>
    </choice>
  </define>
  <!--
    @axf:float
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html
  -->
  <define name="axf_float">
    <optional>
      <attribute name="axf:float">
        <a:documentation>フロート関連拡張プロパティのためのショートハンド</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-x
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-x
  -->
  <define name="axf_float-x">
    <optional>
      <attribute name="axf:float-x">
        <a:documentation>水平（縦書きでは垂直）方向のフロート配置： none | start | end | left | right | top | bottom | center | inside | outside | alternate</a:documentation>
        <choice>
          <value>none</value>
          <value>start</value>
          <value>end</value>
          <value>left</value>
          <value>right</value>
          <value>top</value>
          <value>bottom</value>
          <value>center</value>
          <value>inside</value>
          <value>outside</value>
          <value>alternate</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-y
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-y
  -->
  <define name="axf_float-y">
    <optional>
      <attribute name="axf:float-y">
        <a:documentation>垂直（縦書きでは水平）方向のフロート配置： none | before | after | top | bottom | left | right | center | inside | outside</a:documentation>
        <choice>
          <value>none</value>
          <value>before</value>
          <value>after</value>
          <value>top</value>
          <value>bottom</value>
          <value>left</value>
          <value>right</value>
          <value>center</value>
          <value>inside</value>
          <value>outside</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-reference
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-reference
  -->
  <define name="axf_float-reference">
    <optional>
      <attribute name="axf:float-reference">
        <a:documentation>フロートを配置する参照エリア ： auto | normal | page | column | multicol</a:documentation>
        <choice>
          <value>auto</value>
          <value>normal</value>
          <value>page</value>
          <value>column</value>
          <value>multicol</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-move
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-move
  -->
  <define name="axf_float-move">
    <optional>
      <attribute name="axf:float-move">
        <a:documentation>フロートは次のページまたは段に送るかどうか： auto | next | auto-next | auto-move | keep | keep-float</a:documentation>
        <choice>
          <value>auto</value>
          <value>next</value>
          <value>auto-next</value>
          <value>auto-move</value>
          <value>keep</value>
          <value>keep-float</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-wrap
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-wrap
  -->
  <define name="axf_float-wrap">
    <optional>
      <attribute name="axf:float-wrap">
        <a:documentation>テキストの回り込みについて： auto | wrap | skip</a:documentation>
        <choice>
          <value>auto</value>
          <value>wrap</value>
          <value>skip</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-min-wrap-x
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-min-wrap-x
  -->
  <define name="axf_float-min-wrap-x">
    <optional>
      <attribute name="axf:float-min-wrap-x">
        <a:documentation>フロートへのテキスト回り込みのための幅： normal | &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-min-wrap-y
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-min-wrap-y
  -->
  <define name="axf_float-min-wrap-y">
    <optional>
      <attribute name="axf:float-min-wrap-y">
        <a:documentation>フロートの前後に配置するテキスト量の最小値： normal | &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-centering-x
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-centering-x
  -->
  <define name="axf_float-centering-x">
    <optional>
      <attribute name="axf:float-centering-x">
        <a:documentation>フロートへのテキスト回り込みのための幅が足りないときフロートをセンタリングするかどうか： none | auto | &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-centering-y
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-centering-y
  -->
  <define name="axf_float-centering-y">
    <optional>
      <attribute name="axf:float-centering-y">
        <a:documentation>フロートの前後にテキストを配置する高さが足りないときフロートをセンタリングするかどうか： none | auto | &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-margin-x
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-margin-x
  -->
  <define name="axf_float-margin-x">
    <optional>
      <attribute name="axf:float-margin-x">
        <a:documentation>フロートと回り込むテキストとの間の余白を指定します（x方向）： [ &lt;length&gt; | &lt;percentage&gt; ] [ &lt;length&gt; | &lt;percentage&gt; ]?</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-margin-y
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-margin-y
  -->
  <define name="axf_float-margin-y">
    <optional>
      <attribute name="axf:float-margin-y">
        <a:documentation>フロートと前後のテキストとの間の余白を指定します（y方向）： [ &lt;length&gt; | &lt;percentage&gt; ] [ &lt;length&gt; | &lt;percentage&gt; ]?</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-float-margin-x
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-float-margin-x
  -->
  <define name="axf_float-float-margin-x">
    <optional>
      <attribute name="axf:float-float-margin-x">
        <a:documentation>フロートと別の隣接するフロートとの間の余白を指定します（x方向）： auto | [[ &lt;length&gt; | &lt;percentage&gt; ] [ &lt;length&gt; | &lt;percentage&gt; ]?]</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-float-margin-y
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-float-margin-y
  -->
  <define name="axf_float-float-margin-y">
    <optional>
      <attribute name="axf:float-float-margin-y">
        <a:documentation>フロートと別の隣接するフロートとの間の余白を指定します（y方向）： auto | [[ &lt;length&gt; | &lt;percentage&gt; ] [ &lt;length&gt; | &lt;percentage&gt; ]?]</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-offset-x
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-offset-x
  -->
  <define name="axf_float-offset-x">
    <optional>
      <attribute name="axf:float-offset-x">
        <a:documentation>フロートのオフセット配置を指定します（x方向）： &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-offset-y
    
    https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-offset-y
  -->
  <define name="axf_float-offset-y">
    <optional>
      <attribute name="axf:float-offset-y">
        <a:documentation>フロートのオフセット配置を指定します（y方向）： &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:footnote-align
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.footnote-align
  -->
  <define name="axf_footnote-align">
    <optional>
      <attribute name="axf:footnote-align">
        <a:documentation>脚注の配置を指定します。 </a:documentation>
        <choice>
          <value>auto</value>
          <value>before</value>
          <value>after</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:footnote-stacking
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.footnote-stacking
  -->
  <define name="axf_footnote-stacking">
    <optional>
      <attribute name="axf:footnote-stacking">
        <a:documentation>脚注の配置の方法</a:documentation>
        <choice>
          <value>block</value>
          <value>inline</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:footnote-position
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.footnote-position
  -->
  <define name="axf_footnote-position">
    <optional>
      <attribute name="axf:footnote-position">
        <a:documentation>脚注を配置する場所</a:documentation>
        <choice>
          <value>page</value>
          <value>odd-page</value>
          <value>even-page</value>
          <value>start</value>
          <value>end</value>
          <value>inside</value>
          <value>outside</value>
          <value>column</value>
          <value>start-column</value>
          <value>end-column</value>
          <value>inside-column</value>
          <value>outside-column</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:footnote-keep
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.footnote-keep
  -->
  <define name="axf_footnote-keep">
    <optional>
      <attribute name="axf:footnote-keep">
        <a:documentation>脚注とアンカを同一ページ内または段内に配置するように</a:documentation>
        <choice>
          <value>auto</value>
          <value>always</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:footnote-max-height
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.footnote-max-height
  -->
  <define name="axf_footnote-max-height">
    <optional>
      <attribute name="axf:footnote-max-height">
        <a:documentation>脚注の最大高さ： auto | &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:headers
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.headers
  -->
  <define name="axf_headers">
    <optional>
      <attribute name="axf:headers">
        <a:documentation>あるセルがどの見出しに対応する内容である： &lt;idrefs&gt;</a:documentation>
        <data type="IDREFS"/>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:indent-here
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.indent-here
  -->
  <define name="axf_indent-here">
    <optional>
      <attribute name="axf:indent-here">
        <a:documentation>改行時のインデント位置を領域の位置に合わせます： none | &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:layer-settings
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.layer-settings
  -->
  <define name="axf_layer-settings">
    <optional>
      <attribute name="axf:layer-settings">
        <a:documentation>レイヤを定義します: none | &lt;layer-setting&gt;#</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:number-type
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.number-type
  -->
  <define name="axf_number-type">
    <optional>
      <attribute name="axf:number-type">
        <a:documentation>ページ番号を出力するのか段番号を出力するのかまた両方を出力するのか： page | column | page-and-column</a:documentation>
        <choice>
          <value>page</value>
          <value>column</value>
          <value>page-and-column</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:outline-expand
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.outline-expand
  -->
  <define name="axf_outline-expand">
    <optional>
      <attribute name="axf:outline-expand">
        <a:documentation>しおりの初期状態で、下位の階層を表示するかどうか: true | false</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:origin-id
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.origin-id
  -->
  <define name="axf_origin-id">
    <optional>
      <attribute name="axf:origin-id">
        <a:documentation>ページ番号の基点：&lt;idref&gt;</a:documentation>
        <data type="IDREF"/>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:outline-group
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.outline-group
  -->
  <define name="axf_outline-group">
    <optional>
      <attribute name="axf:outline-group">
        <a:documentation>出力グループの名： &lt;string&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:outline-level
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.outline-level
  -->
  <define name="axf_outline-level">
    <optional>
      <attribute name="axf:outline-level">
        <a:documentation>しおりの項目の階層レベル</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:outline-title
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.outline-title
  -->
  <define name="axf_outline-title">
    <optional>
      <attribute name="axf:outline-title">
        <a:documentation>しおりのタイトルとして表示される文字列</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:outline-color
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.outline-color
  -->
  <define name="axf_outline-color">
    <optional>
      <attribute name="axf:outline-color">
        <a:documentation>しおりのタイトルとして表示される文字列の色</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:outline-font-style
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf_outline-font-style
  -->
  <define name="axf_outline-font-style">
    <optional>
      <attribute name="axf:outline-font-style">
        <a:documentation>しおりのタイトルとして表示される文字列のフォントスタイル: normal | italic</a:documentation>
        <choice>
          <value>normal</value>
          <value>italic</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:outline-font-weight
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf:outline-font-weight
  -->
  <define name="axf_outline-font-weight">
    <optional>
      <attribute name="axf:outline-font-weight">
        <a:documentation>しおりのタイトルとして表示される文字列のフォントの太さ: normal | bold</a:documentation>
        <choice>
          <value>normal</value>
          <value>bold</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:output-volume-break
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.output-volume-break
  -->
  <define name="axf_output-volume-break">
    <optional>
      <attribute name="axf:output-volume-break">
        <a:documentation>このfo:page-sequenceが新しい冊を開始するかどうか： true | false</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:output-volume-filename
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.output-volume-filename
  -->
  <define name="axf_output-volume-filename">
    <optional>
      <attribute name="axf:output-volume-filename">
        <a:documentation>このfo:page-sequenceが新しい冊を開始するかどうか</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:page-number-prefix
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.page-number-prefix
  -->
  <define name="axf_page-number-prefix">
    <optional>
      <attribute name="axf:page-number-prefix">
        <a:documentation>ページ番号の前置を指定します。注：同様の機能がXSL1.1で用意しています。fo:folio-prefixを利用して下さい。</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:pdftag
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.pdftag
  -->
  <define name="axf_pdftag">
    <optional>
      <attribute name="axf:pdftag">
        <a:documentation>タグ付きPDFのタグ名</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:physical-page-number
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.physical-page-number
  -->
  <define name="axf_physical-page-number">
    <optional>
      <attribute name="axf:physical-page-number">
        <a:documentation>物理的なページ番号を振るかどうか： true | false</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:printer-marks
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-marks
  -->
  <define name="axf_printer-marks">
    <optional>
      <attribute name="axf:printer-marks">
        <a:documentation>トンボなどの印刷マーク</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:printer-bin-selection
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-bin-selection
  -->
  <define name="axf_printer-bin-selection">
    <optional>
      <attribute name="axf:printer-bin-selection">
        <a:documentation>プリンタのトレイを選択します： &lt;string&gt; | &lt;integer&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:printer-duplex
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-duplex
  -->
  <define name="axf_printer-duplex">
    <optional>
      <attribute name="axf:printer-duplex">
        <a:documentation>両面印刷の指定をします： &lt;integer&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:printer-marks-line-color
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-marks-line-color
  -->
  <define name="axf_printer-marks-line-color">
    <optional>
      <attribute name="axf:printer-marks-line-color">
        <a:documentation>トンボの色： &lt;line&gt; | auto</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:printer-marks-line-length
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-marks-line-length
  -->
  <define name="axf_printer-marks-line-length">
    <optional>
      <attribute name="axf:printer-marks-line-length">
        <a:documentation>トンボの線の長さ： &lt;length&gt; | auto</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:printer-marks-line-width
    Line width of printer marks: <length> | auto
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-marks-line-width
  -->
  <define name="axf_printer-marks-line-width">
    <optional>
      <attribute name="axf:printer-marks-line-width">
        <a:documentation>トンボの線の幅</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:printer-marks-zero-margin
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-marks-zero-margin
  -->
  <define name="axf_printer-marks-zero-margin">
    <optional>
      <attribute name="axf:printer-marks-zero-margin">
        <a:documentation>bleedが0のときの、版面とトンボの間のマージン： &lt;length&gt; | auto</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:printer-marks-spine-width
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-marks-spine-width
  -->
  <define name="axf_printer-marks-spine-width">
    <optional>
      <attribute name="axf:printer-marks-spine-width">
        <a:documentation>見開きの背表紙の幅： &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:repeat-cell-content-at-break
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.repeat-cell-content-at-break
  -->
  <define name="axf_repeat-cell-content-at-break">
    <optional>
      <attribute name="axf:repeat-cell-content-at-break">
        <a:documentation>セルの分割時にセル内容をコピーするかどうか： true | false</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:reverse-diagonal-border-style
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.reverse-diagonal-border-style
  -->
  <define name="axf_reverse-diagonal-border-style">
    <optional>
      <attribute name="axf:reverse-diagonal-border-style">
        <a:documentation>対角罫のスタイルを指定します: &lt;border-style&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:reverse-page-number
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.reverse-page-number
  -->
  <define name="axf_reverse-page-number">
    <optional>
      <attribute name="axf:reverse-page-number">
        <a:documentation>ページを逆順に出力するかどうか： true | false</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:scope
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.scope
  -->
  <define name="axf_scope">
    <optional>
      <attribute name="axf:scope">
        <a:documentation>あるセルが見出し用のセルであるとき、そのセルがどちらの方向に対する見出しであるか： auto | row | col | rowgroup | colgroup | both</a:documentation>
        <choice>
          <value>auto</value>
          <value>row</value>
          <value>col</value>
          <value>rowgroup</value>
          <value>colgroup</value>
          <value>both</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:suppress-folio-prefix
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.suppress-folio-prefix
  -->
  <define name="axf_suppress-folio-prefix">
    <optional>
      <attribute name="axf:suppress-folio-prefix">
        <a:documentation>ページ番号の前置のレンダリングを削除しています： true | false</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:suppress-folio-suffix
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.suppress-folio-suffix
  -->
  <define name="axf_suppress-folio-suffix">
    <optional>
      <attribute name="axf:suppress-folio-suffix">
        <a:documentation>ページ番号の後置のレンダリングを削除しています： true | false</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:suppress-if-first-on-page
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.suppress-if-first-on-page
  -->
  <define name="axf_suppress-if-first-on-page">
    <optional>
      <attribute name="axf:suppress-if-first-on-page">
        <a:documentation>ページ先頭のブロックを削除するかどうか: true | false</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:tab-align
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.tab-align
  -->
  <define name="axf_tab-align">
    <optional>
      <attribute name="axf:tab-align">
        <a:documentation>タブ位置での配置</a:documentation>
        <choice>
          <value>auto</value>
          <value>start</value>
          <value>center</value>
          <value>end</value>
          <value>left</value>
          <value>right</value>
          <value>decimal</value>
          <text/>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:table-summary
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.table-summary
  -->
  <define name="axf_table-summary">
    <optional>
      <attribute name="axf:table-summary">
        <a:documentation>テーブルの要約を記述します。 タグ付きPDFに含まれます。</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:text-line-color
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.text-line-color
  -->
  <define name="axf_text-line-color">
    <optional>
      <attribute name="axf:text-line-color">
        <a:documentation>Color of underline, strike-through, and overline: auto | &lt;color&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:text-line-style
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.text-line-style
  -->
  <define name="axf_text-line-style">
    <optional>
      <attribute name="axf:text-line-style">
        <a:documentation>Style of underline, strike-through, and overline: &lt;border-style&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:text-line-width
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.text-line-width
  -->
  <define name="axf_text-line-width">
    <optional>
      <attribute name="axf:text-line-width">
        <a:documentation>Width of underline, strike-through, and overline: auto | &lt;border-width&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:text-underline-position
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.text-underline-position
  -->
  <define name="axf_text-underline-position">
    <optional>
      <attribute name="axf:text-underline-position">
        <a:documentation>Position of underline: auto | [ [ before-edge | alphabetic | after-edge ] || [ &lt;percentage&gt; | &lt;length&gt; ] ]</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:text-overflow
    
    https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.text-overflow
  -->
  <define name="axf_text-overflow">
    <optional>
      <attribute name="axf:text-overflow">
        <a:documentation>What to display when text overflows in the inline progression direction: clip | ellipsis | &lt;string&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @xml:id
    
    https://www.w3.org/TR/xml-id/
  -->
  <define name="xml_id">
    <optional>
      <attribute name="xml:id">
        <a:documentation>&lt;id&gt;</a:documentation>
        <data type="ID"/>
      </attribute>
    </optional>
  </define>
</grammar>