schema-ja/rng/axf.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Antenna House extension elements and non-inherited extension
  attributes.
  
  Copyright 2015-2016 Antenna House, Inc.
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
--><grammar ns="http://www.antennahouse.com/names/XSL/Extensions" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:axf="http://www.antennahouse.com/names/XSL/Extensions" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="axf-inherited.rng">
    <!--
      
      Overrides to patterns in 'fo-inherited.rnc' (and patterns in
      modules that it includes).
      
    -->
    <!-- http://www.antennahouse.com/product/ahf63/ahf-ext.html#fo.change-bar-begin -->
    <define name="fo_change-bar-begin.model">
      <optional>
        <ref name="fo_float"/>
      </optional>
    </define>
    <define name="fo_layout-master-set.model">
      <oneOrMore>
        <choice>
          <ref name="axf_spread-page-master"/>
          <ref name="fo_simple-page-master"/>
          <ref name="fo_page-sequence-master"/>
          <ref name="fo_flow-map"/>
        </choice>
      </oneOrMore>
    </define>
    <!-- http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.document-info -->
    <define name="fo_root.model">
      <zeroOrMore>
        <ref name="axf_document-info"/>
      </zeroOrMore>
      <ref name="fo_layout-master-set"/>
      <zeroOrMore>
        <ref name="axf_document-info"/>
      </zeroOrMore>
      <optional>
        <ref name="fo_declarations"/>
      </optional>
      <zeroOrMore>
        <ref name="axf_document-info"/>
      </zeroOrMore>
      <optional>
        <ref name="fo_bookmark-tree"/>
      </optional>
      <zeroOrMore>
        <ref name="axf_document-info"/>
      </zeroOrMore>
      <oneOrMore>
        <choice>
          <ref name="fo_page-sequence"/>
          <ref name="fo_page-sequence-wrapper"/>
        </choice>
      </oneOrMore>
    </define>
    <!-- AH Formatter allows fo:region-* in any order. -->
    <define name="fo_simple-page-master.model">
      <interleave>
        <oneOrMore>
          <ref name="fo_region-body"/>
        </oneOrMore>
        <optional>
          <ref name="fo_region-before"/>
        </optional>
        <optional>
          <ref name="fo_region-after"/>
        </optional>
        <optional>
          <ref name="fo_region-start"/>
        </optional>
        <optional>
          <ref name="fo_region-end"/>
        </optional>
      </interleave>
    </define>
    <!-- AH Formatter allows empty fo:static-content. -->
    <define name="fo_static-content.model">
      <interleave>
        <zeroOrMore>
          <choice>
            <ref name="block.fo.list"/>
            <ref name="neutral.fo.list"/>
          </choice>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="point.fo.list"/>
        </zeroOrMore>
      </interleave>
    </define>
    <!-- AH Formatter allows fo:block-container to omit block FOs. -->
    <define name="fo_block-container.model">
      <zeroOrMore>
        <ref name="fo_marker"/>
      </zeroOrMore>
      <interleave>
        <zeroOrMore>
          <choice>
            <ref name="block.fo.list"/>
            <ref name="neutral.fo.list"/>
          </choice>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="point.fo.list"/>
        </zeroOrMore>
      </interleave>
    </define>
    <!-- AH Formatter allows fo:inline-container to omit block FOs. -->
    <define name="fo_inline-container.model">
      <zeroOrMore>
        <ref name="fo_marker"/>
      </zeroOrMore>
      <interleave>
        <zeroOrMore>
          <choice>
            <ref name="block.fo.list"/>
            <ref name="neutral.fo.list"/>
          </choice>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="point.fo.list"/>
        </zeroOrMore>
      </interleave>
    </define>
    <!-- AH Formatter allows empty fo:list-item. -->
    <define name="fo_list-item.model">
      <zeroOrMore>
        <ref name="fo_marker"/>
      </zeroOrMore>
      <interleave>
        <optional>
          <ref name="fo_list-item-label"/>
          <ref name="fo_list-item-body"/>
        </optional>
        <zeroOrMore>
          <ref name="point.fo.list"/>
        </zeroOrMore>
      </interleave>
    </define>
    <!-- AH Formatter allows fo:list-item-label omit block FOs. -->
    <define name="fo_list-item-label.model">
      <zeroOrMore>
        <ref name="fo_marker"/>
      </zeroOrMore>
      <interleave>
        <zeroOrMore>
          <choice>
            <ref name="block.fo.list"/>
            <ref name="neutral.fo.list"/>
          </choice>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="point.fo.list"/>
        </zeroOrMore>
      </interleave>
    </define>
    <!--
      AH Formatter allows fo:table-cell to omit block FOs.
      axf:table-cell-repeated-marker used when cell repeats.
    -->
    <define name="fo_table-cell.model">
      <zeroOrMore>
        <ref name="fo_marker"/>
      </zeroOrMore>
      <optional>
        <ref name="axf_table-cell-repeated-marker"/>
      </optional>
      <interleave>
        <zeroOrMore>
          <choice>
            <ref name="block.fo.list"/>
            <ref name="neutral.fo.list"/>
          </choice>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="point.fo.list"/>
        </zeroOrMore>
      </interleave>
    </define>
    <!--
      For fo:instream-foreign-object
      Exclude axf:* elements and attributes from counting as 'non-xsl'.
    -->
    <define name="non-xsl">
      <zeroOrMore>
        <attribute>
          <anyName>
            <except>
              <nsName ns=""></nsName>
              <nsName></nsName>
              <nsName ns="http://www.w3.org/XML/1998/namespace"></nsName>
            </except>
          </anyName>
        </attribute>
      </zeroOrMore>
      <zeroOrMore>
        <element>
          <anyName>
            <except>
              <nsName ns=""></nsName>
              <nsName ns="http://www.w3.org/1999/XSL/Format"></nsName>
              <nsName></nsName>
            </except>
          </anyName>
          <zeroOrMore>
            <attribute>
              <anyName/>
            </attribute>
          </zeroOrMore>
          <ref name="anything"/>
        </element>
      </zeroOrMore>
    </define>
    <!--
      
      End of overrides to patterns in 'axf-inherited.rnc'.
      
    -->
  </include>
  <!--
    
    Antenna House extension elements
    
  -->
  <!--
    <axf:form>
    https://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.form
  -->
  <define name="axf_form">
    <element name="axf:form">
      <ref name="axf_form.attlist"/>
      <ref name="axf_form.model"/>
    </element>
  </define>
  <define name="axf_form.attlist">
    <optional>
      <attribute name="axf:field-submit-method">
        <choice>
          <value>get</value>
          <value>post</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="axf_form.model">
    <zeroOrMore>
      <ref name="block.fo.list"/>
    </zeroOrMore>
  </define>
  <!--
    <axf:document-info/>
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.document-info
  -->
  <define name="axf_document-info">
    <element name="axf:document-info">
      <a:documentation>PDFには、著者やタイトルなどの文書情報を埋め込んでおくことができます </a:documentation>
      <!--
        'name="title"' was used in V5.1 and still works but is
        undocumented in V6.2.
      -->
      <attribute name="name">
        <a:documentation>文字情報の名</a:documentation>
        <choice>
          <value>document-title</value>
          <value>title</value>
          <value>subject</value>
          <value>author</value>
          <value>author-title</value>
          <value>description-writer</value>
          <value>keywords</value>
          <value>copyright-status</value>
          <value>copyright-notice</value>
          <value>copyright-info-url</value>
          <value>xmp</value>
          <value>pagemode</value>
          <value>pagelayout</value>
          <value>hidetoolbar</value>
          <value>hidemenubar</value>
          <value>hidewindowui</value>
          <value>fitwindow</value>
          <value>centerwindow</value>
          <value>displaydoctitle</value>
          <value>openaction</value>
        </choice>
      </attribute>
      <attribute name="value">
        <a:documentation>文字情報の値ある情は許容値の制約があります。</a:documentation>
      </attribute>
      <empty/>
    </element>
  </define>
  <!--
    <axf:footnote-number/>
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.footnote-number
  -->
  <define name="axf_footnote-number">
    <element name="axf:footnote-number">
      <a:documentation>脚注番号を生成します</a:documentation>
      <ref name="id"/>
      <empty/>
    </element>
  </define>
  <!--
    <axf:footnote-number-citation/>
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.footnote-number-citation
  -->
  <define name="axf_footnote-number-citation">
    <element name="axf:footnote-number-citation">
      <a:documentation>脚注番号を引用します</a:documentation>
      <attribute name="ref-id"/>
      <empty/>
    </element>
  </define>
  <!--
    <axf:spread-page-master>
    http://www.antennahouse.com/product/ahf63/ahf-spread.html#axf.spread-page-master
  -->
  <define name="axf_spread-page-master">
    <element name="axf:spread-page-master">
      <a:documentation>見開きページマスタ</a:documentation>
      <ref name="common-margin-properties-block"/>
      <attribute name="left-page-master-reference">
        <data type="NCName"/>
      </attribute>
      <ref name="master-name"/>
      <ref name="reference-orientation"/>
      <attribute name="right-page-master-reference">
        <data type="NCName"/>
      </attribute>
      <ref name="writing-mode"/>
      <oneOrMore>
        <ref name="axf_spread-region"/>
      </oneOrMore>
    </element>
  </define>
  <!--
    <axf:spread-region>
    http://www.antennahouse.com/product/ahf63/ahf-spread.html#axf.spread-region
  -->
  <define name="axf_spread-region">
    <element name="axf:spread-region">
      <a:documentation>見開きページの領域</a:documentation>
      <ref name="common-absolute-position-properties"/>
      <ref name="common-border-padding-and-background-properties"/>
      <ref name="common-margin-properties-block"/>
      <ref name="height"/>
      <ref name="region-name"/>
      <ref name="reference-orientation"/>
      <ref name="overflow"/>
      <ref name="width"/>
      <ref name="writing-mode"/>
      <empty/>
    </element>
  </define>
  <!--
    <axf:tab>
    https://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.tab
  -->
  <define name="axf_tab">
    <element name="axf:tab">
      <a:documentation>タブ位置までスペースを空けます</a:documentation>
      <ref name="axf_tab-align"/>
      <empty/>
    </element>
  </define>
  <!--
    <axf:table-cell-repeated-marker>
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.table-cell-repeated-marker
  -->
  <define name="axf_table-cell-repeated-marker">
    <element name="axf:table-cell-repeated-marker">
      <a:documentation>内容がaxf:repeat-cell-content-at-break=&quot;true&quot;の場合に使われます</a:documentation>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="inline.fo.list"/>
          <ref name="block.fo.list"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <!--
    
    Antenna House extensions to patterns in included modules.
    
  -->
  <!--
    
    Extensions to FO models
    
  -->
  <define name="block.fo.list" combine="choice">
    <ref name="axf_form"/>
  </define>
  <define name="inline.fo.list" combine="choice">
    <choice>
      <ref name="axf_footnote-number"/>
      <ref name="axf_footnote-number-citation"/>
      <ref name="axf_tab"/>
    </choice>
  </define>
  <!--
    
    Extensions to FO attlists
    
  -->
  <define name="fo_page-sequence.attlist" combine="interleave">
    <ref name="axf_background-color"/>
    <ref name="axf_background-image"/>
    <ref name="axf_background-position-horizontal"/>
    <ref name="axf_background-position-vertical"/>
    <ref name="axf_background-repeat"/>
    <ref name="axf_line-number-format"/>
    <ref name="axf_line-number-initial"/>
    <ref name="axf_line-number-interval"/>
    <ref name="axf_line-number-orientation"/>
    <ref name="axf_line-number-prefix"/>
    <ref name="axf_line-number-reset"/>
    <ref name="axf_line-number-start"/>
    <ref name="background-color"/>
    <ref name="background-image"/>
    <ref name="background-position-horizontal"/>
    <ref name="background-position-vertical"/>
    <ref name="background-repeat"/>
  </define>
  <define name="fo_simple-page-master.attlist" combine="interleave">
    <ref name="axf_background-color"/>
    <ref name="axf_background-content-height"/>
    <ref name="axf_background-content-type"/>
    <ref name="axf_background-content-width"/>
    <ref name="axf_background-image"/>
    <ref name="axf_background-position-horizontal"/>
    <ref name="axf_background-position-vertical"/>
    <ref name="axf_background-repeat"/>
    <ref name="axf_background-scaling"/>
    <ref name="axf_bleed"/>
    <ref name="axf_bleed-top"/>
    <ref name="axf_bleed-bottom"/>
    <ref name="axf_bleed-left"/>
    <ref name="axf_bleed-right"/>
    <ref name="axf_crop-area-visibility"/>
    <ref name="axf_crop-offset"/>
    <ref name="axf_crop-offset-top"/>
    <ref name="axf_crop-offset-bottom"/>
    <ref name="axf_crop-offset-left"/>
    <ref name="axf_crop-offset-right"/>
    <ref name="axf_printer-marks"/>
    <ref name="axf_printer-marks-line-color"/>
    <ref name="axf_printer-marks-line-length"/>
    <ref name="axf_printer-marks-line-width"/>
    <ref name="axf_printer-marks-spine-width"/>
    <ref name="axf_printer-marks-zero-margin"/>
    <ref name="background-color"/>
    <ref name="background-image"/>
    <ref name="background-position-horizontal"/>
    <ref name="background-position-vertical"/>
    <ref name="background-repeat"/>
  </define>
  <define name="fo_basic-link.attlist" combine="interleave">
    <ref name="axf_action-type"/>
    <ref name="text-decoration"/>
  </define>
  <define name="fo_block.attlist" combine="interleave">
    <ref name="axf_destination-type"/>
    <ref name="axf_line-number-reset"/>
    <ref name="axf_suppress-if-first-on-page"/>
    <ref name="height"/>
    <ref name="max-height"/>
    <ref name="max-width"/>
    <ref name="min-height"/>
    <ref name="min-width"/>
    <ref name="text-decoration"/>
    <ref name="width"/>
    <ref name="axf.block.attlist"/>
  </define>
  <define name="fo_block-container.attlist" combine="interleave">
    <ref name="axf_column-count"/>
    <ref name="axf_column-gap"/>
    <ref name="axf_destination-type"/>
    <ref name="axf_suppress-if-first-on-page"/>
    <ref name="axf.block.attlist"/>
    <ref name="column-count"/>
    <ref name="role"/>
  </define>
  <define name="fo_float.attlist" combine="interleave">
    <ref name="axf_float"/>
    <ref name="axf_float-x"/>
    <ref name="axf_float-y"/>
    <ref name="axf_float-reference"/>
    <ref name="axf_float-move"/>
    <ref name="axf_float-wrap"/>
    <ref name="axf_float-min-wrap-x"/>
    <ref name="axf_float-min-wrap-y"/>
    <ref name="axf_float-centering-x"/>
    <ref name="axf_float-centering-y"/>
    <ref name="axf_float-margin-x"/>
    <ref name="axf_float-margin-y"/>
    <ref name="axf_float-float-margin-x"/>
    <ref name="axf_float-float-margin-y"/>
    <ref name="axf_float-offset-x"/>
    <ref name="axf_float-offset-y"/>
  </define>
  <define name="fo_footnote.attlist" combine="interleave">
    <ref name="space-before"/>
    <ref name="axf_footnote-align"/>
    <ref name="axf_footnote-stacking"/>
    <ref name="axf_footnote-position"/>
    <ref name="axf_footnote-keep"/>
    <ref name="axf_footnote-max-height"/>
  </define>
  <define name="fo_instream-foreign-object.attlist" combine="interleave">
    <ref name="axf_alttext"/>
  </define>
  <define name="fo_list-block.attlist" combine="interleave">
    <ref name="axf.block.attlist"/>
  </define>
  <define name="fo_table.attlist" combine="interleave">
    <ref name="axf.block.attlist"/>
  </define>
  <define name="fo_table-and-caption.attlist" combine="interleave">
    <ref name="axf.block.attlist"/>
  </define>
  <define name="fo_table.attlist" combine="interleave">
    <ref name="axf_table-summary"/>
  </define>
  <define name="fo_table-cell.attlist" combine="interleave">
    <ref name="axf_repeat-cell-content-at-break"/>
  </define>
  <define name="fo_table-column.attlist" combine="interleave">
    <ref name="id"/>
  </define>
  <define name="fo_wrapper.attlist" combine="interleave">
    <ref name="text-decoration"/>
  </define>
  <!--
    
    Extensions to property groups
    
  -->
  <define name="common-accessibility-properties" combine="interleave">
    <ref name="axf_pdftag"/>
  </define>
  <define name="common-border-padding-and-background-properties" combine="interleave">
    <ref name="axf_background-content-width"/>
    <ref name="axf_background-content-height"/>
    <ref name="axf_background-content-type"/>
    <ref name="axf_background-scaling"/>
    <ref name="axf_border-radius"/>
    <ref name="axf_border-top-left-radius"/>
    <ref name="axf_border-top-right-radius"/>
    <ref name="axf_border-bottom-left-radius"/>
    <ref name="axf_border-bottom-right-radius"/>
  </define>
  <!--
    
    Antenna House extension properties
    
  -->
  <!--
    List of extension properties common to all block-level formatting
    objects
  -->
  <define name="axf.block.attlist">
    <ref name="axf_outline-expand"/>
    <ref name="axf_outline-group"/>
    <ref name="axf_outline-level"/>
    <ref name="axf_outline-title"/>
    <ref name="axf_outline-color"/>
    <ref name="axf_outline-font-style"/>
    <ref name="axf_outline-font-weight"/>
  </define>
  <!--
    @axf:background-color
    @axf:background-image
    @axf:background-position-horizontal
    @axf:background-position-vertical
    @axf:background-repeat
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#IDAAOLV
  -->
  <define name="axf_background-color">
    <optional>
      <attribute name="axf:background-color">
        <a:documentation>&lt;color&gt; | transparent</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_background-image">
    <optional>
      <attribute name="axf:background-image">
        <a:documentation>&lt;uri-specification&gt; | none</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_background-position-horizontal">
    <optional>
      <attribute name="axf:background-position-horizontal">
        <a:documentation>&lt;percentage&gt; | &lt;length&gt; | left | center | right</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_background-position-vertical">
    <optional>
      <attribute name="axf:background-position-vertical">
        <a:documentation>&lt;percentage&gt; | &lt;length&gt; | top | center | bottom</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_background-repeat">
    <optional>
      <attribute name="axf:background-repeat">
        <a:documentation>repeat | repeat-x | repeat-y | no-repeat | paginate</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:action-type
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.action-type
  -->
  <define name="axf_action-type">
    <optional>
      <attribute name="axf:action-type">
        <a:documentation>外部リンクまたはフォームアクションの動作を指定します</a:documentation>
        <choice>
          <value>gotor</value>
          <value>launch</value>
          <value>uri</value>
          <value>reset</value>
          <value>submit</value>
          <value>auto</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:alt-text
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.alttext
  -->
  <define name="axf_alttext">
    <optional>
      <attribute name="axf:alttext">
        <a:documentation>画像の代替テキスト</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:background-content-height
    @axf:background-content-type
    @axf:background-content-width
    @axf:background-scaling
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.background-content
  -->
  <define name="axf_background-content-height">
    <optional>
      <attribute name="axf:background-content-height">
        <a:documentation>auto | scale-to-fit | scale-down-to-fit | scale-up-to-fit | &lt;length&gt; | &lt;percentage&gt; | inherit</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_background-content-type">
    <optional>
      <attribute name="axf:background-content-type">
        <a:documentation>&lt;string&gt; | auto</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_background-content-width">
    <optional>
      <attribute name="axf:background-content-width">
        <a:documentation>auto | scale-to-fit | scale-down-to-fit | scale-up-to-fit | &lt;length&gt; | &lt;percentage&gt; | inherit</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_background-scaling">
    <optional>
      <attribute name="axf:background-scaling">
        <a:documentation>uniform | non-uniform | inherit</a:documentation>
        <choice>
          <value>uniform</value>
          <value>non-uniform</value>
          <value>inherit</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:border-radius
    @axf:border-top-left-radius
    @axf:border-top-right-radius
    @axf:border-bottom-left-radius
    @axf:border-bottom-right-radius
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.border-radius
  -->
  <define name="axf_border-radius">
    <optional>
      <attribute name="axf:border-radius">
        <a:documentation>丸め罫の径： [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_border-top-left-radius">
    <optional>
      <attribute name="axf:border-top-left-radius">
        <a:documentation>丸め罫の左上の径： [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_border-top-right-radius">
    <optional>
      <attribute name="axf:border-top-right-radius">
        <a:documentation>丸め罫の右上の径： [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_border-bottom-left-radius">
    <optional>
      <attribute name="axf:border-bottom-left-radius">
        <a:documentation>丸め罫の左下の径： [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_border-bottom-right-radius">
    <optional>
      <attribute name="axf:border-bottom-right-radius">
        <a:documentation>丸め罫の右下の径： [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:bleed
    @axf:bleed-top
    @axf:bleed-bottom
    @axf:bleed-left
    @axf:bleed-right
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.bleed
  -->
  <define name="axf_bleed">
    <optional>
      <attribute name="axf:bleed">
        <a:documentation>塗り足しの領域の幅： &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_bleed-top">
    <optional>
      <attribute name="axf:bleed-top">
        <a:documentation>塗り足しの領域の上の幅: &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_bleed-bottom">
    <optional>
      <attribute name="axf:bleed-bottom">
        <a:documentation>塗り足しの領域の下の幅: &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_bleed-left">
    <optional>
      <attribute name="axf:bleed-left">
        <a:documentation>塗り足しの領域の左の幅: &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_bleed-right">
    <optional>
      <attribute name="axf:bleed-right">
        <a:documentation>塗り足しの領域の右の幅: &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:column-count
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.column-count
  -->
  <define name="axf_column-count">
    <optional>
      <attribute name="axf:column-count">
        <a:documentation>段数： &lt;number&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:column-gap
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.column-gap
  -->
  <define name="axf_column-gap">
    <optional>
      <attribute name="axf:column-gap">
        <a:documentation>段と段の間： &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:crop-area-visibility
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.crop-area-visibility
  -->
  <define name="axf_crop-area-visibility">
    <optional>
      <attribute name="axf:crop-area-visibility">
        <a:documentation>仕上がり寸法からはみ出した領域を表示するかどうか</a:documentation>
        <choice>
          <value>hidden</value>
          <value>visible</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:crop-offset
    @axf:crop-offset-top
    @axf:crop-offset-bottom
    @axf:crop-offset-left
    @axf:crop-offset-right
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.crop-offset
  -->
  <define name="axf_crop-offset">
    <optional>
      <attribute name="axf:crop-offset">
        <a:documentation>出力媒体の物理的な端から仕上がり寸法までの距： &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_crop-offset-top">
    <optional>
      <attribute name="axf:crop-offset-top">
        <a:documentation>出力媒体の物理的な上端から仕上がり寸法までの距： &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_crop-offset-bottom">
    <optional>
      <attribute name="axf:crop-offset-bottom">
        <a:documentation>出力媒体の物理的な下端から仕上がり寸法までの距： &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_crop-offset-left">
    <optional>
      <attribute name="axf:crop-offset-left">
        <a:documentation>出力媒体の物理的な左端から仕上がり寸法までの距： &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_crop-offset-right">
    <optional>
      <attribute name="axf:crop-offset-right">
        <a:documentation>出力媒体の物理的な右端から仕上がり寸法までの距： &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:destination-type
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.destination-type
  -->
  <define name="axf_destination-type">
    <optional>
      <attribute name="axf:destination-type">
        <a:documentation>リンクは、リンク先に開く方法</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float
    
    http://www.antennahouse.com/product/ahf63/ahf-float.html
  -->
  <define name="axf_float">
    <optional>
      <attribute name="axf:float">
        <a:documentation>フロート関連拡張プロパティのためのショートハンド</a:documentation>
        <choice>
          <value>none</value>
          <value>before</value>
          <value>after</value>
          <value>start</value>
          <value>end</value>
          <value>left</value>
          <value>right</value>
          <value>top</value>
          <value>bottom</value>
          <value>center</value>
          <value>inside</value>
          <value>outside</value>
          <value>wrap</value>
          <value>skip</value>
          <value>auto</value>
          <value>normal</value>
          <value>page</value>
          <value>column</value>
          <value>multicol</value>
          <value>next</value>
          <value>auto-next</value>
          <value>auto-move</value>
          <value>keep</value>
          <value>keep-float</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-x
    
    http://www.antennahouse.com/product/ahf63/ahf-float.html#axf.float-x
  -->
  <define name="axf_float-x">
    <optional>
      <attribute name="axf:float-x">
        <a:documentation>水平方向のフロート配置（writing-modeがverticalのときは垂直方向）： none | start | end | left | right | top | bottom | center | inside | outside</a:documentation>
        <choice>
          <value>none</value>
          <value>start</value>
          <value>end</value>
          <value>left</value>
          <value>right</value>
          <value>top</value>
          <value>bottom</value>
          <value>center</value>
          <value>inside</value>
          <value>outside</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-y
    
    http://www.antennahouse.com/product/ahf63/ahf-float.html#axf.float-y
  -->
  <define name="axf_float-y">
    <optional>
      <attribute name="axf:float-y">
        <a:documentation>垂直方向のフロート配置 （writing-modeがverticalのときは水平方向 ）： none | before | after | top | bottom | left | right | center | inside | outside</a:documentation>
        <choice>
          <value>none</value>
          <value>before</value>
          <value>after</value>
          <value>top</value>
          <value>bottom</value>
          <value>left</value>
          <value>right</value>
          <value>center</value>
          <value>inside</value>
          <value>outside</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-reference
    
    http://www.antennahouse.com/product/ahf63/ahf-float.html#axf.float-reference
  -->
  <define name="axf_float-reference">
    <optional>
      <attribute name="axf:float-reference">
        <a:documentation>フロートを配置する参照エリア ： auto | normal | page | column | multicol</a:documentation>
        <choice>
          <value>auto</value>
          <value>normal</value>
          <value>page</value>
          <value>column</value>
          <value>multicol</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-move
    
    http://www.antennahouse.com/product/ahf63/ahf-float.html#axf.float-move
  -->
  <define name="axf_float-move">
    <optional>
      <attribute name="axf:float-move">
        <a:documentation>フロートは次のページまたは段に送るかどうか： auto | next | auto-next | auto-move | keep | keep-float</a:documentation>
        <choice>
          <value>auto</value>
          <value>next</value>
          <value>auto-next</value>
          <value>auto-move</value>
          <value>keep</value>
          <value>keep-float</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-wrap
    
    http://www.antennahouse.com/product/ahf63/ahf-float.html#axf.float-wrap
  -->
  <define name="axf_float-wrap">
    <optional>
      <attribute name="axf:float-wrap">
        <a:documentation>テキストの回り込みについて： auto | wrap | skip</a:documentation>
        <choice>
          <value>auto</value>
          <value>wrap</value>
          <value>skip</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-min-wrap-x
    
    http://www.antennahouse.com/product/ahf63/ahf-float.html#axf.float-min-wrap-x
  -->
  <define name="axf_float-min-wrap-x">
    <optional>
      <attribute name="axf:float-min-wrap-x">
        <a:documentation>フロートへのテキスト回り込みのための幅： normal | &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-min-wrap-y
    
    http://www.antennahouse.com/product/ahf63/ahf-float.html#axf.float-min-wrap-y
  -->
  <define name="axf_float-min-wrap-y">
    <optional>
      <attribute name="axf:float-min-wrap-y">
        <a:documentation>フロートの前後に配置するテキスト量の最小値： normal | &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-centering-x
    
    http://www.antennahouse.com/product/ahf63/ahf-float.html#axf.float-centering-x
  -->
  <define name="axf_float-centering-x">
    <optional>
      <attribute name="axf:float-centering-x">
        <a:documentation>フロートへのテキスト回り込みのための幅が足りないときフロートをセンタリングするかどうか： none | auto | &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-centering-y
    
    http://www.antennahouse.com/product/ahf63/ahf-float.html#axf.float-centering-y
  -->
  <define name="axf_float-centering-y">
    <optional>
      <attribute name="axf:float-centering-y">
        <a:documentation>フロートの前後にテキストを配置する高さが足りないときフロートをセンタリングするかどうか： none | auto | &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-margin-x
    
    http://www.antennahouse.com/product/ahf63/ahf-float.html#axf.float-margin-x
  -->
  <define name="axf_float-margin-x">
    <optional>
      <attribute name="axf:float-margin-x">
        <a:documentation>フロートと回り込むテキストとの間の余白を指定します（x方向）： [ &lt;length&gt; | &lt;percentage&gt; ] [ &lt;length&gt; | &lt;percentage&gt; ]?</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-margin-y
    
    http://www.antennahouse.com/product/ahf63/ahf-float.html#axf.float-margin-y
  -->
  <define name="axf_float-margin-y">
    <optional>
      <attribute name="axf:float-margin-y">
        <a:documentation>フロートと前後のテキストとの間の余白を指定します（y方向）： [ &lt;length&gt; | &lt;percentage&gt; ] [ &lt;length&gt; | &lt;percentage&gt; ]?</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-float-margin-x
    
    http://www.antennahouse.com/product/ahf63/ahf-float.html#axf.float-float-margin-x
  -->
  <define name="axf_float-float-margin-x">
    <optional>
      <attribute name="axf:float-float-margin-x">
        <a:documentation>フロートと別の隣接するフロートとの間の余白を指定します（x方向）： auto | [[ &lt;length&gt; | &lt;percentage&gt; ] [ &lt;length&gt; | &lt;percentage&gt; ]?]</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-float-margin-y
    
    http://www.antennahouse.com/product/ahf63/ahf-float.html#axf.float-float-margin-y
  -->
  <define name="axf_float-float-margin-y">
    <optional>
      <attribute name="axf:float-float-margin-y">
        <a:documentation>フロートと別の隣接するフロートとの間の余白を指定します（y方向）： auto | [[ &lt;length&gt; | &lt;percentage&gt; ] [ &lt;length&gt; | &lt;percentage&gt; ]?]</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-offset-x
    
    http://www.antennahouse.com/product/ahf63/ahf-float.html#axf.float-offset-x
  -->
  <define name="axf_float-offset-x">
    <optional>
      <attribute name="axf:float-offset-x">
        <a:documentation>フロートのオフセット配置を指定します（x方向）： &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-offset-y
    
    http://www.antennahouse.com/product/ahf63/ahf-float.html#axf.float-offset-y
  -->
  <define name="axf_float-offset-y">
    <optional>
      <attribute name="axf:float-offset-y">
        <a:documentation>フロートのオフセット配置を指定します（y方向）： &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:footnote-align
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.footnote-align
  -->
  <define name="axf_footnote-align">
    <optional>
      <attribute name="axf:footnote-align">
        <a:documentation>脚注の配置を指定します。 </a:documentation>
        <choice>
          <value>auto</value>
          <value>before</value>
          <value>after</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:footnote-stacking
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.footnote-stacking
  -->
  <define name="axf_footnote-stacking">
    <optional>
      <attribute name="axf:footnote-stacking">
        <a:documentation>脚注の配置の方法</a:documentation>
        <choice>
          <value>block</value>
          <value>inline</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:footnote-position
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.footnote-position
  -->
  <define name="axf_footnote-position">
    <optional>
      <attribute name="axf:footnote-position">
        <a:documentation>脚注を配置する場所</a:documentation>
        <choice>
          <value>page</value>
          <value>start</value>
          <value>end</value>
          <value>inside</value>
          <value>outside</value>
          <value>column</value>
          <value>start-column</value>
          <value>end-column</value>
          <value>inside-column</value>
          <value>outside-column</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:footnote-keep
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.footnote-keep
  -->
  <define name="axf_footnote-keep">
    <optional>
      <attribute name="axf:footnote-keep">
        <a:documentation>脚注とアンカを同一ページ内または段内に配置するように</a:documentation>
        <choice>
          <value>auto</value>
          <value>always</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:footnote-max-height
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.footnote-max-height
  -->
  <define name="axf_footnote-max-height">
    <optional>
      <attribute name="axf:footnote-max-height">
        <a:documentation>脚注の最大高さ： auto | &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:line-number-format
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.line-number-format
  -->
  <define name="axf_line-number-format">
    <optional>
      <attribute name="axf:line-number-format">
        <a:documentation>行番号のための書式</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:line-number-initial
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.line-number-initial
  -->
  <define name="axf_line-number-initial">
    <optional>
      <attribute name="axf:line-number-initial">
        <a:documentation>最初の行の行番号</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:line-number-interval
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.line-number-interval
  -->
  <define name="axf_line-number-interval">
    <optional>
      <attribute name="axf:line-number-interval">
        <a:documentation>出力する行番号の間隔</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:line-number-orientation
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.line-number-orientation
  -->
  <define name="axf_line-number-orientation">
    <optional>
      <attribute name="axf:line-number-orientation">
        <a:documentation>行番号を回転させます</a:documentation>
        <choice>
          <value>0</value>
          <value>90</value>
          <value>180</value>
          <value>270</value>
          <value>-90</value>
          <value>-180</value>
          <value>-270</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:line-number-prefix
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.line-number-prefix
  -->
  <define name="axf_line-number-prefix">
    <optional>
      <attribute name="axf:line-number-prefix">
        <a:documentation>行番号の前置文字列</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:line-number-reset
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.line-number-reset
  -->
  <define name="axf_line-number-reset">
    <optional>
      <attribute name="axf:line-number-reset">
        <a:documentation>行番号のリセット: auto | none | page | column | force</a:documentation>
        <choice>
          <value>auto</value>
          <value>none</value>
          <value>page</value>
          <value>column</value>
          <value>force</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:line-number-start
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.line-number-start
  -->
  <define name="axf_line-number-start">
    <optional>
      <attribute name="axf:line-number-start">
        <a:documentation>出力を開始する行番号: &lt;number&gt; | auto</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:outline-expand
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.outline-expand
  -->
  <define name="axf_outline-expand">
    <optional>
      <attribute name="axf:outline-expand">
        <a:documentation>しおりの初期状態で、下位の階層を表示するかどうか: true | false</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:outline-group
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.outline-group
  -->
  <define name="axf_outline-group">
    <optional>
      <attribute name="axf:outline-group">
        <a:documentation>出力グループの名： &lt;string&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:outline-level
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.outline-level
  -->
  <define name="axf_outline-level">
    <optional>
      <attribute name="axf:outline-level">
        <a:documentation>しおりの項目の階層レベル</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:outline-title
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.outline-title
  -->
  <define name="axf_outline-title">
    <optional>
      <attribute name="axf:outline-title">
        <a:documentation>しおりのタイトルとして表示される文字列</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:outline-color
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.outline-color
  -->
  <define name="axf_outline-color">
    <optional>
      <attribute name="axf:outline-color">
        <a:documentation>しおりのタイトルとして表示される文字列の色</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:outline-font-style
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf_outline-font-style
  -->
  <define name="axf_outline-font-style">
    <optional>
      <attribute name="axf:outline-font-style">
        <a:documentation>しおりのタイトルとして表示される文字列のフォントスタイル: normal | italic</a:documentation>
        <choice>
          <value>normal</value>
          <value>italic</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:outline-font-weight
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf:outline-font-weight
  -->
  <define name="axf_outline-font-weight">
    <optional>
      <attribute name="axf:outline-font-weight">
        <a:documentation>しおりのタイトルとして表示される文字列のフォントの太さ: normal | bold</a:documentation>
        <choice>
          <value>normal</value>
          <value>bold</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:printer-marks
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.printer-marks
  -->
  <define name="axf_printer-marks">
    <optional>
      <attribute name="axf:printer-marks">
        <a:documentation>トンボなどの印刷マーク</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:pdftag
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.pdftag
  -->
  <define name="axf_pdftag">
    <optional>
      <attribute name="axf:pdftag">
        <a:documentation>タグ付きPDFのタグ名</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:printer-marks-line-color
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.printer-marks-line-color
  -->
  <define name="axf_printer-marks-line-color">
    <optional>
      <attribute name="axf:printer-marks-line-color">
        <a:documentation>トンボの色： &lt;line&gt; | auto</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:printer-marks-line-length
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.printer-marks-line-length
  -->
  <define name="axf_printer-marks-line-length">
    <optional>
      <attribute name="axf:printer-marks-line-length">
        <a:documentation>トンボの線の長さ： &lt;length&gt; | auto</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:printer-marks-line-width
    Line width of printer marks: <length> | auto
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.printer-marks-line-width
  -->
  <define name="axf_printer-marks-line-width">
    <optional>
      <attribute name="axf:printer-marks-line-width">
        <a:documentation>トンボの線の幅</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:printer-marks-zero-margin
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.printer-marks-zero-margin
  -->
  <define name="axf_printer-marks-zero-margin">
    <optional>
      <attribute name="axf:printer-marks-zero-margin">
        <a:documentation>bleedが0のときの、版面とトンボの間のマージン： &lt;length&gt; | auto</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:printer-marks-spine-width
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.printer-marks-spine-width
  -->
  <define name="axf_printer-marks-spine-width">
    <optional>
      <attribute name="axf:printer-marks-spine-width">
        <a:documentation>見開きの背表紙の幅： &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:repeat-cell-content-at-break
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.repeat-cell-content-at-break
  -->
  <define name="axf_repeat-cell-content-at-break">
    <optional>
      <attribute name="axf:repeat-cell-content-at-break">
        <a:documentation>セルの分割時にセル内容をコピーするかどうか</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:suppress-if-first-on-page
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.suppress-if-first-on-page
  -->
  <define name="axf_suppress-if-first-on-page">
    <optional>
      <attribute name="axf:suppress-if-first-on-page">
        <a:documentation>ページ先頭のブロックを削除するかどうか: true | false</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:tab-align
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.tab-align
  -->
  <define name="axf_tab-align">
    <optional>
      <attribute name="axf:tab-align">
        <a:documentation>タブ位置での配置</a:documentation>
        <choice>
          <value>auto</value>
          <value>start</value>
          <value>center</value>
          <value>end</value>
          <value>left</value>
          <value>right</value>
          <value>decimal</value>
          <text/>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:table-summary
    
    http://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.table-summary
  -->
  <define name="axf_table-summary">
    <optional>
      <attribute name="axf:table-summary">
        <a:documentation>テーブルの要約を記述します。 タグ付きPDFに含まれます。</a:documentation>
      </attribute>
    </optional>
  </define>
</grammar>