schema/rng/axf-mathml3-svg11.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Adds MathML3 m:math and SVG1.1 svg:svg to fo:instream-foriegn-object.
  
  Copyright 2015 Antenna House, Inc.
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0">
  <!-- MathML 3.0 schema with Antenna House overrides. -->
  <define name="math">
    <externalRef href="axf-mathml3-override.rng" ns="http://www.antennahouse.com/names/XSL/Extensions"/>
  </define>
  <!-- SVG 1.1 schema with Antenna House overrides. -->
  <define name="svg">
    <externalRef href="axf-svg11-override.rng" ns="http://www.antennahouse.com/names/XSL/Extensions"/>
  </define>
  <include href="axf.rng" ns="http://www.antennahouse.com/names/XSL/Extensions">
    <!--
      For fo:instream-foreign-object
      Exclude axf:* elements and attributes from counting as 'non-xsl'.
      Allow MathML m:math and svg:svg
    -->
    <define name="non-xsl">
      <zeroOrMore>
        <attribute>
          <anyName>
            <except>
              <nsName ns=""/>
              <nsName/>
              <nsName ns="http://www.w3.org/XML/1998/namespace"/>
            </except>
          </anyName>
        </attribute>
      </zeroOrMore>
      <choice>
        <zeroOrMore>
          <element>
            <anyName>
              <except>
                <nsName ns=""/>
                <nsName ns="http://www.w3.org/1999/XSL/Format"/>
                <nsName/>
                <nsName ns="http://www.w3.org/1998/Math/MathML"/>
                <nsName ns="http://www.w3.org/2000/svg"/>
              </except>
            </anyName>
            <zeroOrMore>
              <attribute>
                <anyName>
                  <except>
                    <name ns="">id</name>
                    <name ns="">ref-id</name>
                    <name ns="">internal-destination</name>
                  </except>
                </anyName>
              </attribute>
            </zeroOrMore>
            <ref name="anything"/>
          </element>
        </zeroOrMore>
        <ref name="math"/>
        <ref name="svg"/>
      </choice>
    </define>
    <!-- For fo:instream-foreign-object -->
    <define name="anything">
      <zeroOrMore>
        <choice>
          <element>
            <anyName>
              <except>
                <nsName ns="http://www.w3.org/1999/XSL/Format"/>
              </except>
            </anyName>
            <zeroOrMore>
              <attribute>
                <anyName>
                  <except>
                    <name ns="">id</name>
                    <name ns="">ref-id</name>
                    <name ns="">internal-destination</name>
                  </except>
                </anyName>
              </attribute>
            </zeroOrMore>
            <ref name="anything"/>
          </element>
          <text/>
        </choice>
      </zeroOrMore>
    </define>
  </include>
</grammar>
