schema/rng/axf.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Antenna House extension elements and non-inherited extension
  attributes.
  
  Copyright 2015-2016 Antenna House, Inc.
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<grammar ns="http://www.antennahouse.com/names/XSL/Extensions" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:axf="http://www.antennahouse.com/names/XSL/Extensions" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="axf-inherited.rng">
    <!--
      
      Overrides to patterns in 'fo-inherited.rnc' (and patterns in
      modules that it includes).
      
    -->
    <!-- http://www.antennahouse.com/product/ahf64/ahf-ext.html#fo.change-bar-begin -->
    <define name="fo_change-bar-begin.model">
      <optional>
        <ref name="fo_float"/>
      </optional>
    </define>
    <!--
      Nested fo:page-sequence
      https://www.antennahouse.com/product/ahf64/ahf-ext.html#fo.page-sequence
    -->
    <define name="fo_flow.model">
      <zeroOrMore>
        <ref name="fo_marker"/>
      </zeroOrMore>
      <interleave>
        <oneOrMore>
          <choice>
            <ref name="block.fo.list"/>
            <ref name="neutral.fo.list.block"/>
            <ref name="fo_page-sequence"/>
          </choice>
        </oneOrMore>
        <zeroOrMore>
          <ref name="point.fo.list"/>
        </zeroOrMore>
      </interleave>
    </define>
    <define name="fo_layout-master-set.model">
      <oneOrMore>
        <choice>
          <ref name="axf_spread-page-master"/>
          <ref name="fo_simple-page-master"/>
          <ref name="fo_page-sequence-master"/>
          <ref name="fo_flow-map"/>
        </choice>
      </oneOrMore>
    </define>
    <!-- http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.document-info -->
    <define name="fo_root.model">
      <zeroOrMore>
        <ref name="axf_document-info"/>
      </zeroOrMore>
      <ref name="fo_layout-master-set"/>
      <zeroOrMore>
        <ref name="axf_document-info"/>
      </zeroOrMore>
      <optional>
        <ref name="fo_declarations"/>
      </optional>
      <zeroOrMore>
        <ref name="axf_document-info"/>
      </zeroOrMore>
      <optional>
        <ref name="fo_bookmark-tree"/>
      </optional>
      <zeroOrMore>
        <ref name="axf_document-info"/>
      </zeroOrMore>
      <oneOrMore>
        <choice>
          <ref name="fo_page-sequence"/>
          <ref name="fo_page-sequence-wrapper"/>
        </choice>
      </oneOrMore>
    </define>
    <!-- AH Formatter allows fo:region-* in any order. -->
    <define name="fo_simple-page-master.model">
      <interleave>
        <oneOrMore>
          <ref name="fo_region-body"/>
        </oneOrMore>
        <optional>
          <ref name="fo_region-before"/>
        </optional>
        <optional>
          <ref name="fo_region-after"/>
        </optional>
        <optional>
          <ref name="fo_region-start"/>
        </optional>
        <optional>
          <ref name="fo_region-end"/>
        </optional>
      </interleave>
    </define>
    <!-- AH Formatter allows empty fo:static-content. -->
    <define name="fo_static-content.model">
      <interleave>
        <zeroOrMore>
          <choice>
            <ref name="block.fo.list"/>
            <ref name="neutral.fo.list"/>
          </choice>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="point.fo.list"/>
        </zeroOrMore>
      </interleave>
    </define>
    <!-- AH Formatter allows fo:block-container to omit block FOs. -->
    <define name="fo_block-container.model">
      <zeroOrMore>
        <ref name="fo_marker"/>
      </zeroOrMore>
      <interleave>
        <zeroOrMore>
          <choice>
            <ref name="block.fo.list"/>
            <ref name="neutral.fo.list"/>
          </choice>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="point.fo.list"/>
        </zeroOrMore>
      </interleave>
    </define>
    <!-- AH Formatter allows fo:inline-container to omit block FOs. -->
    <define name="fo_inline-container.model">
      <zeroOrMore>
        <ref name="fo_marker"/>
      </zeroOrMore>
      <interleave>
        <zeroOrMore>
          <choice>
            <ref name="block.fo.list"/>
            <ref name="neutral.fo.list"/>
          </choice>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="point.fo.list"/>
        </zeroOrMore>
      </interleave>
    </define>
    <!-- AH Formatter allows empty fo:list-item. -->
    <define name="fo_list-item.model">
      <zeroOrMore>
        <ref name="fo_marker"/>
      </zeroOrMore>
      <interleave>
        <optional>
          <ref name="fo_list-item-label"/>
          <ref name="fo_list-item-body"/>
        </optional>
        <zeroOrMore>
          <ref name="point.fo.list"/>
        </zeroOrMore>
      </interleave>
    </define>
    <!-- AH Formatter allows fo:list-item-label omit block FOs. -->
    <define name="fo_list-item-label.model">
      <zeroOrMore>
        <ref name="fo_marker"/>
      </zeroOrMore>
      <interleave>
        <zeroOrMore>
          <choice>
            <ref name="block.fo.list"/>
            <ref name="neutral.fo.list"/>
          </choice>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="point.fo.list"/>
        </zeroOrMore>
      </interleave>
    </define>
    <!--
      AH Formatter allows fo:table-cell to omit block FOs.
      axf:table-cell-repeated-marker used when cell repeats.
    -->
    <define name="fo_table-cell.model">
      <zeroOrMore>
        <ref name="fo_marker"/>
      </zeroOrMore>
      <optional>
        <ref name="axf_table-cell-repeated-marker"/>
      </optional>
      <interleave>
        <zeroOrMore>
          <choice>
            <ref name="block.fo.list"/>
            <ref name="neutral.fo.list"/>
          </choice>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="point.fo.list"/>
        </zeroOrMore>
      </interleave>
    </define>
    <!--
      For fo:instream-foreign-object
      Exclude axf:* elements and attributes from counting as 'non-xsl'.
    -->
    <define name="non-xsl">
      <zeroOrMore>
        <attribute>
          <anyName>
            <except>
              <nsName ns=""/>
              <nsName/>
              <nsName ns="http://www.w3.org/XML/1998/namespace"/>
            </except>
          </anyName>
        </attribute>
      </zeroOrMore>
      <zeroOrMore>
        <element>
          <anyName>
            <except>
              <nsName ns=""/>
              <nsName ns="http://www.w3.org/1999/XSL/Format"/>
              <nsName/>
            </except>
          </anyName>
          <zeroOrMore>
            <attribute>
              <anyName/>
            </attribute>
          </zeroOrMore>
          <ref name="anything"/>
        </element>
      </zeroOrMore>
    </define>
    <!--
      
      End of overrides to patterns in 'axf-inherited.rnc'.
      
    -->
  </include>
  <!--
    
    Antenna House extension elements
    
  -->
  <!--
    <axf:document-info/>
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.document-info
  -->
  <define name="axf_document-info">
    <element name="axf:document-info">
      <a:documentation>Document information such as an author and title that can be embedded in the PDF</a:documentation>
      <!--
        'name="title"' was used in V5.1 and still works but is
        undocumented in V6.2.
      -->
      <attribute name="name">
        <a:documentation>Name of the document information</a:documentation>
        <choice>
          <value>document-title</value>
          <value>title</value>
          <value>subject</value>
          <value>author</value>
          <value>author-title</value>
          <value>description-writer</value>
          <value>keywords</value>
          <value>copyright-status</value>
          <value>copyright-notice</value>
          <value>copyright-info-url</value>
          <value>xmp</value>
          <value>pagemode</value>
          <value>pagelayout</value>
          <value>hidetoolbar</value>
          <value>hidemenubar</value>
          <value>hidewindowui</value>
          <value>fitwindow</value>
          <value>centerwindow</value>
          <value>displaydoctitle</value>
          <value>openaction</value>
        </choice>
      </attribute>
      <attribute name="value">
        <a:documentation>Value of the document information.  Some information has constraints on the allowed values.</a:documentation>
      </attribute>
      <empty/>
    </element>
  </define>
  <!--
    <axf:footnote-number/>
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.footnote-number
  -->
  <define name="axf_footnote-number">
    <element name="axf:footnote-number">
      <a:documentation>Generates a footnote number</a:documentation>
      <ref name="id"/>
      <empty/>
    </element>
  </define>
  <!--
    <axf:footnote-number-citation/>
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.footnote-number-citation
  -->
  <define name="axf_footnote-number-citation">
    <element name="axf:footnote-number-citation">
      <a:documentation>Cites a footnote number</a:documentation>
      <attribute name="ref-id"/>
      <empty/>
    </element>
  </define>
  <!--
    <axf:form>
    https://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.form
  -->
  <define name="axf_form">
    <element name="axf:form">
      <ref name="axf_form.attlist"/>
      <ref name="axf_form.model"/>
    </element>
  </define>
  <define name="axf_form.attlist">
    <optional>
      <ref name="axf_field-submit-coordinates"/>
    </optional>
    <optional>
      <ref name="axf_field-submit-method"/>
    </optional>
    <optional>
      <ref name="external-destination"/>
    </optional>
  </define>
  <define name="axf_form.model">
    <zeroOrMore>
      <ref name="block.fo.list"/>
    </zeroOrMore>
  </define>
  <!--
    <axf:form-field>
    
    https://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.form-field
  -->
  <define name="axf_form-field">
    <element name="axf:form-field">
      <a:documentation>Generates a form field</a:documentation>
      <zeroOrMore>
        <choice>
          <ref name="axf_form-field-option"/>
          <ref name="axf_form-field-event"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <!--
    <axf:form-field-event>
    
    https://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.form-field-event
  -->
  <define name="axf_form-field-event">
    <element name="axf:form-field-event">
      <a:documentation>Defines the form action corresponding to an event</a:documentation>
      <text/>
    </element>
  </define>
  <!--
    <axf:form-field-option>
    
    https://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.form-field-option
  -->
  <define name="axf_form-field-option">
    <element name="axf:form-field-option">
      <a:documentation>Specifies the component elements of the list box, combo box</a:documentation>
      <text/>
    </element>
  </define>
  <!--
    <axf:ruby>
    https://www.antennahouse.com/product/ahf64/ahf-ruby.html#axf.ruby
  -->
  <define name="axf_ruby">
    <element name="axf:ruby">
      <a:documentation>The ruby structure.</a:documentation>
      <ref name="axf.ruby.attlist"/>
      <oneOrMore>
        <ref name="axf_ruby-base"/>
        <ref name="axf_ruby-text"/>
      </oneOrMore>
    </element>
  </define>
  <!--
    <axf:ruby-base>
    https://www.antennahouse.com/product/ahf64/ahf-ruby.html#axf.ruby-base
  -->
  <define name="axf_ruby-base">
    <element name="axf:ruby-base">
      <a:documentation>Base character of ruby.</a:documentation>
      <choice>
        <text/>
        <ref name="axf_ruby"/>
      </choice>
    </element>
  </define>
  <!--
    <axf:ruby-text>
    https://www.antennahouse.com/product/ahf64/ahf-ruby.html#axf.ruby-text
  -->
  <define name="axf_ruby-text">
    <element name="axf:ruby-text">
      <a:documentation>Ruby.</a:documentation>
      <text/>
    </element>
  </define>
  <!--
    <axf:spread-page-master>
    http://www.antennahouse.com/product/ahf64/ahf-spread.html#axf.spread-page-master
  -->
  <define name="axf_spread-page-master">
    <element name="axf:spread-page-master">
      <a:documentation>A two-page spread.</a:documentation>
      <ref name="axf_background-color"/>
      <ref name="axf_background-content-height"/>
      <ref name="axf_background-content-type"/>
      <ref name="axf_background-content-width"/>
      <ref name="axf_background-image"/>
      <ref name="axf_background-position-horizontal"/>
      <ref name="axf_background-position-vertical"/>
      <ref name="axf_background-repeat"/>
      <ref name="axf_background-scaling"/>
      <ref name="axf_bleed"/>
      <ref name="common-margin-properties-block"/>
      <attribute name="left-page-master-reference">
        <a:documentation>Master name of the page master for the left page of a two-page spread.</a:documentation>
        <data type="NCName"/>
      </attribute>
      <ref name="master-name"/>
      <ref name="reference-orientation"/>
      <attribute name="right-page-master-reference">
        <a:documentation>Master name of the page master for the right page of a two-page spread.</a:documentation>
        <data type="NCName"/>
      </attribute>
      <ref name="writing-mode"/>
      <ref name="background-attachment"/>
      <ref name="background-image"/>
      <ref name="background-position-horizontal"/>
      <ref name="background-position-vertical"/>
      <ref name="background-repeat"/>
      <oneOrMore>
        <ref name="axf_spread-region"/>
      </oneOrMore>
    </element>
  </define>
  <!--
    <axf:spread-region>
    http://www.antennahouse.com/product/ahf64/ahf-spread.html#axf.spread-region
  -->
  <define name="axf_spread-region">
    <element name="axf:spread-region">
      <a:documentation>Region in a two-page spread.</a:documentation>
      <ref name="common-absolute-position-properties"/>
      <ref name="common-border-padding-and-background-properties"/>
      <ref name="common-margin-properties-block"/>
      <ref name="height"/>
      <ref name="region-name"/>
      <ref name="reference-orientation"/>
      <ref name="overflow"/>
      <ref name="width"/>
      <ref name="writing-mode"/>
      <empty/>
    </element>
  </define>
  <!--
    <axf:tab>
    https://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.tab
  -->
  <define name="axf_tab">
    <element name="axf:tab">
      <a:documentation>Places a white space up to a tab stop position</a:documentation>
      <ref name="axf_tab-align"/>
      <empty/>
    </element>
  </define>
  <!--
    <axf:table-cell-repeated-marker>
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.table-cell-repeated-marker
  -->
  <define name="axf_table-cell-repeated-marker">
    <element name="axf:table-cell-repeated-marker">
      <a:documentation>Contents used when axf:repeat-cell-content-at-break="true"</a:documentation>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="inline.fo.list"/>
          <ref name="block.fo.list"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <!--
    
    Antenna House extensions to patterns in included modules.
    
  -->
  <!--
    
    Extensions to FO models
    
  -->
  <define name="block.fo.list" combine="choice">
    <ref name="axf_form"/>
  </define>
  <define name="inline.fo.list" combine="choice">
    <choice>
      <ref name="axf_footnote-number"/>
      <ref name="axf_footnote-number-citation"/>
      <ref name="axf_form-field"/>
      <ref name="axf_ruby"/>
      <ref name="axf_tab"/>
    </choice>
  </define>
  <!--
    
    Extensions to FO attlists
    
  -->
  <!-- FOs that are not descendants of fo:flow -->
  <define name="fo_root.attlist" combine="interleave">
    <ref name="xml_id"/>
  </define>
  <define name="fo_page-sequence.attlist" combine="interleave">
    <ref name="axf_background-color"/>
    <ref name="axf_background-image"/>
    <ref name="axf_background-position-horizontal"/>
    <ref name="axf_background-position-vertical"/>
    <ref name="axf_background-repeat"/>
    <ref name="axf_output-volume-break"/>
    <ref name="axf_output-volume-filename"/>
    <ref name="axf_page-number-prefix"/>
    <ref name="axf_printer-bin-selection"/>
    <ref name="axf_printer-duplex"/>
    <ref name="background-color"/>
    <ref name="background-image"/>
    <ref name="background-position-horizontal"/>
    <ref name="background-position-vertical"/>
    <ref name="background-repeat"/>
    <ref name="xml_id"/>
  </define>
  <define name="fo_page-sequence-wrapper.attlist" combine="interleave">
    <ref name="xml_id"/>
  </define>
  <define name="fo_simple-page-master.attlist" combine="interleave">
    <ref name="axf_background-color"/>
    <ref name="axf_background-content-height"/>
    <ref name="axf_background-content-type"/>
    <ref name="axf_background-content-width"/>
    <ref name="axf_background-image"/>
    <ref name="axf_background-position-horizontal"/>
    <ref name="axf_background-position-vertical"/>
    <ref name="axf_background-repeat"/>
    <ref name="axf_background-scaling"/>
    <ref name="axf_bleed"/>
    <ref name="axf_bleed-top"/>
    <ref name="axf_bleed-bottom"/>
    <ref name="axf_bleed-left"/>
    <ref name="axf_bleed-right"/>
    <ref name="axf_crop-area-visibility"/>
    <ref name="axf_crop-offset"/>
    <ref name="axf_crop-offset-top"/>
    <ref name="axf_crop-offset-bottom"/>
    <ref name="axf_crop-offset-left"/>
    <ref name="axf_crop-offset-right"/>
    <ref name="axf_printer-marks"/>
    <ref name="axf_printer-marks-line-color"/>
    <ref name="axf_printer-marks-line-length"/>
    <ref name="axf_printer-marks-line-width"/>
    <ref name="axf_printer-marks-spine-width"/>
    <ref name="axf_printer-marks-zero-margin"/>
    <ref name="background-color"/>
    <ref name="background-image"/>
    <ref name="background-position-horizontal"/>
    <ref name="background-position-vertical"/>
    <ref name="background-repeat"/>
  </define>
  <define name="fo_region-body.attlist" combine="interleave">
    <ref name="axf_footnote-align"/>
    <ref name="axf_footnote-keep"/>
    <ref name="axf_footnote-max-height"/>
    <ref name="axf_footnote-position"/>
    <ref name="axf_footnote-stacking"/>
  </define>
  <define name="fo_flow.attlist" combine="interleave">
    <ref name="axf_baseline-grid"/>
    <ref name="xml_id"/>
  </define>
  <define name="fo_static-content.attlist" combine="interleave">
    <ref name="axf_baseline-grid"/>
    <ref name="xml_id"/>
  </define>
  <!-- FOs in flow listed in alphabetic order -->
  <define name="fo_basic-link.attlist" combine="interleave">
    <ref name="axf_action-type"/>
    <ref name="axf_alttext"/>
    <ref name="text-decoration"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_bidi-override.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_block.attlist" combine="interleave">
    <ref name="axf_destination-type"/>
    <ref name="axf_suppress-if-first-on-page"/>
    <ref name="height"/>
    <ref name="max-height"/>
    <ref name="max-width"/>
    <ref name="min-height"/>
    <ref name="min-width"/>
    <ref name="text-decoration"/>
    <ref name="width"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
    <ref name="axf.block.attlist"/>
  </define>
  <define name="fo_block-container.attlist" combine="interleave">
    <ref name="axf_column-count"/>
    <ref name="axf_column-gap"/>
    <ref name="axf_destination-type"/>
    <ref name="axf_suppress-if-first-on-page"/>
    <ref name="axf.block.attlist"/>
    <ref name="column-count"/>
    <ref name="column-gap"/>
    <ref name="role"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_character.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_external-graphic.attlist" combine="interleave">
    <ref name="axf_alttext"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_float.attlist" combine="interleave">
    <ref name="axf_float"/>
    <ref name="axf_float-x"/>
    <ref name="axf_float-y"/>
    <ref name="axf_float-reference"/>
    <ref name="axf_float-move"/>
    <ref name="axf_float-wrap"/>
    <ref name="axf_float-min-wrap-x"/>
    <ref name="axf_float-min-wrap-y"/>
    <ref name="axf_float-centering-x"/>
    <ref name="axf_float-centering-y"/>
    <ref name="axf_float-margin-x"/>
    <ref name="axf_float-margin-y"/>
    <ref name="axf_float-float-margin-x"/>
    <ref name="axf_float-float-margin-y"/>
    <ref name="axf_float-offset-x"/>
    <ref name="axf_float-offset-y"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_footnote.attlist" combine="interleave">
    <ref name="space-before"/>
    <ref name="axf_footnote-align"/>
    <ref name="axf_footnote-stacking"/>
    <ref name="axf_footnote-position"/>
    <ref name="axf_footnote-keep"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_footnote-body.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_index-range-begin.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_inline.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
    <ref name="axf_indent-here"/>
  </define>
  <define name="fo_inline-container.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_instream-foreign-object.attlist" combine="interleave">
    <ref name="axf_alttext"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_leader.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_list-block.attlist" combine="interleave">
    <ref name="axf.block.attlist"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_list-item.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
    <ref name="axf-outline-properties"/>
  </define>
  <define name="fo_list-item-body.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_list-item-label.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_multi-case.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_multi-property-set.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_multi-switch.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_multi-toggle.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_page-number.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
    <ref name="axf-page-number-properties"/>
  </define>
  <define name="fo_page-number-citation.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
    <ref name="axf-page-number-properties"/>
  </define>
  <define name="fo_page-number-citation-last.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
    <ref name="axf-page-number-properties"/>
  </define>
  <define name="fo_scaling-value-citation.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_table.attlist" combine="interleave">
    <ref name="axf_table-summary"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
    <ref name="axf.block.attlist"/>
  </define>
  <define name="fo_table-and-caption.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.block.attlist"/>
  </define>
  <define name="fo_table-caption.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_table-cell.attlist" combine="interleave">
    <ref name="axf_headers"/>
    <ref name="axf_repeat-cell-content-at-break"/>
    <ref name="axf_scope"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_table-column.attlist" combine="interleave">
    <ref name="id"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_table-body.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_table-footer.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_table-header.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_table-row.attlist" combine="interleave">
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <define name="fo_wrapper.attlist" combine="interleave">
    <ref name="text-decoration"/>
    <ref name="xml_id"/>
    <ref name="axf.annotation.attlist"/>
  </define>
  <!--
    
    Extensions to property groups
    
  -->
  <define name="common-accessibility-properties" combine="interleave">
    <ref name="axf_pdftag"/>
  </define>
  <define name="common-border-padding-and-background-properties" combine="interleave">
    <ref name="axf_background-content-width"/>
    <ref name="axf_background-content-height"/>
    <ref name="axf_background-content-type"/>
    <ref name="axf_background-scaling"/>
    <ref name="axf_border-radius"/>
    <ref name="axf_border-top-left-radius"/>
    <ref name="axf_border-top-right-radius"/>
    <ref name="axf_border-bottom-left-radius"/>
    <ref name="axf_border-bottom-right-radius"/>
  </define>
  <!--
    
    Antenna House extension properties
    
  -->
  <!--
    List of annotation-related properties common to block-level and
    inline-level formatting objects
  -->
  <define name="axf.annotation.attlist">
    <ref name="axf_annotation-author"/>
    <ref name="axf_annotation-color"/>
    <ref name="axf_annotation-contents"/>
    <ref name="axf_annotation-file-attachment"/>
    <ref name="axf_annotation-height"/>
    <ref name="axf_annotation-icon-name"/>
    <ref name="axf_annotation-open"/>
    <ref name="axf_annotation-position-horizontal"/>
    <ref name="axf_annotation-position-vertical"/>
    <ref name="axf_annotation-title"/>
    <ref name="axf_annotation-type"/>
    <ref name="axf_annotation-width"/>
  </define>
  <!--
    List of baseline-grid-related extension properties
    https://www.antennahouse.com/product/ahf64/ahf-ext.html#line-grid
  -->
  <define name="axf-baseline-grid-properties">
    <ref name="axf_baseline-grid"/>
    <ref name="axf_baseline-block-snap"/>
  </define>
  <!--
    List of outline-related extension properties
    https://www.antennahouse.com/product/ahf64/ahf-ext.html#bookmark-and-link
  -->
  <define name="axf-outline-properties">
    <ref name="axf_outline-expand"/>
    <ref name="axf_outline-group"/>
    <ref name="axf_outline-level"/>
    <ref name="axf_outline-title"/>
    <ref name="axf_outline-color"/>
    <ref name="axf_outline-font-style"/>
    <ref name="axf_outline-font-weight"/>
  </define>
  <!--
    List of extension properties to control page and column numbers.
    See https://www.antennahouse.com/product/ahf64/ahf-ext.html#page-number
  -->
  <define name="axf-page-number-properties">
    <!-- axf:assumed-page-number is inherited. -->
    <ref name="axf_column-number-format"/>
    <ref name="axf_number-type"/>
    <!-- axf:page-number-prefix only applies to fo:page-sequence -->
    <ref name="axf_physical-page-number"/>
    <ref name="axf_origin-id"/>
    <ref name="axf_reverse-page-number"/>
    <!-- axf:suppress-duplicate-page-number is deprecated. -->
    <ref name="axf_suppress-folio-prefix"/>
    <ref name="axf_suppress-folio-suffix"/>
  </define>
  <!--
    List of extension properties common to all block-level formatting
    objects
  -->
  <define name="axf.block.attlist">
    <ref name="axf-baseline-grid-properties"/>
    <ref name="axf-outline-properties"/>
  </define>
  <define name="axf.ruby.attlist">
    <ref name="axf_ruby-align"/>
    <ref name="axf_ruby-position"/>
    <ref name="axf_ruby-offset"/>
    <ref name="axf_ruby-overhang"/>
    <ref name="axf_ruby-limit-overhang"/>
    <ref name="axf_ruby-limit-space"/>
    <ref name="axf_ruby-small-kana"/>
    <ref name="axf_ruby-font-family"/>
    <ref name="axf_ruby-font-size"/>
    <ref name="axf_ruby-minimum-font-size"/>
    <ref name="axf_ruby-font-style"/>
    <ref name="axf_ruby-font-weight"/>
    <ref name="axf_ruby-font-stretch"/>
    <ref name="axf_ruby-condense"/>
    <ref name="axf_ruby-color"/>
  </define>
  <!--
    @axf:background-color
    @axf:background-image
    @axf:background-position-horizontal
    @axf:background-position-vertical
    @axf:background-repeat
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#IDAAOLV
  -->
  <define name="axf_background-color">
    <optional>
      <attribute name="axf:background-color">
        <a:documentation>&lt;color&gt; | transparent</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_background-image">
    <optional>
      <attribute name="axf:background-image">
        <a:documentation>&lt;uri-specification&gt; | none</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_background-position-horizontal">
    <optional>
      <attribute name="axf:background-position-horizontal">
        <a:documentation>&lt;percentage&gt; | &lt;length&gt; | left | center | right</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_background-position-vertical">
    <optional>
      <attribute name="axf:background-position-vertical">
        <a:documentation>&lt;percentage&gt; | &lt;length&gt; | top | center | bottom</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_background-repeat">
    <optional>
      <attribute name="axf:background-repeat">
        <a:documentation>repeat | repeat-x | repeat-y | no-repeat | paginate</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:action-type
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.action-type
  -->
  <define name="axf_action-type">
    <optional>
      <attribute name="axf:action-type">
        <a:documentation>Specifies the action of external link or form action</a:documentation>
        <choice>
          <value>gotor</value>
          <value>launch</value>
          <value>uri</value>
          <value>reset</value>
          <value>submit</value>
          <value>auto</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:alt-text
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.alttext
  -->
  <define name="axf_alttext">
    <optional>
      <attribute name="axf:alttext">
        <a:documentation>alternate text of the image</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-author
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.annotation-author
  -->
  <define name="axf_annotation-author">
    <optional>
      <attribute name="axf:annotation-author">
        <a:documentation>Author of the annotation: &lt;string&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-color
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.annotation-color
  -->
  <define name="axf_annotation-color">
    <optional>
      <attribute name="axf:annotation-color">
        <a:documentation>Color used for the background of the annotation: &lt;color&gt; | none</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-contents
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.annotation-contents
  -->
  <define name="axf_annotation-contents">
    <optional>
      <attribute name="axf:annotation-contents">
        <a:documentation>Content of the annotation: &lt;string&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-icon-name
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.annotation-icon-name
  -->
  <define name="axf_annotation-icon-name">
    <optional>
      <attribute name="axf:annotation-icon-name">
        <a:documentation>Name of the icon used for displaying the annotation: &lt;string&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-file-attachment
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.annotation-file-attachment
  -->
  <define name="axf_annotation-file-attachment">
    <optional>
      <attribute name="axf:annotation-file-attachment">
        <a:documentation>File with which file attachment annotation is related: &lt;uri-specification&gt;</a:documentation>
        <data type="anyURI"/>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-height
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.annotation-height
  -->
  <define name="axf_annotation-height">
    <optional>
      <attribute name="axf:annotation-height">
        <a:documentation>Height of the annotation: &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-open
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.annotation-open
  -->
  <define name="axf_annotation-open">
    <optional>
      <attribute name="axf:annotation-open">
        <a:documentation>Initial state of the annotation: true | false</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-position-horizontal
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.annotation-position-horizontal
  -->
  <define name="axf_annotation-position-horizontal">
    <optional>
      <attribute name="axf:annotation-position-horizontal">
        <a:documentation>Horizontal position of the annotation: &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-position-vertical
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.annotation-position-vertical
  -->
  <define name="axf_annotation-position-vertical">
    <optional>
      <attribute name="axf:annotation-position-vertical">
        <a:documentation>Vertical position of the annotation: &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-title
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.annotation-title
  -->
  <define name="axf_annotation-title">
    <optional>
      <attribute name="axf:annotation-title">
        <a:documentation>Title of the annotation: &lt;string&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-type
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.annotation-type
  -->
  <define name="axf_annotation-type">
    <optional>
      <attribute name="axf:annotation-type">
        <a:documentation>Type of the annotation: Empty string | Text | FreeText | Stamp | FileAttachment</a:documentation>
        <optional>
          <choice>
            <value>Text</value>
            <value>FreeText</value>
            <value>Stamp</value>
            <value>FileAttachment</value>
          </choice>
        </optional>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:annotation-width
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.annotation-width
  -->
  <define name="axf_annotation-width">
    <optional>
      <attribute name="axf:annotation-width">
        <a:documentation>Width of the annotation: &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:background-content-height
    @axf:background-content-type
    @axf:background-content-width
    @axf:background-scaling
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.background-content
  -->
  <define name="axf_background-content-height">
    <optional>
      <attribute name="axf:background-content-height">
        <a:documentation>auto | scale-to-fit | scale-down-to-fit | scale-up-to-fit | &lt;length&gt; | &lt;percentage&gt; | inherit</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_background-content-type">
    <optional>
      <attribute name="axf:background-content-type">
        <a:documentation>&lt;string&gt; | auto</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_background-content-width">
    <optional>
      <attribute name="axf:background-content-width">
        <a:documentation>auto | scale-to-fit | scale-down-to-fit | scale-up-to-fit | &lt;length&gt; | &lt;percentage&gt; | inherit</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_background-scaling">
    <optional>
      <attribute name="axf:background-scaling">
        <a:documentation>uniform | non-uniform | inherit</a:documentation>
        <choice>
          <value>uniform</value>
          <value>non-uniform</value>
          <value>inherit</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:baseline-block-snap
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.baseline-block-snap
  -->
  <define name="axf_baseline-block-snap">
    <optional>
      <attribute name="axf:baseline-block-snap">
        <a:documentation>How to align blocks on the baseline grid: none | [auto | before | after | center] || [border-box | margin-box]</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:baseline-grid
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.baseline-grid
  -->
  <define name="axf_baseline-grid">
    <optional>
      <attribute name="axf:baseline-grid">
        <a:documentation>Sets or clears the baseline grid: normal | none | root | new</a:documentation>
        <choice>
          <value>normal</value>
          <value>none</value>
          <value>root</value>
          <value>new</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:border-radius
    @axf:border-top-left-radius
    @axf:border-top-right-radius
    @axf:border-bottom-left-radius
    @axf:border-bottom-right-radius
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.border-radius
  -->
  <define name="axf_border-radius">
    <optional>
      <attribute name="axf:border-radius">
        <a:documentation>Radii of the rounded corners: [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_border-top-left-radius">
    <optional>
      <attribute name="axf:border-top-left-radius">
        <a:documentation>Radii of the top-left corner: [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_border-top-right-radius">
    <optional>
      <attribute name="axf:border-top-right-radius">
        <a:documentation>Radii of the top-right corner: [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_border-bottom-left-radius">
    <optional>
      <attribute name="axf:border-bottom-left-radius">
        <a:documentation>Radii of the bottom-left corner: [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_border-bottom-right-radius">
    <optional>
      <attribute name="axf:border-bottom-right-radius">
        <a:documentation>Radii of the bottom-right corner: [&lt;length&gt;|&lt;percentage&gt;] [&lt;length&gt;|&lt;percentage&gt;]?</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:bleed
    @axf:bleed-top
    @axf:bleed-bottom
    @axf:bleed-left
    @axf:bleed-right
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.bleed
  -->
  <define name="axf_bleed">
    <optional>
      <attribute name="axf:bleed">
        <a:documentation>Wdth of the bleed region: &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_bleed-top">
    <optional>
      <attribute name="axf:bleed-top">
        <a:documentation>Wdth of the top bleed region: &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_bleed-bottom">
    <optional>
      <attribute name="axf:bleed-bottom">
        <a:documentation>Wdth of the bottom bleed region: &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_bleed-left">
    <optional>
      <attribute name="axf:bleed-left">
        <a:documentation>Wdth of the left bleed region: &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_bleed-right">
    <optional>
      <attribute name="axf:bleed-right">
        <a:documentation>Wdth of the right bleed region: &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:column-count
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.column-count
  -->
  <define name="axf_column-count">
    <optional>
      <attribute name="axf:column-count">
        <a:documentation>The number of columns: &lt;number&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:column-gap
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.column-gap
  -->
  <define name="axf_column-gap">
    <optional>
      <attribute name="axf:column-gap">
        <a:documentation>The gap between columns: &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:crop-area-visibility
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.crop-area-visibility
  -->
  <define name="axf_crop-area-visibility">
    <optional>
      <attribute name="axf:crop-area-visibility">
        <a:documentation>Whether to display the area beyond the finished page size</a:documentation>
        <choice>
          <value>hidden</value>
          <value>visible</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:crop-offset
    @axf:crop-offset-top
    @axf:crop-offset-bottom
    @axf:crop-offset-left
    @axf:crop-offset-right
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.crop-offset
  -->
  <define name="axf_crop-offset">
    <optional>
      <attribute name="axf:crop-offset">
        <a:documentation>Distance from the physical edges to the trim size of the output medium: &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_crop-offset-top">
    <optional>
      <attribute name="axf:crop-offset-top">
        <a:documentation>Distance from the physical top edge to the trim size of the output medium: &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_crop-offset-bottom">
    <optional>
      <attribute name="axf:crop-offset-bottom">
        <a:documentation>Distance from the physical bottom edge to the trim size of the output medium: &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_crop-offset-left">
    <optional>
      <attribute name="axf:crop-offset-left">
        <a:documentation>Distance from the physical left edge to the trim size of the output medium: &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <define name="axf_crop-offset-right">
    <optional>
      <attribute name="axf:crop-offset-right">
        <a:documentation>Distance from the physical right edge to the trim size of the output medium: &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:column-number-format
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.column-number-format
  -->
  <define name="axf_column-number-format">
    <optional>
      <attribute name="axf:column-number-format">
        <a:documentation>Format of column number: &lt;string&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:destination-type
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.destination-type
  -->
  <define name="axf_destination-type">
    <optional>
      <attribute name="axf:destination-type">
        <a:documentation>The way a link opens in a link destination</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:field-submit-coordinates
    @field-submit-coordinates
    
    https://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.field-submit-coordinates
  -->
  <define name="axf_field-submit-coordinates">
    <choice>
      <attribute name="axf:field-submit-coordinates">
        <a:documentation>Whether to send out the coordinates of the mouse when submitting a form field: false | true</a:documentation>
        <choice>
          <value>false</value>
          <value>true</value>
        </choice>
      </attribute>
      <attribute name="field-submit-coordinates">
        <a:documentation>Whether to send out the coordinates of the mouse when submitting a form field: false | true</a:documentation>
        <choice>
          <value>false</value>
          <value>true</value>
        </choice>
      </attribute>
    </choice>
  </define>
  <!--
    @axf:field-submit-method
    @field-submit-method
    
    https://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.field-submit-method
  -->
  <define name="axf_field-submit-method">
    <choice>
      <attribute name="axf:field-submit-method">
        <a:documentation>The way to send the information when submitting a form field: get | post</a:documentation>
        <choice>
          <value>get</value>
          <value>post</value>
        </choice>
      </attribute>
      <attribute name="field-submit-method">
        <a:documentation>The way to send the information when submitting a form field: get | post</a:documentation>
        <choice>
          <value>get</value>
          <value>post</value>
        </choice>
      </attribute>
    </choice>
  </define>
  <!--
    @axf:float
    
    http://www.antennahouse.com/product/ahf64/ahf-float.html
  -->
  <define name="axf_float">
    <optional>
      <attribute name="axf:float">
        <a:documentation>Shorthand for float-related extension properties</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-x
    
    http://www.antennahouse.com/product/ahf64/ahf-float.html#axf.float-x
  -->
  <define name="axf_float-x">
    <optional>
      <attribute name="axf:float-x">
        <a:documentation>Horizontal (or vertical if writing-mode is vertical) float alignment: none | start | end | left | right | top | bottom | center | inside | outside | alternate</a:documentation>
        <choice>
          <value>none</value>
          <value>start</value>
          <value>end</value>
          <value>left</value>
          <value>right</value>
          <value>top</value>
          <value>bottom</value>
          <value>center</value>
          <value>inside</value>
          <value>outside</value>
          <value>alternate</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-y
    
    http://www.antennahouse.com/product/ahf64/ahf-float.html#axf.float-y
  -->
  <define name="axf_float-y">
    <optional>
      <attribute name="axf:float-y">
        <a:documentation>Vertical (or horizontal if writing-mode is vertical) float alignment:    none | before | after | top | bottom | left | right | center | inside | outside</a:documentation>
        <choice>
          <value>none</value>
          <value>before</value>
          <value>after</value>
          <value>top</value>
          <value>bottom</value>
          <value>left</value>
          <value>right</value>
          <value>center</value>
          <value>inside</value>
          <value>outside</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-reference
    
    http://www.antennahouse.com/product/ahf64/ahf-float.html#axf.float-reference
  -->
  <define name="axf_float-reference">
    <optional>
      <attribute name="axf:float-reference">
        <a:documentation>Reference area where the float is placed: auto | normal | page | column | multicol</a:documentation>
        <choice>
          <value>auto</value>
          <value>normal</value>
          <value>page</value>
          <value>column</value>
          <value>multicol</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-move
    
    http://www.antennahouse.com/product/ahf64/ahf-float.html#axf.float-move
  -->
  <define name="axf_float-move">
    <optional>
      <attribute name="axf:float-move">
        <a:documentation>Whether the float moves to the next page (or column): auto | next | auto-next | auto-move | keep | keep-float</a:documentation>
        <choice>
          <value>auto</value>
          <value>next</value>
          <value>auto-next</value>
          <value>auto-move</value>
          <value>keep</value>
          <value>keep-float</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-wrap
    
    http://www.antennahouse.com/product/ahf64/ahf-float.html#axf.float-wrap
  -->
  <define name="axf_float-wrap">
    <optional>
      <attribute name="axf:float-wrap">
        <a:documentation>Text wrapping: auto | wrap | skip</a:documentation>
        <choice>
          <value>auto</value>
          <value>wrap</value>
          <value>skip</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-min-wrap-x
    
    http://www.antennahouse.com/product/ahf64/ahf-float.html#axf.float-min-wrap-x
  -->
  <define name="axf_float-min-wrap-x">
    <optional>
      <attribute name="axf:float-min-wrap-x">
        <a:documentation>Minimum width for the text wrapping around the float: normal | &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-min-wrap-y
    
    http://www.antennahouse.com/product/ahf64/ahf-float.html#axf.float-min-wrap-y
  -->
  <define name="axf_float-min-wrap-y">
    <optional>
      <attribute name="axf:float-min-wrap-y">
        <a:documentation>Minimum extent for the text placed before and after the float: normal | &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-centering-x
    
    http://www.antennahouse.com/product/ahf64/ahf-float.html#axf.float-centering-x
  -->
  <define name="axf_float-centering-x">
    <optional>
      <attribute name="axf:float-centering-x">
        <a:documentation>Whether the float is centered when the width for the text wrapping around the float is insufficient: none | auto | &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-centering-y
    
    http://www.antennahouse.com/product/ahf64/ahf-float.html#axf.float-centering-y
  -->
  <define name="axf_float-centering-y">
    <optional>
      <attribute name="axf:float-centering-y">
        <a:documentation>Whether the float is centered when the extent for the text placed before and after the float is insufficient: none | auto | &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-margin-x
    
    http://www.antennahouse.com/product/ahf64/ahf-float.html#axf.float-margin-x
  -->
  <define name="axf_float-margin-x">
    <optional>
      <attribute name="axf:float-margin-x">
        <a:documentation>Space between the float and the text wrapping around the float (in x-axis): [ &lt;length&gt; | &lt;percentage&gt; ] [ &lt;length&gt; | &lt;percentage&gt; ]?</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-margin-y
    
    http://www.antennahouse.com/product/ahf64/ahf-float.html#axf.float-margin-y
  -->
  <define name="axf_float-margin-y">
    <optional>
      <attribute name="axf:float-margin-y">
        <a:documentation>Space between the float and the text wrapping around the float (in y-axis): [ &lt;length&gt; | &lt;percentage&gt; ] [ &lt;length&gt; | &lt;percentage&gt; ]?</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-float-margin-x
    
    http://www.antennahouse.com/product/ahf64/ahf-float.html#axf.float-float-margin-x
  -->
  <define name="axf_float-float-margin-x">
    <optional>
      <attribute name="axf:float-float-margin-x">
        <a:documentation>Space between the float and another neighboring float (in x-axis): auto | [[ &lt;length&gt; | &lt;percentage&gt; ] [ &lt;length&gt; | &lt;percentage&gt; ]?]</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-float-margin-y
    
    http://www.antennahouse.com/product/ahf64/ahf-float.html#axf.float-float-margin-y
  -->
  <define name="axf_float-float-margin-y">
    <optional>
      <attribute name="axf:float-float-margin-y">
        <a:documentation>Space between the float and another neighboring float (in y-axis): auto | [[ &lt;length&gt; | &lt;percentage&gt; ] [ &lt;length&gt; | &lt;percentage&gt; ]?]</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-offset-x
    
    http://www.antennahouse.com/product/ahf64/ahf-float.html#axf.float-offset-x
  -->
  <define name="axf_float-offset-x">
    <optional>
      <attribute name="axf:float-offset-x">
        <a:documentation>Offset placement for the float (in x-axis): &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:float-offset-y
    
    http://www.antennahouse.com/product/ahf64/ahf-float.html#axf.float-offset-y
  -->
  <define name="axf_float-offset-y">
    <optional>
      <attribute name="axf:float-offset-y">
        <a:documentation>Offset placement for the float (in y-axis): &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:footnote-align
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.footnote-align
  -->
  <define name="axf_footnote-align">
    <optional>
      <attribute name="axf:footnote-align">
        <a:documentation>Specifies the alignment of the footnotes.</a:documentation>
        <choice>
          <value>auto</value>
          <value>before</value>
          <value>after</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:footnote-stacking
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.footnote-stacking
  -->
  <define name="axf_footnote-stacking">
    <optional>
      <attribute name="axf:footnote-stacking">
        <a:documentation>Method to layout the footnote.</a:documentation>
        <choice>
          <value>block</value>
          <value>inline</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:footnote-position
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.footnote-position
  -->
  <define name="axf_footnote-position">
    <optional>
      <attribute name="axf:footnote-position">
        <a:documentation>Location to layout the footnote.</a:documentation>
        <choice>
          <value>page</value>
          <value>odd-page</value>
          <value>even-page</value>
          <value>start</value>
          <value>end</value>
          <value>inside</value>
          <value>outside</value>
          <value>column</value>
          <value>start-column</value>
          <value>end-column</value>
          <value>inside-column</value>
          <value>outside-column</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:footnote-keep
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.footnote-keep
  -->
  <define name="axf_footnote-keep">
    <optional>
      <attribute name="axf:footnote-keep">
        <a:documentation>Whether to arrange a footnote and an anchor in the same page</a:documentation>
        <choice>
          <value>auto</value>
          <value>always</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:footnote-max-height
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.footnote-max-height
  -->
  <define name="axf_footnote-max-height">
    <optional>
      <attribute name="axf:footnote-max-height">
        <a:documentation>Maximum height of footnote: auto | &lt;length&gt; | &lt;percentage&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:headers
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.headers
  -->
  <define name="axf_headers">
    <optional>
      <attribute name="axf:headers">
        <a:documentation>Table header cells associated with this cell: &lt;idrefs&gt;</a:documentation>
        <data type="IDREFS"/>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:indent-here
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.indent-here
  -->
  <define name="axf_indent-here">
    <optional>
      <attribute name="axf:indent-here">
        <a:documentation>Aligns the indent position to the region position when a line break occurs: none | &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:number-type
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.number-type
  -->
  <define name="axf_number-type">
    <optional>
      <attribute name="axf:number-type">
        <a:documentation>Whether to output the page number, column number, or both: page | column | page-and-column</a:documentation>
        <choice>
          <value>page</value>
          <value>column</value>
          <value>page-and-column</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:outline-expand
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.outline-expand
  -->
  <define name="axf_outline-expand">
    <optional>
      <attribute name="axf:outline-expand">
        <a:documentation>Whether to display the lower hierarchy of bookmark items or not: true | false</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:origin-id
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.origin-id
  -->
  <define name="axf_origin-id">
    <optional>
      <attribute name="axf:origin-id">
        <a:documentation>Origin of the page number: &lt;idref&gt;</a:documentation>
        <data type="IDREF"/>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:outline-group
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.outline-group
  -->
  <define name="axf_outline-group">
    <optional>
      <attribute name="axf:outline-group">
        <a:documentation>Name of the output group: &lt;string&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:outline-level
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.outline-level
  -->
  <define name="axf_outline-level">
    <optional>
      <attribute name="axf:outline-level">
        <a:documentation>The hierarchy level of bookmark items: &lt;number&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:outline-title
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.outline-title
  -->
  <define name="axf_outline-title">
    <optional>
      <attribute name="axf:outline-title">
        <a:documentation>String which appears as a title of bookmark: &lt;string&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:outline-color
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.outline-color
  -->
  <define name="axf_outline-color">
    <optional>
      <attribute name="axf:outline-color">
        <a:documentation>Color which appears as a title of bookmark</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:outline-font-style
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf_outline-font-style
  -->
  <define name="axf_outline-font-style">
    <optional>
      <attribute name="axf:outline-font-style">
        <a:documentation>Font style which appears as a title of bookmark: normal | italic</a:documentation>
        <choice>
          <value>normal</value>
          <value>italic</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:outline-font-weight
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf:outline-font-weight
  -->
  <define name="axf_outline-font-weight">
    <optional>
      <attribute name="axf:outline-font-weight">
        <a:documentation>Font weight which appears as a title of bookmark: normal | bold</a:documentation>
        <choice>
          <value>normal</value>
          <value>bold</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:output-volume-break
    
    https://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.output-volume-break
  -->
  <define name="axf_output-volume-break">
    <optional>
      <attribute name="axf:output-volume-break">
        <a:documentation>Whether this fo:page-sequence starts a new volume: true | false</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:output-volume-filename
    
    https://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.output-volume-filename
  -->
  <define name="axf_output-volume-filename">
    <optional>
      <attribute name="axf:output-volume-filename">
        <a:documentation>Whether this fo:page-sequence starts a new volume</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:page-number-prefix
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.page-number-prefix
  -->
  <define name="axf_page-number-prefix">
    <optional>
      <attribute name="axf:page-number-prefix">
        <a:documentation>Sets the prefix of page number. CAUTION: A similar function is provided in XSL1.1. Please use fo:folio-prefix.</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:pdftag
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.pdftag
  -->
  <define name="axf_pdftag">
    <optional>
      <attribute name="axf:pdftag">
        <a:documentation>Tag name of Tagged PDF</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:physical-page-number
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.physical-page-number
  -->
  <define name="axf_physical-page-number">
    <optional>
      <attribute name="axf:physical-page-number">
        <a:documentation>Whether to generate physical page number: true | false</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:printer-marks
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.printer-marks
  -->
  <define name="axf_printer-marks">
    <optional>
      <attribute name="axf:printer-marks">
        <a:documentation>Printing marks, such as a crop mark</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:printer-bin-selection
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.printer-bin-selection
  -->
  <define name="axf_printer-bin-selection">
    <optional>
      <attribute name="axf:printer-bin-selection">
        <a:documentation>Selects the printer tray: &lt;string&gt; | &lt;integer&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:printer-duplex
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.printer-duplex
  -->
  <define name="axf_printer-duplex">
    <optional>
      <attribute name="axf:printer-duplex">
        <a:documentation>Selects printing in duplex mode: &lt;integer&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:printer-marks-line-color
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.printer-marks-line-color
  -->
  <define name="axf_printer-marks-line-color">
    <optional>
      <attribute name="axf:printer-marks-line-color">
        <a:documentation>Line color of printer marks: &lt;line&gt; | auto</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:printer-marks-line-length
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.printer-marks-line-length
  -->
  <define name="axf_printer-marks-line-length">
    <optional>
      <attribute name="axf:printer-marks-line-length">
        <a:documentation>Line length of printer marks: &lt;length&gt; | auto</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:printer-marks-line-width
    Line width of printer marks: <length> | auto
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.printer-marks-line-width
  -->
  <define name="axf_printer-marks-line-width">
    <optional>
      <attribute name="axf:printer-marks-line-width">
        <a:documentation>Line width of printer marks</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:printer-marks-zero-margin
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.printer-marks-zero-margin
  -->
  <define name="axf_printer-marks-zero-margin">
    <optional>
      <attribute name="axf:printer-marks-zero-margin">
        <a:documentation>Margin between the page and the printer marks when bleed is 0: &lt;length&gt; | auto</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:printer-marks-spine-width
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.printer-marks-spine-width
  -->
  <define name="axf_printer-marks-spine-width">
    <optional>
      <attribute name="axf:printer-marks-spine-width">
        <a:documentation>Spine width of the facing page: &lt;length&gt;</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:repeat-cell-content-at-break
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.repeat-cell-content-at-break
  -->
  <define name="axf_repeat-cell-content-at-break">
    <optional>
      <attribute name="axf:repeat-cell-content-at-break">
        <a:documentation>Whether to copy the contents of a cell when a cell breaks: true | false</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:reverse-page-number
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.reverse-page-number
  -->
  <define name="axf_reverse-page-number">
    <optional>
      <attribute name="axf:reverse-page-number">
        <a:documentation>Whether to generate pages in reverse order: true | false</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:scope
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.scope
  -->
  <define name="axf_scope">
    <optional>
      <attribute name="axf:scope">
        <a:documentation>Range of cells with which this table header cell is associated: auto | row | col | rowgroup | colgroup | both</a:documentation>
        <choice>
          <value>auto</value>
          <value>row</value>
          <value>col</value>
          <value>rowgroup</value>
          <value>colgroup</value>
          <value>both</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:suppress-folio-prefix
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.suppress-folio-prefix
  -->
  <define name="axf_suppress-folio-prefix">
    <optional>
      <attribute name="axf:suppress-folio-prefix">
        <a:documentation>Suppresses rendering of the page number prefix: true | false</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:suppress-folio-suffix
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.suppress-folio-suffix
  -->
  <define name="axf_suppress-folio-suffix">
    <optional>
      <attribute name="axf:suppress-folio-suffix">
        <a:documentation>Suppresses rendering of the page number suffix: true | false</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:suppress-if-first-on-page
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.suppress-if-first-on-page
  -->
  <define name="axf_suppress-if-first-on-page">
    <optional>
      <attribute name="axf:suppress-if-first-on-page">
        <a:documentation>Whether to suppress the block at the beginning of a page: true | false</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:tab-align
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.tab-align
  -->
  <define name="axf_tab-align">
    <optional>
      <attribute name="axf:tab-align">
        <a:documentation>Tab alignment at the tab stop position</a:documentation>
        <choice>
          <value>auto</value>
          <value>start</value>
          <value>center</value>
          <value>end</value>
          <value>left</value>
          <value>right</value>
          <value>decimal</value>
          <text/>
        </choice>
      </attribute>
    </optional>
  </define>
  <!--
    @axf:table-summary
    
    http://www.antennahouse.com/product/ahf64/ahf-ext.html#axf.table-summary
  -->
  <define name="axf_table-summary">
    <optional>
      <attribute name="axf:table-summary">
        <a:documentation>Summary describing the table.  Included in Tagged PDF output.</a:documentation>
      </attribute>
    </optional>
  </define>
  <!--
    @xml:id
    
    https://www.w3.org/TR/xml-id/
  -->
  <define name="xml_id">
    <optional>
      <attribute name="xml:id">
        <a:documentation>&lt;id&gt;</a:documentation>
        <data type="ID"/>
      </attribute>
    </optional>
  </define>
</grammar>
