schema-ja/axf.rnc

# Schema for Antenna House extension elements and non-inherited
# extension attributes.
# 
# Copyright 2015-2019 Antenna House, Inc.
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace axf = "http://www.antennahouse.com/names/XSL/Extensions"
namespace axh = "http://www.antennahouse.com/names/XSL/Hyphenations"
namespace fo = "http://www.w3.org/1999/XSL/Format"
namespace local = ""

include "axh.rnc" inherit = axf
include "axf-inherited.rnc" inherit = axf {
  # 
  # Overrides to patterns in 'axf-inherited.rnc' (and patterns in
  # modules that it includes).
  #
  
  # https://www.antennahouse.com/product/ahf65/ahf-ext.html#fo.change-bar-begin
  fo_change-bar-begin.model = fo_float?
  # Nested fo:page-sequence
  # https://www.antennahouse.com/product/ahf65/ahf-ext.html#fo.page-sequence
  fo_flow.model =
    fo_marker*,
    ((block.fo.list | neutral.fo.list.block | fo_page-sequence)+
     & point.fo.list*)
  fo_layout-master-set.model =
    (axf_spread-page-master
     | fo_simple-page-master
     | fo_page-sequence-master
     | fo_flow-map)+
  # https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.document-info
  fo_root.model =
    axf_document-info*,
    fo_layout-master-set,
    axf_document-info*,
    fo_declarations?,
    axf_document-info*,
    fo_bookmark-tree?,
    axf_document-info*,
    (fo_page-sequence | fo_page-sequence-wrapper)+
  # AH Formatter allows fo:region-* in any order.
  fo_simple-page-master.model =
    fo_region-body+
    & fo_region-before?
    & fo_region-after?
    & fo_region-start?
    & fo_region-end?
  # AH Formatter uses axf:custom-property and axf:document-info within
  # fo:declarations.
  fo_declarations.model |=
    (axf_custom-property | axf_document-info | axf_hyphenation-info)*
  # AH Formatter allows empty fo:static-content.
  fo_static-content.model =
    (block.fo.list | neutral.fo.list)* & point.fo.list*
  # AH Formatter allows fo:block-container to omit block FOs.
  fo_block-container.model =
    fo_marker*,
    ((block.fo.list | neutral.fo.list)* & point.fo.list*)
  # AH Formatter allows fo:inline-container to omit block FOs.
  fo_inline-container.model =
    fo_marker*,
    ((block.fo.list | neutral.fo.list)* & point.fo.list*)
  # AH Formatter allows empty fo:list-item.
  fo_list-item.model =
    fo_marker*,
    ((fo_list-item-label, fo_list-item-body)? & point.fo.list*)
  # AH Formatter allows fo:list-item-label omit block FOs.
  fo_list-item-label.model =
    fo_marker*,
    ((block.fo.list | neutral.fo.list)* & point.fo.list*)
  # AH Formatter allows fo:table-cell to omit block FOs.
  # axf:table-cell-repeated-marker used when cell repeats.
  fo_table-cell.model =
    fo_marker*,
    axf_table-cell-repeated-marker?,
    ((block.fo.list | neutral.fo.list)* & point.fo.list*)
  # For fo:instream-foreign-object
  # Exclude axf:* elements and attributes from counting as 'non-xsl'.
  non-xsl =
    attribute * - (local:* | axf:* | xml:*) { text }*,
    element * - (local:* | fo:* | axf:*) {
      attribute * { text }*,
      anything
    }*
  # 
  # End of overrides to patterns in 'axf-inherited.rnc'.
  #
  
}
# 
# Antenna House extension elements
#

# <axf:custom-property/>
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.custom-property
axf_custom-property =
  
  ## Custom PDF property Effective with PDF 1.4 or later. PDF/Aでは無効です。
  element axf:custom-property {
    
    ## カスタムプロパティ名どちらも空ではいけません。
    attribute name { text },
    
    ## カスタムプロパティの値どちらも空ではいけません。
    attribute value { text },
    empty
  }
# <axf:document-info/>
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.document-info
axf_document-info =
  
  ## PDFには、著者やタイトルなどの文書情報を埋め込んでおくことができます 
  element axf:document-info {
    # 'name="title"' was used in V5.1 and still works but is
    # undocumented in V6.2+.
    
    ## 文字情報の名
    attribute name {
      "document-title"
      | "title"
      | "subject"
      | "author"
      | "author-title"
      | "description-writer"
      | "keywords"
      | "copyright-status"
      | "copyright-notice"
      | "copyright-info-url"
      | "xmp"
      | "pagemode"
      | "pagelayout"
      | "hidetoolbar"
      | "hidemenubar"
      | "hidewindowui"
      | "fitwindow"
      | "centerwindow"
      | "displaydoctitle"
      | "openaction"
    },
    
    ## 文字情報の値ある情は許容値の制約があります。
    attribute value { text },
    empty
  }
# <axf:footnote-number/>
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.footnote-number
axf_footnote-number =
  
  ## 脚注番号を生成します
  element axf:footnote-number { id, empty }
# <axf:footnote-number-citation/>
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.footnote-number-citation
axf_footnote-number-citation =
  
  ## 脚注番号を引用します
  element axf:footnote-number-citation {
    attribute ref-id { text },
    empty
  }
# <axf:form>
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.form
axf_form = element axf:form { axf_form.attlist, axf_form.model }
axf_form.attlist =
  axf_field-submit-coordinates?,
  axf_field-submit-method?,
  external-destination?
axf_form.model = block.fo.list*
# <axf:form-field>
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.form-field
axf_form-field =
  
  ## フォームフィールドを生成します。
  element axf:form-field {
    (axf_form-field-option | axf_form-field-event)*
  }
# <axf:form-field-event>
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.form-field-event
axf_form-field-event =
  
  ## イベントに対応したフォームアクションを定義します。
  element axf:form-field-event { text }
# <axf:form-field-option>
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.form-field-option
axf_form-field-option =
  
  ## リストボックス、コンボボックスの構成要素を指定します。 
  element axf:form-field-option { text }
# <axf:hyphenation-info>
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.hyphenation-info
axf_hyphenation-info =
  
  ## Additional hyphenation information
  element axf:hyphenation-info {
    axf_hyphenation-info.attlist, axh_exceptions?
  }
axf_hyphenation-info.attlist =
  attribute language { text }?,
  attribute src { text }?
# <axf:ruby>
# https://www.antennahouse.com/product/ahf65/ahf-ruby.html#axf.ruby
axf_ruby =
  
  ## The ruby structure
  element axf:ruby { axf.ruby.attlist, (axf_ruby-base, axf_ruby-text)+ }
# <axf:ruby-base>
# https://www.antennahouse.com/product/ahf65/ahf-ruby.html#axf.ruby-base
axf_ruby-base =
  
  ## Base character of ruby
  element axf:ruby-base { text | axf_ruby }
# <axf:ruby-text>
# https://www.antennahouse.com/product/ahf65/ahf-ruby.html#axf.ruby-text
axf_ruby-text =
  
  ## Ruby
  element axf:ruby-text { text }
# <axf:spread-page-master>
# https://www.antennahouse.com/product/ahf65/ahf-spread.html#axf.spread-page-master
axf_spread-page-master =
  
  ## A two-page spread
  element axf:spread-page-master {
    axf_background-color,
    axf_background-content-height,
    axf_background-content-type,
    axf_background-content-width,
    axf_background-image,
    axf_background-position-horizontal,
    axf_background-position-vertical,
    axf_background-repeat,
    axf_background-scaling,
    axf_bleed,
    common-margin-properties-block,
    
    ## 見開きでの左ページのマスタ名
    attribute left-page-master-reference { xsd:NCName },
    master-name,
    reference-orientation,
    
    ## 見開きでの右ページのマスタ
    attribute right-page-master-reference { xsd:NCName },
    writing-mode,
    background-attachment,
    background-image,
    background-position-horizontal,
    background-position-vertical,
    background-repeat,
    axf_spread-region+
  }
# <axf:spread-region>
# https://www.antennahouse.com/product/ahf65/ahf-spread.html#axf.spread-region
axf_spread-region =
  
  ## 見開きページの領域
  element axf:spread-region {
    common-absolute-position-properties,
    common-border-padding-and-background-properties,
    common-margin-properties-block,
    height,
    region-name,
    reference-orientation,
    overflow,
    width,
    writing-mode,
    empty
  }
# <axf:tab>
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.tab
axf_tab =
  
  ## タブ位置までスペースを空けます
  element axf:tab { axf_tab-align, empty }
# <axf:table-cell-repeated-marker>
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.table-cell-repeated-marker
axf_table-cell-repeated-marker =
  
  ## 内容がaxf:repeat-cell-content-at-break="true"の場合に使われます
  element axf:table-cell-repeated-marker {
    (text | inline.fo.list | block.fo.list)*
  }
# 
# Antenna House extensions to patterns in included modules.
#

# 
# Extensions to FO models
#
block.fo.list |= axf_form
inline.fo.list |=
  axf_footnote-number
  | axf_footnote-number-citation
  | axf_form-field
  | axf_ruby
  | axf_tab
# 
# Extensions to FO attlists
#

# FOs that are not descendants of fo:flow
fo_root.attlist &= axf_layer-settings, xml_id
fo_page-sequence.attlist &=
  axf_background-color,
  axf_background-image,
  axf_background-position-horizontal,
  axf_background-position-vertical,
  axf_background-repeat,
  axf_output-volume-break,
  axf_output-volume-filename,
  axf_page-number-prefix,
  axf_printer-bin-selection,
  axf_printer-duplex,
  background-color,
  background-image,
  background-position-horizontal,
  background-position-vertical,
  background-repeat,
  xml_id
fo_page-sequence-wrapper.attlist &= xml_id
fo_simple-page-master.attlist &=
  axf_background-color,
  axf_background-content-height,
  axf_background-content-type,
  axf_background-content-width,
  axf_background-image,
  axf_background-position-horizontal,
  axf_background-position-vertical,
  axf_background-repeat,
  axf_background-scaling,
  axf_bleed,
  axf_bleed-top,
  axf_bleed-bottom,
  axf_bleed-left,
  axf_bleed-right,
  axf_crop-area-visibility,
  axf_crop-offset,
  axf_crop-offset-top,
  axf_crop-offset-bottom,
  axf_crop-offset-left,
  axf_crop-offset-right,
  axf_printer-marks,
  axf_printer-marks-line-color,
  axf_printer-marks-line-length,
  axf_printer-marks-line-width,
  axf_printer-marks-spine-width,
  axf_printer-marks-zero-margin,
  background-color,
  background-image,
  background-position-horizontal,
  background-position-vertical,
  background-repeat
fo_region-body.attlist &=
  axf_column-fill,
  axf_column-rule-align,
  axf_column-rule-color,
  axf_column-rule-display,
  axf_column-rule-length,
  axf_column-rule-style,
  axf_column-rule-width,
  axf_footnote-align,
  axf_footnote-keep,
  axf_footnote-max-height,
  axf_footnote-position,
  axf_footnote-stacking
fo_flow.attlist &= axf_baseline-grid, xml_id
fo_static-content.attlist &= axf_baseline-grid, xml_id
# FOs in flow listed in alphabetic order
fo_basic-link.attlist &=
  axf_action-type,
  axf_alttext,
  text-decoration,
  xml_id,
  axf.annotation.attlist,
  axf.text-decoration.attlist
fo_bidi-override.attlist &=
  xml_id, axf.annotation.attlist, axf.text-decoration.attlist
fo_block.attlist &=
  axf_destination-type,
  axf_suppress-if-first-on-page,
  height,
  max-height,
  max-width,
  min-height,
  min-width,
  text-decoration,
  width,
  xml_id,
  axf.annotation.attlist,
  axf.block.attlist,
  axf.text-decoration.attlist
fo_block-container.attlist &=
  axf_column-count,
  axf_column-fill,
  axf_column-gap,
  axf_column-rule-align,
  axf_column-rule-color,
  axf_column-rule-display,
  axf_column-rule-length,
  axf_column-rule-style,
  axf_column-rule-width,
  axf_destination-type,
  axf_suppress-if-first-on-page,
  axf.block.attlist,
  column-count,
  column-gap,
  role,
  xml_id,
  axf.annotation.attlist
fo_character.attlist &=
  xml_id, axf.annotation.attlist, axf.text-decoration.attlist
fo_external-graphic.attlist &=
  axf_alttext,
  axf_background-image-resolution,
  xml_id,
  axf.annotation.attlist
fo_float.attlist &=
  axf_float,
  axf_float-x,
  axf_float-y,
  axf_float-reference,
  axf_float-move,
  axf_float-wrap,
  axf_float-min-wrap-x,
  axf_float-min-wrap-y,
  axf_float-centering-x,
  axf_float-centering-y,
  axf_float-margin-x,
  axf_float-margin-y,
  axf_float-float-margin-x,
  axf_float-float-margin-y,
  axf_float-offset-x,
  axf_float-offset-y,
  xml_id,
  axf.annotation.attlist
fo_footnote.attlist &=
  space-before,
  axf_footnote-align,
  axf_footnote-stacking,
  axf_footnote-position,
  axf_footnote-keep,
  xml_id,
  axf.annotation.attlist
fo_footnote-body.attlist &= xml_id, axf.annotation.attlist
fo_index-range-begin.attlist &= xml_id, axf.annotation.attlist
fo_inline.attlist &=
  xml_id,
  axf.annotation.attlist,
  axf.text-decoration.attlist,
  axf_indent-here
fo_inline-container.attlist &= xml_id, axf.annotation.attlist
fo_instream-foreign-object.attlist &=
  axf_alttext,
  axf_background-image-resolution,
  xml_id,
  axf.annotation.attlist
fo_leader.attlist &=
  xml_id, axf.annotation.attlist, axf.text-decoration.attlist
fo_list-block.attlist &=
  axf.block.attlist, xml_id, axf.annotation.attlist
fo_list-item.attlist &=
  xml_id, axf.annotation.attlist, axf-outline-properties
fo_list-item-body.attlist &= xml_id, axf.annotation.attlist
fo_list-item-label.attlist &= xml_id, axf.annotation.attlist
fo_multi-case.attlist &= xml_id, axf.annotation.attlist
fo_multi-property-set.attlist &= xml_id, axf.annotation.attlist
fo_multi-switch.attlist &= xml_id, axf.annotation.attlist
fo_multi-toggle.attlist &= xml_id, axf.annotation.attlist
fo_page-number.attlist &=
  xml_id, axf.annotation.attlist, axf.page-number.attlist
fo_page-number-citation.attlist &=
  xml_id, axf.annotation.attlist, axf.page-number.attlist
fo_page-number-citation-last.attlist &=
  xml_id, axf.annotation.attlist, axf.page-number.attlist
fo_scaling-value-citation.attlist &=
  xml_id, axf.annotation.attlist, axf.text-decoration.attlist
fo_table.attlist &=
  axf_table-summary, xml_id, axf.annotation.attlist, axf.block.attlist
fo_table-and-caption.attlist &= xml_id, axf.block.attlist
fo_table-caption.attlist &= xml_id, axf.annotation.attlist
fo_table-cell.attlist &=
  axf_headers,
  axf_repeat-cell-content-at-break,
  axf_scope,
  xml_id,
  axf.annotation.attlist
fo_table-column.attlist &= id, xml_id, axf.annotation.attlist
fo_table-body.attlist &= xml_id, axf.annotation.attlist
fo_table-footer.attlist &= xml_id, axf.annotation.attlist
fo_table-header.attlist &= xml_id, axf.annotation.attlist
fo_table-row.attlist &= xml_id, axf.annotation.attlist
fo_wrapper.attlist &=
  text-decoration,
  xml_id,
  axf.annotation.attlist,
  axf.text-decoration.attlist
# 
# Extensions to property groups
#
common-accessibility-properties &= axf_pdftag
common-border-padding-and-background-properties &=
  axf_background-content-width,
  axf_background-content-height,
  axf_background-content-type,
  axf_background-scaling,
  axf_border-radius,
  axf_border-top-left-radius,
  axf_border-top-right-radius,
  axf_border-bottom-left-radius,
  axf_border-bottom-right-radius,
  axf_diagonal-border-style,
  axf_reverse-diagonal-border-style
# 
# Antenna House extension properties
#

# List of annotation-related properties common to block-level and
# inline-level formatting objects
axf.annotation.attlist =
  axf_annotation-author,
  axf_annotation-border-color,
  axf_annotation-border-style,
  axf_annotation-border-width,
  axf_annotation-color,
  axf_annotation-contents,
  axf_annotation-file-attachment,
  axf_annotation-flags,
  axf_annotation-font-family,
  axf_annotation-font-size,
  axf_annotation-font-style,
  axf_annotation-font-weight,
  axf_annotation-height,
  axf_annotation-icon-name,
  axf_annotation-open,
  axf_annotation-position-horizontal,
  axf_annotation-position-vertical,
  axf_annotation-text-align,
  axf_annotation-text-color,
  axf_annotation-title,
  axf_annotation-type,
  axf_annotation-width
# List of baseline-grid-related extension properties
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#line-grid
axf-baseline-grid-properties =
  axf_baseline-grid, axf_baseline-block-snap
# List of outline-related extension properties
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#bookmark-and-link
axf-outline-properties =
  axf_outline-expand,
  axf_outline-group,
  axf_outline-level,
  axf_outline-title,
  axf_outline-color,
  axf_outline-font-style,
  axf_outline-font-weight
# List of extension properties to control page and column numbers.
# See https://www.antennahouse.com/product/ahf65/ahf-ext.html#page-number
axf.page-number.attlist =
  # axf:assumed-page-number is inherited.
  axf_column-number-format,
  axf_number-type,
  # axf:page-number-prefix only applies to fo:page-sequence
  axf_physical-page-number,
  axf_origin-id,
  axf_reverse-page-number,
  # axf:suppress-duplicate-page-number is deprecated.
  axf_suppress-folio-prefix,
  axf_suppress-folio-suffix
# List of text decoration extension properties
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#text-decoration
axf.text-decoration.attlist =
  axf_text-line-color,
  axf_text-line-style,
  axf_text-line-width,
  axf_text-underline-position
# List of extension properties common to all block-level formatting
# objects
axf.block.attlist =
  axf-baseline-grid-properties,
  axf-outline-properties,
  axf_text-overflow
axf.ruby.attlist =
  axf_ruby-align,
  axf_ruby-position,
  axf_ruby-offset,
  axf_ruby-overhang,
  axf_ruby-limit-overhang,
  axf_ruby-limit-space,
  axf_ruby-small-kana,
  axf_ruby-font-family,
  axf_ruby-font-size,
  axf_ruby-minimum-font-size,
  axf_ruby-font-style,
  axf_ruby-font-weight,
  axf_ruby-font-stretch,
  axf_ruby-condense,
  axf_ruby-color
# @axf:background-color
# @axf:background-image
# @axf:background-position-horizontal
# @axf:background-position-vertical
# @axf:background-repeat
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#IDAAOLV
axf_background-color =
  
  ## <color> | transparent
  attribute axf:background-color { text }?
axf_background-image =
  
  ## <uri-specification> | none
  attribute axf:background-image { text }?
axf_background-position-horizontal =
  
  ## <percentage> | <length> | left | center | right
  attribute axf:background-position-horizontal { text }?
axf_background-position-vertical =
  
  ## <percentage> | <length> | top | center | bottom
  attribute axf:background-position-vertical { text }?
axf_background-repeat =
  
  ## repeat | repeat-x | repeat-y | no-repeat | paginate
  attribute axf:background-repeat { text }?
# @axf:action-type
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.action-type
axf_action-type =
  
  ## 外部リンクまたはフォームアクションの動作を指定します
  attribute axf:action-type {
    "gotor" | "launch" | "uri" | "reset" | "submit" | "auto"
  }?
# @axf:alt-text
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.alttext
axf_alttext =
  
  ## 画像の代替テキスト
  attribute axf:alttext { text }?
# @axf:annotation-author
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-author
axf_annotation-author =
  
  ## 注釈の作成者： <string>
  attribute axf:annotation-author { text }?
# @axf:annotation-border-color
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-border-color
axf_annotation-border-color =
  
  ## Border color of the free text annotation: <color>
  attribute axf:annotation-border-color { text }?
# @axf:annotation-border-style
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-border-style
axf_annotation-border-style =
  
  ## Border style of the free text annotation: solid | dotted | dashed | dot-dash | dot-dot-dash
  attribute axf:annotation-border-style {
    "solid" | "dotted" | "dashed" | "dot-dash" | "dot-dot-dash"
  }?
# @axf:annotation-border-width
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-border-width
axf_annotation-border-width =
  
  ## Border width of the free text annotation: <border-width>
  attribute axf:annotation-border-width { text }?
# @axf:annotation-color
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-color
axf_annotation-color =
  
  ## 注釈の背景などに利用される色： <color> | none
  attribute axf:annotation-color { text }?
# @axf:annotation-contents
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-contents
axf_annotation-contents =
  
  ## 注釈の内容：<string>
  attribute axf:annotation-contents { text }?
# @axf:annotation-file-attachment
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-file-attachment
axf_annotation-file-attachment =
  
  ## ファイル添付注釈の関連付けられるファイル： <uri-specification>
  attribute axf:annotation-file-attachment { xsd:anyURI }?
# @axf:annotation-flags
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-flags
axf_annotation-flags =
  
  ## Characteristics of the annotation: Invisible | Hidden | Print | NoZoom | NoRotate | NoView | ReadOnly | Locked | ToggleNoView | LockedContents
  attribute axf:annotation-flags {
    "Invisible"
    | "Hidden"
    | "Print"
    | "NoZoom"
    | "NoRotate"
    | "NoView"
    | "ReadOnly"
    | "Locked"
    | "ToggleNoView"
    | "LockedContents"
  }?
# @axf:annotation-font-family
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-font-family
axf_annotation-font-family =
  
  ## Font family of the free text annotation: <string>
  attribute axf:annotation-font-family { text }?
# @axf:annotation-font-size
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-font-size
axf_annotation-font-size =
  
  ## Font size of the free text annotation: <string>
  attribute axf:annotation-font-size { text }?
# @axf:annotation-font-style
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-font-style
axf_annotation-font-style =
  
  ## Font style of the free text annotation: <string>
  attribute axf:annotation-font-style { text }?
# @axf:annotation-font-weight
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-font-weight
axf_annotation-font-weight =
  
  ## Font weight of the free text annotation: <string>
  attribute axf:annotation-font-weight { text }?
# @axf:annotation-height
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-height
axf_annotation-height =
  
  ## 注釈の高さ： <length>
  attribute axf:annotation-height { text }?
# @axf:annotation-icon-name
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-icon-name
axf_annotation-icon-name =
  
  ## 注釈の表示に用いるアイコンの名前： <string>
  attribute axf:annotation-icon-name { text }?
# @axf:annotation-open
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-open
axf_annotation-open =
  
  ## 注釈の最初の状態： true | false
  attribute axf:annotation-open { "true" | "false" }?
# @axf:annotation-position-horizontal
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-position-horizontal
axf_annotation-position-horizontal =
  
  ## 注釈の水平位置： <length>
  attribute axf:annotation-position-horizontal { text }?
# @axf:annotation-position-vertical
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-position-vertical
axf_annotation-position-vertical =
  
  ## 注釈の垂直位置： <length>
  attribute axf:annotation-position-vertical { text }?
# @axf:annotation-text-align
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-text-align
axf_annotation-text-align =
  
  ## Alignment of the free text annotation: <string>
  attribute axf:annotation-text-align { "left" | "center" | "right" }?
# @axf:annotation-text-color
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-text-color
axf_annotation-text-color =
  
  ## Color of the free text annotation: <string>
  attribute axf:annotation-text-color { text }?
# @axf:annotation-title
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-title
axf_annotation-title =
  
  ## 注釈のタイトル： <string>
  attribute axf:annotation-title { text }?
# @axf:annotation-type
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-type
axf_annotation-type =
  
  ## 注釈の種類： Empty string | Text | FreeText | Stamp | FileAttachment
  attribute axf:annotation-type {
    ("Text" | "FreeText" | "Stamp" | "FileAttachment")?
  }?
# @axf:annotation-width
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.annotation-width
axf_annotation-width =
  
  ## 注釈の幅： <length>
  attribute axf:annotation-width { text }?
# @axf:background-content-height
# @axf:background-content-type
# @axf:background-content-width
# @axf:background-scaling
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.background-content
axf_background-content-height =
  
  ## auto | scale-to-fit | scale-down-to-fit | scale-up-to-fit | <length> | <percentage> | inherit
  attribute axf:background-content-height { text }?
axf_background-content-type =
  
  ## <string> | auto
  attribute axf:background-content-type { text }?
axf_background-content-width =
  
  ## auto | scale-to-fit | scale-down-to-fit | scale-up-to-fit | <length> | <percentage> | inherit
  attribute axf:background-content-width { text }?
axf_background-scaling =
  
  ## uniform | non-uniform | inherit
  attribute axf:background-scaling {
    "uniform" | "non-uniform" | "inherit"
  }?
# @axf:background-image-resolution
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.background-image-resolution
axf_background-image-resolution =
  
  ## Resolution of a background image: [ normal | [ from-image || <dpi> ] ]#
  attribute axf:background-image-resolution { text }
# @axf:baseline-block-snap
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.baseline-block-snap
axf_baseline-block-snap =
  
  ## ブロックを行グリッドにどのように揃えるか： none | [auto | before | after | center] || [border-box | margin-box]
  attribute axf:baseline-block-snap { text }?
# @axf:baseline-grid
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.baseline-grid
axf_baseline-grid =
  
  ## 行グリッドを設定または解除します： normal | none | root | new
  attribute axf:baseline-grid { "normal" | "none" | "root" | "new" }?
# @axf:border-radius
# @axf:border-top-left-radius
# @axf:border-top-right-radius
# @axf:border-bottom-left-radius
# @axf:border-bottom-right-radius
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.border-radius
axf_border-radius =
  
  ## 丸め罫の径： [<length>|<percentage>] [<length>|<percentage>]?
  attribute axf:border-radius { text }?
axf_border-top-left-radius =
  
  ## 丸め罫の左上の径： [<length>|<percentage>] [<length>|<percentage>]?
  attribute axf:border-top-left-radius { text }?
axf_border-top-right-radius =
  
  ## 丸め罫の右上の径： [<length>|<percentage>] [<length>|<percentage>]?
  attribute axf:border-top-right-radius { text }?
axf_border-bottom-left-radius =
  
  ## 丸め罫の左下の径： [<length>|<percentage>] [<length>|<percentage>]?
  attribute axf:border-bottom-left-radius { text }?
axf_border-bottom-right-radius =
  
  ## 丸め罫の右下の径： [<length>|<percentage>] [<length>|<percentage>]?
  attribute axf:border-bottom-right-radius { text }?
# @axf:bleed
# @axf:bleed-top
# @axf:bleed-bottom
# @axf:bleed-left
# @axf:bleed-right
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.bleed
axf_bleed =
  
  ## 塗り足しの領域の幅： <length>
  attribute axf:bleed { text }?
axf_bleed-top =
  
  ## 塗り足しの領域の上の幅: <length>
  attribute axf:bleed-top { text }?
axf_bleed-bottom =
  
  ## 塗り足しの領域の下の幅: <length>
  attribute axf:bleed-bottom { text }?
axf_bleed-left =
  
  ## 塗り足しの領域の左の幅: <length>
  attribute axf:bleed-left { text }?
axf_bleed-right =
  
  ## 塗り足しの領域の右の幅: <length>
  attribute axf:bleed-right { text }?
# @axf:column-count
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-count
axf_column-count =
  
  ## 段数： <number>
  attribute axf:column-count { text }?
# @axf:column-fill
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-fill
axf_column-fill =
  
  ## 段の高さをバランスさせるかどう： auto | balance
  attribute axf:column-fill { "auto" | "balance" }?
# @axf:column-gap
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-gap
axf_column-gap =
  
  ## 段と段の間： <length> | <percentage>
  attribute axf:column-gap { text }?
# @axf:column-rule-align
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-rule-align
axf_column-rule-align =
  
  ## 段間罫の配置： before | center | after
  attribute axf:column-rule-align { "before" | "center" | "after" }?
# @axf:column-rule-color
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-rule-color
axf_column-rule-color =
  
  ## 段間罫の色： <color>
  attribute axf:column-rule-color { text }?
# @axf:column-rule-display
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-rule-display
axf_column-rule-display =
  
  ## 段間が存在する可能性段間罫を表示するかどうか: gap | end | all
  attribute axf:column-rule-display { "gap" | "end" | "all" }?
# @axf:column-rule-length
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-rule-length
axf_column-rule-length =
  
  ## 段間罫の長さ： <length> | <percentage>
  attribute axf:column-rule-length { text }?
# @axf:column-rule-style
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-rule-style
axf_column-rule-style =
  
  ## 段間罫のスタイル： <border-style>
  attribute axf:column-rule-style { text }?
# @axf:column-rule-width
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-rule-width
axf_column-rule-width =
  
  ## 段間罫の幅： <border-width>
  attribute axf:column-rule-width { text }?
# @axf:crop-area-visibility
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.crop-area-visibility
axf_crop-area-visibility =
  
  ## 仕上がり寸法からはみ出した領域を表示するかどうか
  attribute axf:crop-area-visibility { "hidden" | "visible" }?
# @axf:crop-offset
# @axf:crop-offset-top
# @axf:crop-offset-bottom
# @axf:crop-offset-left
# @axf:crop-offset-right
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.crop-offset
axf_crop-offset =
  
  ## 出力媒体の物理的な端から仕上がり寸法までの距： <length>
  attribute axf:crop-offset { text }?
axf_crop-offset-top =
  
  ## 出力媒体の物理的な上端から仕上がり寸法までの距： <length>
  attribute axf:crop-offset-top { text }?
axf_crop-offset-bottom =
  
  ## 出力媒体の物理的な下端から仕上がり寸法までの距： <length>
  attribute axf:crop-offset-bottom { text }?
axf_crop-offset-left =
  
  ## 出力媒体の物理的な左端から仕上がり寸法までの距： <length>
  attribute axf:crop-offset-left { text }?
axf_crop-offset-right =
  
  ## 出力媒体の物理的な右端から仕上がり寸法までの距： <length>
  attribute axf:crop-offset-right { text }?
# @axf:column-number-format
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.column-number-format
axf_column-number-format =
  
  ## 段番号のための書式： <string>
  attribute axf:column-number-format { text }?
# @axf:destination-type
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.destination-type
axf_destination-type =
  
  ## リンクは、リンク先に開く方法
  attribute axf:destination-type { text }?
# @axf:diagonal-border-style
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.diagonal-border-style
axf_diagonal-border-style =
  
  ## 対角罫のスタイルを指定します: <border-style>
  attribute axf:diagonal-border-style { text }?
# @axf:field-submit-coordinates
# @field-submit-coordinates
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.field-submit-coordinates
axf_field-submit-coordinates =
  
  ## サブミット時にマウスの座標を送出するかどうか： false | true
  attribute axf:field-submit-coordinates { "false" | "true" }
  | 
    ## サブミット時にマウスの座標を送出するかどうか： false | true
    attribute field-submit-coordinates { "false" | "true" }
# @axf:field-submit-method
# @field-submit-method
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.field-submit-method
axf_field-submit-method =
  
  ## サブミット時の情報の送出方法： get | post
  attribute axf:field-submit-method { "get" | "post" }
  | 
    ## サブミット時の情報の送出方法： get | post
    attribute field-submit-method { "get" | "post" }
# @axf:float
# 
# https://www.antennahouse.com/product/ahf65/ahf-float.html
axf_float =
  
  ## フロート関連拡張プロパティのためのショートハンド
  attribute axf:float { text }?
# @axf:float-x
# 
# https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-x
axf_float-x =
  
  ## 水平（縦書きでは垂直）方向のフロート配置： none | start | end | left | right | top | bottom | center | inside | outside | alternate
  attribute axf:float-x {
    "none"
    | "start"
    | "end"
    | "left"
    | "right"
    | "top"
    | "bottom"
    | "center"
    | "inside"
    | "outside"
    | "alternate"
  }?
# @axf:float-y
# 
# https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-y
axf_float-y =
  
  ## 垂直（縦書きでは水平）方向のフロート配置： none | before | after | top | bottom | left | right | center | inside | outside
  attribute axf:float-y {
    "none"
    | "before"
    | "after"
    | "top"
    | "bottom"
    | "left"
    | "right"
    | "center"
    | "inside"
    | "outside"
  }?
# @axf:float-reference
# 
# https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-reference
axf_float-reference =
  
  ## フロートを配置する参照エリア ： auto | normal | page | column | multicol
  attribute axf:float-reference {
    "auto" | "normal" | "page" | "column" | "multicol"
  }?
# @axf:float-move
# 
# https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-move
axf_float-move =
  
  ## フロートは次のページまたは段に送るかどうか： auto | next | auto-next | auto-move | keep | keep-float
  attribute axf:float-move {
    "auto" | "next" | "auto-next" | "auto-move" | "keep" | "keep-float"
  }?
# @axf:float-wrap
# 
# https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-wrap
axf_float-wrap =
  
  ## テキストの回り込みについて： auto | wrap | skip
  attribute axf:float-wrap { "auto" | "wrap" | "skip" }?
# @axf:float-min-wrap-x
# 
# https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-min-wrap-x
axf_float-min-wrap-x =
  
  ## フロートへのテキスト回り込みのための幅： normal | <length> | <percentage>
  attribute axf:float-min-wrap-x { text }?
# @axf:float-min-wrap-y
# 
# https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-min-wrap-y
axf_float-min-wrap-y =
  
  ## フロートの前後に配置するテキスト量の最小値： normal | <length> | <percentage>
  attribute axf:float-min-wrap-y { text }?
# @axf:float-centering-x
# 
# https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-centering-x
axf_float-centering-x =
  
  ## フロートへのテキスト回り込みのための幅が足りないときフロートをセンタリングするかどうか： none | auto | <length> | <percentage>
  attribute axf:float-centering-x { text }?
# @axf:float-centering-y
# 
# https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-centering-y
axf_float-centering-y =
  
  ## フロートの前後にテキストを配置する高さが足りないときフロートをセンタリングするかどうか： none | auto | <length> | <percentage>
  attribute axf:float-centering-y { text }?
# @axf:float-margin-x
# 
# https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-margin-x
axf_float-margin-x =
  
  ## フロートと回り込むテキストとの間の余白を指定します（x方向）： [ <length> | <percentage> ] [ <length> | <percentage> ]?
  attribute axf:float-margin-x { text }?
# @axf:float-margin-y
# 
# https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-margin-y
axf_float-margin-y =
  
  ## フロートと前後のテキストとの間の余白を指定します（y方向）： [ <length> | <percentage> ] [ <length> | <percentage> ]?
  attribute axf:float-margin-y { text }?
# @axf:float-float-margin-x
# 
# https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-float-margin-x
axf_float-float-margin-x =
  
  ## フロートと別の隣接するフロートとの間の余白を指定します（x方向）： auto | [[ <length> | <percentage> ] [ <length> | <percentage> ]?]
  attribute axf:float-float-margin-x { text }?
# @axf:float-float-margin-y
# 
# https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-float-margin-y
axf_float-float-margin-y =
  
  ## フロートと別の隣接するフロートとの間の余白を指定します（y方向）： auto | [[ <length> | <percentage> ] [ <length> | <percentage> ]?]
  attribute axf:float-float-margin-y { text }?
# @axf:float-offset-x
# 
# https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-offset-x
axf_float-offset-x =
  
  ## フロートのオフセット配置を指定します（x方向）： <length> | <percentage>
  attribute axf:float-offset-x { text }?
# @axf:float-offset-y
# 
# https://www.antennahouse.com/product/ahf65/ahf-float.html#axf.float-offset-y
axf_float-offset-y =
  
  ## フロートのオフセット配置を指定します（y方向）： <length> | <percentage>
  attribute axf:float-offset-y { text }?
# @axf:footnote-align
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.footnote-align
axf_footnote-align =
  
  ## 脚注の配置を指定します。 
  attribute axf:footnote-align { "auto" | "before" | "after" }?
# @axf:footnote-stacking
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.footnote-stacking
axf_footnote-stacking =
  
  ## 脚注の配置の方法
  attribute axf:footnote-stacking { "block" | "inline" }?
# @axf:footnote-position
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.footnote-position
axf_footnote-position =
  
  ## 脚注を配置する場所
  attribute axf:footnote-position {
    "page"
    | "odd-page"
    | "even-page"
    | "start"
    | "end"
    | "inside"
    | "outside"
    | "column"
    | "start-column"
    | "end-column"
    | "inside-column"
    | "outside-column"
  }?
# @axf:footnote-keep
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.footnote-keep
axf_footnote-keep =
  
  ## 脚注とアンカを同一ページ内または段内に配置するように
  attribute axf:footnote-keep { "auto" | "always" }?
# @axf:footnote-max-height
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.footnote-max-height
axf_footnote-max-height =
  
  ## 脚注の最大高さ： auto | <length> | <percentage>
  attribute axf:footnote-max-height { text }?
# @axf:headers
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.headers
axf_headers =
  
  ## あるセルがどの見出しに対応する内容である： <idrefs>
  attribute axf:headers { xsd:IDREFS }?
# @axf:indent-here
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.indent-here
axf_indent-here =
  
  ## 改行時のインデント位置を領域の位置に合わせます： none | <length>
  attribute axf:indent-here { text }?
# @axf:layer-settings
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.layer-settings
axf_layer-settings =
  
  ## レイヤを定義します: none | <layer-setting>#
  attribute axf:layer-settings { text }?
# @axf:number-type
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.number-type
axf_number-type =
  
  ## ページ番号を出力するのか段番号を出力するのかまた両方を出力するのか： page | column | page-and-column
  attribute axf:number-type { "page" | "column" | "page-and-column" }?
# @axf:outline-expand
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.outline-expand
axf_outline-expand =
  
  ## しおりの初期状態で、下位の階層を表示するかどうか: true | false
  attribute axf:outline-expand { "true" | "false" }?
# @axf:origin-id
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.origin-id
axf_origin-id =
  
  ## ページ番号の基点：<idref>
  attribute axf:origin-id { xsd:IDREF }?
# @axf:outline-group
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.outline-group
axf_outline-group =
  
  ## 出力グループの名： <string>
  attribute axf:outline-group { text }?
# @axf:outline-level
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.outline-level
axf_outline-level =
  
  ## しおりの項目の階層レベル
  attribute axf:outline-level { text }?
# @axf:outline-title
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.outline-title
axf_outline-title =
  
  ## しおりのタイトルとして表示される文字列
  attribute axf:outline-title { text }?
# @axf:outline-color
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.outline-color
axf_outline-color =
  
  ## しおりのタイトルとして表示される文字列の色
  attribute axf:outline-color { text }?
# @axf:outline-font-style
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf_outline-font-style
axf_outline-font-style =
  
  ## しおりのタイトルとして表示される文字列のフォントスタイル: normal | italic
  attribute axf:outline-font-style { "normal" | "italic" }?
# @axf:outline-font-weight
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf:outline-font-weight
axf_outline-font-weight =
  
  ## しおりのタイトルとして表示される文字列のフォントの太さ: normal | bold
  attribute axf:outline-font-weight { "normal" | "bold" }?
# @axf:output-volume-break
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.output-volume-break
axf_output-volume-break =
  
  ## このfo:page-sequenceが新しい冊を開始するかどうか： true | false
  attribute axf:output-volume-break { "true" | "false" }?
# @axf:output-volume-filename
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.output-volume-filename
axf_output-volume-filename =
  
  ## このfo:page-sequenceが新しい冊を開始するかどうか
  attribute axf:output-volume-filename { text }?
# @axf:page-number-prefix
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.page-number-prefix
axf_page-number-prefix =
  
  ## ページ番号の前置を指定します。注：同様の機能がXSL1.1で用意しています。fo:folio-prefixを利用して下さい。
  attribute axf:page-number-prefix { text }?
# @axf:pdftag
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.pdftag
axf_pdftag =
  
  ## タグ付きPDFのタグ名
  attribute axf:pdftag { text }?
# @axf:physical-page-number
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.physical-page-number
axf_physical-page-number =
  
  ## 物理的なページ番号を振るかどうか： true | false
  attribute axf:physical-page-number { "true" | "false" }?
# @axf:printer-marks
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-marks
axf_printer-marks =
  
  ## トンボなどの印刷マーク
  attribute axf:printer-marks { text }?
# @axf:printer-bin-selection
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-bin-selection
axf_printer-bin-selection =
  
  ## プリンタのトレイを選択します： <string> | <integer>
  attribute axf:printer-bin-selection { text }?
# @axf:printer-duplex
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-duplex
axf_printer-duplex =
  
  ## 両面印刷の指定をします： <integer>
  attribute axf:printer-duplex { text }?
# @axf:printer-marks-line-color
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-marks-line-color
axf_printer-marks-line-color =
  
  ## トンボの色： <line> | auto
  attribute axf:printer-marks-line-color { text }?
# @axf:printer-marks-line-length
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-marks-line-length
axf_printer-marks-line-length =
  
  ## トンボの線の長さ： <length> | auto
  attribute axf:printer-marks-line-length { text }?
# @axf:printer-marks-line-width
# Line width of printer marks: <length> | auto
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-marks-line-width
axf_printer-marks-line-width =
  
  ## トンボの線の幅
  attribute axf:printer-marks-line-width { text }?
# @axf:printer-marks-zero-margin
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-marks-zero-margin
axf_printer-marks-zero-margin =
  
  ## bleedが0のときの、版面とトンボの間のマージン： <length> | auto
  attribute axf:printer-marks-zero-margin { text }?
# @axf:printer-marks-spine-width
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.printer-marks-spine-width
axf_printer-marks-spine-width =
  
  ## 見開きの背表紙の幅： <length>
  attribute axf:printer-marks-spine-width { text }?
# @axf:repeat-cell-content-at-break
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.repeat-cell-content-at-break
axf_repeat-cell-content-at-break =
  
  ## セルの分割時にセル内容をコピーするかどうか： true | false
  attribute axf:repeat-cell-content-at-break { "true" | "false" }?
# @axf:reverse-diagonal-border-style
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.reverse-diagonal-border-style
axf_reverse-diagonal-border-style =
  
  ## 対角罫のスタイルを指定します: <border-style>
  attribute axf:reverse-diagonal-border-style { text }?
# @axf:reverse-page-number
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.reverse-page-number
axf_reverse-page-number =
  
  ## ページを逆順に出力するかどうか： true | false
  attribute axf:reverse-page-number { "true" | "false" }?
# @axf:scope
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.scope
axf_scope =
  
  ## あるセルが見出し用のセルであるとき、そのセルがどちらの方向に対する見出しであるか： auto | row | col | rowgroup | colgroup | both
  attribute axf:scope {
    "auto" | "row" | "col" | "rowgroup" | "colgroup" | "both"
  }?
# @axf:suppress-folio-prefix
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.suppress-folio-prefix
axf_suppress-folio-prefix =
  
  ## ページ番号の前置のレンダリングを削除しています： true | false
  attribute axf:suppress-folio-prefix { "true" | "false" }?
# @axf:suppress-folio-suffix
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.suppress-folio-suffix
axf_suppress-folio-suffix =
  
  ## ページ番号の後置のレンダリングを削除しています： true | false
  attribute axf:suppress-folio-suffix { "true" | "false" }?
# @axf:suppress-if-first-on-page
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.suppress-if-first-on-page
axf_suppress-if-first-on-page =
  
  ## ページ先頭のブロックを削除するかどうか: true | false
  attribute axf:suppress-if-first-on-page { "true" | "false" }?
# @axf:tab-align
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.tab-align
axf_tab-align =
  
  ## タブ位置での配置
  attribute axf:tab-align {
    "auto"
    | "start"
    | "center"
    | "end"
    | "left"
    | "right"
    | "decimal"
    | text
  }?
# @axf:table-summary
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.table-summary
axf_table-summary =
  
  ## テーブルの要約を記述します。 タグ付きPDFに含まれます。
  attribute axf:table-summary { text }?
# @axf:text-line-color
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.text-line-color
axf_text-line-color =
  
  ## Color of underline, strike-through, and overline: auto | <color>
  attribute axf:text-line-color { text }?
# @axf:text-line-style
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.text-line-style
axf_text-line-style =
  
  ## Style of underline, strike-through, and overline: <border-style>
  attribute axf:text-line-style { text }?
# @axf:text-line-width
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.text-line-width
axf_text-line-width =
  
  ## Width of underline, strike-through, and overline: auto | <border-width>
  attribute axf:text-line-width { text }?
# @axf:text-underline-position
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.text-underline-position
axf_text-underline-position =
  
  ## Position of underline: auto | [ [ before-edge | alphabetic | after-edge ] || [ <percentage> | <length> ] ]
  attribute axf:text-underline-position { text }?
# @axf:text-overflow
# 
# https://www.antennahouse.com/product/ahf65/ahf-ext.html#axf.text-overflow
axf_text-overflow =
  
  ## What to display when text overflows in the inline progression direction: clip | ellipsis | <string>
  attribute axf:text-overflow { text }?
# @xml:id
# 
# https://www.w3.org/TR/xml-id/
xml_id =
  
  ## <id>
  attribute xml:id { xsd:ID }?
