schema/axf.rnc

# Antenna House extension elements and non-inherited extension
# attributes.
#
# Copyright 2015 Antenna House, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

default namespace axf = "http://www.antennahouse.com/names/XSL/Extensions"
namespace fo = "http://www.w3.org/1999/XSL/Format"
namespace local = ""

include "axf-inherited.rnc" {
#
# Overrides to patterns in 'fo-inherited.rnc' (and patterns in
# modules that it includes).
#

# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#fo.change-bar-begin
fo_change-bar-begin.model =
    ( fo_float? )

fo_layout-master-set.model =
    ( (axf_spread-page-master|
       fo_simple-page-master|
       fo_page-sequence-master|
       fo_flow-map)+ )

# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.document-info
fo_root.model =
    ( (axf_document-info*,
       fo_layout-master-set,
       axf_document-info*,
       fo_declarations?,
       axf_document-info*,
       fo_bookmark-tree?,
       axf_document-info*,
       (fo_page-sequence|fo_page-sequence-wrapper)+) )

# AH Formatter allows fo:region-* in any order.
fo_simple-page-master.model =
    ( (fo_region-body+ &
       fo_region-before? &
       fo_region-after? &
       fo_region-start? &
       fo_region-end?) )

# AH Formatter allows empty fo:static-content.
fo_static-content.model =
    ( ( (block.fo.list | neutral.fo.list)* ) & (point.fo.list)* )

# AH Formatter allows fo:block-container to omit block FOs.
fo_block-container.model =
    fo_marker*,
    ( ( (block.fo.list | neutral.fo.list)* ) & (point.fo.list)* )

# AH Formatter allows fo:inline-container to omit block FOs.
fo_inline-container.model =
    fo_marker*,
    ( ( (block.fo.list | neutral.fo.list)* ) & (point.fo.list)* )

# AH Formatter allows empty fo:list-item.
fo_list-item.model =
    fo_marker*,
    ( (fo_list-item-label,fo_list-item-body)? & (point.fo.list)* )

# AH Formatter allows fo:list-item-label omit block FOs.
fo_list-item-label.model =
    fo_marker*,
    ( ( (block.fo.list | neutral.fo.list)* ) & (point.fo.list)* )

# AH Formatter allows fo:table-cell to omit block FOs.
# axf:table-cell-repeated-marker used when cell repeats.
fo_table-cell.model =
    fo_marker*,
    axf_table-cell-repeated-marker?,
    ( ( (block.fo.list | neutral.fo.list)* ) & (point.fo.list)* )

# For fo:instream-foreign-object
# Exclude axf:* elements and attributes from counting as 'non-xsl'.
non-xsl =
  ( attribute * - ( local:* | axf:* | xml:* ) { text }*,
    element * - ( local:* | fo:* | axf:* ) { attribute * { text }*, anything }* )

#
# End of overrides to patterns in 'axf-inherited.rnc'.
#
}

#
# Antenna House extension elements
#

# <axf:form>
# https://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.form
axf_form =
  element axf:form {
    axf_form.attlist,
    axf_form.model
}

axf_form.attlist =
  attribute axf:field-submit-method { 'get' | 'post' }?

axf_form.model =
  ( block.fo.list )*

# <axf:document-info/>
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.document-info
axf_document-info =
  ## Document information such as an author and title that can be embedded in the PDF
  element axf:document-info {
    # 'name="title"' was used in V5.1 and still works but is
    # undocumented in V6.2.
    ## Name of the document information
    attribute name { ('document-title' | 'title' | 'subject' | 'author' | 'author-title' |
                       'description-writer' | 'keywords' | 'copyright-status' |
		       'copyright-notice' | 'copyright-info-url' | 'xmp' | 'pagemode' |
		       'pagelayout' | 'hidetoolbar' | 'hidemenubar' | 'hidewindowui' |
		       'fitwindow' | 'centerwindow' | 'displaydoctitle' | 'openaction' )},
    ## Value of the document information.  Some information has constraints on the allowed values.
    attribute value { text },
    empty
}

# <axf:footnote-number/>
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.footnote-number
axf_footnote-number =
  ## Generates a footnote number
  element axf:footnote-number {
    id,
    empty
}

# <axf:footnote-number-citation/>
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.footnote-number-citation
axf_footnote-number-citation =
  ## Cites a footnote number
  element axf:footnote-number-citation {
    attribute ref-id { text },
    empty
}

# <axf:spread-page-master>
# http://www.antennahouse.com/product/ahf60/docs/ahf-spread.html#axf.spread-page-master
axf_spread-page-master =
  ## A two-page spread.
  element axf:spread-page-master {
    common-margin-properties-block,
    attribute left-page-master-reference { xsd:NCName },
    master-name,
    reference-orientation,
    attribute right-page-master-reference { xsd:NCName },
    writing-mode,
    axf_spread-region+
}

# <axf:spread-region>
# http://www.antennahouse.com/product/ahf60/docs/ahf-spread.html#axf.spread-region
axf_spread-region =
  ## Region in a two-page spread.
  element axf:spread-region {
    common-absolute-position-properties,
    common-border-padding-and-background-properties,
    common-margin-properties-block,
    height,
    region-name,
    reference-orientation,
    overflow,
    width,
    writing-mode,
    empty
}

# <axf:tab>
# https://www.antennahouse.com/product/ahf63/ahf-ext.html#axf.tab
axf_tab =
  ## Places a white space up to a tab stop position
  element axf:tab {
    axf_tab-align,
    empty
}

# <axf:table-cell-repeated-marker>
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.table-cell-repeated-marker
axf_table-cell-repeated-marker =
  ## Contents used when axf:repeat-cell-content-at-break="true"
  element axf:table-cell-repeated-marker {
    (text|inline.fo.list|block.fo.list)*
  }

#
# Antenna House extensions to patterns in included modules.
#

#
# Extensions to FO models
#

block.fo.list |=
    axf_form

inline.fo.list |=
    axf_footnote-number |
    axf_footnote-number-citation |
    axf_tab

#
# Extensions to FO attlists
#

fo_page-sequence.attlist &=
    axf_background-color,
    axf_background-image,
    axf_background-position-horizontal,
    axf_background-position-vertical,
    axf_background-repeat,
    background-color,
    background-image,
    background-position-horizontal,
    background-position-vertical,
    background-repeat

fo_simple-page-master.attlist &=
    axf_background-color,
    axf_background-content-height,
    axf_background-content-type,
    axf_background-content-width,
    axf_background-image,
    axf_background-position-horizontal,
    axf_background-position-vertical,
    axf_background-repeat,
    axf_background-scaling,
    axf_bleed,
    axf_bleed-top,
    axf_bleed-bottom,
    axf_bleed-left,
    axf_bleed-right,
    axf_crop-area-visibility,
    axf_crop-offset,
    axf_crop-offset-top,
    axf_crop-offset-bottom,
    axf_crop-offset-left,
    axf_crop-offset-right,
    axf_printer-marks,
    axf_printer-marks-line-color,
    axf_printer-marks-line-length,
    axf_printer-marks-line-width,
    axf_printer-marks-spine-width,
    axf_printer-marks-zero-margin,
    background-color,
    background-image,
    background-position-horizontal,
    background-position-vertical,
    background-repeat

fo_basic-link.attlist &=
    axf_action-type,
    text-decoration

fo_block.attlist &=
    axf_destination-type,
    height,
    max-height,
    max-width,
    min-height,
    min-width,
    text-decoration,
    width,
    axf.block.attlist

fo_block-container.attlist &=
    axf_column-count,
    axf_column-gap,
    axf_destination-type,
    axf.block.attlist,
    column-count,
    role

fo_float.attlist &=
    axf_float,
    axf_float-x,
    axf_float-y,
    axf_float-reference,
    axf_float-move,
    axf_float-wrap,
    axf_float-min-wrap-x,
    axf_float-min-wrap-y,
    axf_float-centering-x,
    axf_float-centering-y,
    axf_float-margin-x,
    axf_float-margin-y,
    axf_float-float-margin-x,
    axf_float-float-margin-y,
    axf_float-offset-x,
    axf_float-offset-y

fo_footnote.attlist &=
    space-before,
    axf_footnote-align,
    axf_footnote-stacking,
    axf_footnote-position,
    axf_footnote-keep,
    axf_footnote-max-height

fo_instream-foreign-object.attlist &=
    axf_alttext

fo_list-block.attlist &=
    axf.block.attlist

fo_table.attlist &=
    axf.block.attlist

fo_table-and-caption.attlist &=
    axf.block.attlist

fo_table.attlist &=
    axf_table-summary

fo_table-cell.attlist &=
    axf_repeat-cell-content-at-break

fo_table-column.attlist &=
    id

fo_wrapper.attlist &=
    text-decoration

#
# Extensions to property groups
#

common-accessibility-properties &=
    axf_pdftag

common-border-padding-and-background-properties &=
    axf_background-content-width,
    axf_background-content-height,
    axf_background-content-type,
    axf_background-scaling,
    axf_border-radius,
    axf_border-top-left-radius,
    axf_border-top-right-radius,
    axf_border-bottom-left-radius,
    axf_border-bottom-right-radius


#
# Antenna House extension properties
#

# List of extension properties common to all block-level formatting
# objects
axf.block.attlist =
    axf_outline-expand,
    axf_outline-group,
    axf_outline-level,
    axf_outline-title,
    axf_outline-color,
    axf_outline-font-style,
    axf_outline-font-weight

# @axf:background-color
# @axf:background-image
# @axf:background-position-horizontal
# @axf:background-position-vertical
# @axf:background-repeat
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#IDAAOLV
axf_background-color =
    ## <color> | transparent
    attribute axf:background-color { text }?
axf_background-image =
    ## <uri-specification> | none
    attribute axf:background-image { text }?
axf_background-position-horizontal =
    ## <percentage> | <length> | left | center | right
    attribute axf:background-position-horizontal { text }?
axf_background-position-vertical =
    ## <percentage> | <length> | top | center | bottom
    attribute axf:background-position-vertical { text }?
axf_background-repeat =
    ## repeat | repeat-x | repeat-y | no-repeat | paginate
    attribute axf:background-repeat { text }?

# @axf:action-type
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.action-type
axf_action-type =
    ## Specifies the action of external link or form action
    attribute axf:action-type { 'gotor' | 'launch' | 'uri' | 'reset' | 'submit' | 'auto' }?

# @axf:alt-text
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.alttext
axf_alttext =
    ## alternate text of the image
    attribute axf:alttext { text }?

# @axf:background-content-height
# @axf:background-content-type
# @axf:background-content-width
# @axf:background-scaling
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.background-content
axf_background-content-height =
    ## auto | scale-to-fit | scale-down-to-fit | scale-up-to-fit | <length> | <percentage> | inherit
    attribute axf:background-content-height { text }?
axf_background-content-type =
    ## <string> | auto
    attribute axf:background-content-type { text }?
axf_background-content-width =
    ## auto | scale-to-fit | scale-down-to-fit | scale-up-to-fit | <length> | <percentage> | inherit
    attribute axf:background-content-width { text }?
axf_background-scaling =
    ## uniform | non-uniform | inherit
    attribute axf:background-scaling { 'uniform' | 'non-uniform' | 'inherit' }?

# @axf:border-radius
# @axf:border-top-left-radius
# @axf:border-top-right-radius
# @axf:border-bottom-left-radius
# @axf:border-bottom-right-radius
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.border-radius
axf_border-radius =
    ## Radii of the rounded corners: [<length>|<percentage>] [<length>|<percentage>]?
    attribute axf:border-radius { text }?
axf_border-top-left-radius =
    ## Radii of the top-left corner: [<length>|<percentage>] [<length>|<percentage>]?
    attribute axf:border-top-left-radius { text }?
axf_border-top-right-radius =
    ## Radii of the top-right corner: [<length>|<percentage>] [<length>|<percentage>]?
    attribute axf:border-top-right-radius { text }?
axf_border-bottom-left-radius =
    ## Radii of the bottom-left corner: [<length>|<percentage>] [<length>|<percentage>]?
    attribute axf:border-bottom-left-radius { text }?
axf_border-bottom-right-radius =
    ## Radii of the bottom-right corner: [<length>|<percentage>] [<length>|<percentage>]?
    attribute axf:border-bottom-right-radius { text }?

# @axf:bleed
# @axf:bleed-top
# @axf:bleed-bottom
# @axf:bleed-left
# @axf:bleed-right
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.bleed
axf_bleed =
    ## Wdth of the bleed region: <length>
    attribute axf:bleed { text }?
axf_bleed-top =
    ## Wdth of the top bleed region: <length>
    attribute axf:bleed-top { text }?
axf_bleed-bottom =
    ## Wdth of the bottom bleed region: <length>
    attribute axf:bleed-bottom { text }?
axf_bleed-left =
    ## Wdth of the left bleed region: <length>
    attribute axf:bleed-left { text }?
axf_bleed-right =
    ## Wdth of the right bleed region: <length>
    attribute axf:bleed-right { text }?

# @axf:column-count
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.column-count
axf_column-count =
    ## The number of columns: <number>
    attribute axf:column-count { text }?

# @axf:column-gap
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.column-gap
axf_column-gap =
    ## The gap between columns: <length> | <percentage>
    attribute axf:column-gap { text }?

# @axf:crop-area-visibility
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.crop-area-visibility
axf_crop-area-visibility =
    ## Whether to display the area beyond the finished page size
    attribute axf:crop-area-visibility { 'hidden' | 'visible' }?

# @axf:crop-offset
# @axf:crop-offset-top
# @axf:crop-offset-bottom
# @axf:crop-offset-left
# @axf:crop-offset-right
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.crop-offset
axf_crop-offset =
    ## Distance from the physical edges to the trim size of the output medium: <length>
    attribute axf:crop-offset { text }?
axf_crop-offset-top =
    ## Distance from the physical top edge to the trim size of the output medium: <length>
    attribute axf:crop-offset-top { text }?
axf_crop-offset-bottom =
    ## Distance from the physical bottom edge to the trim size of the output medium: <length>
    attribute axf:crop-offset-bottom { text }?
axf_crop-offset-left =
    ## Distance from the physical left edge to the trim size of the output medium: <length>
    attribute axf:crop-offset-left { text }?
axf_crop-offset-right =
    ## Distance from the physical right edge to the trim size of the output medium: <length>
    attribute axf:crop-offset-right { text }?

# @axf:destination-type
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.destination-type
axf_destination-type =
    ## The way a link opens in a link destination
    attribute axf:destination-type { text }?

# @axf:float
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-float.html
axf_float =
    ## Shorthand for float-related extension properties
    attribute axf:float { 'none' | 'before' | 'after' | 'start' | 'end' | 'left' | 'right' | 'top' | 'bottom' | 'center' | 'inside' | 'outside' | 'wrap' | 'skip' | 'auto' | 'normal' | 'page' | 'column' | 'multicol' | 'next' | 'auto-next' | 'auto-move' | 'keep' | 'keep-float' }?

# @axf:float-x
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-x
axf_float-x =
    ## Horizontal (or vertical if writing-mode is vertical) float alignment: none | start | end | left | right | top | bottom | center | inside | outside
    attribute axf:float-x { 'none' | 'start' | 'end' | 'left' | 'right' | 'top' | 'bottom' | 'center' | 'inside' | 'outside' }?

# @axf:float-y
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-y
axf_float-y =
    ## Vertical (or horizontal if writing-mode is vertical) float alignment:    none | before | after | top | bottom | left | right | center | inside | outside
    attribute axf:float-y { 'none' | 'before' | 'after' | 'top' | 'bottom' | 'left' | 'right' | 'center' | 'inside' | 'outside' }?

# @axf:float-reference
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-reference
axf_float-reference =
    ## Reference area where the float is placed: auto | normal | page | column | multicol
    attribute axf:float-reference { 'auto' | 'normal' | 'page' | 'column' | 'multicol' }?

# @axf:float-move
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-move
axf_float-move =
    ## Whether the float moves to the next page (or column): auto | next | auto-next | auto-move | keep | keep-float
    attribute axf:float-move { 'auto' | 'next' | 'auto-next' | 'auto-move' | 'keep' | 'keep-float' }?

# @axf:float-wrap
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-wrap
axf_float-wrap =
    ## Text wrapping: auto | wrap | skip
    attribute axf:float-wrap { 'auto' | 'wrap' | 'skip' }?

# @axf:float-min-wrap-x
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-min-wrap-x
axf_float-min-wrap-x =
    ## Minimum width for the text wrapping around the float: normal | <length> | <percentage>
    attribute axf:float-min-wrap-x { text }?

# @axf:float-min-wrap-y
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-min-wrap-y
axf_float-min-wrap-y =
    ## Minimum extent for the text placed before and after the float: normal | <length> | <percentage>
    attribute axf:float-min-wrap-y { text }?

# @axf:float-centering-x
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-centering-x
axf_float-centering-x =
    ## Whether the float is centered when the width for the text wrapping around the float is insufficient: none | auto | <length> | <percentage>
    attribute axf:float-centering-x { text }?

# @axf:float-centering-y
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-centering-y
axf_float-centering-y =
    ## Whether the float is centered when the extent for the text placed before and after the float is insufficient: none | auto | <length> | <percentage>
    attribute axf:float-centering-y { text }?

# @axf:float-margin-x
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-margin-x
axf_float-margin-x =
    ## Space between the float and the text wrapping around the float (in x-axis): [ <length> | <percentage> ] [ <length> | <percentage> ]?
    attribute axf:float-margin-x { text }?

# @axf:float-margin-y
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-margin-y
axf_float-margin-y =
    ## Space between the float and the text wrapping around the float (in y-axis): [ <length> | <percentage> ] [ <length> | <percentage> ]?
    attribute axf:float-margin-y { text }?

# @axf:float-float-margin-x
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-float-margin-x
axf_float-float-margin-x =
    ## Space between the float and another neighboring float (in x-axis): auto | [[ <length> | <percentage> ] [ <length> | <percentage> ]?]
    attribute axf:float-float-margin-x { text }?

# @axf:float-float-margin-y
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-float-margin-y
axf_float-float-margin-y =
    ## Space between the float and another neighboring float (in y-axis): auto | [[ <length> | <percentage> ] [ <length> | <percentage> ]?]
    attribute axf:float-float-margin-y { text }?

# @axf:float-offset-x
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-offset-x
axf_float-offset-x =
    ## Offset placement for the float (in x-axis): <length> | <percentage>
    attribute axf:float-offset-x { text }?

# @axf:float-offset-y
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-float.html#axf.float-offset-y
axf_float-offset-y =
    ## Offset placement for the float (in y-axis): <length> | <percentage>
    attribute axf:float-offset-y { text }?

# @axf:footnote-align
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.footnote-align
axf_footnote-align =
    ## Specifies the alignment of the footnotes.
    attribute axf:footnote-align { 'auto' | 'before' | 'after' }?

# @axf:footnote-stacking
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.footnote-stacking
axf_footnote-stacking =
    ## Method to layout the footnote.
    attribute axf:footnote-stacking { 'block' | 'inline' }?

# @axf:footnote-position
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.footnote-position
axf_footnote-position =
    ## Location to layout the footnote.
    attribute axf:footnote-position { 'page' | 'start' | 'end' | 'inside' | 'outside' | 'column' | 'start-column' | 'end-column' | 'inside-column' | 'outside-column' }?

# @axf:footnote-keep
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.footnote-keep
axf_footnote-keep =
    ## Whether to arrange a footnote and an anchor in the same page
    attribute axf:footnote-keep { 'auto' | 'always' }?

# @axf:footnote-max-height
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.footnote-max-height
axf_footnote-max-height =
    ## Maximum height of footnote: auto | <length> | <percentage>
    attribute axf:footnote-max-height { text }?

# @axf:outline-expand
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.outline-expand
axf_outline-expand =
    ## Whether to display the lower hierarchy of bookmark items or not
    attribute axf:outline-expand { 'true' | 'false' }?

# @axf:outline-group
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.outline-group
axf_outline-group =
    ## Name of the output group: <string>
    attribute axf:outline-group { text }?

# @axf:outline-level
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.outline-level
axf_outline-level =
    ## The hierarchy level of bookmark items: <number>
    attribute axf:outline-level { text }?

# @axf:outline-title
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.outline-title
axf_outline-title =
    ## String which appears as a title of bookmark: <string>
    attribute axf:outline-title { text }?

# @axf:outline-color
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.outline-color
axf_outline-color =
    ## Color which appears as a title of bookmark
    attribute axf:outline-color { text }?

# @axf:outline-font-style
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf_outline-font-style
axf_outline-font-style =
    ## Font style which appears as a title of bookmark
    attribute axf:outline-font-style { 'normal' | 'italic' }?

# @axf:outline-font-weight
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf:outline-font-weight
axf_outline-font-weight =
    ## Font weight which appears as a title of bookmark
    attribute axf:outline-font-weight { 'normal' | 'bold' }?

# @axf:printer-marks
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.printer-marks
axf_printer-marks =
    ## Printing marks, such as a crop mark
    attribute axf:printer-marks { text }?

# @axf:pdftag
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.pdftag
axf_pdftag =
    ## Tag name of Tagged PDF
    attribute axf:pdftag { text }?

# @axf:printer-marks-line-color
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.printer-marks-line-color
axf_printer-marks-line-color =
    ## Line color of printer marks: <line> | auto
    attribute axf:printer-marks-line-color { text }?

# @axf:printer-marks-line-length
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.printer-marks-line-length
axf_printer-marks-line-length =
    ## Line length of printer marks: <length> | auto
    attribute axf:printer-marks-line-length { text }?

# @axf:printer-marks-line-width
# Line width of printer marks: <length> | auto
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.printer-marks-line-width
axf_printer-marks-line-width =
    ## Line width of printer marks
    attribute axf:printer-marks-line-width { text }?

# @axf:printer-marks-zero-margin
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.printer-marks-zero-margin
axf_printer-marks-zero-margin =
    ## Margin between the page and the printer marks when bleed is 0: <length> | auto
    attribute axf:printer-marks-zero-margin { text }?

# @axf:printer-marks-spine-width
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.printer-marks-spine-width
axf_printer-marks-spine-width =
    ## Spine width of the facing page: <length>
    attribute axf:printer-marks-spine-width { text }?

# @axf:repeat-cell-content-at-break
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.repeat-cell-content-at-break
axf_repeat-cell-content-at-break =
    ## Whether to copy the contents of a cell when a cell breaks
    attribute axf:repeat-cell-content-at-break { 'true' | 'false' }?

# @axf:tab-align
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.tab-align
axf_tab-align =
    ## Tab alignment at the tab stop position
    attribute axf:tab-align { 'auto' | 'start' | 'center' | 'end' | 'left' | 'right' | 'decimal' | text }?

# @axf:table-summary
#
# http://www.antennahouse.com/product/ahf60/docs/ahf-ext.html#axf.table-summary
axf_table-summary =
    ## Summary describing the table.  Included in Tagged PDF output.
    attribute axf:table-summary { text }?
