schema/axf.rnc

# Schema for Antenna House extension elements and non-inherited
# extension attributes.
#
# Copyright 2015-2021 Antenna House, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

default namespace axf = "http://www.antennahouse.com/names/XSL/Extensions"
namespace fo = "http://www.w3.org/1999/XSL/Format"
namespace axh = "http://www.antennahouse.com/names/XSL/Hyphenations"
namespace axs = "http://www.antennahouse.com/names/XSL/Settings"
namespace m = "http://www.w3.org/1998/Math/MathML"
namespace svg = "http://www.w3.org/2000/svg"
namespace local = ""

## Hyphenation settings
include "axh.rnc"

## Option settings
include "axs.rnc" inherit = axs

include "axf-inherited.rnc" {
#
# Overrides to patterns in 'axf-inherited.rnc' (and patterns in
# modules that it includes).
#

# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#fo.change-bar-begin
fo_change-bar-begin.model =
    ( fo_float? )

# Nested fo:page-sequence
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#fo.page-sequence
fo_flow.model =
    fo_marker*,
    ( (block.fo.list | neutral.fo.list.block | fo_page-sequence)+
     & (point.fo.list)* )

fo_layout-master-set.model =
    ( (axf_spread-page-master|
       fo_simple-page-master|
       fo_page-sequence-master|
       fo_flow-map)+ )

# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.document-info
fo_root.model =
    ( (axf_document-info*,
       fo_layout-master-set,
       axf_document-info*,
       fo_declarations?,
       axf_document-info*,
       fo_bookmark-tree?,
       axf_document-info*,
       (fo_page-sequence|fo_page-sequence-wrapper)+) )

# AH Formatter allows fo:region-* in any order.
fo_simple-page-master.model =
    ( (fo_region-body+ &
       fo_region-before? &
       fo_region-after? &
       fo_region-start? &
       fo_region-end?) )

# AH Formatter uses some axf:* elements within fo:declarations.
fo_declarations.model =
   (fo_color-profile |
      axf_counter-style |
      axf_custom-property |
      axf_document-info |
      axf_font-face |
      axf_formatter-config |
      axf_hyphenation-info |
      axf_space-between-digit-and-punctuation |
      axf_space-between-punctuation-and-digit |
      axf_space-end-punctuation |
      axf_space-start-punctuation |
      axf_output-volume-info |
      non-xsl-element)*

# AH Formatter allows axf:document-info with multi-volume output.
fo_page-sequence.model =
   (axf_document-info?,
      fo_title?,
      fo_folio-prefix?,
      fo_folio-suffix?,
      fo_static-content*,
      fo_flow+)

# AH Formatter allows empty fo:static-content.
fo_static-content.model =
    ( ( (block.fo.list | neutral.fo.list)* ) & (point.fo.list)* )

# AH Formatter allows fo:block-container to omit block FOs.
fo_block-container.model =
    fo_marker*,
    ( ( (block.fo.list | neutral.fo.list)* ) & (point.fo.list)* )

# AH Formatter allows fo:inline-container to omit block FOs.
fo_inline-container.model =
    fo_marker*,
    ( ( (block.fo.list | neutral.fo.list)* ) & (point.fo.list)* )

# AH Formatter allows empty fo:list-item.
fo_list-item.model =
    fo_marker*,
    ( (fo_list-item-label,fo_list-item-body)? & (point.fo.list)* )

# AH Formatter allows fo:list-item-label omit block FOs.
fo_list-item-label.model =
    fo_marker*,
    ( ( (block.fo.list | neutral.fo.list)* ) & (point.fo.list)* )

# AH Formatter allows fo:table-cell to omit block FOs.
# axf:table-cell-repeated-marker used when cell repeats.
fo_table-cell.model =
    fo_marker*,
    axf_table-cell-repeated-marker?,
    ( ( (block.fo.list | neutral.fo.list)* ) & (point.fo.list)* )

# For fo:instream-foreign-object
# Exclude axf:* elements and attributes from counting as 'non-xsl'.
non-xsl =
  ( attribute * - ( local:* | xml:* | axf:* ) { text }*,
     (element * - ( local:* | fo:* | axf:* | m:* | svg:* ) {
        attribute * { text }*,
        anything }*) )

# For fo:declarations
# Exclude axf:* elements from counting as 'non-xsl'.
non-xsl-element =
   element * - ( local:* | fo:* | axf:* | m:* | svg:* ) {
      attribute * { text }*,
      anything }*

#
# End of overrides to patterns in 'axf-inherited.rnc'.
#
}

#
# Antenna House extension elements
#

# <axf:counter-style/>
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.counter-style
axf_counter-style =
  ## Custom PDF property Effective with PDF 1.4 or later. Invalid with PDF/A
  element axf:counter-style {
    ## Name of the counter style: <name>.
    attribute name { text },
    ## Type of the counter system: cyclic | numeric | alphabetic | symbolic | additive | [fixed <integer>?] | [ extends <counter-style-name> ]
    attribute system { text }?,
    ## Prefix and suffix for a negative value: <symbol> <symbol>?
    attribute negative { text }?,
    ## Prefix: <symbol>
    attribute prefix { text }?,
    ## Suffix: <symbol>
    attribute suffix { text }?,
    ## Range to which the counter style is applied: [ [ <integer> | infinite ]{2} ]# | auto
    attribute range { text }?,
    ## Padding for a small digit: <integer> && <symbol>
    attribute pad { text }?,
    ## Fallback style: <counter-style-name>
    attribute fallback { text }?,
    ## Counter symbols: <symbol>+
    attribute symbols { text }?,
    ## Weighted counter symbols: [ <integer> && <symbol> ]#
    attribute additive-symbols { text }?,
    empty
}

# <axf:custom-property/>
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.custom-property
axf_custom-property =
  ## Custom PDF property Effective with PDF 1.4 or later. Invalid with PDF/A
  element axf:custom-property {
    ## Name of the custom property.  Should not be empty.
    attribute name { text },
    ## Value of the custom property.  Should not be empty.
    attribute value { text },
    empty
}

# <axf:document-info/>
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.document-info
axf_document-info =
  ## Document information such as an author and title that can be embedded in the PDF
  element axf:document-info {
    # 'name="title"' was used in V5.1 and still works but is
    # undocumented in V6.2+.
    ## Name of the document information
    attribute name { ('document-title' | 'title' | 'subject' | 'author' | 'author-title' |
                       'description-writer' | 'keywords' | 'copyright-status' |
                       'copyright-notice' | 'copyright-info-url' | 'xmp' | 'pagemode' |
                       'pagelayout' | 'hidetoolbar' | 'hidemenubar' | 'hidewindowui' |
                       'fitwindow' | 'centerwindow' | 'displaydoctitle' | 'openaction' )},
    ## Value of the document information.  Some information has constraints on the allowed values.
    attribute value { text },
    empty
}


# <axf:font-face>
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.font-face
axf_font-face =
  ## Additional hyphenation information
  element axf:font-face {
     axf_font-face.attlist,
     axf_font-face.model
}

axf_font-face.model =
   empty

axf_font-face.attlist =
   attribute src { text},
   attribute font-family { text },
   attribute font-style { 'normal' | 'italic' }?,
   attribute font-weight { 'normal' | 'bold' | '100' | '200' | '300' | '400' | '500' | '600' | '700' | '800' | '900' }?

# <axf:footnote-number/>
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.footnote-number
axf_footnote-number =
  ## Generates a footnote number
  element axf:footnote-number {
    id,
    xml_id,
    empty
}

# <axf:footnote-number-citation/>
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.footnote-number-citation
axf_footnote-number-citation =
  ## Cites a footnote number
  element axf:footnote-number-citation {
    attribute ref-id { text },
    empty
}

# <axf:form>
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.form
axf_form =
  element axf:form {
    axf_form.attlist,
    axf_form.model
}

axf_form.attlist =
  axf_field-submit-coordinates?,
  axf_field-submit-method?,
  external-destination?

axf_form.model =
  ( block.fo.list )*

# <axf:form-field>
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.form-field
axf_form-field =
  ## Generates a form field
  element axf:form-field {
     axf_form-field.attlist,
     axf_form-field.model
}

axf_form-field.model =
   (axf_form-field-option |
      axf_form-field-event |
      fo_external-graphic)*

axf_form-field.attlist =
    # 'action-type' is required for <axf:form-field-event>.
    axf_action-type.form,
    axf_field-button-face,
    axf_field-button-face-down,
    axf_field-button-face-rollover,
    axf_field-button-icon,
    axf_field-button-icon-down,
    axf_field-button-icon-rollover,
    axf_field-button-layout,
    axf_field-checked,
    axf_field-checked-style,
    axf_field-default-text,
    axf_field-description,
    axf_field-editable,
    axf_field-flags,
    axf_field-font-size,
    axf_field-format,
    axf_field-format-category,
    axf_field-maxlen,
    axf_field-multiline,
    axf_field-multiple,
    axf_field-name,
    axf_field-name-suffix-page-number,
    axf_field-scroll,
    axf_field-text-align,
    axf_field-top-index,
    axf_field-type,
    axf_field-value,
    common-border-padding-and-background-properties,
    external-destination,
    height,
    internal-destination,
    width

# <axf:form-field-event>
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.form-field-event
axf_form-field-event =
  ## Defines the form action corresponding to an event
  element axf:form-field-event {
    axf_form-field-event.attlist,
    text
}

axf_form-field-event.attlist =
   ## Event type: MouseUp | MouseDown | MouseEnter | MouseExit | OnFocus | OnBlur
   attribute axf:name | name { 'MouseUp' | 'MouseDown' | 'MouseEnter' | 'MouseExit' | 'OnFocus' | 'OnBlur' },
   ## Form action: auto | gotor | gotor | launch | uri | reset | submit | javascript
   attribute axf:action-type | action-type { axf_action-type.form.model | 'javascript' }

# <axf:form-field-option>
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.form-field-option
axf_form-field-option =
  ## Specifies the component elements of the list box, combo box
  element axf:form-field-option {
    axf_form-field-option.attlist,
    text
}

axf_form-field-option.attlist =
    axf_field-value

# <axf:formatter-config>
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.formatter-config
axf_formatter-config =
  ### Additional option setting information
  element axf:formatter-config {
     axf_formatter-config.attlist,
     formatter-config.model
}

#axf_formatter-config.model =
#   axs_pdf-settings?

axf_formatter-config.attlist =
   ## External Option Setting File
   attribute src { text }?

# <axf:hyphenation-info>
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.hyphenation-info
axf_hyphenation-info =
  ## Additional hyphenation information
  element axf:hyphenation-info {
     axf_hyphenation-info.attlist,
     axh_exceptions?
}

axf_hyphenation-info.attlist =
   attribute language { text }?,
   attribute src { text }?

# <axf:output-volume-info>
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.output-volume-info
axf_output-volume-info =
  ## Output volume specification
  element axf:output-volume-info {
     axf_output-volume-info.attlist,
     empty
}

axf_output-volume-info.attlist =
   ## Initial volume number: <positive-integer>
   attribute initial-volume-number { xsd:positiveInteger }?,
   ## Format specification: <string>
   attribute format { text }?,
   ## How to include bookmarks in multiple separate volumes: first | all | separate | separate-group
   attribute bookmark-include { 'first' | 'all' | 'separate' | 'separate-group' }?,
   ## How to include document information in multiple separate volumes: first | all
   attribute document-info-include { 'first' | 'all' }?

# <axf:ruby>
# https://www.antenna.co.jp/AHF/help/en/ahf-ruby.html#axf.ruby
axf_ruby =
  ## The ruby structure
  element axf:ruby {
     axf_ruby.attlist,
     (axf_ruby-base, axf_ruby-text)+
}

axf_ruby.attlist =
    axf_ruby-align,
    axf_ruby-position,
    axf_ruby-offset,
    axf_ruby-overhang,
    axf_ruby-limit-overhang,
    axf_ruby-limit-space,
    axf_ruby-small-kana,
    axf_ruby-font-family,
    axf_ruby-font-size,
    axf_ruby-minimum-font-size,
    axf_ruby-font-style,
    axf_ruby-font-weight,
    axf_ruby-font-stretch,
    axf_ruby-condense,
    axf_ruby-color,
    common-border-padding-and-background-properties

# <axf:ruby-base>
# https://www.antenna.co.jp/AHF/help/en/ahf-ruby.html#axf.ruby-base
axf_ruby-base =
  ## Base character of ruby
  element axf:ruby-base {
     axf_ruby-base.attlist,
     ( text | axf_ruby ) }

axf_ruby-base.attlist =
    common-border-padding-and-background-properties

# <axf:ruby-text>
# https://www.antenna.co.jp/AHF/help/en/ahf-ruby.html#axf.ruby-text
axf_ruby-text =
  ## Ruby
  element axf:ruby-text { text }

# <axf:space-end-punctuation>
# https://www.antenna.co.jp/AHF/help/en/ahf-ruby.html#axf.space-end-punctuation
axf_space-end-punctuation =
  ## Amount of space after punctuation
  element axf:space-end-punctuation {
     axf.european-typography.attlist
}

# <axf:space-start-punctuation>
# https://www.antenna.co.jp/AHF/help/en/ahf-ruby.html#axf.space-start-punctuation
axf_space-start-punctuation =
  ## Amount of space before punctuation
  element axf:space-start-punctuation {
     axf.european-typography.attlist
}

# <axf:space-between-digit-and-punctuation>
# https://www.antenna.co.jp/AHF/help/en/ahf-ruby.html#axf.space-between-digit-and-punctuation
axf_space-between-digit-and-punctuation =
  ## Amount of space before punctuation
  element axf:space-between-digit-and-punctuation {
     axf.european-typography.attlist
}

# <axf:space-between-punctuation-and-digit>
# https://www.antenna.co.jp/AHF/help/en/ahf-ruby.html#axf.space-between-punctuation-and-digit
axf_space-between-punctuation-and-digit =
  ## Amount of space before punctuation
  element axf:space-between-punctuation-and-digit {
     axf.european-typography.attlist
}

axf.european-typography.attlist =
   ## Language code
   attribute language { text },
   ## Amount of space: <number> | <length> | <percentage> | figure | punctuation | thin | hair
   attribute space { text }?,
   ## Code point
   attribute code { text }

# <axf:spread-page-master>
# https://www.antenna.co.jp/AHF/help/en/ahf-spread.html#axf.spread-page-master
axf_spread-page-master =
  ## A two-page spread
  element axf:spread-page-master {
    axf_background-color,
    axf_background-clip,
    axf_background-content-height,
    axf_background-content-type,
    axf_background-content-width,
    axf_background-image,
    axf_background-origin,
    axf_background-position-horizontal,
    axf_background-position-vertical,
    axf_background-repeat,
    axf_background-scaling,
    axf_background-size,
    axf_bleed,
    axf_left-page-master-reference,
    axf_right-page-master-reference,
    background-attachment,
    background-image,
    background-position,
    background-position-horizontal,
    background-position-vertical,
    background-repeat,
    master-name,
    writing-mode,
    axf_spread-region*
}

# <axf:spread-region>
# https://www.antenna.co.jp/AHF/help/en/ahf-spread.html#axf.spread-region
axf_spread-region =
  ## Region in a two-page spread.
  element axf:spread-region {
    common-absolute-position-properties,
    common-border-padding-and-background-properties,
    common-margin-properties-block,
    height,
    region-name,
    reference-orientation,
    overflow,
    width,
    writing-mode,
    empty
}

# <axf:tab>
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.tab
axf_tab =
  ## Places a white space up to a tab stop position
  element axf:tab {
    axf_tab-align,
    empty
}

# <axf:table-cell-repeated-marker>
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.table-cell-repeated-marker
axf_table-cell-repeated-marker =
  ## Contents used when axf:repeat-cell-content-at-break="true"
  element axf:table-cell-repeated-marker {
    (text|inline.fo.list|block.fo.list)*
  }

#
# Antenna House extensions to patterns in included modules.
#

#
# Extensions to FO models
#

block.fo.list |=
    axf_form

inline.fo.list |=
    axf_footnote-number |
    axf_footnote-number-citation |
    axf_form-field |
    axf_ruby |
    axf_tab

#
# Extensions to FO attlists
#

# FOs that are not descendants of fo:flow

fo_root.attlist &=
    axf_layer-settings,
    xml_id

fo_page-sequence.attlist &=
    axf_baseline-grid,
    axf_repeat-page-sequence-master

fo_page-sequence.attlist &=
    axf_background-clip,
    axf_background-color,
    axf_background-image,
    axf_background-origin,
    axf_background-position-horizontal,
    axf_background-position-vertical,
    axf_background-repeat,
    axf_background-size,
    axf_footnote-number-initial,
    axf_footnote-number-format,
    axf_footnote-number-reset,
    axf_line-number-show,
    axf_output-volume-break,
    axf_output-volume-filename,
    axf_page-number-prefix,
    axf_pdftag,
    axf_printer-bin-selection,
    axf_printer-duplex,
    axf_reverse-page,
    background-color,
    background-image,
    background-position,
    background-position-horizontal,
    background-position-vertical,
    background-repeat,
    xml_id

fo_page-sequence-wrapper.attlist &=
    xml_id

fo_simple-page-master.attlist &=
    axf_background-clip,
    axf_background-color,
    axf_background-content-height,
    axf_background-content-type,
    axf_background-content-width,
    axf_background-image,
    axf_background-origin,
    axf_background-position-horizontal,
    axf_background-position-vertical,
    axf_background-repeat,
    axf_background-scaling,
    axf_background-size,
    axf_bleed,
    axf_bleed-top,
    axf_bleed-bottom,
    axf_bleed-left,
    axf_bleed-right,
    axf_crop-area-visibility,
    axf_crop-offset,
    axf_crop-offset-top,
    axf_crop-offset-bottom,
    axf_crop-offset-left,
    axf_crop-offset-right,
    axf_printer-marks,
    axf_printer-marks-line-color,
    axf_printer-marks-line-length,
    axf_printer-marks-line-width,
    axf_printer-marks-spine-width,
    axf_printer-marks-zero-margin,
    background-color,
    background-image,
    background-position,
    background-position-horizontal,
    background-position-vertical,
    background-repeat

fo_region-body.attlist &=
    axf_column-fill,
    axf_column-rule-align,
    axf_column-rule-color,
    axf_column-rule-display,
    axf_column-rule-length,
    axf_column-rule-style,
    axf_column-rule-width,
    axf_footnote-align,
    axf_footnote-keep,
    axf_footnote-max-height,
    axf_footnote-position,
    axf_footnote-stacking

fo_flow.attlist &=
    axf_baseline-grid,
    axf_pdftag,
    xml_id

fo_static-content.attlist &=
    axf_baseline-grid,
    axf_pdftag,
    xml_id

# FOs in flow listed in alphabetic order

fo_basic-link.attlist &=
    axf_action-type,
    axf_alttext,
    text-decoration,
    xml_id,
    axf.inline.attlist,
    axf.text-decoration.attlist

fo_bidi-override.attlist &=
    xml_id,
    axf.inline.attlist,
    axf.text-decoration.attlist

fo_block.attlist &=
    axf_destination-type,
    axf_initial-letters,
    axf_suppress-if-first-on-page,
    height,
    max-height,
    max-width,
    min-height,
    min-width,
    text-decoration,
    width,
    xml_id,
    axf.block.attlist,
    axf.text-decoration.attlist,
    axf.transformation.attlist

fo_block-container.attlist &=
    axf_column-count,
    axf_column-fill,
    axf_column-gap,
    axf_column-rule-align,
    axf_column-rule-color,
    axf_column-rule-display,
    axf_column-rule-length,
    axf_column-rule-style,
    axf_column-rule-width,
    axf_destination-type,
    axf_pdftag,
    axf_suppress-if-first-on-page,
    axf.block.attlist,
    column-count,
    column-gap,
    role,
    xml_id

fo_character.attlist &=
    xml_id,
    axf_quotetype,
    axf.inline.attlist,
    axf.text-decoration.attlist

fo_external-graphic.attlist &=
    axf_alttext,
    axf_background-image-resolution,
    axf_image-resolution,
    xml_id,
    axf.inline.attlist,
    axf.multimedia.properties

fo_float.attlist &=
    axf_float,
    axf_float-x,
    axf_float-y,
    axf_float-reference,
    axf_float-move,
    axf_float-wrap,
    axf_float-min-wrap-x,
    axf_float-min-wrap-y,
    axf_float-centering-x,
    axf_float-centering-y,
    axf_float-margin-x,
    axf_float-margin-y,
    axf_float-float-margin-x,
    axf_float-float-margin-y,
    axf_float-offset-x,
    axf_float-offset-y,
    axf_pdftag,
    xml_id,
    axf.annotation.properties

fo_footnote.attlist &=
    space-before,
    axf_footnote-align,
    axf_footnote-stacking,
    axf_footnote-position,
    axf_footnote-keep,
    xml_id,
    axf.inline.attlist

fo_footnote-body.attlist &=
    xml_id

fo_index-range-begin.attlist &=
    xml_id,
    axf.inline.attlist

fo_inline.attlist &=
    xml_id,
    axf.inline.attlist,
    axf.text-decoration.attlist,
    axf_indent-here

fo_inline-container.attlist &=
    xml_id,
    axf.inline.attlist

fo_instream-foreign-object.attlist &=
    axf_alttext,
    axf_background-image-resolution,
    axf_image-resolution,
    xml_id,
    axf.inline.attlist

fo_leader.attlist &=
    xml_id,
    axf.inline.attlist,
    axf.text-decoration.attlist

fo_list-block.attlist &=
    axf.block.attlist,
    xml_id

fo_list-item.attlist &=
    xml_id,
    axf.annotation.properties,
    axf-outline-properties

fo_list-item-body.attlist &=
    xml_id

fo_list-item-label.attlist &=
    xml_id

fo_multi-case.attlist &=
    xml_id

fo_multi-property-set.attlist &=
    xml_id

fo_multi-switch.attlist &=
    xml_id

fo_multi-toggle.attlist &=
    xml_id,
    axf.inline.attlist

fo_page-number.attlist &=
    xml_id,
    axf.inline.attlist,
    axf.page-number.attlist

fo_page-number-citation.attlist &=
    xml_id,
    axf.inline.attlist,
    axf.page-number.attlist

fo_page-number-citation-last.attlist &=
    xml_id,
    axf.inline.attlist,
    axf.page-number.attlist

fo_retrieve-table-marker.attlist &=
    axf_retrieve-table-rows

fo_scaling-value-citation.attlist &=
    xml_id,
    axf.inline.attlist,
    axf.text-decoration.attlist

fo_table.attlist &=
    axf_table-summary,
    xml_id,
    axf.block.attlist

fo_table-and-caption.attlist &=
    xml_id,
    axf.block.attlist

fo_table-caption.attlist &=
    xml_id

fo_table-cell.attlist &=
    axf_headers,
    axf_repeat-cell-content-at-break,
    axf_scope,
    xml_id,
    axf.annotation.properties

fo_table-column.attlist &=
    id,
    xml_id,
    axf_line-number-show

fo_table-body.attlist &=
    xml_id

fo_table-footer.attlist &=
    xml_id

fo_table-header.attlist &=
    xml_id

fo_table-row.attlist &=
    xml_id

fo_wrapper.attlist &=
    text-decoration,
    xml_id,
    axf.annotation.properties,
    axf.text-decoration.attlist

#
# Extensions to property groups
#

common-accessibility-properties &=
    axf_pdftag

common-border-padding-and-background-properties &=
    axf_background-clip,
    axf_background-content-width,
    axf_background-content-height,
    axf_background-content-type,
    axf_background-origin,
    axf_background-scaling,
    axf_background-size,
    axf_border-radius,
    axf_border-top-left-radius,
    axf_border-top-right-radius,
    axf_border-bottom-left-radius,
    axf_border-bottom-right-radius,
    axf_box-shadow,
    axf_diagonal-border-style,
    axf_reverse-diagonal-border-style

#
# Antenna House extension properties
#

# List of annotation-related properties common to block-level and
# inline-level formatting objects
axf.annotation.properties =
    axf_annotation-author,
    axf_annotation-border-color,
    axf_annotation-border-style,
    axf_annotation-border-width,
    axf_annotation-color,
    axf_annotation-contents,
    axf_annotation-createdate,
    axf_annotation-file-attachment,
    axf_annotation-flags,
    axf_annotation-font-family,
    axf_annotation-font-size,
    axf_annotation-font-style,
    axf_annotation-font-weight,
    axf_annotation-height,
    axf_annotation-icon-name,
    axf_annotation-modifydate,
    axf_annotation-open,
    axf_annotation-position-horizontal,
    axf_annotation-position-vertical,
    axf_annotation-text-align,
    axf_annotation-text-color,
    axf_annotation-title,
    axf_annotation-type,
    axf_annotation-width

# List of baseline-grid-related extension properties
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#line-grid
axf-baseline-grid-properties =
    axf_baseline-grid,
    axf_baseline-block-snap

# List of outline-related extension properties
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#bookmark-and-link
axf-outline-properties =
    axf_outline-expand,
    axf_outline-group,
    axf_outline-level,
    axf_outline-title,
    axf_outline-color,
    axf_outline-font-style,
    axf_outline-font-weight

# List of extension properties to control multimedia objects.
# See https://www.antennahouse.com/product/ahf66/ahf-ext.html#images
axf.multimedia.properties =
    axf_media-activation,
    axf_media-duration,
    axf_media-extraction-policy,
    axf_media-flash-context-menu,
    axf_media-flash-vars,
    axf_media-play-mode,
    axf_media-skin-auto-hide,
    axf_media-skin-color,
    axf_media-skin-control,
    axf_media-transparent-background,
    axf_media-volume,
    axf_media-window-height,
    axf_media-window-width,
    axf_multimedia-treatment,
    axf_poster-content-type,
    axf_poster-image,
    axf_show-controls

# List of extension properties to control page and column numbers.
# See https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#page-number
axf.page-number.attlist =
    # axf:assumed-page-number is inherited.
    axf_column-number-format,
    axf_number-type,
    # axf:page-number-prefix only applies to fo:page-sequence
    axf_physical-page-number,
    axf_origin-id,
    axf_reverse-page-number,
    # axf:suppress-duplicate-page-number is deprecated.
    axf_suppress-folio-prefix,
    axf_suppress-folio-suffix

# List of text decoration extension properties
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#text-decoration
axf.text-decoration.attlist =
    axf_text-line-color,
    axf_text-line-style,
    axf_text-line-width,
    axf_text-underline-position

# List of text decoration extension properties
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#text-decoration
axf.transformation.attlist =
    axf_transform,
    axf_transform-origin

# List of extension properties common to all block-level formatting
# objects
axf.block.attlist =
    axf.annotation.properties,
    axf-baseline-grid-properties,
    axf-outline-properties,
    axf_analyze-lines-after,
    axf_analyze-lines-before,
    axf_keep-together-within-dimension,
    axf_keep-together-within-inline-dimension,
    axf_text-overflow,
    axf_text-replace

# List of extension properties common to all inline-level formatting
# objects
axf.inline.attlist =
    axf.annotation.properties,
    axf_text-replace

# @axf:action-type
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.action-type
axf_action-type =
    ## Specifies the action of external link or form action
    attribute axf:action-type | action-type { 'gotor' | 'launch' | 'uri' | 'reset' | 'submit' | 'auto' }?

# @axf:action-type
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.action-type2
axf_action-type.form.model =
     'auto' | 'goto' | 'gotor' | 'gotor' | 'launch' | 'uri' | 'reset' | 'submit'
axf_action-type.form =
    ## Specifies the action of form action
    attribute axf:action-type | action-type { axf_action-type.form.model }?

# @axf:alt-text
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.alttext
axf_alttext =
    ## alternate text of the image
    attribute axf:alttext | alttext { text }?

# @axf:analyze-lines-after
#
# https://www.antenna.co.jp/AHF/help/en/ahf-analyzer.html#axf.analyze-lines-after
axf_analyze-lines-after =
   ## Whether to analyze the number of lines after the last area generated by this FO: none | <integer>
   attribute axf:analyze-lines-after { text }?

# @axf:analyze-lines-before
#
# https://www.antenna.co.jp/AHF/help/en/ahf-analyzer.html#axf.analyze-lines-before
axf_analyze-lines-before =
   ## Whether to analyze the number of lines before the first area generated by this FO: none | <integer>
   attribute axf:analyze-lines-before { text }?

# @axf:annotation-author
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-author
axf_annotation-author =
   ## Author of the annotation: <string>
   attribute axf:annotation-author { text }?

# @axf:annotation-border-color
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-border-color
axf_annotation-border-color =
   ## Border color of the free text annotation: <color>
   attribute axf:annotation-border-color { text }?

# @axf:annotation-border-style
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-border-style
axf_annotation-border-style =
   ## Border style of the free text annotation: solid | dotted | dashed | dot-dash | dot-dot-dash
   attribute axf:annotation-border-style { 'solid' | 'dotted' | 'dashed' | 'dot-dash' | 'dot-dot-dash' }?

# @axf:annotation-border-width
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-border-width
axf_annotation-border-width =
   ## Border width of the free text annotation: <border-width>
   attribute axf:annotation-border-width { text }?

# @axf:annotation-color
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-color
axf_annotation-color =
   ## Color used for the background of the annotation: <color> | none
   attribute axf:annotation-color { text }?

# @axf:annotation-contents
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-contents
axf_annotation-contents =
   ## Content of the annotation: <string>
   attribute axf:annotation-contents { text }?

# @axf:annotation-createdate
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-createdate
axf_annotation-createdate =
   ## Annotation creation date: <string>
   attribute axf:annotation-createdate { text }?

# @axf:annotation-file-attachment
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-file-attachment
axf_annotation-file-attachment =
   ## File with which file attachment annotation is related: <uri-specification>
   attribute axf:annotation-file-attachment { xsd:anyURI }?

# @axf:annotation-flags
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-flags
axf_annotation-flags =
   ## Characteristics of the annotation: Invisible | Hidden | Print | NoZoom | NoRotate | NoView | ReadOnly | Locked | ToggleNoView | LockedContents
   attribute axf:annotation-flags { 'Invisible' | 'Hidden' | 'Print' | 'NoZoom' | 'NoRotate' | 'NoView' | 'ReadOnly' | 'Locked' | 'ToggleNoView' | 'LockedContents' }?

# @axf:annotation-font-family
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-font-family
axf_annotation-font-family =
   ## Font family of the free text annotation: <string>
   attribute axf:annotation-font-family { text }?

# @axf:annotation-font-size
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-font-size
axf_annotation-font-size =
   ## Font size of the free text annotation: <string>
   attribute axf:annotation-font-size { text }?

# @axf:annotation-font-style
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-font-style
axf_annotation-font-style =
   ## Font style of the free text annotation: <string>
   attribute axf:annotation-font-style { text }?

# @axf:annotation-font-weight
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-font-weight
axf_annotation-font-weight =
   ## Font weight of the free text annotation: <string>
   attribute axf:annotation-font-weight { text }?

# @axf:annotation-height
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-height
axf_annotation-height =
   ## Height of the annotation: <length>
   attribute axf:annotation-height { text }?

# @axf:annotation-icon-name
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-icon-name
axf_annotation-icon-name =
   ## Name of the icon used for displaying the annotation: <string>
   attribute axf:annotation-icon-name { text }?

# @axf:annotation-modifydate
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-modifydate
axf_annotation-modifydate =
   ## Annotation modification date: <string>
   attribute axf:annotation-modifydate { text }?

# @axf:annotation-open
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-open
axf_annotation-open =
   ## Initial state of the annotation: true | false
   attribute axf:annotation-open { 'true' | 'false' }?

# @axf:annotation-position-horizontal
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-position-horizontal
axf_annotation-position-horizontal =
   ## Horizontal position of the annotation: <length>
   attribute axf:annotation-position-horizontal { text }?

# @axf:annotation-position-vertical
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-position-vertical
axf_annotation-position-vertical =
   ## Vertical position of the annotation: <length>
   attribute axf:annotation-position-vertical { text }?

# @axf:annotation-text-align
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-text-align
axf_annotation-text-align =
   ## Alignment of the free text annotation: <string>
   attribute axf:annotation-text-align { 'left' | 'center' | 'right' }?

# @axf:annotation-text-color
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-text-color
axf_annotation-text-color =
   ## Color of the free text annotation: <string>
   attribute axf:annotation-text-color { text }?

# @axf:annotation-title
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-title
axf_annotation-title =
   ## Title of the annotation: <string>
   attribute axf:annotation-title { text }?

# @axf:annotation-type
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-type
axf_annotation-type =
   ## Type of the annotation: Empty string | Text | FreeText | Stamp | FileAttachment
   attribute axf:annotation-type { ('Text' | 'FreeText' | 'Stamp' | 'FileAttachment')? }?

# @axf:annotation-width
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.annotation-width
axf_annotation-width =
   ## Width of the annotation: <length>
   attribute axf:annotation-width { text }?

# @axf:background-color
# @axf:background-image
# @axf:background-position-horizontal
# @axf:background-position-vertical
# @axf:background-repeat
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#IDAAOLV
axf_background-color =
    ## <color> | transparent
    attribute axf:background-color { text }?
axf_background-image =
    ## <uri-specification> | none
    attribute axf:background-image { text }?
axf_background-position-horizontal =
    ## <percentage> | <length> | left | center | right
    attribute axf:background-position-horizontal { text }?
axf_background-position-vertical =
    ## <percentage> | <length> | top | center | bottom
    attribute axf:background-position-vertical { text }?
axf_background-repeat =
    ## repeat | repeat-x | repeat-y | no-repeat | paginate
    attribute axf:background-repeat { text }?

# @axf:background-content-height
# @axf:background-content-type
# @axf:background-content-width
# @axf:background-scaling
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.background-content
axf_background-content-height =
    ## auto | scale-to-fit | scale-down-to-fit | scale-up-to-fit | <length> | <percentage> | inherit
    attribute axf:background-content-height { text }?
axf_background-content-type =
    ## <string> | auto
    attribute axf:background-content-type { text }?
axf_background-content-width =
    ## auto | scale-to-fit | scale-down-to-fit | scale-up-to-fit | <length> | <percentage> | inherit
    attribute axf:background-content-width { text }?
axf_background-scaling =
    ## uniform | non-uniform | inherit
    attribute axf:background-scaling { 'uniform' | 'non-uniform' | 'inherit' }?

# @axf:background-clip
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.background-clip
axf_background-clip =
    ## Area within which the background is painted: [ border-box | padding-box | content-box ]#
    attribute axf:background-clip { text }?

# @axf:background-origin
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.background-origin
axf_background-origin =
    ## Position of the origin of the background image: [ border-box | padding-box | content-box ]#
    attribute axf:background-origin { text }?

# @axf:background-image-resolution
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.background-image-resolution
axf_background-image-resolution =
    ## Resolution of a background image: [ normal | [ from-image || <dpi> ] ]#
    attribute axf:background-image-resolution { text }?

# @axf:background-size
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.background-size
axf_background-size =
    ## Size of the background images: [ [ <length> | <percentage> | auto ]{1,2} | cover | contain ]#
    attribute axf:background-size { text }?

# @axf:baseline-block-snap
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.baseline-block-snap
axf_baseline-block-snap =
    ## How to align blocks on the baseline grid: none | [auto | before | after | center] || [border-box | margin-box]
    attribute axf:baseline-block-snap { text }?

# @axf:baseline-grid
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.baseline-grid
axf_baseline-grid =
    ## Sets or clears the baseline grid: normal | none | root | new
    attribute axf:baseline-grid { 'normal' | 'none' | 'root' | 'new' }?

# @axf:bleed
# @axf:bleed-top
# @axf:bleed-bottom
# @axf:bleed-left
# @axf:bleed-right
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.bleed
axf_bleed =
    ## Wdth of the bleed region: <length>
    attribute axf:bleed { text }?
axf_bleed-top =
    ## Wdth of the top bleed region: <length>
    attribute axf:bleed-top { text }?
axf_bleed-bottom =
    ## Wdth of the bottom bleed region: <length>
    attribute axf:bleed-bottom { text }?
axf_bleed-left =
    ## Wdth of the left bleed region: <length>
    attribute axf:bleed-left { text }?
axf_bleed-right =
    ## Wdth of the right bleed region: <length>
    attribute axf:bleed-right { text }?

# @axf:border-radius
# @axf:border-top-left-radius
# @axf:border-top-right-radius
# @axf:border-bottom-left-radius
# @axf:border-bottom-right-radius
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.border-radius
axf_border-radius =
    ## Radii of the rounded corners: [<length>|<percentage>] [<length>|<percentage>]?
    attribute axf:border-radius | border-radius { text }?
axf_border-top-left-radius =
    ## Radii of the top-left corner: [<length>|<percentage>] [<length>|<percentage>]?
    attribute axf:border-top-left-radius | border-top-left-radius { text }?
axf_border-top-right-radius =
    ## Radii of the top-right corner: [<length>|<percentage>] [<length>|<percentage>]?
    attribute axf:border-top-right-radius | border-top-right-radius { text }?
axf_border-bottom-left-radius =
    ## Radii of the bottom-left corner: [<length>|<percentage>] [<length>|<percentage>]?
    attribute axf:border-bottom-left-radius | border-bottom-left-radius { text }?
axf_border-bottom-right-radius =
    ## Radii of the bottom-right corner: [<length>|<percentage>] [<length>|<percentage>]?
    attribute axf:border-bottom-right-radius | border-bottom-right-radius { text }?

# @axf:box-shadow
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.box-shadow
axf_box-shadow =
    ## Box shadow: none | [ inset? && [ <length>{2,4} && <color>? ] ]#
    attribute axf:box-shadow { text }?

# @axf:column-count
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.column-count
axf_column-count =
    ## The number of columns: <number>
    attribute axf:column-count { text }?

# @axf:column-fill
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.column-fill
axf_column-fill =
    ## Whether to balance the column height: auto | balance
    attribute axf:column-fill { 'auto' | 'balance' }?

# @axf:column-gap
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.column-gap
axf_column-gap =
    ## The gap between columns: <length> | <percentage>
    attribute axf:column-gap { text }?

# @axf:column-rule-align
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.column-rule-align
axf_column-rule-align =
    ## Alignment of the column rule: before | center | after
    attribute axf:column-rule-align { 'before' | 'center' | 'after' }?

# @axf:column-rule-color
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.column-rule-color
axf_column-rule-color =
    ## Color of the column rule: <color>
    attribute axf:column-rule-color { text }?

# @axf:column-rule-display
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.column-rule-display
axf_column-rule-display =
    ## Whether to also display a rule where a column could exist: gap | end | all
    attribute axf:column-rule-display { 'gap' | 'end' | 'all' }?

# @axf:column-rule-length
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.column-rule-length
axf_column-rule-length =
    ## Length of the column rule: <length> | <percentage>
    attribute axf:column-rule-length { text }?

# @axf:column-rule-style
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.column-rule-style
axf_column-rule-style =
    ## Style of the column rule: <border-style>
    attribute axf:column-rule-style { text }?

# @axf:column-rule-width
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.column-rule-width
axf_column-rule-width =
    ## Width of the column rule: <border-width>
    attribute axf:column-rule-width { text }?

# @axf:crop-area-visibility
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.crop-area-visibility
axf_crop-area-visibility =
    ## Whether to display the area beyond the finished page size
    attribute axf:crop-area-visibility { 'hidden' | 'visible' }?

# @axf:crop-offset
# @axf:crop-offset-top
# @axf:crop-offset-bottom
# @axf:crop-offset-left
# @axf:crop-offset-right
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.crop-offset
axf_crop-offset =
    ## Distance from the physical edges to the trim size of the output medium: <length>
    attribute axf:crop-offset { text }?
axf_crop-offset-top =
    ## Distance from the physical top edge to the trim size of the output medium: <length>
    attribute axf:crop-offset-top { text }?
axf_crop-offset-bottom =
    ## Distance from the physical bottom edge to the trim size of the output medium: <length>
    attribute axf:crop-offset-bottom { text }?
axf_crop-offset-left =
    ## Distance from the physical left edge to the trim size of the output medium: <length>
    attribute axf:crop-offset-left { text }?
axf_crop-offset-right =
    ## Distance from the physical right edge to the trim size of the output medium: <length>
    attribute axf:crop-offset-right { text }?

# @axf:column-number-format
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.column-number-format
axf_column-number-format =
    ## Format of column number: <string>
    attribute axf:column-number-format { text }?

# @axf:destination-type
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.destination-type
axf_destination-type =
    ## The way a link opens in a link destination
    attribute axf:destination-type { text }?

# @axf:diagonal-border-style
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.diagonal-border-style
axf_diagonal-border-style =
    ## Style of the reverse diagonal border: <border-style>
    attribute axf:diagonal-border-style { text }?

# @axf:field-checked
# @field-checked
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-checked
axf_field-checked =
  ## Initial state of the check box or radio button: true | false
  attribute axf:field-checked | field-checked { 'true' | 'false' }?

# @axf:field-button-face
# @field-button-face
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-button-face
axf_field-button-face =
  ## Caption displayed in the push button field: <string>
  attribute axf:field-button-face | field-button-face { text }?

# @axf:field-button-icon
# @field-button-icon
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-button-icon
axf_field-button-icon =
  ## Icon displayed in the push button field: <uri-specification>
  attribute axf:field-button-icon | field-button-icon { text }?

# @axf:field-button-face-down
# @field-button-face-down
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-button-face-down
axf_field-button-face-down =
  ## Caption displayed when pressing the push button: <string>
  attribute axf:field-button-face-down | field-button-face-down { text }?

# @axf:field-button-icon-down
# @field-button-icon-down
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-button-icon-down
axf_field-button-icon-down =
  ## Icon displayed when pressing the push button: <uri-specification>
  attribute axf:field-button-icon-down | field-button-icon-down { text }?

# @axf:field-button-face-rollover
# @field-button-face-rollover
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-button-face-rollover
axf_field-button-face-rollover =
  ## Caption displayed when rolling over the push button: <string>
  attribute axf:field-button-face-rollover | field-button-face-rollover { text }?

# @axf:field-button-icon-rollover
# @field-button-icon-rollover
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-button-icon-rollover
axf_field-button-icon-rollover =
  ## Icon displayed when rolling over the push button: <uri-specification>
  attribute axf:field-button-icon-rollover | field-button-icon-rollover { text }?

# @axf:field-button-layout
# @field-button-layout
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-button-layout
axf_field-button-layout =
  ## Relative positions of the caption and icon in the push button field: caption | icon | caption-below-icon | caption-above-icon | icon-caption | caption-icon | caption-over-icon
  attribute axf:field-button-layout | field-button-layout { 'caption' | 'icon' | 'caption-below-icon' | 'caption-above-icon' | 'icon-caption' | 'caption-icon' | 'caption-over-icon' }?

# @axf:field-checked-style
# @field-checked-style
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-checked-style
axf_field-checked-style =
  ## Style of the check box or radio button: checkmark | circle | square | cross | star
  attribute axf:field-checked-style | field-checked-style { 'checkmark' | 'circle' | 'square' | 'cross' | 'star' }?

# @axf:field-default-text
# @field-default-text
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-default-text
axf_field-default-text =
  ## Initial text of the form field: <string>
  attribute axf:field-default-text | field-default-text { text }?

# @axf:field-description
# @field-description
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-description
axf_field-description =
  ## Descriptive text of the form field: <string>
  attribute axf:field-description | field-description { text }?

# @axf:field-editable
# @field-editable
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-editable
axf_field-editable =
  ## Whether the combo box value can be edited: true | false
  attribute axf:field-editable | field-editable { 'true' | 'false' }?

# @axf:field-flags
# @field-flags
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-flags
axf_field-flags =
  ## Flags that apply to the form field: <string>
  attribute axf:field-flags | field-flags { text }?

# @axf:field-font-size
# @field-font-size
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-font-size
axf_field-font-size =
  ## Font size of the character string displayed in the form field: font-size | auto | <length>
  attribute axf:field-font-size | field-font-size { text }?

# @axf:field-format
# @field-format
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-format
axf_field-format =
  ## Text field format: none | number | percentage | date | time
attribute axf:field-format | field-format { text }?

# @axf:field-format-category
# @field-format-category
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-format-category
axf_field-format-category =
  ## Text field format: none | number | percentage | date | time
  attribute axf:field-format-category | field-format-category { 'none' | 'number' | 'percentage' | 'date' | 'time' }?

# @axf:field-maxlen
# @field-maxlen
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-maxlen
axf_field-maxlen =
  ## Maximum number of characters for the text field: <number>
  attribute axf:field-maxlen | field-maxlen { xsd:positiveInteger }?

# @axf:field-multiline
# @field-multiline
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-multiline
axf_field-multiline =
  ## Whether the text field is a single line or multi-line field: true | false
  attribute axf:field-multiline | field-multiline { 'true' | 'false' }?

# @axf:field-multiple
# @field-multiple
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-multiple
axf_field-multiple =
  ## Whether multiple items in the list box can be chosen: true | false
  attribute axf:field-multiple | field-multiple { 'true' | 'false' }?

# @axf:field-name
# @field-name
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-name
axf_field-name =
  ## Field name: <string>
  attribute axf:field-name | field-name { text }?

# @axf:field-name-suffix-page-number
# @field-name-suffix-page-number
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-name-suffix-page-number
axf_field-name-suffix-page-number =
  ## Add page number to the field name: <string>
  attribute axf:field-name-suffix-page-number | field-name-suffix-page-number { text }?

# @axf:field-scroll
# @field-scroll
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-scroll
axf_field-scroll =
  ## Whether the text field is scrollable: true | false
  attribute axf:field-scroll | field-scroll { 'true' | 'false' }?

# @axf:field-text-align
# @field-text-align
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-text-align
axf_field-text-align =
  ## Alignment of the text field: left | center | right
  attribute axf:field-text-align | field-text-align { 'left' | 'center' | 'right' }?

# @axf:field-submit-coordinates
# @field-submit-coordinates
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-submit-coordinates
axf_field-submit-coordinates =
  ## Whether to send out the coordinates of the mouse when submitting a form field: true | false
  attribute axf:field-submit-coordinates | field-submit-coordinates { 'true' | 'false' }

# @axf:field-submit-method
# @field-submit-method
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-submit-method
axf_field-submit-method =
  ## The way to send the information when submitting a form field: get | post
  attribute axf:field-submit-method | field-submit-method { 'get' | 'post' }

# @axf:field-top-index
# @field-top-index
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-top-index
axf_field-top-index =
  ## First selected item in the list box or combo box: <number>
  attribute axf:field-top-index | field-top-index { xsd:positiveInteger { minInclusive = "1" } }?

# @axf:field-type
# @field-type
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-type
axf_field-type =
  ## Field type: text | button | checkbox | radio | listbox | combobox | signature
  attribute axf:field-type | field-type { 'text' | 'button' | 'checkbox' | 'radio' | 'listbox' | 'combobox' | 'signature' }

# @axf:field-value
# @field-value
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.field-value
axf_field-value =
  ## Value used when submitting a form field: <string>
  attribute axf:field-value | field-value { text }?

# @axf:float
#
# https://www.antenna.co.jp/AHF/help/en/ahf-float.html
axf_float =
    ## Shorthand for float-related extension properties
    attribute axf:float { text }?

# @axf:float-x
#
# https://www.antenna.co.jp/AHF/help/en/ahf-float.html#axf.float-x
axf_float-x =
    ## Horizontal (or vertical if writing-mode is vertical) float alignment: none | start | end | left | right | top | bottom | center | inside | outside | alternate
    attribute axf:float-x { 'none' | 'start' | 'end' | 'left' | 'right' | 'top' | 'bottom' | 'center' | 'inside' | 'outside' | 'alternate' }?

# @axf:float-y
#
# https://www.antenna.co.jp/AHF/help/en/ahf-float.html#axf.float-y
axf_float-y =
    ## Vertical (or horizontal if writing-mode is vertical) float alignment:    none | before | after | top | bottom | left | right | center | inside | outside
    attribute axf:float-y { 'none' | 'before' | 'after' | 'top' | 'bottom' | 'left' | 'right' | 'center' | 'inside' | 'outside' }?

# @axf:float-reference
#
# https://www.antenna.co.jp/AHF/help/en/ahf-float.html#axf.float-reference
axf_float-reference =
    ## Reference area where the float is placed: auto | normal | page | column | multicol
    attribute axf:float-reference { 'auto' | 'normal' | 'page' | 'column' | 'multicol' }?

# @axf:float-move
#
# https://www.antenna.co.jp/AHF/help/en/ahf-float.html#axf.float-move
axf_float-move =
    ## Whether the float moves to the next page (or column): auto | next | auto-next | auto-move | keep | keep-float
    attribute axf:float-move { 'auto' | 'next' | 'auto-next' | 'auto-move' | 'keep' | 'keep-float' }?

# @axf:float-wrap
#
# https://www.antenna.co.jp/AHF/help/en/ahf-float.html#axf.float-wrap
axf_float-wrap =
    ## Text wrapping: auto | wrap | skip
    attribute axf:float-wrap { 'auto' | 'wrap' | 'skip' }?

# @axf:float-min-wrap-x
#
# https://www.antenna.co.jp/AHF/help/en/ahf-float.html#axf.float-min-wrap-x
axf_float-min-wrap-x =
    ## Minimum width for the text wrapping around the float: normal | <length> | <percentage>
    attribute axf:float-min-wrap-x { text }?

# @axf:float-min-wrap-y
#
# https://www.antenna.co.jp/AHF/help/en/ahf-float.html#axf.float-min-wrap-y
axf_float-min-wrap-y =
    ## Minimum extent for the text placed before and after the float: normal | <length> | <percentage>
    attribute axf:float-min-wrap-y { text }?

# @axf:float-centering-x
#
# https://www.antenna.co.jp/AHF/help/en/ahf-float.html#axf.float-centering-x
axf_float-centering-x =
    ## Whether the float is centered when the width for the text wrapping around the float is insufficient: none | auto | <length> | <percentage>
    attribute axf:float-centering-x { text }?

# @axf:float-centering-y
#
# https://www.antenna.co.jp/AHF/help/en/ahf-float.html#axf.float-centering-y
axf_float-centering-y =
    ## Whether the float is centered when the extent for the text placed before and after the float is insufficient: none | auto | <length> | <percentage>
    attribute axf:float-centering-y { text }?

# @axf:float-margin-x
#
# https://www.antenna.co.jp/AHF/help/en/ahf-float.html#axf.float-margin-x
axf_float-margin-x =
    ## Space between the float and the text wrapping around the float (in x-axis): [ <length> | <percentage> ] [ <length> | <percentage> ]?
    attribute axf:float-margin-x { text }?

# @axf:float-margin-y
#
# https://www.antenna.co.jp/AHF/help/en/ahf-float.html#axf.float-margin-y
axf_float-margin-y =
    ## Space between the float and the text wrapping around the float (in y-axis): [ <length> | <percentage> ] [ <length> | <percentage> ]?
    attribute axf:float-margin-y { text }?

# @axf:float-float-margin-x
#
# https://www.antenna.co.jp/AHF/help/en/ahf-float.html#axf.float-float-margin-x
axf_float-float-margin-x =
    ## Space between the float and another neighboring float (in x-axis): auto | [[ <length> | <percentage> ] [ <length> | <percentage> ]?]
    attribute axf:float-float-margin-x { text }?

# @axf:float-float-margin-y
#
# https://www.antenna.co.jp/AHF/help/en/ahf-float.html#axf.float-float-margin-y
axf_float-float-margin-y =
    ## Space between the float and another neighboring float (in y-axis): auto | [[ <length> | <percentage> ] [ <length> | <percentage> ]?]
    attribute axf:float-float-margin-y { text }?

# @axf:float-offset-x
#
# https://www.antenna.co.jp/AHF/help/en/ahf-float.html#axf.float-offset-x
axf_float-offset-x =
    ## Offset placement for the float (in x-axis): <length> | <percentage>
    attribute axf:float-offset-x { text }?

# @axf:float-offset-y
#
# https://www.antenna.co.jp/AHF/help/en/ahf-float.html#axf.float-offset-y
axf_float-offset-y =
    ## Offset placement for the float (in y-axis): <length> | <percentage>
    attribute axf:float-offset-y { text }?

# @axf:footnote-align
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.footnote-align
axf_footnote-align =
    ## Specifies the alignment of the footnotes.
    attribute axf:footnote-align { 'auto' | 'before' | 'after' }?

# @axf:footnote-number-initial
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.footnote-number-initial
axf_footnote-number-initial =
    ## Boundary at which to initial footnote numbering.
    attribute axf:footnote-number-initial { 'auto' | xsd:float }?

# @axf:footnote-number-format
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.footnote-number-format
axf_footnote-number-format =
    ## Boundary at which to format footnote numbering.
    attribute axf:footnote-number-format { text }?

# @axf:footnote-number-reset
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.footnote-number-reset
axf_footnote-number-reset =
    ## Boundary at which to reset footnote numbering: auto | none | page | odd-page | even-page | column
    attribute axf:footnote-number-reset { 'auto' | 'none' | 'page' | 'odd-page' | 'even-page' | 'column' }?

# @axf:footnote-stacking
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.footnote-stacking
axf_footnote-stacking =
    ## Method to layout the footnote: block | inline
    attribute axf:footnote-stacking { 'block' | 'inline' }?

# @axf:footnote-position
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.footnote-position
axf_footnote-position =
    ## Location to layout the footnote: page | odd-page | even-page | start | end | inside | outside | column | start-column | end-column | inside-column | outside-column
    attribute axf:footnote-position { 'page' | 'odd-page' | 'even-page' | 'start' | 'end' | 'inside' | 'outside' | 'column' | 'start-column' | 'end-column' | 'inside-column' | 'outside-column' }?

# @axf:footnote-keep
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.footnote-keep
axf_footnote-keep =
    ## Whether to arrange a footnote and an anchor in the same page: auto | always | none
    attribute axf:footnote-keep { 'auto' | 'always' | 'none' }?

# @axf:footnote-max-height
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.footnote-max-height
axf_footnote-max-height =
    ## Maximum height of footnote: auto | <length> | <percentage>
    attribute axf:footnote-max-height { text }?

# @axf:headers
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.headers
axf_headers =
    ## Table header cells associated with this cell: <idrefs>
    attribute axf:headers { xsd:IDREFS }?

# @axf:image-resolution
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.image-resolution
axf_image-resolution =
    ## Resolution of a background image: [ normal | [ from-image || <dpi> ] ]#
    attribute axf:image-resolution { text }?

# @axf:indent-here
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.indent-here
axf_indent-here =
    ## Aligns the indent position to the region position when a line break occurs: none | <length>
    attribute axf:indent-here { text }?

# @axf:initial-letters (V7.0)
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.initial-letters
axf_initial-letters =
    ## Creates drop initials: normal | [[<number> | <length>] <integer>? | [<number> | <length>] && [drop | raise]] [adjacent | <integer2>]?
    attribute axf:initial-letters { text }?

# @axf:keep-together-within-dimension
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.keep-together-within-dimension
axf_keep-together-within-dimension =
    ## Upper height limit of 'keep-together': auto | <length>
    attribute axf:keep-together-within-dimension { text }?

# @axf:keep-together-within-inline-dimension
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.keep-together-within-dimension
axf_keep-together-within-inline-dimension =
    ## Upper limit of 'keep-together.within-line': auto | <length>
    attribute axf:keep-together-within-inline-dimension { text }?

# @axf:layer-settings
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.layer-settings
axf_layer-settings =
    ## Layer definitions: none | <layer-setting>#
    attribute axf:layer-settings { text }?

# @axf:left-page-master-reference
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.left-page-master-reference
axf_left-page-master-reference =
    ## Master name of the page master for the left page of a two-page spread
    attribute (axf:left-page-master-reference | left-page-master-reference) { xsd:NCName }

# @axf:line-number-show
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.line-number-show
axf_line-number-show =
    ## Line numbers to always output: <number*>
    attribute axf:line-number-show { text }?

# @axf:media-activation
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.media-activation
axf_media-activation =
    ## When to activate / deactivate the rich media: [ ExplicitlyActivated | PageOpen | PageVisible ]? [ ExplicitlyDeactivated | PageClose | PageInvisible ]? 
    attribute axf:media-activation { text }?

# @axf:media-duration
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.media-duration
axf_media-duration =
    ## Duration of a time period of the multimedia: intrinsic | infinity | <number>
    attribute axf:media-duration { text }?

# @axf:media-extraction-policy
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.media-extraction-policy
axf_media-extraction-policy =
    ## Whether the creation of temporary files is allowed when playing the multimedia: tempnever | tempextract | tempaccess | tempalways
    attribute axf:media-extraction-policy { 'tempnever' | 'tempextract' | 'tempaccess' | 'tempalways' }?

# @axf:media-flash-context-menu
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.media-flash-context-menu
axf_media-flash-context-menu =
    ## Whether to display the Flash context menu when embedding Flash in the rich media: true | false
    attribute axf:media-flash-context-menu { 'true' | 'false' }?

# @axf:media-flash-vars
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.media-flash-vars
axf_media-flash-vars =
    ## Variables set when embedding Flash in the rich media: <string>
    attribute axf:media-flash-vars { text }?

# @axf:media-play-mode
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.media-play-mode
axf_media-play-mode =
    ## Number of times to play the multimedia: once | continuously | <number>
    attribute axf:media-play-mode { text }?

# @axf:media-skin-auto-hide
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.media-skin-auto-hide
axf_media-skin-auto-hide =
    ## Whether to automatically hide rich media skin: true | false
    attribute axf:media-skin-auto-hide { 'true' | 'false' }?

# @axf:media-skin-color
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.media-skin-color
axf_media-skin-color =
    ## Color of the rich media skin: auto | <color>
    attribute axf:media-skin-color { text }?

# @axf:media-skin-control
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.media-skin-control
axf_media-skin-control =
    ## Controls to display in the rich media skin: none | all | [ play || stop || forward || rewind || seek || mute || volume ]
    attribute axf:media-skin-control { text }?

# @axf:media-transparent-background
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.media-transparent-background
axf_media-transparent-background =
    ## Whether to make the background transparent when embedding Flash in the rich media: true | false
    attribute axf:media-transparent-background { 'true' | 'false' }?

# @axf:media-volume
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.media-volume
axf_media-volume =
    ## Sound volume when playing the multimedia: <percentage> | <number> | auto
    attribute axf:media-volume { text }?

# @axf:media-window-height
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.media-window-height
axf_media-window-height =
    ## Height of the rich media window: auto | <length>
    attribute axf:media-window-height { text }?

# @axf:media-window-width
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.media-window-width
axf_media-window-width =
    ## Width of the rich media window: auto | <length>
    attribute axf:media-window-width { text }?

# @axf:multimedia-treatment
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.multimedia-treatment
axf_multimedia-treatment =
    ## Whether to embed Multimedia in PDF: auto | embed | absolute-link | relative-link | richmedia | richmedia-windowed
    attribute axf:multimedia-treatment { 'auto' | 'embed' | 'absolute-link' | 'relative-link' | 'richmedia' | 'richmedia-windowed' }?

# @axf:number-type
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.number-type
axf_number-type =
    ## Whether to output the page number, column number, or both: page | column | page-and-column
    attribute axf:number-type { 'page' | 'column' | 'page-and-column' }?

# @axf:outline-expand
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.outline-expand
axf_outline-expand =
    ## Whether to display the lower hierarchy of bookmark items or not: true | false
    attribute axf:outline-expand { 'true' | 'false' }?

# @axf:origin-id
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.origin-id
axf_origin-id =
    ## Origin of the page number: <idref>
    attribute axf:origin-id { xsd:IDREF }?

# @axf:outline-group
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.outline-group
axf_outline-group =
    ## Name of the output group: <string>
    attribute axf:outline-group { text }?

# @axf:outline-level
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.outline-level
axf_outline-level =
    ## The hierarchy level of bookmark items: <number>
    attribute axf:outline-level { text }?

# @axf:outline-title
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.outline-title
axf_outline-title =
    ## String which appears as a title of bookmark: <string>
    attribute axf:outline-title { text }?

# @axf:outline-color
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.outline-color
axf_outline-color =
    ## Color which appears as a title of bookmark
    attribute axf:outline-color { text }?

# @axf:outline-font-style
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf_outline-font-style
axf_outline-font-style =
    ## Font style which appears as a title of bookmark: normal | italic
    attribute axf:outline-font-style { 'normal' | 'italic' }?

# @axf:outline-font-weight
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf:outline-font-weight
axf_outline-font-weight =
    ## Font weight which appears as a title of bookmark: normal | bold
    attribute axf:outline-font-weight { 'normal' | 'bold' }?

# @axf:output-volume-break
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.output-volume-break
axf_output-volume-break =
    ## Whether this fo:page-sequence starts a new volume: true | false
    attribute axf:output-volume-break { 'true' | 'false' }?

# @axf:output-volume-filename
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.output-volume-filename
axf_output-volume-filename =
    ## Whether this fo:page-sequence starts a new volume
    attribute axf:output-volume-filename { text }?

# @axf:page-number-prefix
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.page-number-prefix
axf_page-number-prefix =
    ## Sets the prefix of page number. CAUTION: A similar function is provided in XSL1.1. Please use fo:folio-prefix.
    attribute axf:page-number-prefix { text }?

# @axf:pdftag
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.pdftag
axf_pdftag =
    ## Tag name of Tagged PDF
    attribute axf:pdftag { text }?

# @axf:physical-page-number
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.physical-page-number
axf_physical-page-number =
    ## Whether to generate physical page number: true | false
    attribute axf:physical-page-number { 'true' | 'false' }?

# @axf:poster-content-type
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.poster-content-type
axf_poster-content-type =
    ## Content type of the poster image for embedded multimedia: <string> | auto
    attribute axf:poster-content-type { text }?

# @axf:poster-image
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.poster-image
axf_poster-image =
    ## Poster image for embedded multimedia: <uri-specification> | none | auto
    attribute axf:poster-image { text }?

# @axf:printer-marks
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.printer-marks
axf_printer-marks =
    ## Printing marks, such as a crop mark
    attribute axf:printer-marks { text }?

# @axf:printer-bin-selection
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.printer-bin-selection
axf_printer-bin-selection =
    ## Selects the printer tray: <string> | <integer>
    attribute axf:printer-bin-selection { text }?

# @axf:printer-duplex
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.printer-duplex
axf_printer-duplex =
    ## Selects printing in duplex mode: <integer>
    attribute axf:printer-duplex { text }?

# @axf:printer-marks-line-color
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.printer-marks-line-color
axf_printer-marks-line-color =
    ## Line color of printer marks: <line> | auto
    attribute axf:printer-marks-line-color { text }?

# @axf:printer-marks-line-length
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.printer-marks-line-length
axf_printer-marks-line-length =
    ## Line length of printer marks: <length> | auto
    attribute axf:printer-marks-line-length { text }?

# @axf:printer-marks-line-width
# Line width of printer marks: <length> | auto
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.printer-marks-line-width
axf_printer-marks-line-width =
    ## Line width of printer marks
    attribute axf:printer-marks-line-width { text }?

# @axf:printer-marks-zero-margin
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.printer-marks-zero-margin
axf_printer-marks-zero-margin =
    ## Margin between the page and the printer marks when bleed is 0: <length> | auto
    attribute axf:printer-marks-zero-margin { text }?

# @axf:printer-marks-spine-width
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.printer-marks-spine-width
axf_printer-marks-spine-width =
    ## Spine width of the facing page: <length>
    attribute axf:printer-marks-spine-width { text }?

# @axf:quotetype
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.quotetype
axf_quotetype =
    ## Direction of quotes: QU | OP | CL
    attribute axf:quotetype { 'QU' | 'OP' | 'CL' }?

# @axf:repeat-cell-content-at-break
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.repeat-cell-content-at-break
axf_repeat-cell-content-at-break =
    ## Whether to copy the contents of a cell when a cell breaks: true | false
    attribute axf:repeat-cell-content-at-break { 'true' | 'false' }?

# @axf:repeat-page-sequence-master
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.repeat-page-sequence-master
axf_repeat-page-sequence-master =
    ## Whether to restart fo:page-sequence-master for more pages: true | false
    attribute axf:repeat-page-sequence-master { 'true' | 'false' }?

# @axf:reverse-diagonal-border-style
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.reverse-diagonal-border-style
axf_reverse-diagonal-border-style =
    ## Style of the reverse diagonal border: <border-style>
    attribute axf:reverse-diagonal-border-style { text }?

# @axf:retrieve-table-rows
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.retrieve-table-rows
axf_retrieve-table-rows =
    ## Maximum number of fo:table-row in fo:marker referenced from fo:retrieve-table-marker: <integer>
    attribute axf:retrieve-table-rows { xsd:integer }?

# @axf:reverse-page
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.reverse-page
axf_reverse-page =
    ## Whether to generate pages in reverse order: true | false
    attribute axf:reverse-page { 'true' | 'false' }?

# @axf:reverse-page-number
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.reverse-page-number
axf_reverse-page-number =
    ## Whether to count page numbers in reverse order: true | false
    attribute axf:reverse-page-number { 'true' | 'false' }?

# @axf:right-page-master-reference
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.right-page-master-reference
axf_right-page-master-reference =
    ## Master name of the page master for the right page of a two-page spread
    attribute (axf:right-page-master-reference | right-page-master-reference) { xsd:NCName }

# @axf:scope
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.scope
axf_scope =
    ## Range of cells with which this table header cell is associated: auto | row | col | rowgroup | colgroup | both
    attribute axf:scope { 'auto' | 'row' | 'col' | 'rowgroup' | 'colgroup' | 'both' }?

# @axf:show-controls
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.show-controls
axf_show-controls =
    ## Whether to show the player control bar for multimedia: true | false
    attribute axf:show-controls { 'true' | 'false' }?

# @axf:suppress-folio-prefix
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.suppress-folio-prefix
axf_suppress-folio-prefix =
    ## Suppresses rendering of the page number prefix: true | false
    attribute axf:suppress-folio-prefix { 'true' | 'false' }?

# @axf:suppress-folio-suffix
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.suppress-folio-suffix
axf_suppress-folio-suffix =
    ## Suppresses rendering of the page number suffix: true | false
    attribute axf:suppress-folio-suffix { 'true' | 'false' }?

# @axf:suppress-if-first-on-page
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.suppress-if-first-on-page
axf_suppress-if-first-on-page =
    ## Whether to suppress the block at the beginning of a page: true | false | unless
    attribute axf:suppress-if-first-on-page { 'true' | 'false' | 'unless' }?

# @axf:tab-align
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.tab-align
axf_tab-align.model =
    'auto' | 'start' | 'center' | 'end' | 'left' | 'right' | 'decimal' | text

axf_tab-align =
    ## Tab alignment at the tab stop position
    attribute axf:tab-align { axf_tab-align.model }? |
    attribute tab-align { axf_tab-align.model }?

# @axf:table-summary
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.table-summary
axf_table-summary =
    ## Summary describing the table.  Included in Tagged PDF output.
    attribute axf:table-summary { text }?

# @axf:text-line-color
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.text-line-color
axf_text-line-color =
    ## Color of underline, strike-through, and overline: auto | <color>
    attribute axf:text-line-color { text }?

# @axf:text-line-style
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.text-line-style
axf_text-line-style =
    ## Style of underline, strike-through, and overline: <border-style>
    attribute axf:text-line-style { text }?

# @axf:text-line-width
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.text-line-width
axf_text-line-width =
    ## Width of underline, strike-through, and overline: auto | <border-width>
    attribute axf:text-line-width { text }?

# @axf:text-replace
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.text-replace
axf_text-replace =
    ## Replaces character strings: none | [ <string> <string> ]+
    attribute axf:text-replace { text }?

# @axf:text-underline-position
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.text-underline-position
axf_text-underline-position =
    ## Position of underline: auto | [ [ before-edge | alphabetic | after-edge ] || [ <percentage> | <length> ] ]
    attribute axf:text-underline-position { text }?

# @axf:text-overflow
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.text-overflow
axf_text-overflow =
    ## What to display when text overflows in the inline progression direction: clip | ellipsis | <string>
    attribute axf:text-overflow { text }?

# @axf:transform
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.transform
axf_transform =
    ## Block transformation: none | <transform-function>+
    attribute axf:transform { text }?

# @axf:transform-origin
#
# https://www.antenna.co.jp/AHF/help/en/ahf-ext.html#axf.transform-origin
axf_transform-origin =
    ## Origin of block transformation: [ <percentage> | <length> | left | center | right | top | bottom] | [ [ <percentage> | <length> | left | center | right ] && [ <percentage> | <length> | top | center | bottom ] ]
    attribute axf:transform-origin { text }?

# @xml:id
#
# https://www.w3.org/TR/xml-id/
xml_id =
    ## <id>
    attribute xml:id { xsd:ID }?
