schema/focheck.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
    <namespace ns="http://www.w3.org/1999/XSL/Format">
        <validate schema="axf.rnc" schemaType="application/relax-ng-compact-syntax"/>
    </namespace>
    <namespace ns="http://www.antennahouse.com/names/XSL/Extensions">
        <validate schema="axf.rnc" schemaType="application/relax-ng-compact-syntax"/>
    </namespace>
    <namespace ns="http://www.w3.org/2000/svg">
        <validate schema="svg11-flat-20110816.rnc" schemaType="application/relax-ng-compact-syntax"/>
    </namespace>
    <namespace ns="http://www.w3.org/1998/Math/MathML">
        <validate schema="mathml3.rnc" schemaType="application/relax-ng-compact-syntax"/>
    </namespace>
</rules>